---
import BaseLayout from "@/layouts/BaseLayout.astro";
import CtaTwo from "@/components/cta/CtaTwo.astro";
import UpdateCard from "@/components/updates/UpdateCard.astro";
import { getCollection } from "astro:content";

const allUpdates = await getCollection("updates");

const updates = [];
for (const update of allUpdates) {
  const { Content } = await update.render();
  updates.push({
    ...update.data,
    slug: update.slug,
    Content,
  });
}

const meta = {
  title: `Changelog`,
};
---

<BaseLayout meta={meta}>
  <section>
    <div
      class="relative px-8 py-12 mx-auto sm:px-6 md:max-w-2xl md:px-4 lg:max-w-6xl lg:px-20 lg:pt-32"
    >
      <div class="max-w-xl pb-12">
        <p class="text-3xl font-medium tracking-tight text-black lg:text-5xl">
          Changelog
        </p>
        <p class="mt-4 text-lg lg:text-2xl text-slate-500">Stay updated</p>
      </div>
      <div class="py-12 border-t">
        {updates.map((update) => <UpdateCard update={update} />)}
      </div>
    </div>
  </section>
  <CtaTwo />
</BaseLayout>
