---
const slug = "changelog";
---

<section>
  <div class="px-8 py-12 mx-auto md:px-12 lg:px-32 max-w-7xl lg:py-24">
    <div class="pb-5 border-b">
      <span class="text-xs font-bold tracking-wide uppercase text-accent-500">
        Changelog
      </span>
      <a href={"/" + slug}>
        <p class="mt-8 text-4xl font-semibold tracking-tight text-accent-900">
          Stay updated 24/7
        </p>
      </a>
    </div>
  </div>
</section>
