---
import { getFormattedDate } from "@/utils/utils";
const { update } = Astro.props;
const { Content } = update;
---

<div class="grid items-start grid-cols-1 gap-4 lg:grid-cols-4">
  <div class="flex flex-col flex-shrink-0 mb-6 md:mb-0">
    <p>
      <span class="text-xs font-bold tracking-wide uppercase text-accent-900"
        >{getFormattedDate(update.publishedAt)}</span
      >
      <span
        class="inline-flex ml-3 items-center px-2.5 py-0.5 rounded-md text-sm font-medium bg-gray-50 text-accent-500">
        {update.category}
      </span>
    </p>
  </div>
  <div class="lg:col-span-3">
    <a
      class="text-4xl font-semibold tracking-tighter text-accent-900 hover:text-accent-500"
      href={"/" + update.collectionSlug + "/" + update.slug}>
      <h2>
        {update.name}
      </h2>
    </a>
    <div
      class="max-w-3xl mt-12 prose text-gray-500 prose-blockquote:border-l-black prose-a:text-accent-500 hover:prose-a:text-accent-900 prose-headings:font-bold prose-headings:text-accent-900 prose-li:marker:text-accent-500 prose-code:text-accent-900 prose-blockquote:text-gray-500">
      <Content />
    </div>
  </div>
</div>
