---
const slug = "changelog";
---

<section>
  <div
    class="relative px-8 py-8 mx-auto sm:px-6 md:max-w-2xl md:px-4 lg:max-w-6xl lg:px-20 lg:pt-32"
  >
    <div class="max-w-xl pb-12">
      <a
        class="text-base text-black hover:text-accent-500 mt-2"
        href={"/" + slug}
      >
        <h1 class="text-3xl font-medium tracking-tight lg:text-5xl">
          Changelog
        </h1>
      </a>
      <p class="mt-4 text-lg lg:text-2xl text-slate-500">Stay updated</p>
    </div>
  </div>
  <div
    class="relative px-8 mx-auto sm:px-6 md:max-w-2xl md:px-4 lg:max-w-6xl lg:px-20"
  >
    <div class="w-full border-b"></div>
  </div>
</section>
