<main class="relative overflow-hidden">
    <div class="relative px-8 py-12 mx-auto sm:px-6 md:max-w-2xl md:px-4 lg:max-w-6xl lg:px-20 lg:pt-32">
        <div class="max-w-lg ">
            <div>
                <h1 class="text-3xl font-medium tracking-tight text-black lg:text-5xl mt-24">
                    Unlimited web design &amp; development.
                </h1>
                <div class="mt-6 space-y-6 lg:max-w-xl">
                    <p class="mt-4 text-lg lg:text-2xl text-slate-500">
                        Unlimited requests and revisions for a fixed monthly fee at a
                        fraction of the cost of a full time designer.
                    </p>
                </div>
                <a class="inline-flex items-center justify-center  px-12 py-3 mt-8 text-center text-white transition duration-500 ease-in-out transform bg-blue-500 border-2 border-blue-500 rounded-md hover:bg-white hover:border-blue-500 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-blue-500 hover:bg-transparent hover:text-blue-500"
                    href="#pricing">See plans
                </a>
            </div>
        </div>
    </div>
</main>