<section>
  <div class="px-8 py-12 mx-auto md:px-12 lg:px-32 max-w-7xl lg:py-24">
    <div class="text-center">
      <div>
        <span class="text-xs font-bold tracking-wide uppercase text-purple-500"
          >Welcome to Semplice</span
        >

        <p
          class="mt-8 text-4xl font-semibold tracking-tighter md:text-6xl lg:text-5xl text-purple-900">
          Revolutionizing the
          <span class="md:block md:text-gray-500">future of transactions</span>
        </p>
      </div>

      <ol
        role="list"
        class="grid grid-cols-1 gap-6 mt-12 list-none sm:grid-cols-2 lg:text-center lg:gap-12 md:grid-cols-3">
        <li>
          <h3 class="text-base font-medium text-purple-900">Scalable</h3>
          <p class="mt-2 text-sm text-gray-500">
            Our blockchain's scalable architecture allows for seamless expansion
            and increased capacity to accommodate growing demands.
          </p>
        </li>
        <li>
          <h3 class="text-base font-medium text-purple-900">
            Interoperability
          </h3>
          <p class="mt-2 text-sm text-gray-500">
            Emphasizing interoperability, our platform facilitates seamless
            communication between different blockchain networks.
          </p>
        </li>

        <li>
          <h3 class="text-base font-medium text-purple-900">Automation</h3>
          <p class="mt-2 text-sm text-gray-500">
            Our blockchain incorporates a governance and voting system that
            allows community members to actively participate.
          </p>
        </li>
      </ol>
      <div class="relative items-center w-full py-12 pb-12 mx-auto max-w-7xl">
        <div class="p-2 overflow-hidden bg-white border rounded-3xl">
          <img
            alt=""
            class="relative object-cover w-full border rounded shadow-2xl lg:rounded-2xl"
            src="/assets/dashboard1.png"
          />
        </div>
      </div>
    </div>
  </div>
</section>
