<div class="flex min-h-screen bg-white border-b">
  <div
    class="flex flex-col justify-center flex-1 px-8 py-8 md:px-12 lg:flex-none lg:px-24">
    <div class="w-full mx-auto lg:max-w-6xl">
      <div class="max-w-xl text-center lg:text-left lg:pl-16">
        <div>
          <span
            class="bg-accent-50/50 border border-white/50 backdrop-blur-2xl rounded-full py-2 px-4 w-auto">
            <span class="text-sm text-accent-500"> Hero 1</span>
          </span>
          <p class="text-4xl mt-8 lg:text-5xl font-extrabold text-black">
            Keep your sensitive <span class="lg:block">information private</span
            >
          </p>
          <p class="text-base text-slate-700 max-w-xl mx-auto mt-4 lg:text-xl">
            With decentralization, users have more control over their data and
            transactions, and the platform is less susceptible to malicious
            attacks.
          </p>
        </div>
        <div class="flex flex-col gap-3 mt-10 sm:flex-row items-center">
          <a
            class="items-center text-white focus:outline-none inline-flex justify-center hover:text-accent-500 duration-200 focus-visible:outline-black focus-visible:ring-black font-medium lg:w-auto px-6 py-3 rounded-xl text-center w-full bg-accent-500 hover:bg-accent-100"
            href="#">
            <span>Launch dashboard &nbsp; &nbsp; &rarr;</span>
          </a>
          <p class="text-slate-500">
            <span class="block">Start your makers journey today</span>
            <span class="block">and build your audience!</span>
          </p>
        </div>
      </div>
    </div>
  </div>
  <div class="relative flex-1 hidden w-0 lg:block lg:border-l shadow-normal">
    <div>
      <img
        class="absolute inset-0 object-cover object-left w-full h-full bg-neutral-200"
        src="/assets/dashboard1.png"
        alt=""
      />
    </div>
  </div>
</div>
