<div class="md:flex md:border-b lg:min-h-screen max-w-7xl mx-auto ">
  <div
    class="flex flex-col px-8 py-24 lg:flex-1 md:justify-center lg:py-8 md:flex-none md:px-24">
    <div class="max-w-xl mx-auto text-left md:mx-0 md:pl-24">
      <div>
        <span class="text-xs font-bold tracking-wide uppercase text-purple-500"
          >Welcome to Semplice</span
        >

        <p
          class="mt-8 text-4xl font-semibold tracking-tight lg:text-5xl text-purple-900">
          Decentralized data <span class="text-gray-500 sm:block"
            >storage for everyone</span
          >
        </p>
        <p class="max-w-xl mx-auto mt-4 text-base text-gray-500">
          Our platform is designed to handle thousands of transactions per
          second and can easily accommodate.
        </p>
      </div>
      <div
        class="flex flex-col justify-center gap-3 mt-10 md:justify-start sm:items-center sm:flex-row">
        <a
          class="flex items-center justify-center h-10 px-4 py-2 text-sm font-semibold text-white transition-all rounded-lg bg-gradient-to-b from-purple-500 hover:to-purple-700 to-purple-600"
          title="link to your page"
        aria-label="your label" href="#">
          <span>Launch dashboard &nbsp; &nbsp; &rarr;</span>
        </a>
        <p class="text-xs text-left text-gray-500">
          <span class="sm:block">Start your makers journey today</span>
          <span class="sm:block">and build your audience!</span>
        </p>
      </div>
    </div>
  </div>
  <div class="relative flex-1 hidden w-0 lg:block lg:border-l">
    <div>
      <img
        class="absolute inset-0 object-cover object-left w-full h-full bg-neutral-200"
        src="/assets/dashboard1.png"
        alt=""
      />
    </div>
  </div>
</div>
