---
import LogoCloudOne from "../testimonials/LogoCloudOne.astro";
---

<section class="relative overflow-hidden">
  <div
    class="relative items-center w-full px-8 py-32 mx-auto md:px-12 lg:px-24 max-w-7xl lg:py-24">
    <div class="text-center">
      <span
        class="bg-accent-50/50 border border-white/50 backdrop-blur-2xl rounded-full py-2 px-4 w-auto">
        <span class="text-sm text-accent-500"> Hero 1</span>
      </span>
      <p
        class="text-4xl mt-8 lg:text-6xl font-extrabold text-black font-display">
        Keep your sensitive <span class="lg:block">information private</span>
      </p>
      <p class="text-base text-slate-500 max-w-2xl mx-auto mt-4 lg:text-xl">
        With decentralization, users have more control over their data and
        transactions, and the platform is less susceptible to malicious attacks.
      </p>
      <div class="flex-col flex gap-3 justify-center mt-10 sm:flex-row">
        <a
          class="items-center text-white focus:outline-none inline-flex justify-center hover:text-accent-500 duration-200 focus-visible:outline-black focus-visible:ring-black font-medium lg:w-auto px-6 py-3 rounded-xl text-center w-full bg-accent-500 hover:bg-accent-100"
          href="/overview">See all pages</a
        >
        <a
          class="items-center text-accent-500 focus:outline-none inline-flex justify-center duration-200 focus-visible:outline-black focus-visible:ring-accent-500 font-medium lg:w-auto px-6 py-3 rounded-xl text-center w-full bg-transparent hover:bg-white/30"
          href="#">
          Get Semplice &nbsp;&nbsp; &rarr;</a
        >
      </div>
    </div>
    <LogoCloudOne />
  </div>
</section>
