---
import Prose from "@/components/common/Prose.astro";
import BaseLayout from "@/layouts/BaseLayout.astro";
import { getDataCollection } from "@/utils/collections";

export async function getStaticPaths() {
  const items = await getDataCollection("knowledgeBaseArticles");
  return items.map((item) => ({
    params: {
      slug: item.slug,
    },
    props: { item },
  }));
}

let { item } = Astro.props;
item.categoryItem = {
  name: "Getting Started",
  slug: "getting-started",
};
---

<BaseLayout>
  <section>
    <div class="w-full px-8 py-12 mx-auto md:px-12 lg:px-24 max-w-7xl lg:py-32">
      <div>
        <div class="relative items-center">
          <div class="w-full lg:inline-flex justify-between lg:items-center">
            <div class="max-w-xl">
              <span
                class="font-semibold text-accent-500 text-sm tracking-widest uppercase"
              >
                Article
              </span>
              <p class="text-4xl mt-8 font-extrabold tracking-tight text-black">
                Follow the steps
              </p>
            </div>
            <div class="mt-12 flex flex-col sm:flex-row lg:ml-auto">
              <a
                class="items-center text-white focus:outline-none inline-flex justify-center hover:text-accent-500 duration-200 focus-visible:outline-black focus-visible:ring-black font-medium lg:w-auto px-6 py-3 rounded-xl text-center w-full bg-accent-500 hover:bg-accent-100"
                href="/signup">Subscribe for updates &nbsp;&nbsp; →</a
              >
            </div>
          </div>
          <ol role="list" class="flex items-center lg:space-x-4 mt-12">
            <li>
              <div
                class="px-6 py-1 text-xs rounded-lg bg-black hover:bg-slate-500"
              >
                <a href={"/" + item.collectionSlug} class="text-white">
                  Help Center
                </a>
              </div>
            </li>
            <li>
              <div class="flex items-center">
                <svg
                  class="flex-shrink-0 h-5 w-5 text-slate-300"
                  xmlns="http://www.w3.org/2000/svg"
                  fill="currentColor"
                  viewBox="0 0 20 20"
                  aria-hidden="true"
                >
                  <path d="M5.555 17.776l8-16 .894.448-8 16-.894-.448z"></path>
                </svg>
                <div
                  class="px-6 py-1 text-xs rounded-lg bg-slate-100 hover:bg-slate-500 ml-3"
                >
                  <a
                    href={"/" +
                      item.collectionSlug +
                      "/category/" +
                      item.categoryItem.slug}
                    class="text-xs font-medium text-accent-500 hover:text-slate-700"
                  >
                    {item.categoryItem.name}
                  </a>
                </div>
              </div>
            </li>
            <li>
              <div class="flex items-center">
                <svg
                  class="flex-shrink-0 h-5 w-5 text-slate-300"
                  xmlns="http://www.w3.org/2000/svg"
                  fill="currentColor"
                  viewBox="0 0 20 20"
                  aria-hidden="true"
                >
                  <path d="M5.555 17.776l8-16 .894.448-8 16-.894-.448z"></path>
                </svg>
                <span
                  class="ml-3 text-xs font-medium text-slate-500"
                  aria-current="page"
                >
                  {item.name}
                </span>
              </div>
            </li>
          </ol>
        </div>
        <div class="max-w-xl mt-12">
          <Prose><Fragment set:html={item.html} /></Prose>
        </div>
      </div>

      <div class="max-w-xl mt-12 border-t">
        <div class="py-4 rounded-md inline-flex items-center w-full">
          <p class="text-accent-500">Was this helpful?</p>

          <span class="isolate inline-flex rounded-md shadow-sm ml-auto">
            <button
              class="relative inline-flex items-center rounded-l-md border border-gray-300 bg-white px-4 py-2 text-sm font-medium text-gray-700 hover:bg-gray-50 focus:z-10 focus:border-indigo-500 focus:outline-none focus:ring-1 focus:ring-indigo-500"
            >
              👎
            </button>
            <button
              class="relative -ml-px inline-flex items-center rounded-r-md border border-gray-300 bg-white px-4 py-2 text-sm font-medium text-gray-700 hover:bg-gray-50 focus:z-10 focus:border-indigo-500 focus:outline-none focus:ring-1 focus:ring-indigo-500"
            >
              👍
            </button>
          </span>
        </div>
      </div>
    </div>
  </section>
</BaseLayout>
