---
const { title } = Astro.props;
---

<main class="relative overflow-hidden">


  <div class="relative px-8 py-24 mx-auto sm:px-6 md:max-w-2xl md:px-4 lg:max-w-6xl lg:px-20 lg:py-36">

    <div class="max-w-lg ">
      <div>
        <h1 class="text-3xl font-medium mt-24 tracking-tight text-black lg:text-5xl">
          Unlimited web design &amp; development.
        </h1>
        <div class="mt-6 space-y-6 lg:max-w-xl">
          <p class="mt-4 text-lg lg:text-2xl text-slate-500">
            Unlimited requests and revisions for a fixed monthly fee at a
            fraction of the cost of a full time designer.
          </p>
          <ul>
            <li class="text-slate-500 before:content-['•']">
              &nbsp; 2 day turn around
            </li>
            <li class="text-slate-500 before:content-['•']">
              &nbsp; 7 day money back garanted 100%
            </li>
            <li class="text-slate-500 before:content-['•']">
              &nbsp; Without contract
            </li>
          </ul>
        </div>
        <a class="inline-flex items-center justify-center px-6 py-3 mt-8 text-sm font-semibold text-white bg-smoke-500  group focus:outline-none focus-visible:outline-2 rounded-full focus-visible:outline-offset-2 hover:text-slate-100 hover:bg-blue-600 active:bg-blue-800 active:text-blue-100 focus-visible:outline-blue-600"
          href="#pricing">See plans
        </a>
      </div>
    </div>
  </div>
</main>