---
// Fundations
import BaseLayout from "@/layouts/BaseLayout.astro";
import Text from "@/components/fundations/elements/Text.astro";
import Wrapper from "@/components/fundations/containers/Wrapper.astro";
// Components
import BlogEntry from "@/components/blog/BlogEntry1.astro";
import BlogSearch from "@/components/blog/BlogSearch.astro";
// Content
import { getCollection } from "astro:content";
const allPosts = await getCollection("posts");
allPosts.sort((a, b) => {
  const dateA = new Date(a.data.pubDate).getTime(); // Convert to timestamp
  const dateB = new Date(b.data.pubDate).getTime(); // Convert to timestamp
  return dateB - dateA; // Compare timestamps
});
---

<BaseLayout hideBigLogo={true}>
  <section>
    <Wrapper variant="standard" class="py-2">
      <div class="flex items-center justify-between w-full">
        <Text tag="h1" variant="textBase" class="font-medium text-base-900">
          Blog
        </Text>
        <BlogSearch />
      </div>

      <div
        class="mt-4 grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-y-24 gap-8"
      >
        {allPosts.map((post) => <BlogEntry post={post} />)}
      </div>
    </Wrapper>
  </section>
</BaseLayout>
