---
import BaseLayout from "@/layouts/BaseLayout.astro";
import Pagination from "@/components/blog/Pagination.astro";
import Card from "@/components/blog/BlogCard.astro";
import { getItemsFromCollection } from "@/utils/collections";

const allPosts = await getItemsFromCollection("posts");
const posts = allPosts.slice(0, 3);
const prevUrl = "";
const nextUrl = allPosts.length > 3 ? "/blog/page/2" : "";

const meta = {
  title: `Blog Home`,
  ogType: "blog",
};
---

<BaseLayout meta={meta}>
  <section>
    <div class="px-8 py-12 mx-auto md:px-12 lg:px-32 max-w-7xl lg:py-24">
      <div class="max-w-2xl">
        <span class="text-xs font-bold tracking-wide uppercase text-purple-500"
          >blog</span
        >
        <p class="mt-8 text-4xl font-semibold tracking-tight text-purple-900">
          Dmystifying the world
          <span class="lg:block lg:text-gray-500">of cryptocurrency</span>
        </p>
        <p class="mt-4 text-base text-gray-500">
          Unlocking the transformative potential of digital currencies and
          embracing the revolutionary power of blockchain technology
        </p>
      </div>
      <div
        class="grid grid-cols-1 gap-8 mt-12 list-none sm:grid-cols-2 lg:grid-cols-3"
        role="list">
        {posts.map((post) => <Card post={post} />)}
      </div>
      <Pagination prevUrl={prevUrl} nextUrl={nextUrl} />
    </div>
  </section>
</BaseLayout>
