@tailwind base;
@tailwind components;
@tailwind utilities;


video {
  clip-path: inset(1px 1px);

}

:root {
  --astro-code-color-text: #000;
  --astro-code-color-background: #f2f2f2;
  --astro-code-token-constant: #00000080;
  --astro-code-token-string: #000000;
  --astro-code-token-comment: #00000080;
  --astro-code-token-keyword: #000000;
  --astro-code-token-parameter: #000000;
  --astro-code-token-function: #00000070;
  --astro-code-token-string-expression: #7977f2;
  --astro-code-token-punctuation: #000000;
  --astro-code-token-link: #000000;
}