@tailwind base;
@tailwind components;
@tailwind utilities;


video {
  clip-path: inset(1px 1px);

}

:root {
  --astro-code-color-text: #000;
  --astro-code-color-background: #fafafa;
  --astro-code-token-constant: #00000080;
  --astro-code-token-string: #000000;
  --astro-code-token-comment: #00000080;
  --astro-code-token-keyword: #0A9F7E;
  --astro-code-token-parameter: #000000;
  --astro-code-token-function: #9D07BE;
  --astro-code-token-string-expression: #2d2efd;
  --astro-code-token-punctuation: #000000;
  --astro-code-token-link: #000000;
}