<section>
  <div
    class="items-center w-full px-8 py-12 mx-auto md:px-12 lg:px-24 max-w-7xl lg:pb-32">
    <div>
      <div class="max-w-xl py-3">
        <div class="relative">
          <div class="absolute inset-0 flex items-center" aria-hidden="true">
            <div class="w-full border-t border-slate-300"></div>
          </div>
          <div class="relative flex justify-start">
            <span class="pr-3 bg-white text-xl text-black">Buttons</span>
          </div>
        </div>
      </div>
      <div class="flex flex-col items-center max-w-xl gap-3 mt-10 lg:flex-row">
        <a
          class="items-center text-white focus:outline-none inline-flex justify-center hover:text-accent-500 duration-200 focus-visible:outline-black focus-visible:ring-black font-medium lg:w-auto px-6 py-3 rounded-xl text-center w-full bg-accent-500 hover:bg-accent-100"
          href="/">Primary button</a
        >
        <a
          class="inline-flex items-center justify-center w-full px-6 py-3 text-center text-accent-600 duration-200 bg-slate-50 font-medium rounded-xl text-base focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-accent-500 ring-offset-2 hover:bg-slate-100 lg:w-auto"
          href="#">
          Secondary button</a
        >
        <a
          class="items-center text-accent-500 focus:outline-none inline-flex justify-center duration-200 focus-visible:outline-black focus-visible:ring-accent-500 font-medium lg:w-auto px-6 py-3 rounded-xl text-center w-full bg-transparent hover:bg-white/30"
          href="#">
          Tertiary button</a
        >
      </div>
    </div>
  </div>
</section>
