<section >
  <div
    class="items-center w-full px-8 py-12 mx-auto md:px-12 lg:px-24 max-w-7xl lg:pt-32">
    <div>
      <div class="max-w-xl">
        <p
          class="text-4xl mt-8 lg:text-6xl font-extrabold tracking-tight text-black">
          Style guide
        </p>
      </div>
      <div class="max-w-xl">
        <div class="py-3 mt-12">
          <div class="relative">
            <div class="absolute inset-0 flex items-center" aria-hidden="true">
              <div class="w-full border-t border-slate-300"></div>
            </div>
            <div class="relative flex justify-start">
              <span class="pr-3 bg-white text-xl text-black"
                >Typography
                <span class="text-sm">Switzer · Inter</span>
              </span>
            </div>
          </div>
        </div>
        <div class="py-3 space-y-6">
          <div class="grid grid-cols-3 lg:grid-cols-4 items-end">
            <div><span class="text-slate-400">Header 1</span></div>
            <div class="col-span-2 lg:col-span-3">
              <span
                class="text-4xl lg:text-6xl font-extrabold tracking-tight text-black"
                >Header 1
              </span>
            </div>
          </div>
          <div class="grid grid-cols-3 lg:grid-cols-4 items-end">
            <div><span class="text-slate-400">Header 2</span></div>
            <div class="col-span-2 lg:col-span-3">
              <span
                class="text-3xl lg:text-5xl font-medium tracking-tight text-black"
                >Header 2
              </span>
            </div>
          </div>
          <div class="grid grid-cols-3 lg:grid-cols-4 items-end">
            <div><span class="text-slate-400">Header 3</span></div>
            <div class="col-span-2 lg:col-span-3">
              <span
                class="text-2xl lg:text-4xl font-medium tracking-tight text-black"
                >Header 3
              </span>
            </div>
          </div>
          <div class="grid grid-cols-3 lg:grid-cols-4 items-end">
            <div><span class="text-slate-400">Header 4</span></div>
            <div class="col-span-2 lg:col-span-3">
              <span
                class="text-xl lg:text-4xl font-medium tracking-tight text-black"
                >Header 4
              </span>
            </div>
          </div>
          <div class="grid grid-cols-3 lg:grid-cols-4 items-end">
            <div><span class="text-slate-400">Header 5</span></div>
            <div class="col-span-2 lg:col-span-3">
              <span
                class="text-lg lg:text-3xl font-medium tracking-tight text-black"
                >Header 5
              </span>
            </div>
          </div>
          <div class="grid grid-cols-3 lg:grid-cols-4 items-end">
            <div><span class="text-slate-400">Header 6</span></div>
            <div class="col-span-2 lg:col-span-3">
              <span
                class="text-base lg:text-2xl font-medium tracking-tight text-black"
                >Header 6
              </span>
            </div>
          </div>

          <div class="grid grid-cols-3 lg:grid-cols-4 items-end">
            <div><span class="text-slate-400">Link</span></div>
            <div class="col-span-2 lg:col-span-3">
              <span class="text-sm text-accent-600 hover:text-black underlined"
                >Link text
              </span>
            </div>
          </div>
          <div class="grid grid-cols-3 lg:grid-cols-4 items-end">
            <div><span class="text-slate-400">Subtitle</span></div>
            <div class="col-span-2 lg:col-span-3">
              <span class="text-black font-medium lg:text-xl text-lg"
                >Subtitle text
              </span>
            </div>
          </div>
          <div class="grid grid-cols-3 lg:grid-cols-4 items-end">
            <div><span class="text-slate-400">Paragraph</span></div>
            <div class="col-span-2 lg:col-span-3">
              <span class="text-slate-500 mt-2 text-base"
                >I am so happy, my dear friend, so absorbed in the exquisite
                sense of mere tranquil existence, that I neglect my talents.
              </span>
            </div>
          </div>
          <div class="grid grid-cols-3 lg:grid-cols-4 items-end">
            <div><span class="text-slate-400">Caption</span></div>
            <div class="col-span-2 lg:col-span-3">
              <span class="text-xs text-slate-400"
                >Picture about somethign
              </span>
            </div>
          </div>
          <div class="grid grid-cols-3 lg:grid-cols-4 items-end">
            <div>
              <span class="text-slate-400">List</span>
            </div>
            <div class="col-span-2 lg:col-span-3">
              <ul class="list-decimal list-inside mt-6 prose" role="list">
                <li>Next.js and/or Nuxt.js</li>
                <li>CReact Native .</li>
                <li>AWS and/or Firebase</li>
                <li>Familiarity with noSQL databases</li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
