<section>
  <div class="mx-auto max-w-7xl px-8 lg:px-32 md:px-12 py-12 lg:py-32">
    <div
      class="w-full rounded-2xl bg-gradient-to-t from-purple-950 to-purple-900 lg:p-20 p-8 grid grid-cols-1 gap-12 lg:grid-cols-3 items-end">
      <div class="lg:col-span-2">
        <p class="tracking-tight font-normal text-3xl text-white">
          Subscribe to our newsletter today <span
            class="sm:block sm:text-gray-400"
            >and get daily updates for life!</span
          >
        </p>
        <div
          class="py-[0.050rem] lg:w-96 mt-4 bg-gradient-to-r from-purple-950 via-purple-900 to-purple-500">
        </div>
      </div>
      <div class="flex flex-col gap-3">
        <form class="w-full lg:max-w-sm mx-auto lg:mx-0">
          <div class="flex flex-col gap-2 lg:flex-row">
            <label class="sr-only" for="email-address">Email address</label>
            <input
              autocomplete="email"
              class="block w-full h-10 px-4 py-2 placeholder-gray-300 duration-200 border rounded-lg appearance-none bg-purple-800 border-purple-600 bg-chalk focus:border-gray-300 focus:outline-none focus:ring-gray-300 sm:text-sm text-purple-500"
              id="email-address"
              name="email"
              placeholder="Enter your email"
              required=""
              type="email"
            />
            <button
              class="flex items-center justify-center h-10 px-4 py-2 text-sm font-semibold text-white transition-all rounded-lg bg-gradient-to-b from-purple-500 hover:to-purple-700 to-purple-600"
              type="submit">Subscribe</button
            >
          </div>
        </form>
      </div>
    </div>
  </div>
</section>
