<section>
  <div class="mx-auto max-w-7xl px-8 lg:px-32 md:px-12 py-12 lg:py-32">
    <div
      class="w-full rounded-2xl bg-gradient-to-t from-purple-950 to-purple-900 lg:p-20 p-8 grid grid-cols-1 lg:grid-cols-3 items-end gap-12 relative overflow-hidden">
      <div class="lg:col-span-2 relative">
        <p class="tracking-tight font-normal text-3xl text-white">
          Become part of our team today <span class="sm:block sm:text-gray-400"
            >and champion privacy and security!</span
          >
        </p>

        <div
          class="py-[0.050rem] lg:w-96 mt-4 bg-gradient-to-r from-purple-950 via-purple-900 to-purple-500">
        </div><p class="mt-4 text-white text-balance max-w-lg">
          Elevate your career with a role that puts secure and private
          communication at the forefront. Join us and make an impact with our
          intuitive app.
        </p>
      </div>
      <div class="flex flex-col gap-3 relative">
        <button
          class="text-sm flex font-semibold items-center justify-center px-4 py-2 rounded-lg transition-all h-10 text-white bg-gradient-to-b from-white/[.105] hover:to-white/[.25] ring-1 ring-inset ring-white/20 to-white/[.15]"
          ><svg
            class="icon icon-tabler icon-tabler-brand-google-play"
            fill="none"
            viewBox="0 0 24 24"
            xmlns="http://www.w3.org/2000/svg"
            stroke="currentColor"
            stroke-width="2"
            stroke-linecap="round"
            stroke-linejoin="round"
            height="20"
            width="20"
            ><path
              d="M0 0h24v24H0z"
              fill="none"
              stroke="none"
            ></path><path
              d="M4 3.71v16.58a.7 .7 0 0 0 1.05 .606l14.622 -8.42a.55 .55 0 0 0 0 -.953l-14.622 -8.419a.7 .7 0 0 0 -1.05 .607z"
            ></path><path d="M15 9l-10.5 11.5"></path><path
              d="M4.5 3.5l10.5 11.5"></path></svg
          >
          <span class="flex flex-col items-start leading-none ml-4"
            >Download on Google Play</span
          ></button
        >
        <button
          class="text-sm flex font-semibold items-center justify-center px-4 py-2 rounded-lg transition-all h-10 text-white bg-gradient-to-b from-white/[.105] hover:to-white/[.25] ring-1 ring-inset ring-white/20 to-white/[.15]"
          ><svg
            class="icon icon-tabler icon-tabler-brand-apple"
            fill="none"
            viewBox="0 0 24 24"
            xmlns="http://www.w3.org/2000/svg"
            stroke="currentColor"
            stroke-width="2"
            stroke-linecap="round"
            stroke-linejoin="round"
            height="20"
            width="20"
            ><path
              d="M0 0h24v24H0z"
              fill="none"
              stroke="none"
            ></path><path
              d="M9 7c-3 0 -4 3 -4 5.5c0 3 2 7.5 4 7.5c1.088 -.046 1.679 -.5 3 -.5c1.312 0 1.5 .5 3 .5s4 -3 4 -5c-.028 -.01 -2.472 -.403 -2.5 -3c-.019 -2.17 2.416 -2.954 2.5 -3c-1.023 -1.492 -2.951 -1.963 -3.5 -2c-1.433 -.111 -2.83 1 -3.5 1c-.68 0 -1.9 -1 -3 -1z"
            ></path><path d="M12 4a2 2 0 0 0 2 -2a2 2 0 0 0 -2 2"></path></svg
          >
          <span class="flex flex-col items-start leading-none ml-4"
            >Download on the App Store</span
          ></button
        >
      </div>
    </div>
  </div>
</section>
