<section aria-labelledby="cta" class="relative overflow-hidden" id="cta">
  <div class="relative mx-auto lg:px-32 max-w-7xl md:px-12 px-8 py-12 lg:py-24">
    <div class="max-w-xl text-center mx-auto">
      <div>
        <span class="bg-accent-500/10 rounded-full py-1 px-4 w-auto">
          <span class="text-xs text-accent-500 uppercase font-semibold">
            CTA 2</span
          >
        </span>
        <p class="text-4xl mt-8 lg:text-6xl font-extrabold text-black">
          Subscribe to Semplice
        </p>
      </div>
    </div>
    <div
      class="w-full items-center mx-auto flex flex-col lg:max-w-sm md:pt-6 mt-12 pb-12 pt-8">
      <div class="bg-accent-600/80 blur-xl h-12 rounded-full -mb-8 w-32"></div>
      <form
        class="w-full border bg-white lg:w-auto p-1.5 rounded-2xl shadow-normal relative">
        <div class="w-full sm:flex sm:items-center">
          <div class="shrink">
            <input
              aria-label="Email address"
              autocomplete="email"
              class="w-full border appearance-none bg-transparent block border-transparent focus:border-accent-500 focus:outline-none focus:ring-accent-500 p-3 placeholder:text-slate-400 rounded-xl sm:text-sm text-black"
              placeholder="Email address"
              required=""
              type="email"
            />
          </div>
          <button
            class="w-full lg:w-auto active:bg-accent-600 active:text-white/80 before:transition-colors bg-accent-500 flex-none font-semibold hover:before:bg-white hover:bg-black hover:text-white inline-flex justify-center lg:ml-4 outline-2 outline-offset-2 px-3 py-2.5 relative rounded-xl text-base text-white tracking-tighter"
            type="submit"><span>Join the waitlist!</span></button
          >
        </div>
      </form>
    </div>
  </div>
</section>
