<section class="relative overflow-hidden">
  <div
    class="items-center w-full px-8 py-12 mx-auto md:px-12 lg:px-24 max-w-7xl">
    <div class="grid grid-cols-1 lg:grid-cols-3 items-end">
      <div class="lg:col-span-2">
        <span class="bg-accent-500/10 rounded-full py-1 px-4 w-auto">
          <span class="text-xs text-accent-500 uppercase font-semibold">
            Newsletter</span
          >
        </span>
        <p class="text-4xl mt-8 font-extrabold text-black">
          Subscribe for updates
        </p>
      </div>

      <div class="w-full flex flex-col max-w-sm md:pt-6 mt-12 lg:mt-0">
        <form
          class="mt-4 sm:relative sm:flex sm:items-center sm:py-0.5 sm:pr-2.5">
          <div class="relative sm:static sm:flex-auto">
            <input
              type="email"
              id="email-address"
              required=""
              aria-label="Email address"
              placeholder="Email address"
              class="peer relative rounded-l-xl z-10 w-full appearance-none border-transparent bg-transparent px-4 py-2 text-base text-slate-500 focus:outline-none sm:py-3"
            /><div
              class="absolute inset-0 rounded-xl border peer-focus:border-slate-100 peer-focus:bg-slate-50 peer-focus:ring-1 peer-focus:ring-slate-100 sm:rounded-xl">
            </div>
          </div>
          <button
            class="inline-flex justify-center rounded-xl py-2 px-6 text-base shadow-sm focus:outline-none bg-accent-500 text-white hover:bg-accent-100 hover:text-accent-700 focus-visible:text-accent-900 focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-white active:bg-accent-50 active:text-accent-500/80 disabled:opacity-40 disabled:hover:text-accent-600 mt-4 w-full sm:relative sm:z-10 sm:mt-0 sm:w-auto sm:flex-none"
            type="submit">Get free chapters</button
          >
        </form>
      </div>
    </div>
  </div>
</section>
