<section class="relative overflow-hidden">
  <div
    class="relative items-center w-full px-8 py-32 mx-auto md:px-12 lg:px-24 max-w-7xl lg:py-24">
    <div>
      <span
        class="bg-accent-50/50 border border-white/50 backdrop-blur-2xl rounded-full py-2 px-4 w-auto">
        <span class="text-sm text-accent-500 uppercase font-semibold">
          Who we are</span
        >
      </span>
      <p
        class="text-4xl mt-8 lg:text-6xl font-extrabold tracking-tight text-black font-display">
        For crypto heads <span class="lg:block"> by crypto heads</span>
      </p>
      <p class="text-base text-slate-500 max-w-xl mt-4 lg:text-xl">
        A an elegantly designed UI kit that enables you to quickly assemble
        pages from various categories and tailor them to your requirements to
        build a landing page or entire website in a matter of hours, rather than
        months.
      </p>
    </div>
  </div>
</section>
