<section id="author" aria-labelledby="author-title" class="relative overflow-hidden ">


    <div class="relative px-8 py-12 mx-auto sm:px-6 md:max-w-2xl md:px-4 lg:max-w-6xl lg:px-20 lg:pt-32">
        <div>
            <div class="max-w-xl">
                <div class="flex flex-col w-full gap-12 lg:items-center lg:flex-row">
                    <div class="w-12 h-12 overflow-hidden rounded-full lg:w-24 lg:h-24 bg-slate-200">
                        <img alt="mike" sizes="(min-width: 1024px) 18rem, (min-width: 768px) 16rem, 11rem"
                            src="https://cdn.dribbble.com/users/2212936/avatars/normal/5fc0a0fefebfb7c383f60e01e26a1226.jpg?1658142360"
                            width="576" height="576" class="object-cover w-full h-full" loading="lazy">
                    </div>
                </div>
                <p class="text-3xl font-medium tracking-tight text-black lg:text-5xl mt-24">
                    My name is Michael Andreuzza, a self taught Front-end Designer,
                    creator and Founder.
                </p>
            </div>
            <ol role="list"
                class="relative grid grid-cols-1 mt-12 gap-y-10 gap-x-8 sm:grid-cols-2 lg:grid-cols-2 lg:gap-16">
                <li>
                    <p class="mt-2 text-slate-500">
                        I'm a self taught Front-end Designer, product guy and a bootstrapped
                        Indie Hacker, with a simple and modernist visual language,
                        specialized in Tailwind CSS, dark-mode design and Tailwind CSS UI
                        Components.
                    </p>
                </li>
                <li>
                    <p class="mt-2 text-slate-500">
                        I have a wide range of customers around the world, enjoying the
                        products that I built and designed. I have also recently sold my
                        SaaS Wicked Templates and Wicked Blocks and right now I am building
                        another one while working on Jamstacker.
                    </p>
                </li>
            </ol>
        </div>
    </div>
    <div class="justify-center w-full px-8 py-12 mx-auto space-y-12 md:px-4 lg:max-w-6xl lg:px-20 border-y">
        <div>
            <p class=" font-medium text-blue-500 uppercase tracking-widest">
                My products are trusted by more than 5000 customers and students from
            </p>
        </div>
        <div class="grid justify-between w-full grid-cols-4 gap-12 lg:grid-cols-7">
            <div class="flex items-center">
                <img loading="lazy"
                    src="https://d33wubrfki0l68.cloudfront.net/add1882c25e345cd342c1bcbeb7057ea8bd7e2df/d73e2/images/brands/yale.svg"
                    alt="Yale University Logo" class="object-contain w-auto h-6">
            </div>
            <div class="flex items-center">
                <img loading="lazy"
                    src="https://d33wubrfki0l68.cloudfront.net/c76bf67b57b0b7b3af3ea171e2ac5855a8173101/4778e/images/brands/michigan.svg"
                    alt="Michigan University Logo" class="object-contain w-auto h-6">
            </div>
            <div class="flex items-center">
                <img loading="lazy"
                    src="https://d33wubrfki0l68.cloudfront.net/85b8fda3b86c38ac405c37546d8c7fd70579b3ae/c0158/images/brands/minervauni.svg"
                    alt="Minerva University Logo" class="object-contain w-auto h-6">
            </div>

            <div class="flex items-center">
                <img loading="lazy"
                    src="https://d33wubrfki0l68.cloudfront.net/dfb808e7647963e7086f1f12bcc6ef9b56abc3ef/b3685/images/brands/webde.svg"
                    alt="Webde Logo" class="object-contain w-auto h-6">
            </div>
            <div class="flex items-center">
                <img loading="lazy"
                    src="https://d33wubrfki0l68.cloudfront.net/12adeb0699d9e9efd7e429c9b575402745a7a80d/4b848/images/brands/cern.svg"
                    alt="Cern Logo" class="object-contain w-auto h-6">
            </div>
            <div class="flex items-center">
                <img loading="lazy"
                    src="https://d33wubrfki0l68.cloudfront.net/12f8e894f132145badbd9def1648d94bef08ff81/432c0/images/brands/harvard.svg"
                    alt="Harvrd University Logo" class="object-contain w-auto h-6">
            </div>
            <div class="flex items-center">
                <img loading="lazy"
                    src="https://d33wubrfki0l68.cloudfront.net/9f16b3a15f124628f2cc78c0cce71745a132d0b4/3f71f/images/brands/remax.svg"
                    alt="Remaz Logo" class="object-contain w-auto h-6">
            </div>
        </div>
    </div>
</section>