<section aria-labelledby="teams" class="relative" id="teams ">
  <div class="px-8 max-w-7xl md:px-12 mx-auto py-12 lg:px-32 relative lg:py-24">
    <div class="mx-auto lg:text-center max-w-2xl">
      <div>
        <span
          class="font-semibold text-accent-500 text-sm tracking-widest uppercase"
          >Team</span
        >
        <p
          class="text-4xl mt-8 lg:text-6xl font-extrabold tracking-tight text-black font-display">
          Our powerfull team
        </p>
      </div>
    </div>
    <ul
      class="mt-12 grid grid-cols-2 lg:mt-24 gap-6 lg:gap-12 lg:grid-cols-4 lg:text-center list-none"
      role="list">
      <li>
        <img
          alt=""
          class="mx-auto h-16 lg:h-20 lg:w-20 object-cover rounded-full w-16"
          src="https://assets.vercel.com/image/upload/front/about/individual-investors/jessiefrazelle.png"
        /><div>
          <p class="text-black font-medium lg:text-xl text-lg mt-8">Jane Doe</p>
        </div><div class="text-slate-500 mt-2 text-base">IT Manager</div>
      </li><li>
        <img
          alt=""
          class="mx-auto h-16 lg:h-20 lg:w-20 object-cover rounded-full w-16"
          src="https://assets.vercel.com/image/upload/front/about/individual-investors/soleiocuervo.png"
        /><div>
          <p class="text-black font-medium lg:text-xl text-lg mt-8">
            John Smith
          </p>
        </div><div class="text-slate-500 mt-2 text-base">Software Engineer</div>
      </li><li>
        <img
          alt=""
          class="mx-auto h-16 lg:h-20 lg:w-20 object-cover rounded-full w-16"
          src="https://assets.vercel.com/image/upload/front/about/individual-investors/michaelstoppelman.png"
        /><div>
          <p class="text-black font-medium lg:text-xl text-lg mt-8">
            Michael Johnson
          </p>
        </div><div class="text-slate-500 mt-2 text-base">
          Chief Technical Officer
        </div>
      </li><li>
        <img
          alt=""
          class="mx-auto h-16 lg:h-20 lg:w-20 object-cover rounded-full w-16"
          src="https://assets.vercel.com/image/upload/front/about/individual-investors/karrisaarinen.png"
        /><div>
          <p class="text-black font-medium lg:text-xl text-lg mt-8">
            Jessica Williams
          </p>
        </div><div class="text-slate-500 mt-2 text-base">Data Analyst</div>
      </li><li>
        <img
          alt=""
          class="mx-auto h-16 lg:h-20 lg:w-20 object-cover rounded-full w-16"
          src="https://assets.vercel.com/image/upload/front/about/individual-investors/rasmusanderson.png"
        /><div>
          <p class="text-black font-medium lg:text-xl text-lg mt-8">
            David Brown
          </p>
        </div><div class="text-slate-500 mt-2 text-base">
          Network Administrator
        </div>
      </li><li>
        <img
          alt=""
          class="mx-auto h-16 lg:h-20 lg:w-20 object-cover rounded-full w-16"
          src="https://assets.vercel.com/image/upload/front/about/individual-investors/brendaneich.png"
        /><div>
          <p class="text-black font-medium lg:text-xl text-lg mt-8">
            Sam Miller
          </p>
        </div><div class="text-slate-500 mt-2 text-base">
          Cybersecurity Specialist
        </div>
      </li><li>
        <img
          alt=""
          class="mx-auto h-16 lg:h-20 lg:w-20 object-cover rounded-full w-16"
          src="https://assets.vercel.com/image/upload/front/about/individual-investors/natfriedman.png"
        /><div>
          <p class="text-black font-medium lg:text-xl text-lg mt-8">
            Thomas Garcia
          </p>
        </div><div class="text-slate-500 mt-2 text-base">Product Manager</div>
      </li><li>
        <img
          alt=""
          class="mx-auto h-16 lg:h-20 lg:w-20 object-cover rounded-full w-16"
          src="https://images.unsplash.com/photo-1548142813-c348350df52b?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=989&q=80"
        /><div>
          <p class="text-black font-medium lg:text-xl text-lg mt-8">
            Amanda Rodriguez
          </p>
        </div><div class="text-slate-500 mt-2 text-base">DevOps Engineer</div>
      </li>
    </ul>
  </div>
</section>
