<section id="features" aria-labelledby="screencasts-title" class="bg-white">
  <div
    class="items-center w-full px-8 py-12 mx-auto md:px-12 lg:px-24 max-w-7xl lg:py-32">
    <div class="relative items-center">
      <div class="w-full lg:inline-flex justify-between lg:items-center">
        <div class="max-w-xl">
          <span
            class="font-semibold text-accent-500 text-sm tracking-widest uppercase"
            >Status</span
          >
          <p
            class="text-4xl mt-8 font-extrabold tracking-tight text-black font-display">
            All systems Operational
          </p>
        </div><div class="mt-12 flex flex-col sm:flex-row lg:ml-auto">
          <a
            class="items-center text-white focus:outline-none inline-flex justify-center hover:text-accent-500 duration-200 focus-visible:outline-black focus-visible:ring-black font-medium lg:w-auto px-6 py-3 rounded-xl text-center w-full bg-accent-500 hover:bg-accent-100"
            href="/signup">Subscribe for updates &nbsp;&nbsp; →</a
          >
        </div>
      </div>
    </div>

    <div class="mt-12">
      <ol
        role="list"
        class="relative gap-y-10 rounded-3xl shadow-normal overflow-hidden border gap-x-8 divide-y">
        <li class="py-3 px-6 inline-flex items-center justify-between w-full">
          <div class="flex flex-col">
            <h3 class="text-xl text-black">API</h3>
          </div>
          <p class="text-accent-500">Operational</p>
        </li>
        <li class="py-3 px-6 inline-flex items-center justify-between w-full">
          <div class="flex flex-col">
            <h3 class="text-xl text-black">Builds</h3>
          </div>
          <p class="text-accent-500">Operational</p>
        </li>
        <li class="py-3 px-6 inline-flex items-center justify-between w-full">
          <div class="flex flex-col">
            <h3 class="text-xl text-black">Certificates</h3>
          </div>
          <p class="text-accent-500">Operational</p>
        </li>
        <li class="py-3 px-6 inline-flex items-center justify-between w-full">
          <div class="flex flex-col">
            <h3 class="text-xl text-black">Dashboard</h3>
          </div>
          <p class="text-accent-500">Operational</p>
        </li>
        <li class="py-3 px-6 inline-flex items-center justify-between w-full">
          <div class="flex flex-col">
            <h3 class="text-xl text-black">DNS</h3>
          </div>
          <p class="text-accent-500">Operational</p>
        </li>
        <li class="py-3 px-6 inline-flex items-center justify-between w-full">
          <div class="flex flex-col">
            <h3 class="text-xl text-black">Domain Registration</h3>
          </div>
          <p class="text-accent-500">Operational</p>
        </li>
        <li class="py-3 px-6 inline-flex items-center justify-between w-full">
          <div class="flex flex-col">
            <h3 class="text-xl text-black">Logs</h3>
          </div>
          <p class="text-accent-500">Operational</p>
        </li>
      </ol>
    </div>
  </div>
</section>
