<section>
  <div class="px-8 py-12 mx-auto md:px-12 lg:px-32 max-w-7xl lg:py-24">
    <div class="relative items-center">
      <div class="w-full lg:inline-flex justify-between lg:items-center">
        <div class="max-w-xl">
          <span
            class="text-xs text-purple-900 uppercase font-bold tracking-wide"
            >Status</span
          >
          <p
            class="text-4xl mt-8 font-semibold tracking-tighter text-purple-900">
            All systems Operational
          </p>
        </div><div class="mt-12 flex flex-col sm:flex-row lg:ml-auto">
          <a
            class="text-purple-600 text-sm bg-white border border-gray-300 flex font-semibold hover:text-purple-500 items-center justify-center px-4 py-2 rounded-lg transition-all h-10"
            href="/signup">Subscribe for updates &nbsp;&nbsp; →</a
          >
        </div>
      </div>
    </div>

    <div class="mt-12">
      <ol role="list" class="relative gap-y-10 divide-y">
        <li class="py-4 inline-flex items-center justify-between w-full">
          <div class="flex flex-col">
            <span class="text-base text-purple-900">API</span>
          </div>
          <p class="text-green-500 text-xs">Operational</p>
        </li>
        <li class="py-4 inline-flex items-center justify-between w-full">
          <div class="flex flex-col">
            <span class="text-base text-purple-900">Builds</span>
          </div>
          <p class="text-red-500 text-xs">Not Operational</p>
        </li>
        <li class="py-4 inline-flex items-center justify-between w-full">
          <div class="flex flex-col">
            <span class="text-base text-purple-900">Certificates</span>
          </div>
          <p class="text-green-500 text-xs">Operational</p>
        </li>
        <li class="py-4 inline-flex items-center justify-between w-full">
          <div class="flex flex-col">
            <span class="text-base text-purple-900">Dashboard</span>
          </div>
          <p class="text-green-500 text-xs">Operational</p>
        </li>
        <li class="py-4 inline-flex items-center justify-between w-full">
          <div class="flex flex-col">
            <span class="text-base text-purple-900">DNS</span>
          </div>
          <p class="text-green-500 text-xs">Operational</p>
        </li>
        <li class="py-4 inline-flex items-center justify-between w-full">
          <div class="flex flex-col">
            <span class="text-base text-purple-900">Domain Registration</span>
          </div>
          <p class="text-green-500 text-xs">Operational</p>
        </li>
        <li class="py-4 inline-flex items-center justify-between w-full">
          <div class="flex flex-col">
            <span class="text-base text-purple-900">Logs</span>
          </div>
          <p class="text-green-500 text-xs">Operational</p>
        </li>
      </ol>
    </div>
  </div>
</section>
