<section id="testimonials" aria-label="What our customers are saying" class="border-t">
    <div class="relative px-8 py-12 mx-auto sm:px-6 md:max-w-2xl md:px-4 lg:max-w-6xl lg:px-20 lg:pt-32">
        <div class="max-w-xl">
            <p class="text-3xl font-medium tracking-tight text-black lg:text-5xl mt-24">
                Team
            </p>
            <p class="mt-4 text-lg lg:text-2xl text-slate-500">
                Our team has led and delivered large-scale software and design projects in multiple startups and
                high-growth environments like Uber, Airbnb and Coinbase.
            </p>
        </div>
        <ul role="list"
            class="relative grid grid-cols-1 mt-12 gap-y-10 gap-x-8 sm:grid-cols-2 lg:grid-cols-2 lg:gap-16">
            <li>
                <figure class="relative h-full border p-4 rounded shadow-normal group">
                    <figcaption class="relative flex items-center gap-4 ">
                        <div class="overflow-hidden rounded-full bg-slate-50">
                            <img alt="codebamritoje"
                                src="https://d33wubrfki0l68.cloudfront.net/1a2e935392c14749028729b21b20ddbd4c54b70e/1a932/images/testimonials/amrit.jpeg"
                                width="56" height="56" decoding="async" data-mining="future"
                                class="object-cover h-14 w-14 grayscale" loading="lazy" />
                        </div>
                        <div>
                            <div class="text-xl text-black">Amrit Nagi</div>
                            <div class="mt-1">
                                <a class="text-sm text-slate-500 group-hover:text-blue-600"
                                    href="https://tailwindtoolbox.com/">Founder of Tailwind Toolbox
                                </a>
                            </div>
                            <p class="mt-3">
                                <a href="#">
                                    <span>
                                        <svg xmlns="http://www.w3.org/2000/svg" class="w-5 h-5 text-blue-500"
                                            viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" fill="none"
                                            stroke-linecap="round" stroke-linejoin="round">
                                            <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                                            <path
                                                d="M22 4.01c-1 .49 -1.98 .689 -3 .99c-1.121 -1.265 -2.783 -1.335 -4.38 -.737s-2.643 2.06 -2.62 3.737v1c-3.245 .083 -6.135 -1.395 -8 -4c0 0 -4.182 7.433 4 11c-1.872 1.247 -3.739 2.088 -6 2c3.308 1.803 6.913 2.423 10.034 1.517c3.58 -1.04 6.522 -3.723 7.651 -7.742a13.84 13.84 0 0 0 .497 -3.753c-.002 -.249 1.51 -2.772 1.818 -4.013z">
                                            </path>
                                        </svg>
                                    </span>
                                </a>
                            </p>
                        </div>
                    </figcaption>
                </figure>
            </li>
            <li>
                <figure class="relative h-full border p-4 rounded shadow-normal group">
                    <figcaption class="relative flex items-center gap-4 ">
                        <div class="overflow-hidden rounded-full bg-slate-50">
                            <img alt="codeboje"
                                src="https://d33wubrfki0l68.cloudfront.net/cabc8d70a84f6d78e56c5cd2db3f54ab6462325d/95045/images/testimonials/gabi.jpeg"
                                width="56" height="56" decoding="async" data-mining="future"
                                class="object-cover h-14 w-14 grayscale" loading="lazy" />
                        </div>
                        <div>
                            <div class="text-xl text-black">Gabriel Perales</div>
                            <div class="mt-1">
                                <a class="text-sm text-slate-500 group-hover:text-blue-600"
                                    href="https://twitter.com/g_perales">Software Engineer at Cabify
                                </a>
                            </div>
                            <p class="mt-3">
                                <a href="#">
                                    <span>
                                        <svg xmlns="http://www.w3.org/2000/svg" class="w-5 h-5 text-blue-500"
                                            viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" fill="none"
                                            stroke-linecap="round" stroke-linejoin="round">
                                            <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                                            <path
                                                d="M22 4.01c-1 .49 -1.98 .689 -3 .99c-1.121 -1.265 -2.783 -1.335 -4.38 -.737s-2.643 2.06 -2.62 3.737v1c-3.245 .083 -6.135 -1.395 -8 -4c0 0 -4.182 7.433 4 11c-1.872 1.247 -3.739 2.088 -6 2c3.308 1.803 6.913 2.423 10.034 1.517c3.58 -1.04 6.522 -3.723 7.651 -7.742a13.84 13.84 0 0 0 .497 -3.753c-.002 -.249 1.51 -2.772 1.818 -4.013z">
                                            </path>
                                        </svg>
                                    </span>
                                </a>
                            </p>
                        </div>
                    </figcaption>
                </figure>
            </li>
            <li>
                <figure class="relative h-full border p-4 rounded shadow-normal group">
                    <figcaption class="relative flex items-center gap-4 ">
                        <div class="overflow-hidden rounded-full bg-slate-50">
                            <img alt=""
                                src="https://pbs.twimg.com/profile_images/1039477099768295424/DkFxqf2V_400x400.jpg"
                                width="56" height="56" decoding="async" data-mining="future"
                                class="object-cover h-14 w-14 grayscale" loading="lazy" />
                        </div>
                        <div>
                            <div class="text-xl text-black">Volkan Kaya</div>
                            <div class="mt-1">
                                <a class="text-sm text-slate-500 group-hover:text-blue-600"
                                    href="https://versoly.com/">Founder of Versoly.com
                                </a>
                            </div>
                            <p class="mt-3">
                                <a href="#">
                                    <span>
                                        <svg xmlns="http://www.w3.org/2000/svg" class="w-5 h-5 text-blue-500"
                                            viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" fill="none"
                                            stroke-linecap="round" stroke-linejoin="round">
                                            <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                                            <path
                                                d="M22 4.01c-1 .49 -1.98 .689 -3 .99c-1.121 -1.265 -2.783 -1.335 -4.38 -.737s-2.643 2.06 -2.62 3.737v1c-3.245 .083 -6.135 -1.395 -8 -4c0 0 -4.182 7.433 4 11c-1.872 1.247 -3.739 2.088 -6 2c3.308 1.803 6.913 2.423 10.034 1.517c3.58 -1.04 6.522 -3.723 7.651 -7.742a13.84 13.84 0 0 0 .497 -3.753c-.002 -.249 1.51 -2.772 1.818 -4.013z">
                                            </path>
                                        </svg>
                                    </span>
                                </a>
                            </p>
                        </div>
                    </figcaption>
                </figure>
            </li>
            <li>
                <figure class="relative h-full border p-4 rounded shadow-normal group">
                    <figcaption class="relative flex items-center gap-4 ">
                        <div class="overflow-hidden rounded-full bg-slate-50">
                            <img alt="gustavo"
                                src="https://d33wubrfki0l68.cloudfront.net/05a6c2e973f7b38e7b5f5fb1923ed9507d6fc68d/10e85/images/testimonials/mike.png"
                                width="56" height="56" decoding="async" data-mining="future"
                                class="object-cover h-14 w-14 grayscale" loading="lazy" />
                        </div>
                        <div>
                            <div class="text-xl text-black">Mike ( Skino )</div>
                            <div class="mt-1">
                                <a class="text-sm text-slate-500 group-hover:text-blue-600"
                                    href="www.raspada-blog.co.uk">Blogger at Raspada
                                </a>
                            </div>
                            <p class="mt-3">
                                <a href="#">
                                    <span>
                                        <svg xmlns="http://www.w3.org/2000/svg" class="w-5 h-5 text-blue-500"
                                            viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" fill="none"
                                            stroke-linecap="round" stroke-linejoin="round">
                                            <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                                            <path
                                                d="M22 4.01c-1 .49 -1.98 .689 -3 .99c-1.121 -1.265 -2.783 -1.335 -4.38 -.737s-2.643 2.06 -2.62 3.737v1c-3.245 .083 -6.135 -1.395 -8 -4c0 0 -4.182 7.433 4 11c-1.872 1.247 -3.739 2.088 -6 2c3.308 1.803 6.913 2.423 10.034 1.517c3.58 -1.04 6.522 -3.723 7.651 -7.742a13.84 13.84 0 0 0 .497 -3.753c-.002 -.249 1.51 -2.772 1.818 -4.013z">
                                            </path>
                                        </svg>
                                    </span>
                                </a>
                            </p>
                        </div>
                    </figcaption>
                </figure>
            </li>
        </ul>
    </div>
</section>