<section id="HeaderTwo" aria-labelledby="HeaderTwo">
  <div
    class="relative px-8 my-24 mx-auto sm:px-6 md:max-w-2xl md:px-4 lg:max-w-6xl lg:px-20">
    <div class="flex w-full mx-auto text-left">
      <div class="relative inline-flex items-center m-auto align-middle">
        <div class="text-center">
          <div class="lg:text-center mx-auto">
            <p
              class="text-3xl font-medium tracking-tight text-black lg:text-5xl">
              Let's build a better tomorrow, together.
            </p>
            <p class="mt-4 text-lg lg:text-2xl text-slate-500">
              A lot of wohooo! stuff, check it out.
            </p>
          </div>
          <form
            action=""
            method="post"
            id=" "
            name=" "
            class="max-w-xl mx-auto mt-8 sm:flex">
            <div class="flex-1 min-w-0 -group">
              <label for="member_email" class="sr-only">Email address</label>
              <input
                id="cta-email"
                type="email"
                class="block w-full px-3 py-2 text-accent-500 border rounded-md appearance-none placeholder-slate-400 border-slate-200 bg-slate-50 focus:border-accent-500 focus:bg-white focus:outline-none focus:ring-accent-500 sm:text-sm"
                placeholder="Enter your email  "
              />
            </div>
            <div class="mt-4 sm:mt-0 sm:ml-3 -actions">
              <button
                class="inline-flex items-center justify-center px-3 py-[0.30rem] text-center text-white transition duration-500 ease-in-out transform bg-accent-500 border-2 border-accent-500 rounded-md hover:bg-white hover:border-accent-500 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-accent-500 hover:text-accent-500">
                Join
              </button>
            </div>
          </form>
          <div class="sm:max-w-lg sm:flex justify-center mx-auto">
            <p class="mt-3 text-xs text-slate-500">
              By subscribing, you agree with Semplice's <a
                class="text-accent-600 hover:text-black underlined"
                href="/terms"
                >Terms of Service
              </a> and <a class="text-accent-600 hover:text-black" href="#"
                >Privacy Policy
              </a>.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<section id="Testimonialfour" aria-label="TestimonialFour">
  <div
    class="relative px-8 py-12 mx-auto sm:px-6 md:max-w-2xl md:px-4 lg:max-w-6xl lg:px-20">
    <div class="text-center">
      <h2 class="mb-4 text-sm text-black uppercase tracking-widest">
        The world's most innovative companies use Workflow
      </h2>
      <div class="max-w-7xl mx-auto py-12">
        <div class="grid grid-cols-2 gap-8 md:grid-cols-6 lg:grid-cols-5">
          <div
            class="col-span-1 flex justify-center md:col-span-2 lg:col-span-1">
            <img class="h-12" src="/assets/logos/stripe.svg" alt="Stripe" />
          </div>
          <div
            class="col-span-1 flex justify-center md:col-span-2 lg:col-span-1">
            <img class="h-12" src="/assets/logos/medium.svg" alt="Dribbble " />
          </div>
          <div
            class="col-span-1 flex justify-center md:col-span-2 lg:col-span-1">
            <img class="h-12" src="/assets/logos/gitlab.svg" alt="gitlab" />
          </div>
          <div
            class="col-span-1 flex justify-center md:col-span-3 lg:col-span-1">
            <img class="h-12" src="/assets/logos/medium.svg" alt="dribbble" />
          </div>
          <div
            class="col-span-2 flex justify-center md:col-span-3 lg:col-span-1">
            <img class="h-12" src="/assets/logos/figma.svg" alt="figma" />
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<section id="featurefive" aria-labelledby="FeatureFive">
  <div
    class="relative px-8 py-12 lg:py-24 mx-auto sm:px-6 md:max-w-2xl md:px-4 lg:max-w-6xl lg:px-20">
    <div class="w-full mx-auto text-left">
      <div class="relative flex-col items-center m-auto align-middle">
        <div class="items-center gap-12 text-left lg:gap-24 lg:inline-flex">
          <div
            class="relative items-center gap-12 m-auto lg:inline-flex md:order-first">
            <div class="p-4 mx-auto lg:max-w-7xl lg:p-0">
              <ul role="list" class="grid grid-cols-2 gap-4 list-none lg:gap-6">
                <li>
                  <div>
                    <p class="text-xl text-black">Developer experience</p>
                  </div>
                  <div class="mt-2 text-sm text-slate-500">
                    I am so happy, my dear friend, so absorbed in the exquisite
                    sense of mere tranquil existence, that I neglect my talents.
                  </div>
                </li>
                <li>
                  <div>
                    <p class="text-xl text-black">Designers go-to app</p>
                  </div>
                  <div class="mt-2 text-sm text-slate-500">
                    I am so happy, my dear friend, so absorbed in the exquisite
                    sense of mere tranquil existence, that I neglect my talents.
                  </div>
                </li>
                <li>
                  <div>
                    <p class="text-xl text-black">Easy onboarding</p>
                  </div>
                  <div class="mt-2 text-sm text-slate-500">
                    I am so happy, my dear friend, so absorbed in the exquisite
                    sense of mere tranquil existence, that I neglect my talents.
                  </div>
                </li>
                <li>
                  <div>
                    <p class="text-xl text-black">Customer support</p>
                  </div>
                  <div class="mt-2 text-sm text-slate-500">
                    I am so happy, my dear friend, so absorbed in the exquisite
                    sense of mere tranquil existence, that I neglect my talents.
                  </div>
                </li>
                <li>
                  <div>
                    <p class="text-xl text-black">Easy onboarding</p>
                  </div>
                  <div class="mt-2 text-sm text-slate-500">
                    I am so happy, my dear friend, so absorbed in the exquisite
                    sense of mere tranquil existence, that I neglect my talents.
                  </div>
                </li>
                <li>
                  <div>
                    <p class="text-xl text-black">Customer support</p>
                  </div>
                  <div class="mt-2 text-sm text-slate-500">
                    I am so happy, my dear friend, so absorbed in the exquisite
                    sense of mere tranquil existence, that I neglect my talents.
                  </div>
                </li>
              </ul>
            </div>
          </div>
          <div class="order-first block w-full mt-12 aspect-square lg:mt-0">
            <img
              class="object-cover object-center w-full mx-auto border rounded-md shadow-normal lg:ml-auto"
              alt="hero"
              src="https://images.unsplash.com/photo-1633409361618-c73427e4e206?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1180&q=80"
            />
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<section id="featureNine" aria-labelledby="FeatureNine">
  <div
    class="relative px-8 py-12 mx-auto sm:px-6 md:max-w-2xl md:px-4 lg:max-w-6xl lg:px-20 lg:pt-32">
    <div class="max-w-xl lg:text-center mx-auto">
      <p class="text-3xl font-medium tracking-tight text-black lg:text-5xl">
        Let's build a better tomorrow, together.
      </p>
      <p class="mt-4 text-lg lg:text-2xl text-slate-500">
        A lot of wohooo! stuff, check it out.
      </p>
    </div>
    <div class="mt-12">
      <video
        autoplay=""
        loop=""
        muted=""
        class="w-full rounded-md shadow-normal">
        <source
          src="https://d33wubrfki0l68.cloudfront.net/c906151c5417ee08cea5c68bc4c8823316ba100c/3fe8e/images/desktopgradient.mp4"
          type="video/mp4"
        /> Your browser does not support the video tag.
      </video>
    </div>
  </div>
</section>
<section id="TestimonialThree" aria-label="TestimonialThree">
  <div
    class="relative px-8 py-12 mx-auto sm:px-6 md:max-w-2xl md:px-4 lg:max-w-6xl lg:px-20 lg:pt-32">
    <div class="max-w-xl">
      <p class="text-3xl font-medium tracking-tight text-black lg:text-5xl">
        We don't say it
      </p>
      <p class="mt-4 text-lg lg:text-2xl text-slate-500">So much love!</p>
    </div>
    <div class="pt-12 mx-auto">
      <div class="grid grid-cols-1 gap-3 py-12 lg:grid-cols-3">
        <div
          class="p-8 bg-white border sm:flex lg:items-start group shadow-normal rounded-md">
          <div>
            <p class="text-sm text-slate-500">
              “I've taken many courses—recently a masters in interaction
              design—and I've read every book, but your course is by far the
              most comprehensive, well explained, well structured, and most
              actionable resource in design I've ever taken. ”
            </p>
            <div class="inline-flex items-center w-full mt-2">
              <div class="mt-6">
                <div class="flex-shrink-0 block">
                  <div class="flex items-center">
                    <div>
                      <img
                        class="inline-block h-9 w-9 rounded-full"
                        src="https://d33wubrfki0l68.cloudfront.net/1a2e935392c14749028729b21b20ddbd4c54b70e/1a932/images/testimonials/amrit.jpeg"
                        alt=""
                      />
                    </div>
                    <div class="ml-3">
                      <p class="text-xl text-black group-hover:text-accent-600">
                        Sam Samuel
                      </p>
                      <p
                        class="text-xs font-medium text-slate-500 group-hover:text-black">
                        CEO
                      </p>
                    </div>
                  </div>
                  <div class="pt-12">
                    <span
                      class="inline-flex justify-start w-full gap-3 lg:ml-auto md:justify-start md:w-auto">
                      <a
                        class="text-accent-500 transition duration-500 ease-in-out transform">
                        <span class="sr-only"> Facebook</span>
                        <svg
                          fill="currentColor"
                          stroke-linecap="round"
                          stroke-linejoin="round"
                          stroke-width="2"
                          class="w-5 h-5"
                          viewBox="0 0 24 24">
                          <path
                            d="M18 2h-3a5 5 0 00-5 5v3H7v4h3v8h4v-8h3l1-4h-4V7a1 1 0 011-1h3z">
                          </path>
                        </svg>
                      </a>
                      <a
                        class="text-accent-500 transition duration-500 ease-in-out transform">
                        <span class="sr-only"> twitter</span>
                        <svg
                          fill="currentColor"
                          stroke-linecap="round"
                          stroke-linejoin="round"
                          stroke-width="2"
                          class="w-5 h-5"
                          viewBox="0 0 24 24">
                          <path
                            d="M23 3a10.9 10.9 0 01-3.14 1.53 4.48 4.48 0 00-7.86 3v1A10.66 10.66 0 013 4s-4 9 5 13a11.64 11.64 0 01-7 2c9 5 20 0 20-11.5a4.5 4.5 0 00-.08-.83A7.72 7.72 0 0023 3z">
                          </path>
                        </svg>
                      </a>
                      <a
                        class="text-accent-500 transition duration-500 ease-in-out transform">
                        <span class="sr-only">Instagram</span>
                        <svg
                          fill="none"
                          stroke="currentColor"
                          stroke-linecap="round"
                          stroke-linejoin="round"
                          stroke-width="2"
                          class="w-5 h-5"
                          viewBox="0 0 24 24">
                          <rect width="20" height="20" x="2" y="2" rx="5" ry="5"
                          ></rect>
                          <path
                            d="M16 11.37A4 4 0 1112.63 8 4 4 0 0116 11.37zm1.5-4.87h.01">
                          </path>
                        </svg>
                      </a>
                      <a
                        class="text-accent-500 transition duration-500 ease-in-out transform">
                        <span class="sr-only">Linkedin</span>
                        <svg
                          fill="currentColor"
                          stroke="currentColor"
                          stroke-linecap="round"
                          stroke-linejoin="round"
                          stroke-width="0"
                          class="w-5 h-5"
                          viewBox="0 0 24 24">
                          <path
                            stroke="none"
                            d="M16 8a6 6 0 016 6v7h-4v-7a2 2 0 00-2-2 2 2 0 00-2 2v7h-4v-7a6 6 0 016-6zM2 9h4v12H2z">
                          </path>
                          <circle cx="4" cy="4" r="2" stroke="none"></circle>
                        </svg>
                      </a>
                    </span>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div
          class="p-8 bg-white border sm:flex lg:items-start group shadow-normal rounded-md">
          <div>
            <p class="text-sm text-slate-500">
              “I've taken many courses—recently a masters in interaction
              design—and I've read every book, but your course is by far the
              most comprehensive, well explained, well structured, and most
              actionable resource in design I've ever taken. ”
            </p>
            <div class="inline-flex items-center w-full mt-2">
              <div class="mt-6">
                <div class="flex-shrink-0 block">
                  <div class="flex items-center">
                    <div>
                      <img
                        class="inline-block h-9 w-9 rounded-full"
                        src="https://d33wubrfki0l68.cloudfront.net/cabc8d70a84f6d78e56c5cd2db3f54ab6462325d/95045/images/testimonials/gabi.jpeg"
                        alt=""
                      />
                    </div>
                    <div class="ml-3">
                      <p class="text-xl text-black group-hover:text-accent-600">
                        Tom Thomas
                      </p>
                      <p
                        class="text-xs font-medium text-slate-500 group-hover:text-black">
                        Not CEO
                      </p>
                    </div>
                  </div>
                  <div class="pt-12">
                    <span
                      class="inline-flex justify-start w-full gap-3 lg:ml-auto md:justify-start md:w-auto">
                      <a
                        class="text-accent-500 transition duration-500 ease-in-out transform">
                        <span class="sr-only"> Facebook</span>
                        <svg
                          fill="currentColor"
                          stroke-linecap="round"
                          stroke-linejoin="round"
                          stroke-width="2"
                          class="w-5 h-5"
                          viewBox="0 0 24 24">
                          <path
                            d="M18 2h-3a5 5 0 00-5 5v3H7v4h3v8h4v-8h3l1-4h-4V7a1 1 0 011-1h3z">
                          </path>
                        </svg>
                      </a>
                      <a
                        class="text-accent-500 transition duration-500 ease-in-out transform">
                        <span class="sr-only"> twitter</span>
                        <svg
                          fill="currentColor"
                          stroke-linecap="round"
                          stroke-linejoin="round"
                          stroke-width="2"
                          class="w-5 h-5"
                          viewBox="0 0 24 24">
                          <path
                            d="M23 3a10.9 10.9 0 01-3.14 1.53 4.48 4.48 0 00-7.86 3v1A10.66 10.66 0 013 4s-4 9 5 13a11.64 11.64 0 01-7 2c9 5 20 0 20-11.5a4.5 4.5 0 00-.08-.83A7.72 7.72 0 0023 3z">
                          </path>
                        </svg>
                      </a>
                      <a
                        class="text-accent-500 transition duration-500 ease-in-out transform">
                        <span class="sr-only">Instagram</span>
                        <svg
                          fill="none"
                          stroke="currentColor"
                          stroke-linecap="round"
                          stroke-linejoin="round"
                          stroke-width="2"
                          class="w-5 h-5"
                          viewBox="0 0 24 24">
                          <rect width="20" height="20" x="2" y="2" rx="5" ry="5"
                          ></rect>
                          <path
                            d="M16 11.37A4 4 0 1112.63 8 4 4 0 0116 11.37zm1.5-4.87h.01">
                          </path>
                        </svg>
                      </a>
                      <a
                        class="text-accent-500 transition duration-500 ease-in-out transform">
                        <span class="sr-only">Linkedin</span>
                        <svg
                          fill="currentColor"
                          stroke="currentColor"
                          stroke-linecap="round"
                          stroke-linejoin="round"
                          stroke-width="0"
                          class="w-5 h-5"
                          viewBox="0 0 24 24">
                          <path
                            stroke="none"
                            d="M16 8a6 6 0 016 6v7h-4v-7a2 2 0 00-2-2 2 2 0 00-2 2v7h-4v-7a6 6 0 016-6zM2 9h4v12H2z">
                          </path>
                          <circle cx="4" cy="4" r="2" stroke="none"></circle>
                        </svg>
                      </a>
                    </span>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div
          class="p-8 bg-white border sm:flex lg:items-start group shadow-normal rounded-md">
          <div>
            <p class="text-sm text-slate-500">
              “I've taken many courses—recently a masters in interaction
              design—and I've read every book, but your course is by far the
              most comprehensive, well explained, well structured, and most
              actionable resource in design I've ever taken. ”
            </p>
            <div class="inline-flex items-center w-full mt-2">
              <div class="mt-6">
                <div class="flex-shrink-0 block">
                  <div class="flex items-center">
                    <div>
                      <img
                        class="inline-block h-9 w-9 rounded-full"
                        src="https://pbs.twimg.com/profile_images/1039477099768295424/DkFxqf2V_400x400.jpg"
                        alt=""
                      />
                    </div>
                    <div class="ml-3">
                      <p class="text-xl text-black group-hover:text-accent-600">
                        Tom Thomas
                      </p>
                      <p
                        class="text-xs font-medium text-slate-500 group-hover:text-black">
                        Not CEO
                      </p>
                    </div>
                  </div>
                  <div class="pt-12">
                    <span
                      class="inline-flex justify-start w-full gap-3 lg:ml-auto md:justify-start md:w-auto">
                      <a
                        class="text-accent-500 transition duration-500 ease-in-out transform">
                        <span class="sr-only"> Facebook</span>
                        <svg
                          fill="currentColor"
                          stroke-linecap="round"
                          stroke-linejoin="round"
                          stroke-width="2"
                          class="w-5 h-5"
                          viewBox="0 0 24 24">
                          <path
                            d="M18 2h-3a5 5 0 00-5 5v3H7v4h3v8h4v-8h3l1-4h-4V7a1 1 0 011-1h3z">
                          </path>
                        </svg>
                      </a>
                      <a
                        class="text-accent-500 transition duration-500 ease-in-out transform">
                        <span class="sr-only"> twitter</span>
                        <svg
                          fill="currentColor"
                          stroke-linecap="round"
                          stroke-linejoin="round"
                          stroke-width="2"
                          class="w-5 h-5"
                          viewBox="0 0 24 24">
                          <path
                            d="M23 3a10.9 10.9 0 01-3.14 1.53 4.48 4.48 0 00-7.86 3v1A10.66 10.66 0 013 4s-4 9 5 13a11.64 11.64 0 01-7 2c9 5 20 0 20-11.5a4.5 4.5 0 00-.08-.83A7.72 7.72 0 0023 3z">
                          </path>
                        </svg>
                      </a>
                      <a
                        class="text-accent-500 transition duration-500 ease-in-out transform">
                        <span class="sr-only">Instagram</span>
                        <svg
                          fill="none"
                          stroke="currentColor"
                          stroke-linecap="round"
                          stroke-linejoin="round"
                          stroke-width="2"
                          class="w-5 h-5"
                          viewBox="0 0 24 24">
                          <rect width="20" height="20" x="2" y="2" rx="5" ry="5"
                          ></rect>
                          <path
                            d="M16 11.37A4 4 0 1112.63 8 4 4 0 0116 11.37zm1.5-4.87h.01">
                          </path>
                        </svg>
                      </a>
                      <a
                        class="text-accent-500 transition duration-500 ease-in-out transform">
                        <span class="sr-only">Linkedin</span>
                        <svg
                          fill="currentColor"
                          stroke="currentColor"
                          stroke-linecap="round"
                          stroke-linejoin="round"
                          stroke-width="0"
                          class="w-5 h-5"
                          viewBox="0 0 24 24">
                          <path
                            stroke="none"
                            d="M16 8a6 6 0 016 6v7h-4v-7a2 2 0 00-2-2 2 2 0 00-2 2v7h-4v-7a6 6 0 016-6zM2 9h4v12H2z">
                          </path>
                          <circle cx="4" cy="4" r="2" stroke="none"></circle>
                        </svg>
                      </a>
                    </span>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<section id="pricing" aria-labelledby="pricing-nine">
  <div
    class="px-8 py-24 mx-auto sm:px-6 md:max-w-2xl md:px-4 lg:max-w-6xl lg:px-20 lg:pt-36">
    <div class="items-center w-full px-5 mx-auto">
      <div class="max-w-3xl mx-auto space-y-2 text-center lg:max-w-none">
        <h1 class="text-3xl font-medium tracking-tight text-black lg:text-5xl">
          Memberships levels
        </h1>
        <p class="mx-auto text-xl prose text-slate-500 md:mt-5">
          Choose a plan that's right for you.
        </p>
      </div>
    </div>

    <div
      class="space-y-4 mt-16 sm:space-y-0 sm:grid sm:grid-cols-2 sm:gap-6 lg:max-w-4xl lg:mx-auto xl:max-w-none xl:grid-cols-2">
      <div
        class="border divide-y divide-accent-200/50 rounded-md shadow-normal">
        <div
          class="grid items-center justify-center w-full grid-cols-1 p-6 lg:grid-cols-2">
          <div>
            <h2 class="text-sm font-medium text-black uppercase">Basic plan</h2>
            <p class="mt-4 text-sm text-slate-500">
              Suitable for those that want to grow steadily.
            </p>
          </div>
          <div class="lg:ml-auto">
            <p class="mt-8">
              <span class="text-4xl text-black">$15</span>
              <span class="text-sm text-slate-500">per month</span>
            </p>
          </div>
        </div>
        <div class="px-6 pt-6 pb-8">
          <h3 class="text-xs font-medium tracking-wide text-black uppercase">
            What's included
          </h3>
          <div class="grid grid-cols-1 lg:grid-cols-2">
            <ul role="list" class="mt-6 space-y-4">
              <li class="flex space-x-3">
                <svg
                  class="flex-shrink-0 w-5 h-5 text-accent-500"
                  xmlns="http://www.w3.org/2000/svg"
                  viewBox="0 0 20 20"
                  fill="currentColor"
                  aria-hidden="true">
                  <path
                    fill-rule="evenodd"
                    d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z"
                    clip-rule="evenodd"></path>
                </svg>
                <span class="text-sm text-slate-500">Messaging.</span>
              </li>
              <li class="flex space-x-3">
                <svg
                  class="flex-shrink-0 w-5 h-5 text-accent-500"
                  xmlns="http://www.w3.org/2000/svg"
                  viewBox="0 0 20 20"
                  fill="currentColor"
                  aria-hidden="true">
                  <path
                    fill-rule="evenodd"
                    d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z"
                    clip-rule="evenodd"></path>
                </svg>
                <span class="text-sm text-slate-500">Team meetings.</span>
              </li>
              <li class="flex space-x-3">
                <svg
                  class="flex-shrink-0 w-5 h-5 text-accent-500"
                  xmlns="http://www.w3.org/2000/svg"
                  viewBox="0 0 20 20"
                  fill="currentColor"
                  aria-hidden="true">
                  <path
                    fill-rule="evenodd"
                    d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z"
                    clip-rule="evenodd"></path>
                </svg>
                <span class="text-sm text-slate-500">5 TB cloud storage.</span>
              </li>
              <li class="flex space-x-3">
                <svg
                  class="flex-shrink-0 w-5 h-5 text-accent-500"
                  xmlns="http://www.w3.org/2000/svg"
                  viewBox="0 0 20 20"
                  fill="currentColor"
                  aria-hidden="true">
                  <path
                    fill-rule="evenodd"
                    d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z"
                    clip-rule="evenodd"></path>
                </svg>
                <span class="text-sm text-slate-500">Growth oriented.</span>
              </li>
              <li class="flex space-x-3">
                <svg
                  class="flex-shrink-0 w-5 h-5 text-accent-500"
                  xmlns="http://www.w3.org/2000/svg"
                  viewBox="0 0 20 20"
                  fill="currentColor"
                  aria-hidden="true">
                  <path
                    fill-rule="evenodd"
                    d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z"
                    clip-rule="evenodd"></path>
                </svg>
                <span class="text-sm text-slate-500">Marketing campaigns.</span>
              </li>
              <li class="flex space-x-3">
                <svg
                  class="flex-shrink-0 w-5 h-5 text-accent-500"
                  xmlns="http://www.w3.org/2000/svg"
                  viewBox="0 0 20 20"
                  fill="currentColor"
                  aria-hidden="true">
                  <path
                    fill-rule="evenodd"
                    d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z"
                    clip-rule="evenodd"></path>
                </svg>
                <span class="text-sm text-slate-500">Custom pages.</span>
              </li>
              <li class="flex space-x-3">
                <svg
                  class="flex-shrink-0 w-5 h-5 text-accent-500"
                  xmlns="http://www.w3.org/2000/svg"
                  viewBox="0 0 20 20"
                  fill="currentColor"
                  aria-hidden="true">
                  <path
                    fill-rule="evenodd"
                    d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z"
                    clip-rule="evenodd"></path>
                </svg>
                <span class="text-sm text-slate-500">Support 24/7.</span>
              </li>
            </ul>
            <ul role="list" class="mt-4 space-y-4 lg:mt-6">
              <li class="flex space-x-3">
                <svg
                  class="flex-shrink-0 w-5 h-5 text-accent-500"
                  xmlns="http://www.w3.org/2000/svg"
                  viewBox="0 0 20 20"
                  fill="currentColor"
                  aria-hidden="true">
                  <path
                    fill-rule="evenodd"
                    d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z"
                    clip-rule="evenodd"></path>
                </svg>
                <span class="text-sm text-slate-500">Messaging.</span>
              </li>
              <li class="flex space-x-3">
                <svg
                  class="flex-shrink-0 w-5 h-5 text-accent-500"
                  xmlns="http://www.w3.org/2000/svg"
                  viewBox="0 0 20 20"
                  fill="currentColor"
                  aria-hidden="true">
                  <path
                    fill-rule="evenodd"
                    d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z"
                    clip-rule="evenodd"></path>
                </svg>
                <span class="text-sm text-slate-500">Team meetings.</span>
              </li>
              <li class="flex space-x-3">
                <svg
                  class="flex-shrink-0 w-5 h-5 text-accent-500"
                  xmlns="http://www.w3.org/2000/svg"
                  viewBox="0 0 20 20"
                  fill="currentColor"
                  aria-hidden="true">
                  <path
                    fill-rule="evenodd"
                    d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z"
                    clip-rule="evenodd"></path>
                </svg>
                <span class="text-sm text-slate-500">5 TB cloud storage.</span>
              </li>
              <li class="flex space-x-3">
                <svg
                  class="flex-shrink-0 w-5 h-5 text-accent-500"
                  xmlns="http://www.w3.org/2000/svg"
                  viewBox="0 0 20 20"
                  fill="currentColor"
                  aria-hidden="true">
                  <path
                    fill-rule="evenodd"
                    d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z"
                    clip-rule="evenodd"></path>
                </svg>
                <span class="text-sm text-slate-500">Growth oriented.</span>
              </li>
              <li class="flex space-x-3">
                <svg
                  class="flex-shrink-0 w-5 h-5 text-accent-500"
                  xmlns="http://www.w3.org/2000/svg"
                  viewBox="0 0 20 20"
                  fill="currentColor"
                  aria-hidden="true">
                  <path
                    fill-rule="evenodd"
                    d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z"
                    clip-rule="evenodd"></path>
                </svg>
                <span class="text-sm text-slate-500">Marketing campaigns.</span>
              </li>
              <li class="flex space-x-3">
                <svg
                  class="flex-shrink-0 w-5 h-5 text-accent-500"
                  xmlns="http://www.w3.org/2000/svg"
                  viewBox="0 0 20 20"
                  fill="currentColor"
                  aria-hidden="true">
                  <path
                    fill-rule="evenodd"
                    d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z"
                    clip-rule="evenodd"></path>
                </svg>
                <span class="text-sm text-slate-500">Custom pages.</span>
              </li>
              <li class="flex space-x-3">
                <svg
                  class="flex-shrink-0 w-5 h-5 text-accent-500"
                  xmlns="http://www.w3.org/2000/svg"
                  viewBox="0 0 20 20"
                  fill="currentColor"
                  aria-hidden="true">
                  <path
                    fill-rule="evenodd"
                    d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z"
                    clip-rule="evenodd"></path>
                </svg>
                <span class="text-sm text-slate-500">Support 24/7.</span>
              </li>
            </ul>
          </div>
          <div class="mt-8">
            <button
              class="inline-flex w-full items-center justify-center px-12 py-3 text-center text-slate-900 transition duration-500 ease-in-out transform bg-slate-50 border-2 border-slate-50 rounded-md hover:bg-slate-100 hover:border-slate-100 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-slate-100">
              Get started
            </button>
          </div>
        </div>
      </div>
      <div
        class="border divide-y divide-accent-200/50 bg-accent-500 rounded-md shadow-normal">
        <div
          class="grid items-center justify-center w-full grid-cols-1 p-6 lg:grid-cols-2">
          <div>
            <h2 class="text-sm font-medium text-white uppercase">
              Advanced plan <span
                class="inline-flex items-center px-2.5 py-0.5 rounded-full text-xs font-medium bg-slate-50 text-accent-600">
                Popular
              </span>
            </h2>
            <p class="mt-4 text-sm text-white">
              Suitable for those that want to grow like a rocket.
            </p>
          </div>
          <div class="lg:ml-auto">
            <p class="mt-8">
              <span class="text-4xl text-white">$35</span>
              <span class="text-sm text-white">per month</span>
            </p>
          </div>
        </div>
        <div class="px-6 pt-6 pb-8">
          <h3 class="text-xs font-medium tracking-wide text-white uppercase">
            What's included
          </h3>
          <div class="grid grid-cols-1 lg:grid-cols-2">
            <ul role="list" class="mt-6 space-y-4">
              <li class="flex space-x-3">
                <svg
                  class="flex-shrink-0 w-5 h-5 text-white"
                  xmlns="http://www.w3.org/2000/svg"
                  viewBox="0 0 20 20"
                  fill="currentColor"
                  aria-hidden="true">
                  <path
                    fill-rule="evenodd"
                    d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z"
                    clip-rule="evenodd"></path>
                </svg>
                <span class="text-sm text-white">Messaging.</span>
              </li>
              <li class="flex space-x-3">
                <svg
                  class="flex-shrink-0 w-5 h-5 text-white"
                  xmlns="http://www.w3.org/2000/svg"
                  viewBox="0 0 20 20"
                  fill="currentColor"
                  aria-hidden="true">
                  <path
                    fill-rule="evenodd"
                    d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z"
                    clip-rule="evenodd"></path>
                </svg>
                <span class="text-sm text-white">Team meetings.</span>
              </li>
              <li class="flex space-x-3">
                <svg
                  class="flex-shrink-0 w-5 h-5 text-white"
                  xmlns="http://www.w3.org/2000/svg"
                  viewBox="0 0 20 20"
                  fill="currentColor"
                  aria-hidden="true">
                  <path
                    fill-rule="evenodd"
                    d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z"
                    clip-rule="evenodd"></path>
                </svg>
                <span class="text-sm text-white">5 TB cloud storage.</span>
              </li>
              <li class="flex space-x-3">
                <svg
                  class="flex-shrink-0 w-5 h-5 text-white"
                  xmlns="http://www.w3.org/2000/svg"
                  viewBox="0 0 20 20"
                  fill="currentColor"
                  aria-hidden="true">
                  <path
                    fill-rule="evenodd"
                    d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z"
                    clip-rule="evenodd"></path>
                </svg>
                <span class="text-sm text-white">Growth oriented.</span>
              </li>
              <li class="flex space-x-3">
                <svg
                  class="flex-shrink-0 w-5 h-5 text-white"
                  xmlns="http://www.w3.org/2000/svg"
                  viewBox="0 0 20 20"
                  fill="currentColor"
                  aria-hidden="true">
                  <path
                    fill-rule="evenodd"
                    d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z"
                    clip-rule="evenodd"></path>
                </svg>
                <span class="text-sm text-white">Marketing campaigns.</span>
              </li>
              <li class="flex space-x-3">
                <svg
                  class="flex-shrink-0 w-5 h-5 text-white"
                  xmlns="http://www.w3.org/2000/svg"
                  viewBox="0 0 20 20"
                  fill="currentColor"
                  aria-hidden="true">
                  <path
                    fill-rule="evenodd"
                    d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z"
                    clip-rule="evenodd"></path>
                </svg>
                <span class="text-sm text-white">Custom pages.</span>
              </li>
              <li class="flex space-x-3">
                <svg
                  class="flex-shrink-0 w-5 h-5 text-white"
                  xmlns="http://www.w3.org/2000/svg"
                  viewBox="0 0 20 20"
                  fill="currentColor"
                  aria-hidden="true">
                  <path
                    fill-rule="evenodd"
                    d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z"
                    clip-rule="evenodd"></path>
                </svg>
                <span class="text-sm text-white">Support 24/7.</span>
              </li>
            </ul>
            <ul role="list" class="mt-4 space-y-4 lg:mt-6">
              <li class="flex space-x-3">
                <svg
                  class="flex-shrink-0 w-5 h-5 text-white"
                  xmlns="http://www.w3.org/2000/svg"
                  viewBox="0 0 20 20"
                  fill="currentColor"
                  aria-hidden="true">
                  <path
                    fill-rule="evenodd"
                    d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z"
                    clip-rule="evenodd"></path>
                </svg>
                <span class="text-sm text-white">Messaging.</span>
              </li>
              <li class="flex space-x-3">
                <svg
                  class="flex-shrink-0 w-5 h-5 text-white"
                  xmlns="http://www.w3.org/2000/svg"
                  viewBox="0 0 20 20"
                  fill="currentColor"
                  aria-hidden="true">
                  <path
                    fill-rule="evenodd"
                    d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z"
                    clip-rule="evenodd"></path>
                </svg>
                <span class="text-sm text-white">Team meetings.</span>
              </li>
              <li class="flex space-x-3">
                <svg
                  class="flex-shrink-0 w-5 h-5 text-white"
                  xmlns="http://www.w3.org/2000/svg"
                  viewBox="0 0 20 20"
                  fill="currentColor"
                  aria-hidden="true">
                  <path
                    fill-rule="evenodd"
                    d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z"
                    clip-rule="evenodd"></path>
                </svg>
                <span class="text-sm text-white">5 TB cloud storage.</span>
              </li>
              <li class="flex space-x-3">
                <svg
                  class="flex-shrink-0 w-5 h-5 text-white"
                  xmlns="http://www.w3.org/2000/svg"
                  viewBox="0 0 20 20"
                  fill="currentColor"
                  aria-hidden="true">
                  <path
                    fill-rule="evenodd"
                    d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z"
                    clip-rule="evenodd"></path>
                </svg>
                <span class="text-sm text-white">Growth oriented.</span>
              </li>
              <li class="flex space-x-3">
                <svg
                  class="flex-shrink-0 w-5 h-5 text-white"
                  xmlns="http://www.w3.org/2000/svg"
                  viewBox="0 0 20 20"
                  fill="currentColor"
                  aria-hidden="true">
                  <path
                    fill-rule="evenodd"
                    d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z"
                    clip-rule="evenodd"></path>
                </svg>
                <span class="text-sm text-white">Marketing campaigns.</span>
              </li>
              <li class="flex space-x-3">
                <svg
                  class="flex-shrink-0 w-5 h-5 text-white"
                  xmlns="http://www.w3.org/2000/svg"
                  viewBox="0 0 20 20"
                  fill="currentColor"
                  aria-hidden="true">
                  <path
                    fill-rule="evenodd"
                    d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z"
                    clip-rule="evenodd"></path>
                </svg>
                <span class="text-sm text-white">Custom pages.</span>
              </li>
              <li class="flex space-x-3">
                <svg
                  class="flex-shrink-0 w-5 h-5 text-white"
                  xmlns="http://www.w3.org/2000/svg"
                  viewBox="0 0 20 20"
                  fill="currentColor"
                  aria-hidden="true">
                  <path
                    fill-rule="evenodd"
                    d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z"
                    clip-rule="evenodd"></path>
                </svg>
                <span class="text-sm text-white">Support 24/7.</span>
              </li>
            </ul>
          </div>
          <div class="mt-8">
            <button
              class="inline-flex items-center justify-center w-full px-12 py-3 text-center text-black transition duration-500 ease-in-out transform bg-white border-2 border-white rounded-md hover:text-white focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-white hover:border-white">
              Get started
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<section id="faq" aria-labelledby="faq-title ">
  <div
    class="relative px-8 py-12 mx-auto sm:px-6 md:max-w-2xl md:px-4 lg:max-w-6xl lg:px-20 lg:pt-32">
    <div class="max-w-2xl">
      <p class="text-3xl font-medium tracking-tight text-black lg:text-5xl">
        Frequently asked questions
      </p>
      <p class="mt-4 text-lg lg:text-2xl text-slate-500">
        Let's find your answers.
      </p>
    </div>
    <ul
      role="list"
      class="grid max-w-2xl grid-cols-1 gap-8 mx-auto mt-16 lg:max-w-none lg:grid-cols-3">
      <li>
        <h3 class="text-xl text-black">
          Why wouldn't I just hire a full-time designer?
        </h3>
        <p class="mt-4 text-sm text-slate-500">
          Sure, you could do that! Just consider this - the current salary of a
          Senior Designer &amp; Developer is between 68k - 130k in the US.
        </p>
      </li>
      <li>
        <h3 class="text-xl text-black">When can we start?</h3>
        <p class="mt-4 text-sm text-slate-500">
          Within 24 hours. If we are a good fit and a spot is available, we can
          immediately get started and you'll receive a solution for your first
          request within 48 hours!
        </p>
      </li>
      <li>
        <h3 class="text-xl text-black">
          How fast will I receive my deliveries?
        </h3>
        <p class="mt-4 text-sm text-slate-500">
          On average, most requests are completed in just two days or less.
          However, more complex requests can take longer.
        </p>
      </li>
      <li>
        <h3 class="text-xl text-black">Is Jamstacker an agency?</h3>
        <p class="mt-4 text-sm text-slate-500">
          Jamstacker is a One man Company. This means that you will work
          directly with me, Michael Andreuzza.
        </p>
      </li>
      <li>
        <h3 class="text-xl text-black">What if I need a task to be revised?</h3>
        <p class="mt-4 text-sm text-slate-500">
          No worries - you can ask for unlimited revisions. Since they are
          usually "quick stuff" - expect them to be done in 24 hours!
        </p>
      </li>
      <li>
        <h3 class="text-xl text-black">How can we communicate?</h3>
        <p class="mt-4 text-sm text-slate-500">
          We will communicate directly through Slack Channel. I typically
          respond within a few hours, but at the latest within 24 hours during
          Business days.
        </p>
      </li>
      <li>
        <h3 class="text-xl text-black">Are requests really unlimited?</h3>
        <p class="mt-4 text-sm text-slate-500">
          Yes! Submit as many requests as you want.
        </p>
      </li>
      <li>
        <h3 class="text-xl text-black">What if I don't like the deliveries?</h3>
        <p class="mt-4 text-sm text-slate-500">
          I offer a 7-day 100% Money-back-guarantee. This means you have enough
          time to test out the service and see if we could be a good fit. You
          can cancel your plan at any time, with the click of a button - no
          contracts, no surprises.
        </p>
      </li>
      <li>
        <h3 class="text-xl text-black">
          How do you guarantee full availability?
        </h3>
        <p class="mt-4 text-sm text-slate-500">
          I'm only taking up 3 clients at a time so I can deliver superb
          quality. &zwj;
        </p>
      </li>

      <li>
        <h3 class="text-xl text-black">
          Do I need to know HTML/CSS if I want to edit the content on Versoly
          myself?
        </h3>
        <p class="mt-4 text-sm text-slate-500">
          No HTML or CSS is needed. Versoly does have a code editor built in so
          if you know HTML/CSS/JS you can easily edit your page without
          exporting the website.
        </p>
      </li>
      <li>
        <h3 class="text-xl text-black">Is hosting included?</h3>
        <p class="mt-4 text-sm text-slate-500">
          Yes, Versoly's all plans include hosting. They host your site on AWS
          and use advanced features to make sure your site is fast, secure and
          always up.
        </p>
      </li>
    </ul>
  </div>
</section>
