---
import { getDataCollection } from "@/utils/collections";
import Card from "./CareersCard.astro";

const careers = await getDataCollection("careers");
---

<section>
  <div
    class="items-center w-full px-8 py-12 mx-auto md:px-12 lg:px-24 max-w-7xl lg:py-48"
  >
    <div class="grid grid-cols-1 lg:grid-cols-[1fr_50rem] gap-12">
      <div class="mx-auto max-w-2xl">
        <div>
          <span
            class="font-semibold text-accent-500 text-sm tracking-widest uppercase"
            >Jobs
          </span>
          <p class="text-3xl mt-8 font-bold tracking-tight text-black">
            Explore the open positions at Semplice
          </p>
          <div class="flex-col flex mt-10 sm:flex-row">
            <a
              class="items-center text-white focus:outline-none inline-flex justify-center hover:text-accent-500 duration-200 focus-visible:outline-black focus-visible:ring-black font-medium lg:w-auto px-6 py-3 rounded-xl text-center w-full bg-accent-500 hover:bg-accent-100"
              href="/"
              >See all pages
            </a>
          </div>
        </div>
      </div>
      <div class="space-y-4">
        <div class="px-4 sm:px-6 lg:px-8">
          <div class="mx-auto max-w-3xl lg:max-w-[50rem]">
            <ul class="divide-y divide-gray-100">
              {careers.map((job) => <Card job={job} />)}
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
