<section aria-labelledby="jobs" id="jobs">
  <div
    class="items-center w-full px-8 py-12 mx-auto md:px-12 lg:px-24 max-w-7xl lg:py-48">
    <div class="grid grid-cols-1 lg:grid-cols-3 gap-12">
      <div class="mx-auto max-w-2xl">
        <div>
          <span
            class="font-semibold text-accent-500 text-sm tracking-widest uppercase"
            >Jobs</span
          >
          <p class="text-3xl mt-8 font-extrabold tracking-tight text-black">
            Explore the open positions at Semplice
          </p>
          <div class="flex-col flex mt-10 sm:flex-row">
            <a
              class="items-center text-white focus:outline-none inline-flex justify-center hover:text-accent-500 duration-200 focus-visible:outline-black focus-visible:ring-black font-medium lg:w-auto px-6 py-3 rounded-xl text-center w-full bg-accent-500 hover:bg-accent-100"
              href="/overview">See all pages</a
            >
          </div>
        </div>
      </div>
      <div class="space-y-4 lg:col-span-2">
        <div class="px-4 sm:px-6 lg:px-8">
          <div class="mx-auto max-w-3xl lg:max-w-[50rem]">
            <ul class="divide-y divide-gray-100">
              <li>
                <div class="group relative py-6 sm:rounded-2xl">
                  <div
                    class="absolute -inset-x-4 -inset-y-px bg-gray-50 opacity-0 group-hover:opacity-100 sm:-inset-x-6 sm:rounded-2xl lg:-inset-x-8">
                  </div>
                  <div class="relative flex items-center">
                    <div
                      class="relative h-[3.125rem] w-[3.125rem] sm:h-[3.75rem] sm:w-[3.75rem] flex-none">
                      <img
                        class="absolute inset-0 h-full w-full rounded-full object-cover"
                        src="https://plus.unsplash.com/premium_photo-1671751035347-e308f0a19b28?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MXx8Z3JhZGllbnR8ZW58MHx8MHx8&auto=format&fit=crop&w=800&q=60"
                        alt=""
                      />
                      <div
                        class="absolute inset-0 rounded-full ring-1 ring-inset ring-black/[0.08]">
                      </div>
                    </div>
                    <dl
                      class="ml-4 flex flex-auto flex-wrap gap-y-1 gap-x-2 overflow-hidden sm:ml-6 sm:grid sm:grid-cols-[auto_1fr_auto_auto] sm:items-center">
                      <div class="col-span-2 mr-2.5 flex-none sm:mr-0">
                        <dt class="sr-only">Company</dt>
                        <dd
                          class="text-xs font-semibold leading-6 text-gray-900">
                          Lexington, Inc
                        </dd>
                      </div>
                      <div
                        class="col-start-3 row-start-2 -ml-2.5 flex-auto sm:ml-0 sm:pl-6">
                        <dt class="sr-only">Location</dt>
                        <dd
                          class="flex items-center text-xs leading-6 text-gray-600">
                          <svg
                            viewBox="0 0 2 2"
                            aria-hidden="true"
                            class="mr-2 h-0.5 w-0.5 flex-none fill-gray-400 sm:hidden">
                            <circle cx="1" cy="1" r="1"></circle>
                          </svg>Remote / Palo Alto, CA
                        </dd>
                      </div>
                      <div class="col-span-2 col-start-1 w-full flex-none">
                        <dt class="sr-only">Title</dt>
                        <dd
                          class="text-[0.9375rem] font-semibold leading-6 text-gray-900">
                          <a href="/position"
                            ><span
                              class="absolute -inset-x-4 inset-y-[calc(-1*(theme(spacing.6)+1px))] sm:-inset-x-6 sm:rounded-2xl lg:-inset-x-8"
                            ></span>Frontend Web Engineer</a
                          >
                        </dd>
                      </div>
                      <div class="col-start-1 mr-2.5 flex-none">
                        <dt class="sr-only">Type</dt>
                        <dd class="text-xs leading-6 text-gray-600">
                          Full-time or Contract
                        </dd>
                      </div>
                      <div class="col-span-3 -ml-2.5 flex-none">
                        <dt class="sr-only">Salary</dt>
                        <dd
                          class="flex items-center text-xs leading-6 text-gray-600">
                          <svg
                            viewBox="0 0 2 2"
                            aria-hidden="true"
                            class="mr-2 h-0.5 w-0.5 flex-none fill-gray-400">
                            <circle cx="1" cy="1" r="1"></circle>
                          </svg>$140,000 - $180,000
                        </dd>
                      </div>
                    </dl>
                  </div>
                </div>
              </li>
              <li>
                <div class="group relative py-6 sm:rounded-2xl">
                  <div
                    class="absolute -inset-x-4 -inset-y-px bg-gray-50 opacity-0 group-hover:opacity-100 sm:-inset-x-6 sm:rounded-2xl lg:-inset-x-8">
                  </div>
                  <div class="relative flex items-center">
                    <div
                      class="relative h-[3.125rem] w-[3.125rem] sm:h-[3.75rem] sm:w-[3.75rem] flex-none">
                      <img
                        class="absolute inset-0 h-full w-full rounded-full object-cover"
                        src="https://images.unsplash.com/photo-1620641788421-7a1c342ea42e?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1674&q=80"
                        alt=""
                      />
                      <div
                        class="absolute inset-0 rounded-full ring-1 ring-inset ring-black/[0.08]">
                      </div>
                    </div>
                    <dl
                      class="ml-4 flex flex-auto flex-wrap gap-y-1 gap-x-2 overflow-hidden sm:ml-6 sm:grid sm:grid-cols-[auto_1fr_auto_auto] sm:items-center">
                      <div class="col-span-2 mr-2.5 flex-none sm:mr-0">
                        <dt class="sr-only">Company</dt>
                        <dd
                          class="text-xs font-semibold leading-6 text-gray-900">
                          Unwrapped Max
                        </dd>
                      </div>
                      <div
                        class="col-start-3 row-start-2 -ml-2.5 flex-auto sm:ml-0 sm:pl-6">
                        <dt class="sr-only">Location</dt>
                        <dd
                          class="flex items-center text-xs leading-6 text-gray-600">
                          <svg
                            viewBox="0 0 2 2"
                            aria-hidden="true"
                            class="mr-2 h-0.5 w-0.5 flex-none fill-gray-400 sm:hidden">
                            <circle cx="1" cy="1" r="1"></circle>
                          </svg>Remote / USA
                        </dd>
                      </div>
                      <div class="col-span-2 col-start-1 w-full flex-none">
                        <dt class="sr-only">Title</dt>
                        <dd
                          class="text-[0.9375rem] font-semibold leading-6 text-gray-900">
                          <a href="/position"
                            ><span
                              class="absolute -inset-x-4 inset-y-[calc(-1*(theme(spacing.6)+1px))] sm:-inset-x-6 sm:rounded-2xl lg:-inset-x-8"
                            ></span>Lead Tailwind Developer</a
                          >
                        </dd>
                      </div>
                      <div class="col-start-1 mr-2.5 flex-none">
                        <dt class="sr-only">Type</dt>
                        <dd class="text-xs leading-6 text-gray-600">
                          Full-time
                        </dd>
                      </div>
                    </dl>
                  </div>
                </div>
              </li>
              <li>
                <div class="group relative py-6 sm:rounded-2xl">
                  <div
                    class="absolute -inset-x-4 -inset-y-px bg-gray-50 opacity-0 group-hover:opacity-100 sm:-inset-x-6 sm:rounded-2xl lg:-inset-x-8">
                  </div>
                  <div class="relative flex items-center">
                    <div
                      class="relative h-[3.125rem] w-[3.125rem] sm:h-[3.75rem] sm:w-[3.75rem] flex-none">
                      <img
                        class="absolute inset-0 h-full w-full rounded-full object-cover"
                        src="https://images.unsplash.com/photo-1627635174808-34b5172f815a?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2832&q=80"
                        alt=""
                      />
                      <div
                        class="absolute inset-0 rounded-full ring-1 ring-inset ring-black/[0.08]">
                      </div>
                    </div>
                    <dl
                      class="ml-4 flex flex-auto flex-wrap gap-y-1 gap-x-2 overflow-hidden sm:ml-6 sm:grid sm:grid-cols-[auto_1fr_auto_auto] sm:items-center">
                      <div class="col-span-2 mr-2.5 flex-none sm:mr-0">
                        <dt class="sr-only">Company</dt>
                        <dd
                          class="text-xs font-semibold leading-6 text-gray-900">
                          Monoqrom Labs
                        </dd>
                      </div>
                      <div
                        class="col-start-3 row-start-2 -ml-2.5 flex-auto sm:ml-0 sm:pl-6">
                        <dt class="sr-only">Location</dt>
                        <dd
                          class="flex items-center text-xs leading-6 text-gray-600">
                          <svg
                            viewBox="0 0 2 2"
                            aria-hidden="true"
                            class="mr-2 h-0.5 w-0.5 flex-none fill-gray-400 sm:hidden">
                            <circle cx="1" cy="1" r="1"></circle>
                          </svg>Hybrid / Chicago Botanic Garden
                        </dd>
                      </div>
                      <div class="col-span-2 col-start-1 w-full flex-none">
                        <dt class="sr-only">Title</dt>
                        <dd
                          class="text-[0.9375rem] font-semibold leading-6 text-gray-900">
                          <a href=""
                            ><span
                              class="absolute -inset-x-4 inset-y-[calc(-1*(theme(spacing.6)+1px))] sm:-inset-x-6 sm:rounded-2xl lg:-inset-x-8"
                            ></span>Principal Web Application Developer</a
                          >
                        </dd>
                      </div>
                      <div class="col-start-1 mr-2.5 flex-none">
                        <dt class="sr-only">Type</dt>
                        <dd class="text-xs leading-6 text-gray-600">
                          Full-time
                        </dd>
                      </div>
                    </dl>
                  </div>
                </div>
              </li>
              <li>
                <div class="group relative py-6 sm:rounded-2xl">
                  <div
                    class="absolute -inset-x-4 -inset-y-px bg-gray-50 opacity-0 group-hover:opacity-100 sm:-inset-x-6 sm:rounded-2xl lg:-inset-x-8">
                  </div>
                  <div class="relative flex items-center">
                    <div
                      class="relative h-[3.125rem] w-[3.125rem] sm:h-[3.75rem] sm:w-[3.75rem] flex-none">
                      <img
                        class="absolute inset-0 h-full w-full rounded-full object-cover"
                        src="https://images.unsplash.com/photo-1632516643720-e7f5d7d6ecc9?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1011&q=80"
                        alt=""
                      />
                      <div
                        class="absolute inset-0 rounded-full ring-1 ring-inset ring-black/[0.08]">
                      </div>
                    </div>
                    <dl
                      class="ml-4 flex flex-auto flex-wrap gap-y-1 gap-x-2 overflow-hidden sm:ml-6 sm:grid sm:grid-cols-[auto_1fr_auto_auto] sm:items-center">
                      <div class="col-span-2 mr-2.5 flex-none sm:mr-0">
                        <dt class="sr-only">Company</dt>
                        <dd
                          class="text-xs font-semibold leading-6 text-gray-900">
                          Supreme ML
                        </dd>
                      </div>
                      <div
                        class="col-start-3 row-start-2 -ml-2.5 flex-auto sm:ml-0 sm:pl-6">
                        <dt class="sr-only">Location</dt>
                        <dd
                          class="flex items-center text-xs leading-6 text-gray-600">
                          <svg
                            viewBox="0 0 2 2"
                            aria-hidden="true"
                            class="mr-2 h-0.5 w-0.5 flex-none fill-gray-400 sm:hidden">
                            <circle cx="1" cy="1" r="1"></circle>
                          </svg>Durham, NC
                        </dd>
                      </div>
                      <div class="col-span-2 col-start-1 w-full flex-none">
                        <dt class="sr-only">Title</dt>
                        <dd
                          class="text-[0.9375rem] font-semibold leading-6 text-gray-900">
                          <a href=""
                            ><span
                              class="absolute -inset-x-4 inset-y-[calc(-1*(theme(spacing.6)+1px))] sm:-inset-x-6 sm:rounded-2xl lg:-inset-x-8"
                            ></span>Senior Front-End Engineer</a
                          >
                        </dd>
                      </div>
                      <div class="col-start-1 mr-2.5 flex-none">
                        <dt class="sr-only">Type</dt>
                        <dd class="text-xs leading-6 text-gray-600">
                          Full-time
                        </dd>
                      </div>
                    </dl>
                  </div>
                </div>
              </li>
              <li>
                <div class="group relative py-6 sm:rounded-2xl">
                  <div
                    class="absolute -inset-x-4 -inset-y-px bg-gray-50 opacity-0 group-hover:opacity-100 sm:-inset-x-6 sm:rounded-2xl lg:-inset-x-8">
                  </div>
                  <div class="relative flex items-center">
                    <div
                      class="relative h-[3.125rem] w-[3.125rem] sm:h-[3.75rem] sm:w-[3.75rem] flex-none">
                      <img
                        class="absolute inset-0 h-full w-full rounded-full object-cover"
                        src="https://images.unsplash.com/photo-1618005198919-d3d4b5a92ead?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1674&q=80"
                        alt=""
                      />
                      <div
                        class="absolute inset-0 rounded-full ring-1 ring-inset ring-black/[0.08]">
                      </div>
                    </div>
                    <dl
                      class="ml-4 flex flex-auto flex-wrap gap-y-1 gap-x-2 overflow-hidden sm:ml-6 sm:grid sm:grid-cols-[auto_1fr_auto_auto] sm:items-center">
                      <div class="col-span-2 mr-2.5 flex-none sm:mr-0">
                        <dt class="sr-only">Company</dt>
                        <dd
                          class="text-xs font-semibold leading-6 text-gray-900">
                          Köge Daaz
                        </dd>
                      </div>
                      <div
                        class="col-start-3 row-start-2 -ml-2.5 flex-auto sm:ml-0 sm:pl-6">
                        <dt class="sr-only">Location</dt>
                        <dd
                          class="flex items-center text-xs leading-6 text-gray-600">
                          <svg
                            viewBox="0 0 2 2"
                            aria-hidden="true"
                            class="mr-2 h-0.5 w-0.5 flex-none fill-gray-400 sm:hidden">
                            <circle cx="1" cy="1" r="1"></circle>
                          </svg>Remote / USA
                        </dd>
                      </div>
                      <div class="col-span-2 col-start-1 w-full flex-none">
                        <dt class="sr-only">Title</dt>
                        <dd
                          class="text-[0.9375rem] font-semibold leading-6 text-gray-900">
                          <a href="/position"
                            ><span
                              class="absolute -inset-x-4 inset-y-[calc(-1*(theme(spacing.6)+1px))] sm:-inset-x-6 sm:rounded-2xl lg:-inset-x-8"
                            ></span>Senior Web Developer, Open Source</a
                          >
                        </dd>
                      </div>
                      <div class="col-start-1 mr-2.5 flex-none">
                        <dt class="sr-only">Type</dt>
                        <dd class="text-xs leading-6 text-gray-600">
                          Full-time
                        </dd>
                      </div>
                    </dl>
                  </div>
                </div>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
