<section id="features" aria-labelledby="screencasts-title" class=" bg-white">
    <div class="relative px-8 py-12 mx-auto sm:px-6 md:max-w-2xl md:px-4 lg:max-w-6xl lg:px-20 ">
        <div class="max-w-xl pb-12">
            <p class="text-3xl font-medium tracking-tight text-black lg:text-5xl mt-24">
                Open postions at Semplice
            </p>
            <p class="mt-4 text-lg lg:text-2xl text-slate-500">
                Search and get your answers
            </p>
        </div>
        <div class="py-12 border-t">
            <div class="mt-12 space-y-12 divide-y-2 divide-slate-100">

                <div class="grid grid-cols-1 gap-4 pt-4 lg:grid-cols-4 items-start">
                    <div class="flex flex-col flex-shrink-0 mb-6 md:mb-0">
                        <div class="relative h-[3.125rem] w-[3.125rem] sm:h-[3.75rem] sm:w-[3.75rem] flex-none"><img
                                class=" inset-0 h-full w-full rounded-full object-cover border"
                                src="https://cdn.dribbble.com/users/1431362/avatars/normal/8d3da05b8d3b6e956a9268503797fd3f.png?1598012486"
                                alt="">
                        </div>
                    </div>
                    <div class="lg:col-span-3">
                        <div
                            class=" flex flex-auto flex-wrap gap-y-1 gap-x-2 overflow-hidden sm:ml-6 sm:grid sm:grid-cols-[auto_1fr_auto_auto] sm:items-center">
                            <div class="col-span-2 mr-2.5 flex-none sm:mr-0">
                                <div class="sr-only">Company</div>
                                <div class=" font-semibold leading-6  text-xl text-black">
                                    Netlify</div>
                            </div>
                            <div class="col-start-3 row-start-2 -ml-2.5 flex-auto sm:ml-0 sm:pl-6">
                                <div class="sr-only">Location</div>
                                <div class="flex items-center text-xs leading-6 text-gray-600"><svg viewBox="0 0 2 2"
                                        aria-hidden="true" class="mr-2 h-0.5 w-0.5 flex-none fill-gray-400 sm:hidden">
                                        <circle cx="1" cy="1" r="1"></circle>
                                    </svg>Hybrid / Ohio</div>
                            </div>
                            <div class="col-span-2 col-start-1 w-full flex-none">
                                <div class="sr-only">Title</div>
                                <div class="text-[0.9375rem] font-semibold leading-6 text-gray-900">
                                    <a href="./position">
                                        <span
                                            class="absolute -inset-x-4 inset-y-[calc(-1*(theme(spacing.6)+1px))] sm:-inset-x-6 sm:rounded-2xl lg:-inset-x-8">
                                        </span>
                                        JavaScript
                                        Application Developer</a></div>
                            </div>
                            <div class="mr-2.5 flex-none">
                                <div class="sr-only">Type</div>
                                <div class="text-xs leading-6  text-slate-500">Full-time</div>
                            </div>
                            <div class="col-start-4 row-start-2 ml-auto flex-none sm:pl-6">
                                <div class="sr-only">Posted</div>
                                <div class="text-xs leading-6 text-gray-400">2d</div>
                            </div>
                        </div>
                    </div>
                </div>


                <div class="grid grid-cols-1 gap-4 pt-4 lg:grid-cols-4 items-start">
                    <div class="flex flex-col flex-shrink-0 mb-6 md:mb-0">
                        <div class="relative h-[3.125rem] w-[3.125rem] sm:h-[3.75rem] sm:w-[3.75rem] flex-none"><img
                                class=" inset-0 h-full w-full rounded-full object-cover border"
                                src="https://cdn.dribbble.com/users/2074298/avatars/normal/574b8e15ecaf1bc4c9cb93b3ae6ffb31.jpg?1571159029"
                                alt="">
                        </div>
                    </div>
                    <div class="lg:col-span-3">
                        <div
                            class=" flex flex-auto flex-wrap gap-y-1 gap-x-2 overflow-hidden sm:ml-6 sm:grid sm:grid-cols-[auto_1fr_auto_auto] sm:items-center">
                            <div class="col-span-2 mr-2.5 flex-none sm:mr-0">
                                <div class="sr-only">Company</div>
                                <div class=" font-semibold leading-6  text-xl text-black">
                                    Figma</div>
                            </div>
                            <div class="col-start-3 row-start-2 -ml-2.5 flex-auto sm:ml-0 sm:pl-6">
                                <div class="sr-only">Location</div>
                                <div class="flex items-center text-xs leading-6 text-gray-600"><svg viewBox="0 0 2 2"
                                        aria-hidden="true" class="mr-2 h-0.5 w-0.5 flex-none fill-gray-400 sm:hidden">
                                        <circle cx="1" cy="1" r="1"></circle>
                                    </svg>Remote / Spain</div>
                            </div>
                            <div class="col-span-2 col-start-1 w-full flex-none">
                                <div class="sr-only">Title</div>
                                <div class="text-[0.9375rem] font-semibold leading-6 text-gray-900"><a href="./position"><span
                                            class="absolute -inset-x-4 inset-y-[calc(-1*(theme(spacing.6)+1px))] sm:-inset-x-6 sm:rounded-2xl lg:-inset-x-8"></span>React
                                        Developer</a></div>
                            </div>
                            <div class="mr-2.5 flex-none">
                                <div class="sr-only">Type</div>
                                <div class="text-xs leading-6  text-slate-500">Full-time</div>
                            </div>
                            <div class="col-start-4 row-start-2 ml-auto flex-none sm:pl-6">
                                <div class="sr-only">Posted</div>
                                <div class="text-xs leading-6 text-gray-400">3d</div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="grid grid-cols-1 gap-4 pt-4 lg:grid-cols-4 items-start">
                    <div class="flex flex-col flex-shrink-0 mb-6 md:mb-0">
                        <div class="relative h-[3.125rem] w-[3.125rem] sm:h-[3.75rem] sm:w-[3.75rem] flex-none"><img
                                class=" inset-0 h-full w-full rounded-full object-cover border"
                                src="https://cdn.dribbble.com/users/574541/avatars/normal/2ae8557604978fe4989582d0c109d20a.png?1623923919"
                                alt="">
                        </div>
                    </div>
                    <div class="lg:col-span-3">
                        <div
                            class=" flex flex-auto flex-wrap gap-y-1 gap-x-2 overflow-hidden sm:ml-6 sm:grid sm:grid-cols-[auto_1fr_auto_auto] sm:items-center">
                            <div class="col-span-2 mr-2.5 flex-none sm:mr-0">
                                <div class="sr-only">Company</div>
                                <div class=" font-semibold leading-6  text-xl text-black">
                                    Framer</div>
                            </div>
                            <div class="col-start-3 row-start-2 -ml-2.5 flex-auto sm:ml-0 sm:pl-6">
                                <div class="sr-only">Location</div>
                                <div class="flex items-center text-xs leading-6 text-gray-600"><svg viewBox="0 0 2 2"
                                        aria-hidden="true" class="mr-2 h-0.5 w-0.5 flex-none fill-gray-400 sm:hidden">
                                        <circle cx="1" cy="1" r="1"></circle>
                                    </svg>Remote / Åland Islands</div>
                            </div>
                            <div class="col-span-2 col-start-1 w-full flex-none">
                                <div class="sr-only">Title</div>
                                <div class="text-[0.9375rem] font-semibold leading-6 text-gray-900"><a href="./position"><span
                                            class="absolute -inset-x-4 inset-y-[calc(-1*(theme(spacing.6)+1px))] sm:-inset-x-6 sm:rounded-2xl lg:-inset-x-8"></span>UI
                                        UX
                                        Designer</a></div>
                            </div>
                            <div class="mr-2.5 flex-none">
                                <div class="sr-only">Type</div>
                                <div class="text-xs leading-6  text-slate-500">Full-time</div>
                            </div>
                            <div class="col-start-4 row-start-2 ml-auto flex-none sm:pl-6">
                                <div class="sr-only">Posted</div>
                                <div class="text-xs leading-6 text-gray-400">1d</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>