---
import { getDataCollection } from "@/utils/collections";
import Card from "./CareersCard.astro";
const careers = await getDataCollection("careers");
---

<section>
  <div
    class="items-center px-8 py-12 mx-auto md:px-12 lg:px-32 max-w-7xl lg:py-24">
    <div class="mx-auto max-w-2xl text-center">
      <div>
        <span class="text-xs text-purple-500 uppercase font-bold tracking-wide"
          >Explore
        </span>
        <p class="text-3xl mt-8 font-bold tracking-tight text-purple-900">
          Join our team
        </p>
        <p class="text-base text-gray-500 mt-4">
          Explore exciting opportunities and shape the future with us
        </p>
      </div>
    </div>
    <div class="mx-auto mt-12 lg:mt-24">
      <ul class="divide-y divide-gray-100">
        {careers.map((job) => <Card job={job} />)}
      </ul>
    </div>
  </div>
</section>
