<section class="relative overflow-hidden l">
  <div
    class="relative items-center px-8 py-12 mx-auto md:px-12 lg:px-32 max-w-7xl lg:py-24">
    <div>
      <span class="text-xs text-purple-500 uppercase font-bold tracking-wide"
        >Coming soon</span
      >

      <p class="text-4xl mt-8 font-semibold tracking-tighter text-purple-900">
        Unveiling something extraordinary
      </p>
      <p class="text-base text-gray-500 max-w-2xl mt-4">
        Thank you for visiting our coming soon page! We're thrilled to announce
        that something extraordinary is on its way. While we're hard at work
        behind the scenes, preparing for the big reveal, we couldn't be more
        excited to share this journey with you.
      </p>
      <form class="w-full max-w-sm mt-12">
        <div class="flex flex-col gap-2 lg:flex-row w-full">
          <label class="sr-only" for="email-address">Email address</label>
          <input
            autocomplete="email"
            class="border bg-chalk w-full appearance-none block border-gray-300 duration-200 focus:border-gray-300 focus:outline-none focus:ring-gray-300 h-10 placeholder-gray-300 px-4 py-2 rounded-lg sm:text-sm text-purple-500"
            id="email-address"
            name="email"
            placeholder="Enter your email"
            required=""
            type="email"
          />
          <button
            class="text-sm flex font-semibold items-center justify-center px-4 py-2 rounded-lg transition-all h-10 text-white bg-gradient-to-b from-purple-500 hover:to-purple-700 to-purple-600"
            type="submit">Subscribe</button
          >
        </div>
      </form>

      <div
        class="prose mt-12 max-w-3xl prose-blockquote:border-l-black prose-a:text-purple-500 hover:prose-a:text-purple-900 prose-headings:font-bold prose-headings:text-purple-900 prose-li:marker:text-purple-500 text-gray-500 prose-code:text-purple-900 prose-blockquote:text-gray-500">
        <p>
          Thank you for visiting our coming soon page! We're thrilled to
          announce that something extraordinary is on its way. While we're hard
          at work behind the scenes, preparing for the big reveal, we couldn't
          be more excited to share this journey with you.
        </p>
        <h4>What's coming?</h4>
        <p>
          Our team has been diligently crafting an innovative project that will
          revolutionize the way you experience [Company Name]'s offerings. We
          can't wait to introduce you to a whole new level of possibilities.
          Stay tuned for updates and be among the first to witness the
          unveiling.
        </p>
        <h4>Why the anticipation?</h4>
        <p>
          Our vision has always been driven by a commitment to excellence and
          innovation. The project we're working on embodies this spirit and will
          exceed expectations in every aspect. We are dedicated to bringing you
          cutting-edge solutions that will leave a lasting impact.
        </p>
        <h4>Join Us on this journey</h4>
        <p>
          As we approach the launch, we invite you to be part of our community.
          Join our mailing list to receive exclusive sneak peeks, early access,
          and special offers. Together, we'll embark on an exciting adventure
          that will shape the future.
        </p>
        <h4>Stay connected</h4>
        <p>
          Follow us on social media and subscribe to our newsletter to stay
          up-to-date with all the latest developments. We value your support,
          and your excitement fuels our drive to create something truly
          remarkable.
        </p>
        <h4>Countdown to greatness</h4>
        <p>
          The countdown has begun! Excitement is building, and we can't wait to
          share our creation with you. Mark your calendars, and get ready for a
          game-changing experience.
        </p>
      </div>

      <div class="flex space-x-6 mt-12">
        <a title="link to your page"
        aria-label="your label" href="#" class="text-gray-400 hover:text-gray-500">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            class="icon icon-tabler icon-tabler-brand-meta"
            width="20"
            height="20"
            viewBox="0 0 24 24"
            stroke-width="2"
            stroke="currentColor"
            fill="none"
            stroke-linecap="round"
            stroke-linejoin="round">
            <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
            <path
              d="M12 10.174c1.766 -2.784 3.315 -4.174 4.648 -4.174c2 0 3.263 2.213 4 5.217c.704 2.869 .5 6.783 -2 6.783c-1.114 0 -2.648 -1.565 -4.148 -3.652a27.627 27.627 0 0 1 -2.5 -4.174z"
            ></path>
            <path
              d="M12 10.174c-1.766 -2.784 -3.315 -4.174 -4.648 -4.174c-2 0 -3.263 2.213 -4 5.217c-.704 2.869 -.5 6.783 2 6.783c1.114 0 2.648 -1.565 4.148 -3.652c1 -1.391 1.833 -2.783 2.5 -4.174z"
            ></path>
          </svg>
        </a>
        <a title="link to your page"
        aria-label="your label" href="#" class="text-gray-400 hover:text-gray-500">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            class="icon icon-tabler icon-tabler-brand-instagram"
            width="20"
            height="20"
            viewBox="0 0 24 24"
            stroke-width="2"
            stroke="currentColor"
            fill="none"
            stroke-linecap="round"
            stroke-linejoin="round">
            <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
            <path
              d="M4 4m0 4a4 4 0 0 1 4 -4h8a4 4 0 0 1 4 4v8a4 4 0 0 1 -4 4h-8a4 4 0 0 1 -4 -4z"
            ></path>
            <path d="M12 12m-3 0a3 3 0 1 0 6 0a3 3 0 1 0 -6 0"></path>
            <path d="M16.5 7.5l0 .01"></path>
          </svg>
        </a>
        <a title="link to your page"
        aria-label="your label" href="#" class="text-gray-400 hover:text-gray-500">
          <span class="sr-only">Twitter</span>
          <svg
            class="h-6 w-6"
            fill="currentColor"
            viewBox="0 0 24 24"
            aria-hidden="true">
            <path
              d="M8.29 20.251c7.547 0 11.675-6.253 11.675-11.675 0-.178 0-.355-.012-.53A8.348 8.348 0 0022 5.92a8.19 8.19 0 01-2.357.646 4.118 4.118 0 001.804-2.27 8.224 8.224 0 01-2.605.996 4.107 4.107 0 00-6.993 3.743 11.65 11.65 0 01-8.457-4.287 4.106 4.106 0 001.27 5.477A4.072 4.072 0 012.8 9.713v.052a4.105 4.105 0 003.292 4.022 4.095 4.095 0 01-1.853.07 4.108 4.108 0 003.834 2.85A8.233 8.233 0 012 18.407a11.616 11.616 0 006.29 1.84"
            ></path>
          </svg>
        </a>
        <a title="link to your page"
        aria-label="your label" href="#" class="text-gray-400 hover:text-gray-500">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            class="icon icon-tabler icon-tabler-brand-github-filled"
            width="20"
            height="20"
            viewBox="0 0 24 24"
            stroke-width="2"
            stroke="currentColor"
            fill="none"
            stroke-linecap="round"
            stroke-linejoin="round">
            <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
            <path
              d="M5.315 2.1c.791 -.113 1.9 .145 3.333 .966l.272 .161l.16 .1l.397 -.083a13.3 13.3 0 0 1 4.59 -.08l.456 .08l.396 .083l.161 -.1c1.385 -.84 2.487 -1.17 3.322 -1.148l.164 .008l.147 .017l.076 .014l.05 .011l.144 .047a1 1 0 0 1 .53 .514a5.2 5.2 0 0 1 .397 2.91l-.047 .267l-.046 .196l.123 .163c.574 .795 .93 1.728 1.03 2.707l.023 .295l.007 .272c0 3.855 -1.659 5.883 -4.644 6.68l-.245 .061l-.132 .029l.014 .161l.008 .157l.004 .365l-.002 .213l-.003 3.834a1 1 0 0 1 -.883 .993l-.117 .007h-6a1 1 0 0 1 -.993 -.883l-.007 -.117v-.734c-1.818 .26 -3.03 -.424 -4.11 -1.878l-.535 -.766c-.28 -.396 -.455 -.579 -.589 -.644l-.048 -.019a1 1 0 0 1 .564 -1.918c.642 .188 1.074 .568 1.57 1.239l.538 .769c.76 1.079 1.36 1.459 2.609 1.191l.001 -.678l-.018 -.168a5.03 5.03 0 0 1 -.021 -.824l.017 -.185l.019 -.12l-.108 -.024c-2.976 -.71 -4.703 -2.573 -4.875 -6.139l-.01 -.31l-.004 -.292a5.6 5.6 0 0 1 .908 -3.051l.152 -.222l.122 -.163l-.045 -.196a5.2 5.2 0 0 1 .145 -2.642l.1 -.282l.106 -.253a1 1 0 0 1 .529 -.514l.144 -.047l.154 -.03z"
              stroke-width="0"
              fill="currentColor"></path>
          </svg>
        </a>
        <a title="link to your page"
        aria-label="your label" href="#" class="text-gray-400 hover:text-gray-500">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            class="icon icon-tabler icon-tabler-brand-youtube"
            width="20"
            height="20"
            viewBox="0 0 24 24"
            stroke-width="2"
            stroke="currentColor"
            fill="none"
            stroke-linecap="round"
            stroke-linejoin="round">
            <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
            <path
              d="M3 5m0 4a4 4 0 0 1 4 -4h10a4 4 0 0 1 4 4v6a4 4 0 0 1 -4 4h-10a4 4 0 0 1 -4 -4z"
            ></path>
            <path d="M10 9l5 3l-5 3z"></path>
          </svg>
        </a>
      </div>
    </div>
  </div>
</section>
