<section>
  <div class="flex items-center justify-center h-screen">
    <div class="w-full max-w-md mx-auto sm:px-4 md:w-96 md:max-w-sm md:px-0">
      <h2
        class="mt-6 text-xl font-medium leading-tight text-black lg:text-center lg:text-4xl"
      >
        We are working on a new page, wi will be coming soon
      </h2>
    </div>
  </div>
</section>
