<section id="demospages" aria-labelledby="demopages" class="border-t">
  <div
    class="px-8 py-12 mx-auto sm:px-6 md:max-w-2xl md:px-4 lg:max-w-6xl lg:px-20"
  >
    <div class="justify-center max-w-2xl lg:mx-0">
      <p
        id="faq-title"
        class="mt-24 text-3xl font-medium tracking-tight text-black lg:text-5xl"
      >
        All pages
      </p>
      <p class="mt-4 text-lg lg:text-2xl text-slate-500">Don't get lost!</p>
    </div>
    <div class="gap-12 grid grid-cols-2 md:grid-cols-3 lg:grid-cols-5">
      <div class="mt-10 text-sm" aria-label="quick links">
        <div class="flex flex-col justify-start">
          <p class="inline-block text-xl text-black">Landing Pages</p>
          <a
            class="mt-2 text-sm text-slate-500 hover:text-blue-400"
            href="/landing-one"
            >Landing Page One
          </a>
          <a
            class="mt-2 text-sm text-slate-500 hover:text-blue-400"
            href="/landing-two"
            >Landing Page two
          </a>
          <p class="inline-block text-xl text-black mt-12">Blog</p>
          <a
            class="mt-2 text-sm text-slate-500 hover:text-blue-400"
            href="/blog"
            >Blog
          </a>
          <a
            class="mt-2 text-sm text-slate-500 hover:text-blue-400"
            href="/blog-post"
            >Blog Post
          </a>

          <p class="inline-block text-xl text-black mt-12">Jobs</p>
          <a
            class="mt-2 text-sm text-slate-500 hover:text-blue-400"
            href="/open-positions"
            >Open Postions
          </a>
          <a
            class="mt-2 text-sm text-slate-500 hover:text-blue-400"
            href="/position"
            >Postion
          </a>
        </div>
      </div>
      <div class="mt-10 text-sm" aria-label="quick links">
        <div class="flex flex-col justify-start">
          <p class="inline-block text-xl text-black">Utility Pages</p>
          <a
            class="mt-2 text-sm text-slate-500 hover:text-blue-400"
            href="/status"
            >Status
          </a>
          <a
            class="mt-2 text-sm text-slate-500 hover:text-blue-400"
            href="/about"
            >About
          </a>
          <a
            class="mt-2 text-sm text-slate-500 hover:text-blue-400"
            href="/contact"
            >Contact
          </a>
          <a
            class="mt-2 text-sm text-slate-500 hover:text-blue-400"
            href="/terms"
            >Terms Of use
          </a>
          <a class="mt-2 text-sm text-slate-500 hover:text-blue-400" href="/faq"
            >FAQ
          </a>
          <a
            class="mt-2 text-sm text-slate-500 hover:text-blue-400"
            href="/privacy"
            >Privacy Policy
          </a>
          <a
            class="mt-2 text-sm text-slate-500 hover:text-blue-400"
            href="/coming-soon"
            >Coming Soon
          </a>
          <a
            class="mt-2 text-sm text-slate-500 hover:text-blue-400"
            href="/coming-soon"
            >404
          </a>
        </div>
      </div>
      <div class="mt-10 text-sm" aria-label="quick links">
        <div class="flex flex-col justify-start">
          <p class="inline-block text-xl text-black">Sections</p>
          <a
            class="mt-2 text-sm text-slate-500 hover:text-blue-400"
            href="/features"
            >All Features
          </a>
          <a
            class="mt-2 text-sm text-slate-500 hover:text-blue-400"
            href="/headers"
            >All Headers
          </a>
          <a
            class="mt-2 text-sm text-slate-500 hover:text-blue-400"
            href="/testimonials"
            >All testimonials
          </a>
          <a
            class="mt-2 text-sm text-slate-500 hover:text-blue-400"
            href="/pricing"
            >All pricing tables
          </a>
          <a
            class="mt-2 text-sm text-slate-500 hover:text-blue-400"
            href="/calltoaction"
            >All CTAs
          </a>
        </div>
      </div>

      <div class="mt-10 text-sm" aria-label="quick links">
        <div class="flex flex-col justify-start">
          <p class="inline-block text-xl text-black">Forms</p>
          <a
            class="mt-2 text-sm text-slate-500 hover:text-blue-400"
            href="/submit"
            >Submit
          </a>
          <a
            class="mt-2 text-sm text-slate-500 hover:text-blue-400"
            href="/login"
            >Login
          </a>
          <a
            class="mt-2 text-sm text-slate-500 hover:text-blue-400"
            href="/signup"
            >Sign up
          </a>
          <a
            class="mt-2 text-sm text-slate-500 hover:text-blue-400"
            href="/forgot"
            >Forgot Password
          </a>
          <a
            class="mt-2 text-sm text-slate-500 hover:text-blue-400"
            href="/reset"
            >Reset Password
          </a>
        </div>
      </div>

      <div class="mt-10 text-sm" aria-label="quick links">
        <div class="flex flex-col justify-start">
          <p class="inline-block text-xl text-black">Support</p>
          <a
            class="mt-2 text-sm text-slate-500 hover:text-blue-400"
            href="/help-center"
            >Help Center
          </a>
          <a
            class="mt-2 text-sm text-slate-500 hover:text-blue-400"
            href="/single-topic"
            >Single Topic
          </a>
          <a
            class="mt-2 text-sm text-slate-500 hover:text-blue-400"
            href="/article"
            >Article
          </a>
          <a
            class="mt-2 text-sm text-slate-500 hover:text-blue-400"
            href="/video-article"
            >Video Article
          </a>
          <a
            class="mt-2 text-sm text-slate-500 hover:text-blue-400"
            href="/course-library"
            >Course Library
          </a>
          <a
            class="mt-2 text-sm text-slate-500 hover:text-blue-400"
            href="/lesson"
            >Lesson
          </a>
          <a
            class="mt-2 text-sm text-slate-500 hover:text-blue-400"
            href="/changelog"
            >Changelog
          </a>
        </div>
      </div>
      <div class="mt-10 text-sm" aria-label="quick links">
        <div class="flex flex-col justify-start">
          <p class="inline-block text-xl text-black">Settings Dashboard</p>
          <a
            class="mt-2 text-sm text-slate-500 hover:text-blue-400"
            href="/general"
            >General
          </a>
          <a
            class="mt-2 text-sm text-slate-500 hover:text-blue-400"
            href="/dashboard-teams"
            >Teams
          </a>
          <a
            class="mt-2 text-sm text-slate-500 hover:text-blue-400"
            href="/conexions"
            >Conexions
          </a>
          <a
            class="mt-2 text-sm text-slate-500 hover:text-blue-400"
            href="/billing"
            >Billing
          </a>

          <a
            class="mt-2 text-sm text-slate-500 hover:text-blue-400"
            href="/invoices"
            >Invoices
          </a>
          <a
            class="mt-2 text-sm text-slate-500 hover:text-blue-400"
            href="/tokens"
            >Tokens
          </a>
        </div>
      </div>
      <div class="mt-10 text-sm" aria-label="quick links">
        <div class="flex flex-col justify-start">
          <p class="inline-block text-xl text-black">System Pages</p>
          <a
            class="mt-2 text-sm text-slate-500 hover:text-blue-400"
            href="/style-guide"
            >Style Guide
          </a>
        </div>
      </div>
    </div>
  </div>
</section>
