<section id="faq" aria-labelledby="faq-title" class="border-t">
    <div class="relative px-4 py-24 mx-auto sm:px-6 md:max-w-2xl md:px-4 lg:max-w-6xl lg:px-20 lg:py-36">
        <div class="justify-center max-w-2xl lg:mx-0">
            <p id="faq-title" class="mt-24 text-3xl font-medium tracking-tight text-black lg:text-5xl">
                All pages
            </p>
            <p class="mt-4 text-lg lg:text-2xl text-slate-500">Don't get lost!</p>
        </div>
        <div class="gap-12 lg:flex lg:flex-row">
            <nav class="mt-10 text-sm" aria-label="quick links">
                <div class="flex flex-col justify-start">
                    <p class="inline-block text-xl text-black">Demo Pages</p>
                    <a class="mt-2 text-sm text-slate-500 hover:text-blue-400" href="/">Landing Page</a>
                    <a class="mt-2 text-sm text-slate-500 hover:text-blue-400" href="/blog">Blog</a>
                    <a class="mt-2 text-sm text-slate-500 hover:text-blue-400" href="/blog-post">Blog Post</a>
                    <a class="mt-2 text-sm text-slate-500 hover:text-blue-400" href="/pricing">Pricing</a>
                    <a class="mt-2 text-sm text-slate-500 hover:text-blue-400" href="/pricing-large">Pricing Large</a>
                    <a class="mt-2 text-sm text-slate-500 hover:text-blue-400" href="/help-center">Help Center</a>
                    <a class="mt-2 text-sm text-slate-500 hover:text-blue-400" href="/single-topic">Single Topic</a>
                    <a class="mt-2 text-sm text-slate-500 hover:text-blue-400" href="/article">Article</a>
                    <a class="mt-2 text-sm text-slate-500 hover:text-blue-400" href="/video-article">Video Article</a>
                    <a class="mt-2 text-sm text-slate-500 hover:text-blue-400" href="/course-library">Course Library</a>
                    <a class="mt-2 text-sm text-slate-500 hover:text-blue-400" href="/lesson">Lesson</a>
                    <a class="mt-2 text-sm text-slate-500 hover:text-blue-400" href="/changelog">Changelog</a>
                    <a class="mt-2 text-sm text-slate-500 hover:text-blue-400" href="/team">Team</a>
                </div>
            </nav>
            <nav class="mt-10 text-sm" aria-label="quick links">
                <div class="flex flex-col justify-start">
                    <p class="inline-block text-xl text-black">Utility Pages</p>
                    <a class="mt-2 text-sm text-slate-500 hover:text-blue-400" href="/status">Status</a>
                    <a class="mt-2 text-sm text-slate-500 hover:text-blue-400" href="/about">About</a>
                    <a class="mt-2 text-sm text-slate-500 hover:text-blue-400" href="/contact">Contact</a>
                    <a class="mt-2 text-sm text-slate-500 hover:text-blue-400" href="/terms">Terms Of
                        use
                    </a>
                    <a class="mt-2 text-sm text-slate-500 hover:text-blue-400" href="/faq">FAQ
                    </a>
                    <a class="mt-2 text-sm text-slate-500 hover:text-blue-400" href="/privacy">Privacy Policy
                    </a>
                    <a class="mt-2 text-sm text-slate-500 hover:text-blue-400" href="/coming-soon">Coming Soon
                    </a>
                    <a class="mt-2 text-sm text-slate-500 hover:text-blue-400" href="/coming-soon">404
                    </a>
                </div>
            </nav>
            <nav class="mt-10 text-sm" aria-label="quick links">
                <div class="flex flex-col justify-start">
                    <p class="inline-block text-xl text-black">Versions</p>
                    <a class="mt-2 text-sm text-slate-500 hover:text-blue-400" href="/features">All Features</a>
                    <a class="mt-2 text-sm text-slate-500 hover:text-blue-400" href="/headers">All Headers</a>
                    <a class="mt-2 text-sm text-slate-500 hover:text-blue-400" href="/testimonials">All testimonials</a>
                </div>
            </nav>
            <nav class="mt-10 text-sm" aria-label="quick links">
                <div class="flex flex-col justify-start">
                    <p class="inline-block text-xl text-black">Forms</p>
                    <a class="mt-2 text-sm text-slate-500 hover:text-blue-400" href="/submit">Submit</a>
                    <a class="mt-2 text-sm text-slate-500 hover:text-blue-400" href="/login">Login</a>
                    <a class="mt-2 text-sm text-slate-500 hover:text-blue-400" href="/signup">Sign up</a>
                </div>
            </nav>
            <nav class="mt-10 text-sm" aria-label="quick links">
                <div class="flex flex-col justify-start">
                    <p class="inline-block text-xl text-black">System Pages</p>
                    <a class="mt-2 text-sm text-slate-500 hover:text-blue-400" href="/style-guide">Style Guide</a>
                </div>
            </nav>
        </div>
    </div>
</section>