<main class="flex items-center justify-center h-screen" style="
            background-color: rgb(67, 56, 202);
            background-image: radial-gradient(
                at 76% 28%,
                rgb(245, 243, 255) 0,
                transparent 95%
              ),
              radial-gradient(at 96% 27%, rgb(68, 64, 60) 0, transparent 74%),
              radial-gradient(at 1% 77%, rgb(204, 251, 241) 0, transparent 40%),
              radial-gradient(at 89% 28%, rgb(240, 171, 252) 0, transparent 60%),
              radial-gradient(at 68% 41%, rgb(17, 24, 39) 0, transparent 7%),
              radial-gradient(at 31% 5%, rgb(52, 211, 153) 0, transparent 4%);
          ">
  <div class="max-w-7xl mx-auto px-4 py-16 text-center sm:px-6 sm:py-24 lg:px-8 lg:py-48">
    <p class="text-sm font-semibold text-black uppercase tracking-wide">
      404 Page not found
    </p>
    <h1 class="text-3xl font-medium tracking-tight text-black lg:text-5xl mt-12">
      Oh come on! You got lost again?.
    </h1>
    <p class="mt-6 text-lg font-medium text-black">No worries... just</p>
    <div class="mt-6">
      <a href="/"
        class="inline-flex items-center px-4 py-2 border border-transparent text-sm font-medium rounded-md text-black text-opacity-75 bg-white bg-opacity-75 sm:bg-opacity-25 sm:hover:bg-opacity-50 shadow-normal">
        Back home
      </a>
    </div>
  </div>
</main>