<main class="flex items-center justify-center">
  <div
    class="max-w-7xl mx-auto px-4 py-16 text-center sm:px-6 lg:py-24 lg:px-8">
    <p class="text-sm font-semibold text-accent-500 uppercase tracking-wide">
      404 Page not found
    </p>
    <h1
      class="text-4xl font-bold tracking-tighter text-black lg:text-9xl mt-12">
      Oh no, <span class="lg:block">You got lost...</span>
    </h1>
    <p class="mt-6 text-lg font-medium text-black">No worries... just</p>
    <div class="mt-6">
      <a
        href="/"
        class="items-center text-white focus:outline-none inline-flex justify-center hover:text-accent-500 duration-200 focus-visible:outline-black focus-visible:ring-black font-medium lg:w-auto px-6 py-3 rounded-xl text-center w-full bg-accent-500 hover:bg-accent-100">
        Go back home
      </a>
    </div>
  </div>
</main>
