<section>
  <div class="w-full px-8 py-12 mx-auto md:px-12 lg:px-24 max-w-7xl lg:py-32">
    <div class="max-w-2xl">
      <div>
        <span
          class="font-semibold text-accent-500 text-sm tracking-widest uppercase"
          >Faq 1</span
        >
        <p
          class="text-4xl mt-8 lg:text-6xl font-extrabold tracking-tight text-black">
          Frequently asked questions
        </p>
      </div>
    </div>
    <ul
      role="list"
      class="grid max-w-2xl grid-cols-1 gap-8 mx-auto mt-16 lg:max-w-none lg:grid-cols-3">
      <li>
        <ul class="space-y-12" role="list">
          <li>
            <h3
              class="text-black font-medium lg:text-xl text-lg tracking-tigth">
              Why wouldn't I just hire a full-time designer?
            </h3>
            <p class="text-slate-500 mt-2 text-base">
              Sure, you could do that! Just consider this - the current salary
              of a Senior Designer &amp; Developer is between 68k - 130k in the
              US.
            </p>
          </li>
          <li>
            <h3
              class="text-black font-medium lg:text-xl text-lg tracking-tigth">
              When can we start?
            </h3>
            <p class="text-slate-500 mt-2 text-base">
              Within 24 hours. If we are a good fit and a spot is available, we
              can immediately get started and you'll receive a solution for your
              first request within 48 hours!
            </p>
          </li>
          <li>
            <h3
              class="text-black font-medium lg:text-xl text-lg tracking-tigth">
              How fast will I receive my deliveries?
            </h3>
            <p class="text-slate-500 mt-2 text-base">
              On average, most requests are completed in just two days or less.
              However, more complex requests can take longer.
            </p>
          </li>
        </ul>
      </li>
      <li>
        <ul class="space-y-12" role="list">
          <li>
            <h3
              class="text-black font-medium lg:text-xl text-lg tracking-tigth">
              Do I need to know HTML/CSS if I want to edit the content on
              Versoly myself?
            </h3>
            <p class="text-slate-500 mt-2 text-base">
              No HTML or CSS is needed. Versoly does have a code editor built in
              so if you know HTML/CSS/JS you can easily edit your page without
              exporting the website.
            </p>
          </li>
          <li>
            <h3
              class="text-black font-medium lg:text-xl text-lg tracking-tigth">
              Is Jamstacker an agency?
            </h3>
            <p class="text-slate-500 mt-2 text-base">
              Jamstacker is a One man Company. This means that you will work
              directly with me, Michael Andreuzza.
            </p>
          </li>
          <li>
            <h3
              class="text-black font-medium lg:text-xl text-lg tracking-tigth">
              What if I need a task to be revised?
            </h3>
            <p class="text-slate-500 mt-2 text-base">
              No worries - you can ask for unlimited revisions. Since they are
              usually "quick stuff" - expect them to be done in 24 hours!
            </p>
          </li>
          <li>
            <h3
              class="text-black font-medium lg:text-xl text-lg tracking-tigth">
              How can we communicate?
            </h3>
            <p class="text-slate-500 mt-2 text-base">
              We will communicate directly through Slack Channel. I typically
              respond within a few hours, but at the latest within 24 hours
              during Business days.
            </p>
          </li>
        </ul>
      </li>
      <li>
        <ul class="space-y-12" role="list">
          <li>
            <h3
              class="text-black font-medium lg:text-xl text-lg tracking-tigth">
              Are requests really unlimited?
            </h3>
            <p class="text-slate-500 mt-2 text-base">
              Yes! Submit as many requests as you want.
            </p>
          </li>
          <li>
            <h3
              class="text-black font-medium lg:text-xl text-lg tracking-tigth">
              What if I don't like the deliveries?
            </h3>
            <p class="text-slate-500 mt-2 text-base">
              I offer a 7-day 100% Money-back-guarantee. This means you have
              enough time to test out the service and see if we could be a good
              fit. You can cancel your plan at any time, with the click of a
              button - no contracts, no surprises.
            </p>
          </li>
          <li>
            <h3
              class="text-black font-medium lg:text-xl text-lg tracking-tigth">
              How do you guarantee full availability?
            </h3>
            <p class="text-slate-500 mt-2 text-base">
              I'm only taking up 3 clients at a time so I can deliver superb
              quality. &zwj;
            </p>
          </li>

          <li>
            <h3
              class="text-black font-medium lg:text-xl text-lg tracking-tigth">
              Is hosting included?
            </h3>
            <p class="text-slate-500 mt-2 text-base">
              Yes, Versoly's all plans include hosting. They host your site on
              AWS and use advanced features to make sure your site is fast,
              secure and always up.
            </p>
          </li>
        </ul>
      </li>
    </ul>
  </div>
</section>
