<section
  aria-labelledby="feature-five"
  id="feature-five"
  class="overflow-y-auto bg-white">
  <div class="px-8 py-24 mx-auto lg:px-16 max-w-7xl md:px-12 lg:flex">
    <div class="lg:w-1/2">
      <div>
        <div>
          <div class="lg:pr-24 md:pr-12">
            <div>
              <span
                class="font-semibold text-accent-500 text-sm tracking-widest uppercase"
                >FAQ</span
              ><p
                class="text-black font-semibold font-display mt-8 text-4xl lg:text-5xl">
                Fully automated, fully supported
              </p>
              <p
                class="text-base text-slate-500 max-w-xl mx-auto mt-4 lg:text-xl">
                With decentralization, users have more control over their data
                and transactions, and the platform is less susceptible to
                malicious attacks.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="lg:w-1/2">
      <div class="flex-shrink-0">
        <div class="p-4 mx-auto lg:max-w-7xl lg:p-0">
          <ul role="list" class="grid grid-cols-2 gap-4 list-none lg:gap-12">
            <li>
              <div>
                <p class="mt-5 text-lg font-medium leading-6 text-black">
                  Can I used Lexingtøn Themes for my site?
                </p>
              </div>
              <div class="mt-2 text-base text-neutral-500">
                Upswing securities passively index inverse bondholders
                capitalization financial health Moody's debt managed.
              </div>
            </li>
            <li>
              <div>
                <p class="mt-5 text-lg font-medium leading-6 text-black">
                  Will i get updates?
                </p>
              </div>
              <div class="mt-2 text-base text-neutral-500">
                Upswing securities passively index inverse bondholders
                capitalization financial health Moody's debt managed.
              </div>
            </li>
            <li>
              <div>
                <p class="mt-5 text-lg font-medium leading-6 text-black">
                  How much do disputes cost?
                </p>
              </div>
              <div class="mt-2 text-base text-neutral-500">
                Upswing securities passively index inverse bondholders
                capitalization financial health Moody's debt managed.
              </div>
            </li>
            <li>
              <div>
                <p class="mt-5 text-lg font-medium leading-6 text-black">
                  How do refunds work?
                </p>
              </div>
              <div class="mt-2 text-base text-neutral-500">
                I am so happy, my dear friend, so absorbed in the exquisite
                sense of mere tranquil existence, that I neglect my talents.
              </div>
            </li>
            <li>
              <div>
                <p class="mt-5 text-lg font-medium leading-6 text-black">
                  Is there a fee to use Google Pay?
                </p>
              </div>
              <div class="mt-2 text-base text-neutral-500">
                I am so happy, my dear friend, so absorbed in the exquisite
                sense of mere tranquil existence, that I neglect my talents.
              </div>
            </li>
            <li>
              <div>
                <p class="mt-5 text-lg font-medium leading-6 text-black">
                  Customer support
                </p>
              </div>
              <div class="mt-2 text-base text-neutral-500">
                I am so happy, my dear friend, so absorbed in the exquisite
                sense of mere tranquil existence, that I neglect my talents.
              </div>
            </li>
            <li>
              <div>
                <p class="mt-5 text-lg font-medium leading-6 text-black">
                  Can I used Lexingtøn Themes for my site?
                </p>
              </div>
              <div class="mt-2 text-base text-neutral-500">
                Upswing securities passively index inverse bondholders
                capitalization financial health Moody's debt managed.
              </div>
            </li>
            <li>
              <div>
                <p class="mt-5 text-lg font-medium leading-6 text-black">
                  Will i get updates?
                </p>
              </div>
              <div class="mt-2 text-base text-neutral-500">
                Upswing securities passively index inverse bondholders
                capitalization financial health Moody's debt managed.
              </div>
            </li>
            <li>
              <div>
                <p class="mt-5 text-lg font-medium leading-6 text-black">
                  How much do disputes cost?
                </p>
              </div>
              <div class="mt-2 text-base text-neutral-500">
                Upswing securities passively index inverse bondholders
                capitalization financial health Moody's debt managed.
              </div>
            </li>
            <li>
              <div>
                <p class="mt-5 text-lg font-medium leading-6 text-black">
                  How do refunds work?
                </p>
              </div>
              <div class="mt-2 text-base text-neutral-500">
                I am so happy, my dear friend, so absorbed in the exquisite
                sense of mere tranquil existence, that I neglect my talents.
              </div>
            </li>
            <li>
              <div>
                <p class="mt-5 text-lg font-medium leading-6 text-black">
                  Is there a fee to use Google Pay?
                </p>
              </div>
              <div class="mt-2 text-base text-neutral-500">
                I am so happy, my dear friend, so absorbed in the exquisite
                sense of mere tranquil existence, that I neglect my talents.
              </div>
            </li>
            <li>
              <div>
                <p class="mt-5 text-lg font-medium leading-6 text-black">
                  Customer support
                </p>
              </div>
              <div class="mt-2 text-base text-neutral-500">
                I am so happy, my dear friend, so absorbed in the exquisite
                sense of mere tranquil existence, that I neglect my talents.
              </div>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>
