<section id="demospages" aria-labelledby="demopages">
  <div
    class="items-center w-full px-8 py-12 mx-auto md:px-12 lg:px-24 max-w-7xl lg:py-36"
  >
    <div class="justify-center max-w-2xl lg:mx-0">
      <span
        class="font-semibold text-accent-500 text-sm tracking-widest uppercase"
        >Description</span
      >
      <p
        id="faq-title"
        class="text-4xl mt-8 lg:text-6xl font-extrabold tracking-tight text-black"
      >
        All pages
      </p>
    </div>
    <div class="gap-12 grid grid-cols-2 md:grid-cols-3 lg:grid-cols-5">
      <div class="mt-10 text-sm" aria-label="quick links">
        <div class="flex flex-col justify-start">
          <p class="text-black font-medium lg:text-xl text-lg">Landing Pages</p>
          <a
            class="text-base text-slate-500 hover:text-accent-500 mt-2"
            href="/index-one"
            >Landing Page One
          </a>
          <a
            class="text-base text-slate-500 hover:text-accent-500 mt-2"
            href="/index-two"
            >Landing Page two
          </a>
          <a
            class="text-base text-slate-500 hover:text-accent-500 mt-2"
            href="/index-three"
            >Landing Page three
          </a>
          <a
            class="text-base text-slate-500 hover:text-accent-500 mt-2"
            href="/about"
            >About
          </a>

          <p class="text-black font-medium lg:text-xl text-lg mt-12">Jobs</p>
          <a
            class="text-base text-slate-500 hover:text-accent-500 mt-2"
            href="/careers"
            >Open Postions
          </a>
          <a
            class="text-base text-slate-500 hover:text-accent-500 mt-2"
            href="/careers/details"
            >Postion
          </a>
          <p class="text-black font-medium lg:text-xl text-lg mt-12">
            Customers
          </p>
          <a
            class="text-base text-slate-500 hover:text-accent-500 mt-2"
            href="/customers"
            >Customers landing
          </a>
          <a
            class="text-base text-slate-500 hover:text-accent-500 mt-2"
            href="/case-study"
            >Case study
          </a>
        </div>
      </div>
      <div class="mt-10 text-sm" aria-label="quick links">
        <div class="flex flex-col justify-start">
          <p class="text-black font-medium lg:text-xl text-lg">Utility Pages</p>
          <a
            class="text-base text-slate-500 hover:text-accent-500 mt-2"
            href="/status"
            >Status
          </a>

          <a
            class="text-base text-slate-500 hover:text-accent-500 mt-2"
            href="/terms"
            >Terms Of use
          </a>

          <a
            class="text-base text-slate-500 hover:text-accent-500 mt-2"
            href="/privacy"
            >Privacy Policy
          </a>
          <a
            class="text-base text-slate-500 hover:text-accent-500 mt-2"
            href="/coming-soon"
            >Coming Soon
          </a>
          <a
            class="text-base text-slate-500 hover:text-accent-500 mt-2"
            href="/error404"
            >404
          </a>
          <p class="text-black font-medium lg:text-xl text-lg mt-12">
            Integrations
          </p>
          <a
            class="text-base text-slate-500 hover:text-accent-500 mt-2"
            href="/integrations"
            >Integrations home
          </a>
          <a
            class="text-base text-slate-500 hover:text-accent-500 mt-2"
            href="/integrations/details"
            >Integrations details
          </a>
          <p class="text-black font-medium lg:text-xl text-lg mt-12">
            System Pages
          </p>
          <a
            class="text-base text-slate-500 hover:text-accent-500 mt-2"
            href="/style-guide"
            >Style Guide
          </a>
        </div>
      </div>
      <div class="mt-10 text-sm" aria-label="quick links">
        <div class="flex flex-col justify-start">
          <p class="text-black font-medium lg:text-xl text-lg">Components</p>
          <a
            class="text-base text-slate-500 hover:text-accent-500 mt-2"
            href="/components/features"
            >All Features
          </a>

          <a
            class="text-base text-slate-500 hover:text-accent-500 mt-2"
            href="/components/testimonials"
            >All Testimonials
          </a>
          <a
            class="text-base text-slate-500 hover:text-accent-500 mt-2"
            href="/components/pricing"
            >All Pricing Tables
          </a>
          <p class="text-black font-medium lg:text-xl text-lg mt-12">Blog</p>
          <a
            class="text-base text-slate-500 hover:text-accent-500 mt-2"
            href="/blog"
            >Blog
          </a>
          <a
            class="text-base text-slate-500 hover:text-accent-500 mt-2"
            href="/blog/1"
            >Blog Post
          </a>
          <a
            class="text-base text-slate-500 hover:text-accent-500 mt-2"
            href="/blog/tag"
            >Tag Index
          </a>
          <a
            class="text-base text-slate-500 hover:text-accent-500 mt-2"
            href="/blog/tag/digital"
            >Tag Category
          </a>
          <a
            class="text-base text-slate-500 hover:text-accent-500 mt-2"
            href="/rss.xml"
            >RSS
          </a>
        </div>
      </div>

      <div class="mt-10 text-sm" aria-label="quick links">
        <div class="flex flex-col justify-start">
          <p class="text-black font-medium lg:text-xl text-lg">Forms</p>
          <a
            class="text-base text-slate-500 hover:text-accent-500 mt-2"
            href="/contact"
            >Contact
          </a>
          <a
            class="text-base text-slate-500 hover:text-accent-500 mt-2"
            href="/contact-two"
            >Contact two
          </a>
          <a
            class="text-base text-slate-500 hover:text-accent-500 mt-2"
            href="/submit"
            >Submit
          </a>
          <a
            class="text-base text-slate-500 hover:text-accent-500 mt-2"
            href="/login"
            >Login
          </a>
          <a
            class="text-base text-slate-500 hover:text-accent-500 mt-2"
            href="/signup"
            >Sign up
          </a>
          <a
            class="text-base text-slate-500 hover:text-accent-500 mt-2"
            href="/forgot"
            >Forgot Password
          </a>
          <a
            class="text-base text-slate-500 hover:text-accent-500 mt-2"
            href="/reset"
            >Reset Password
          </a>
          <p class="text-black font-medium lg:text-xl text-lg mt-12">
            Dashboard
          </p>
          <a
            class="text-base text-slate-500 hover:text-accent-500 mt-2"
            href="/general"
            >General
          </a>
          <a
            class="text-base text-slate-500 hover:text-accent-500 mt-2"
            href="/dashboard-teams"
            >Teams
          </a>
          <a
            class="text-base text-slate-500 hover:text-accent-500 mt-2"
            href="/conexions"
            >Conexions
          </a>
          <a
            class="text-base text-slate-500 hover:text-accent-500 mt-2"
            href="/billing"
            >Billing
          </a>

          <a
            class="text-base text-slate-500 hover:text-accent-500 mt-2"
            href="/invoices"
            >Invoices
          </a>
          <a
            class="text-base text-slate-500 hover:text-accent-500 mt-2"
            href="/tokens"
            >Tokens
          </a>
        </div>
      </div>

      <div class="mt-10 text-sm" aria-label="quick links">
        <div class="flex flex-col justify-start">
          <p class="text-black font-medium lg:text-xl text-lg">Support</p>
          <a
            class="text-base text-slate-500 hover:text-accent-500 mt-2"
            href="/help"
            >Help Center
          </a>
          <a
            class="text-base text-slate-500 hover:text-accent-500 mt-2"
            href="/help/single-topic"
            >Single Topic
          </a>
          <a
            class="text-base text-slate-500 hover:text-accent-500 mt-2"
            href="/help/article"
            >Article
          </a>
          <a
            class="text-base text-slate-500 hover:text-accent-500 mt-2"
            href="/video-article"
            >Video Article
          </a>
          <a
            class="text-base text-slate-500 hover:text-accent-500 mt-2"
            href="/course-library"
            >Course Library
          </a>
          <a
            class="text-base text-slate-500 hover:text-accent-500 mt-2"
            href="/lesson"
            >Lesson
          </a>
          <a
            class="text-base text-slate-500 hover:text-accent-500 mt-2"
            href="/updates"
            >Changelog home
          </a>
          <a
            class="text-base text-slate-500 hover:text-accent-500 mt-2"
            href="/updates/details"
            >Changelog details
          </a>
        </div>
      </div>
    </div>
  </div>
</section>
