<div class="flex min-h-screen bg-white border-b">
  <div
    class="flex flex-col justify-center flex-1 px-8 py-8 md:px-12 lg:flex-none lg:px-24">
    <div class="w-full mx-auto lg:max-w-6xl">
      <div class="max-w-xl text-center lg:text-left lg:pl-16">
        <div>
          <p class="text-4xl lg:text-5xl font-extrabold text-black">
            GitHub uses Semplice to bridge the design-development gap
          </p>
          <p class="text-base text-slate-500 max-w-xl mx-auto mt-4 lg:text-xl">
            With decentralization, users have more control over their data and
            transactions, and the platform is less susceptible to malicious
            attacks.
          </p>
        </div>
        <dl class="grid grid-cols-1 mt-12 gap-x-8 gap-y-16 lg:grid-cols-2">
          <div class="flex flex-col gap-y-4">
            <dt class="text-base leading-7 text-slate-500">Ethical hackers</dt>
            <dd
              class="order-first text-3xl font-semibold tracking-tight text-accent-500 sm:text-5xl lg:text-6xl">
              100+
            </dd>
          </div>

          <div class="flex flex-col gap-y-4">
            <dt class="text-base leading-7 text-slate-500">
              Different competitors evaluated
            </dt>
            <dd
              class="order-first text-3xl font-semibold tracking-tight text-accent-500 sm:text-5xl lg:text-6xl">
              20
            </dd>
          </div>
        </dl>
      </div>
    </div>
  </div>
  <div class="relative flex-1 hidden w-0 lg:block lg:border-l shadow-normal">
    <div>
      <img
        class="absolute inset-0 object-cover object-left w-full h-full bg-neutral-200"
        src="https://github.githubassets.com/images/modules/site/social-cards/copilot-ga.png"
        alt=""
      />
    </div>
  </div>
</div>
<section>
  <div
    class="w-full px-8 py-12 mx-auto md:px-12 lg:px-24 max-w-7xl lg:py-32 space-y-24">
    <div class="pb-12 border-b">
      <p class="text-base text-black mx-auto mt-4 lg:text-6xl">
        "A team in charge of software evaluation spent around four to five
        months assessing eight different prototyping products, and out of all of
        them, only Semplice fulfilled all of our requirements"
      </p>
      <div class="flex items-center mt-12">
        <div>
          <img
            class="inline-block h-9 w-9 lg:h-20 lg:w-20 rounded-full object-cover"
            src="https://hips.hearstapps.com/hmg-prod/images/hart-gettyimages-1062194608mod-1544461779.jpg"
            alt=""
          />
        </div>
        <div class="ml-3">
          <p class="text-black font-medium text-lg lg:text-xl">Kevin Hart</p>
          <p class="text-xs font-medium text-slate-500 lg:text-xl">
            Design Systems at GitHub
          </p>
        </div>
      </div>
    </div>

    <div class="max-w-3xl mx-auto">
      <div class="mt-12">
        <nav aria-label="Progress">
          <ol role="list" class="overflow-hidden">
            <li class="relative pb-10">
              <!-- Complete Step -->
              <div class="relative flex items-start">
                <span class="flex h-9 items-center" aria-hidden="true">
                  <span
                    class="relative z-10 flex h-8 w-8 text-accent-500 items-center justify-center rounded-full border-2 border-slate-400 bg-white">
                    A
                  </span>
                </span>
                <span class="ml-4 flex min-w-0 flex-col">
                  <span class="text-black font-medium lg:text-xl text-lg"
                    >Problem</span
                  >
                  <span class="text-slate-500 mt-2 text-base"
                    >GitHub' technology stack was scattered across disparate
                    solutions. In order to digitally transform, it needed to
                    accelerate software delivery and collaboration by increasing
                    innersource and open source use across the company.</span
                  >
                </span>
              </div>
            </li>

            <li class="relative pb-10">
              <!-- Current Step -->
              <div class="goup relative flex items-start" aria-current="step">
                <span class="flex h-9 items-center" aria-hidden="true">
                  <span
                    class="relative z-10 flex h-8 w-8 text-accent-500 items-center justify-center rounded-full border-2 border-slate-400 bg-white">
                    B
                  </span>
                </span>
                <span class="ml-4 flex min-w-0 flex-col">
                  <span class="text-black font-medium lg:text-xl text-lg"
                    >Solution</span
                  >
                  <span class="text-slate-500 mt-2 text-base"
                    >By standardizing its source code, automating onboarding,
                    and helping remediate vulnerabilities all on GitHub, this
                    integrated manner of delivering software helps GitHub
                    continue to deliver automotive engineering excellence.
                  </span>
                </span>
              </div>
            </li>

            <li class="relative pb-10">
              <!-- Current Step -->
              <div class="goup relative flex items-start" aria-current="step">
                <span class="flex h-9 items-center" aria-hidden="true">
                  <span
                    class="relative z-10 flex h-8 w-8 text-accent-500 items-center justify-center rounded-full border-2 border-slate-400 bg-white">
                    C
                  </span>
                </span>
                <span class="ml-4 flex min-w-0 flex-col">
                  <span class="text-black font-medium lg:text-xl text-lg"
                    >Products</span
                  >
                  <span class="mt-2"
                    ><a
                      href="#"
                      class="hover:text-slate-500 text-accent-500 text-base"
                      >Github Copilot.</a
                    >
                  </span>
                </span>
              </div>
            </li>
          </ol>
        </nav>
      </div>
    </div>
    <div
      class="prose max-w-3xl mx-auto prose-blockquote:border-l-black prose-a:text-accent-500 hover:prose-a:text-black prose-headings:font-bold prose-headings:text-black prose-li:marker:text-accent-500 text-slate-500 prose-code:text-black prose-blockquote:text-slate-500">
      <p>
        Although it may be tempting to view a modern GitHub as simply a
        luxurious mobile entertainment system with multiple screens, that would
        not fully capture the advanced technology that it possesses. The GitHub
        EQS, for instance, features the MBUX (GitHub User Experience)
        Hyperscreen, a curved screen band that seamlessly integrates multiple
        displays and spans an impressive 141 cm wide. Supporting this user
        interface are 8 CPU cores, 24 GB of RAM, and 46.4 GB per second of RAM
        memory bandwidth, all of which work together to create an unparalleled
        user experience. This processing power also enables the monitoring of up
        to 350 sensors that control various features of the EQS, including
        infotainment systems, facial recognition, and speech processing.
        Additionally, the "Hey Mercedes" feature supports Natural Language
        Understanding (NLU) in 27 languages, and with millions of lines of code,
        GitHub is not only a high-end automotive manufacturer but also a
        cutting-edge technology company.
      </p>
      <blockquote class="my-12">
        “We are digitally transforming as a company,” explains GitHub lead
        architect Andy Krieger. “We want to be a software-driven car
        manufacturer, and GitHub helps us on our way forward.”
      </blockquote>
      <p>
        Like many companies going through a digital transformation, however,
        GitHub originally found itself with a technology stack scattered across
        disparate solutions. As part of its digital transformation strategy,
        they wanted to accelerate software delivery and collaboration through
        leveraging innersource and open source. However, the IT department was
        managing source code with multiple tools. They quickly realized that, in
        order to successfully implement the strategy, they needed a unified
        platform. So GitHub chose GitHub for enterprise IT, because many of its
        developers were already familiar with GitHub.
      </p>
    </div>
  </div>
</section>
<section class="relative border-t border-white/5 overflow-hidden">
  <div
    class="items-center w-full px-8 py-12 mx-auto md:px-12 lg:px-24 max-w-7xl lg:py-24">
    <div class="relative items-center">
      <div class="w-full lg:inline-flex justify-between lg:items-center">
        <div class="max-w-xl">
          <span
            class="font-semibold text-accent-500 text-sm tracking-widest uppercase"
            >Stories</span
          >
          <p class="text-4xl mt-8 font-extrabold tracking-tight text-black">
            Read more customer stories
          </p>
        </div><div class="mt-12 flex flex-col sm:flex-row lg:ml-auto">
          <a
            class="items-center text-white focus:outline-none inline-flex justify-center hover:text-accent-500 duration-200 focus-visible:outline-black focus-visible:ring-black font-medium lg:w-auto px-6 py-3 rounded-xl text-center w-full bg-accent-500 hover:bg-accent-100"
            href="/customers">Read more &nbsp;&nbsp; →</a
          >
        </div>
      </div>
    </div>
  </div>
</section>
