<section>
  <div
    class="px-8 py-12 mx-auto md:px-12 lg:px-32 max-w-7xl lg:py-24 space-y-24">
    <div
      class="list-none grid grid-cols-1 lg:grid-cols-2 gap-4 items-center lg:gap-24">
      <div>
        <div>
          <img class="h-8" src="/assets/logos/basecamp.svg" alt=" logo" />
        </div>
        <p class="text-gray-500 mt-12 text-sm">
          "Our engineering team was spending far too much time on trivial
          changes to static marketing pages, which slowed down our sprints and
          meant more code to manage. We wanted a CMS that would improve site
          speed and reduce the need for engineering time — which pushed us to
          consider a no-code approach. "
        </p>
        <div class="flex max-w-lg mt-10">
          <a
            class="text-accent-600 text-sm bg-white border border-gray-300 flex font-semibold hover:text-accent-500 items-center justify-center px-4 py-2 rounded-lg transition-all h-10"
            href="/case-study">
            Read Basecamp story &nbsp;&nbsp; &rarr;</a
          >
        </div>
      </div>
      <div class="h-full lg:mt-0 mt-12">
        <img
          alt="thumbnail"
          class="w-full rounded-2xl h-full object-cover"
          src="https://images.unsplash.com/photo-1522202176988-66273c2fd55f?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2071&q=80"
        />
      </div>
    </div>

    <ol
      role="list"
      class="-mx-3 grid grid-cols-1 gap-y-10 py-12 lg:grid-cols-3 lg:text-center xl:-mx-12 xl:divide-x xl:divide-gray-400/20">
      <li
        class="grid auto-rows-min grid-cols-1 items-center gap-8 px-3 sm:grid-cols-2 sm:gap-y-10 lg:grid-cols-1 xl:px-12">
        <div class="relative mx-auto">
          <img
            alt="thumbnail"
            class="w-fullh-20"
            src="/assets/logos/twich.svg"
          />
        </div>
        <div>
          <p class="text-gray-500 mt-2 text-sm">
            Trade cryptocurrencies and tokens on a decentralized exchange for
            added security and anonymity.
          </p>
          <p class="mt-10">
            <a
              class="text-accent-600 text-sm bg-white border border-gray-300 flex font-semibold hover:text-accent-500 items-center justify-center px-4 py-2 rounded-lg transition-all h-10"
              href="/case-study">
              Read Twich's story &nbsp;&nbsp; &rarr;</a
            >
          </p>
        </div>
      </li>
      <li
        class="grid auto-rows-min grid-cols-1 items-center gap-8 px-3 sm:grid-cols-2 sm:gap-y-10 lg:grid-cols-1 xl:px-12">
        <div class="relative mx-auto">
          <img
            alt="thumbnail"
            class="w-fullh-20"
            src="/assets/logos/notion.svg"
          />
        </div>
        <div>
          <p class="text-gray-500 mt-2 text-sm">
            Trade cryptocurrencies and tokens on a decentralized exchange for
            added security and anonymity.
          </p>
          <p class="mt-10">
            <a
              class="text-accent-600 text-sm bg-white border border-gray-300 flex font-semibold hover:text-accent-500 items-center justify-center px-4 py-2 rounded-lg transition-all h-10"
              href="/case-study">
              Read Notions's story &nbsp;&nbsp; &rarr;</a
            >
          </p>
        </div>
      </li>
      <li
        class="grid auto-rows-min grid-cols-1 items-center gap-8 px-3 sm:grid-cols-2 sm:gap-y-10 lg:grid-cols-1 xl:px-12">
        <div class="relative mx-auto">
          <img
            alt="thumbnail"
            class="w-fullh-20"
            src="/assets/logos/dribbble.svg"
          />
        </div>
        <div>
          <p class="text-gray-500 mt-2 text-sm">
            Trade cryptocurrencies and tokens on a decentralized exchange for
            added security and anonymity.
          </p>
          <p class="mt-10">
            <a
              class="text-accent-600 text-sm bg-white border border-gray-300 flex font-semibold hover:text-accent-500 items-center justify-center px-4 py-2 rounded-lg transition-all h-10"
              href="/case-study">
              Read Dribbble's story &nbsp;&nbsp; &rarr;</a
            >
          </p>
        </div>
      </li>
    </ol>
    <div
      class="list-none grid grid-cols-1 lg:grid-cols-2 gap-4 items-center lg:gap-24">
      <div>
        <div>
          <img class="h-8" src="/assets/logos/github.svg" alt=" logo" />
        </div>
        <p class="text-gray-500 mt-12 text-sm">
          "Our engineering team was dedicating excessive time and effort to make
          minor modifications to unchanging marketing pages, leading to slower
          progress and an increased burden of code maintenance. In order to
          streamline development and reduce the need for engineering resources,
          we sought a CMS solution that could enhance website performance and
          eliminate the need for coding expertise. This ultimately led us to
          explore the possibility of utilizing a no-code approach."
        </p>
        <div class="flex max-w-lg mt-10">
          <a
            class="text-accent-600 text-sm bg-white border border-gray-300 flex font-semibold hover:text-accent-500 items-center justify-center px-4 py-2 rounded-lg transition-all h-10"
            href="/case-study">
            Read Github story &nbsp;&nbsp; &rarr;</a
          >
        </div>
      </div>
      <div class="h-full lg:mt-0 mt-12 lg:order-first">
        <img
          alt="thumbnail"
          class="w-full rounded-2xl h-full object-cover"
          src="https://images.unsplash.com/photo-1504593811423-6dd665756598?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2070&q=80"
        />
      </div>
    </div>
  </div>
</section>
