<section id="pricing-two" aria-labelledby="pricing-Two">

    <div class="px-8 py-12 mx-auto sm:px-6 md:max-w-2xl md:px-4 lg:max-w-6xl lg:px-20 ">
        <p class="text-3xl font-medium tracking-tight text-black lg:text-5xl ">
            Not into subscriptions?
        </p>
        <p class="mt-4 text-lg lg:text-2xl text-slate-500">
            Here you will find fixed price solutions.
        </p>

        <div class="flex mt-12 l">
            <div class="w-full space-y-4 sm:space-y-0 sm:grid">
                <div class="h-full bg-blue-500 rounded-md lg:p-5">
                    <div class="grid grid-cols-1 lg:grid-cols-2">
                        <div class="relative grid items-start justify-center w-full grid-cols-1 p-8">
                            <div class="w-full">
                                <div class="justify-between w-full space-y-3">
                                    <h3 class="text-lg text-white lg:text-2xl">
                                        One week sprint
                                    </h3>
                                    <span class="ml-auto text-lg text-white lg:text-2xl">$499 <del
                                            class="opacity-70">$999</del> <br>
                                    </span>
                                </div>
                                <div>
                                    <p class="mt-8 text-base text-white">
                                        50% off for the 3 first clients!
                                    </p>
                                </div>
                                <p class="text-base text-white">
                                    A one off, perfect for quick launches, and simple landing
                                    pages.
                                </p>
                            </div>
                            <div class="mt-8">
                                <a aria-label="Monthly tier"
                                    class="inline-flex items-center justify-center w-full px-12 py-4 text-center text-black transition duration-500 ease-in-out transform bg-white border-2 border-white rounded-md hover:text-white focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-white   hover:border-white"
                                    href="/submit">
                                    Get started
                                </a>
                            </div>
                        </div>
                        <div>
                            <div class="p-8">
                                <h3 class="text-lg font-medium text-white lg:text-2xl">
                                    What's included
                                </h3>
                                <div class="grid grid-cols-1 lg:grid-cols-2">
                                    <ul role="list" class="mt-6 space-y-4">
                                        <li class="flex space-x-3">
                                            <span class="text-sm text-white before:content-['•']">&nbsp; Design</span>
                                        </li>
                                        <li class="flex space-x-3">
                                            <span class="text-sm text-white before:content-['•']">&nbsp;
                                                Development</span>
                                        </li>
                                        <li class="flex space-x-3">
                                            <span class="text-sm text-white before:content-['•']">&nbsp; Unlimited
                                                Requests</span>
                                        </li>
                                        <li class="flex space-x-3">
                                            <span class="text-sm text-white before:content-['•']">&nbsp; Unlimited
                                                Revisions.</span>
                                        </li>
                                    </ul>
                                    <ul role="list" class="mt-4 space-y-4 lg:mt-6">
                                        <li class="flex space-x-3">
                                            <span class="text-sm text-white before:content-['•']">&nbsp; Slack
                                                Communication</span>
                                        </li>
                                        <li class="flex space-x-3">
                                            <span class="text-sm text-white before:content-['•']">&nbsp; Unlimited team
                                                members</span>
                                        </li>
                                        <li class="flex space-x-3">
                                            <span class="text-sm text-white before:content-['•']">&nbsp; One week
                                                sprint</span>
                                        </li>
                                        <li class="flex space-x-3">
                                            <span class="text-sm text-white before:content-['•']">&nbsp; Growth
                                                oriented</span>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>