<section
  id="pricing"
  aria-labelledby="pricing-one"
  class="relative overflow-hidden border-b">
  <div
    class="items-center w-full px-8 py-12 mx-auto md:px-12 lg:px-24 max-w-7xl lg:pt-36 lg:pb-0 relative">
    <div class="max-w-3xl lg:mx-auto lg:text-center">
      <div>
        <span
          class="bg-accent-50/50 border border-white/50 backdrop-blur-2xl rounded-full py-2 px-4 w-auto">
          <span class="text-sm text-accent-500"> Pricing 1</span>
        </span>
        <p
          class="text-4xl mt-8 lg:text-6xl font-extrabold text-black font-display">
          Equip your business with world class software
        </p>
        <p class="text-base text-ccent-700 max-w-xl mt-8 lg:mx-auto">
          Every plan includes every feature, and can scale as your team does.
        </p>
      </div>
    </div>
    <div class="mt-12 overflow-hidden pt-12">
      <div class="relative grid gap-3 lg:grid-cols-3">
        <div
          class="relative p-10 bg-white border border-b-0 shadow-normal rounded-3xl lg:rounded-b-none">
          <div class="relative flex-col flex">
            <div class="inline-flex items-center justify-between w-full">
              <h3
                class="text-lg text-black lg:text-2xl font-medium font-display">
                Monthly
              </h3>
              <span class="text-lg text-black lg:text-2xl">$1,999/m</span>
            </div>
            <p class="mt-2 text-base text-slate-500">
              50% off for the 3 first clients!
            </p>
            <div class="mt-8 w-full">
              <a
                aria-label="Monthly tier"
                class="inline-flex items-center justify-center w-full px-6 py-3 text-center text-accent-600 duration-200 bg-slate-50 font-medium rounded-xl text-base focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-accent-500 ring-offset-2 hover:bg-slate-100"
                href="#">Get started</a
              >
            </div>
            <div class="mt-8">
              <ul
                class="text-sm flex flex-col gap-y-3 order-last text-slate-500"
                role="list">
                <li class="flex items-start">
                  <svg
                    class="h-6 w-6 opacity-70"
                    fill="none"
                    viewBox="0 0 24 24"
                    xmlns="http://www.w3.org/2000/svg"
                    stroke="currentColor"
                    stroke-width="1.5"
                    ><path
                      d="M9 12.75L11.25 15 15 9.75M21 12a9 9 0 11-18 0 9 9 0 0118 0z"
                      stroke-linecap="round"
                      stroke-linejoin="round"></path></svg
                  >
                  <span class="ml-4">Limited number of users (up to 5)</span>
                </li><li class="flex items-start">
                  <svg
                    class="h-6 w-6 opacity-70"
                    fill="none"
                    viewBox="0 0 24 24"
                    xmlns="http://www.w3.org/2000/svg"
                    stroke="currentColor"
                    stroke-width="1.5"
                    ><path
                      d="M9 12.75L11.25 15 15 9.75M21 12a9 9 0 11-18 0 9 9 0 0118 0z"
                      stroke-linecap="round"
                      stroke-linejoin="round"></path></svg
                  >
                  <span class="ml-4">Limited storage (1 GB)</span>
                </li><li class="flex items-start">
                  <svg
                    class="h-6 w-6 opacity-70"
                    fill="none"
                    viewBox="0 0 24 24"
                    xmlns="http://www.w3.org/2000/svg"
                    stroke="currentColor"
                    stroke-width="1.5"
                    ><path
                      d="M9 12.75L11.25 15 15 9.75M21 12a9 9 0 11-18 0 9 9 0 0118 0z"
                      stroke-linecap="round"
                      stroke-linejoin="round"></path></svg
                  >
                  <span class="ml-4">Basic support (email only)</span>
                </li><li class="flex items-start">
                  <svg
                    class="h-6 w-6 opacity-70"
                    fill="none"
                    viewBox="0 0 24 24"
                    xmlns="http://www.w3.org/2000/svg"
                    stroke="currentColor"
                    stroke-width="1.5"
                    ><path
                      d="M9 12.75L11.25 15 15 9.75M21 12a9 9 0 11-18 0 9 9 0 0118 0z"
                      stroke-linecap="round"
                      stroke-linejoin="round"></path></svg
                  >
                  <span class="ml-4">Basic analytics</span>
                </li><li class="flex items-start">
                  <svg
                    class="h-6 w-6 opacity-70"
                    fill="none"
                    viewBox="0 0 24 24"
                    xmlns="http://www.w3.org/2000/svg"
                    stroke="currentColor"
                    stroke-width="1.5"
                    ><path
                      d="M9 12.75L11.25 15 15 9.75M21 12a9 9 0 11-18 0 9 9 0 0118 0z"
                      stroke-linecap="round"
                      stroke-linejoin="round"></path></svg
                  >
                  <span class="ml-4">Limited integrations</span>
                </li>
              </ul>
            </div>
          </div>
        </div>
        <div
          class="relative p-10 overflow-hidden bg-gradient-to-tr from-accent-600 via-accent-500 to-accent-400 rounded-3xl lg:rounded-b-none">
          <div class="relative flex flex-col">
            <div class="inline-flex items-center justify-between w-full">
              <h3
                class="text-lg text-white lg:text-2xl font-medium font-display">
                Quarterly
              </h3>
              <span class="text-lg text-white lg:text-2xl">$1,699/m</span>
            </div>
            <p class="mt-2 text-base text-white">Save $300 per month.</p>
            <div class="mt-8 w-full">
              <a
                aria-label="Monthly tier"
                class="inline-flex items-center justify-center w-full px-6 py-3 text-center text-accent-600 duration-200 bg-accent-100 font-medium rounded-xl text-base focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-white ring-offset-2 hover:bg-accent-50"
                href="#">Get started</a
              >
            </div>
            <div class="mt-8">
              <ul
                class="text-sm flex flex-col gap-y-3 order-last text-white"
                role="list">
                <li class="flex items-start">
                  <svg
                    class="h-6 w-6 opacity-70"
                    fill="none"
                    viewBox="0 0 24 24"
                    xmlns="http://www.w3.org/2000/svg"
                    stroke="currentColor"
                    stroke-width="1.5"
                    ><path
                      d="M9 12.75L11.25 15 15 9.75M21 12a9 9 0 11-18 0 9 9 0 0118 0z"
                      stroke-linecap="round"
                      stroke-linejoin="round"></path></svg
                  >
                  <span class="ml-4">Unlimited number of users</span>
                </li><li class="flex items-start">
                  <svg
                    class="h-6 w-6 opacity-70"
                    fill="none"
                    viewBox="0 0 24 24"
                    xmlns="http://www.w3.org/2000/svg"
                    stroke="currentColor"
                    stroke-width="1.5"
                    ><path
                      d="M9 12.75L11.25 15 15 9.75M21 12a9 9 0 11-18 0 9 9 0 0118 0z"
                      stroke-linecap="round"
                      stroke-linejoin="round"></path></svg
                  >
                  <span class="ml-4">Unlimited storage</span>
                </li><li class="flex items-start">
                  <svg
                    class="h-6 w-6 opacity-70"
                    fill="none"
                    viewBox="0 0 24 24"
                    xmlns="http://www.w3.org/2000/svg"
                    stroke="currentColor"
                    stroke-width="1.5"
                    ><path
                      d="M9 12.75L11.25 15 15 9.75M21 12a9 9 0 11-18 0 9 9 0 0118 0z"
                      stroke-linecap="round"
                      stroke-linejoin="round"></path></svg
                  >
                  <span class="ml-4">Advanced support (email and phone)</span>
                </li><li class="flex items-start">
                  <svg
                    class="h-6 w-6 opacity-70"
                    fill="none"
                    viewBox="0 0 24 24"
                    xmlns="http://www.w3.org/2000/svg"
                    stroke="currentColor"
                    stroke-width="1.5"
                    ><path
                      d="M9 12.75L11.25 15 15 9.75M21 12a9 9 0 11-18 0 9 9 0 0118 0z"
                      stroke-linecap="round"
                      stroke-linejoin="round"></path></svg
                  >
                  <span class="ml-4">Advanced analytics</span>
                </li><li class="flex items-start">
                  <svg
                    class="h-6 w-6 opacity-70"
                    fill="none"
                    viewBox="0 0 24 24"
                    xmlns="http://www.w3.org/2000/svg"
                    stroke="currentColor"
                    stroke-width="1.5"
                    ><path
                      d="M9 12.75L11.25 15 15 9.75M21 12a9 9 0 11-18 0 9 9 0 0118 0z"
                      stroke-linecap="round"
                      stroke-linejoin="round"></path></svg
                  >
                  <span class="ml-4">Multiple integrations</span>
                </li><li class="flex items-start">
                  <svg
                    class="h-6 w-6 opacity-70"
                    fill="none"
                    viewBox="0 0 24 24"
                    xmlns="http://www.w3.org/2000/svg"
                    stroke="currentColor"
                    stroke-width="1.5"
                    ><path
                      d="M9 12.75L11.25 15 15 9.75M21 12a9 9 0 11-18 0 9 9 0 0118 0z"
                      stroke-linecap="round"
                      stroke-linejoin="round"></path></svg
                  >
                  <span class="ml-4">Advanced customization options</span>
                </li><li class="flex items-start">
                  <svg
                    class="h-6 w-6 opacity-70"
                    fill="none"
                    viewBox="0 0 24 24"
                    xmlns="http://www.w3.org/2000/svg"
                    stroke="currentColor"
                    stroke-width="1.5"
                    ><path
                      d="M9 12.75L11.25 15 15 9.75M21 12a9 9 0 11-18 0 9 9 0 0118 0z"
                      stroke-linecap="round"
                      stroke-linejoin="round"></path></svg
                  >
                  <span class="ml-4">99.9% SLA</span>
                </li>
              </ul>
            </div>
          </div>
        </div>
        <div
          class="relative p-10 bg-white border border-b-0 shadow-normal rounded-3xl lg:rounded-b-none">
          <div class="relative flex flex-col">
            <div class="inline-flex items-center justify-between w-full">
              <h3
                class="text-lg text-black lg:text-2xl font-medium font-display">
                Yearly
              </h3>
              <span class="text-lg text-black lg:text-2xl">$1,399/m</span>
            </div>
            <p class="mt-2 text-base text-slate-500">Save $600 per month.</p>

            <div class="mt-8 w-full">
              <a
                aria-label="Monthly tier"
                class="inline-flex items-center justify-center w-full px-6 py-3 text-center text-accent-600 duration-200 bg-slate-50 font-medium rounded-xl text-base focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-accent-500 ring-offset-2 hover:bg-slate-100"
                href="#">Get started</a
              >
            </div>
            <div class="mt-8">
              <ul
                class="text-sm flex flex-col gap-y-3 order-last text-slate-500"
                role="list">
                <li class="flex items-start">
                  <svg
                    class="h-6 w-6 opacity-70"
                    fill="none"
                    viewBox="0 0 24 24"
                    xmlns="http://www.w3.org/2000/svg"
                    stroke="currentColor"
                    stroke-width="1.5"
                    ><path
                      d="M9 12.75L11.25 15 15 9.75M21 12a9 9 0 11-18 0 9 9 0 0118 0z"
                      stroke-linecap="round"
                      stroke-linejoin="round"></path></svg
                  >
                  <span class="ml-4">Customizable number of users</span>
                </li><li class="flex items-start">
                  <svg
                    class="h-6 w-6 opacity-70"
                    fill="none"
                    viewBox="0 0 24 24"
                    xmlns="http://www.w3.org/2000/svg"
                    stroke="currentColor"
                    stroke-width="1.5"
                    ><path
                      d="M9 12.75L11.25 15 15 9.75M21 12a9 9 0 11-18 0 9 9 0 0118 0z"
                      stroke-linecap="round"
                      stroke-linejoin="round"></path></svg
                  >
                  <span class="ml-4">Customizable storage</span>
                </li><li class="flex items-start">
                  <svg
                    class="h-6 w-6 opacity-70"
                    fill="none"
                    viewBox="0 0 24 24"
                    xmlns="http://www.w3.org/2000/svg"
                    stroke="currentColor"
                    stroke-width="1.5"
                    ><path
                      d="M9 12.75L11.25 15 15 9.75M21 12a9 9 0 11-18 0 9 9 0 0118 0z"
                      stroke-linecap="round"
                      stroke-linejoin="round"></path></svg
                  >
                  <span class="ml-4">Priority support (24/7)</span>
                </li><li class="flex items-start">
                  <svg
                    class="h-6 w-6 opacity-70"
                    fill="none"
                    viewBox="0 0 24 24"
                    xmlns="http://www.w3.org/2000/svg"
                    stroke="currentColor"
                    stroke-width="1.5"
                    ><path
                      d="M9 12.75L11.25 15 15 9.75M21 12a9 9 0 11-18 0 9 9 0 0118 0z"
                      stroke-linecap="round"
                      stroke-linejoin="round"></path></svg
                  >
                  <span class="ml-4">Enterprise-level analytics</span>
                </li><li class="flex items-start">
                  <svg
                    class="h-6 w-6 opacity-70"
                    fill="none"
                    viewBox="0 0 24 24"
                    xmlns="http://www.w3.org/2000/svg"
                    stroke="currentColor"
                    stroke-width="1.5"
                    ><path
                      d="M9 12.75L11.25 15 15 9.75M21 12a9 9 0 11-18 0 9 9 0 0118 0z"
                      stroke-linecap="round"
                      stroke-linejoin="round"></path></svg
                  >
                  <span class="ml-4">Custom integrations</span>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
