<section
  class="relative overflow-hidden"
  aria-labelledby="pricing-five"
  id="pricing-five">
  <div class="relative mx-auto max-w-7xl md:px-12 lg:px-32 px-8 py-12 lg:py-24">
    <div class="max-w-3xl lg:mx-auto lg:text-center">
      <div>
        <span class="bg-accent-500/10 rounded-full py-1 px-4 w-auto">
          <span class="text-xs text-accent-500 uppercase font-semibold">
            pricing 5</span
          >
        </span>
        <p class="text-4xl mt-8 lg:text-6xl font-extrabold text-black">
          Equip your business with world class software
        </p>
        <p class="text-base text-slate-500 max-w-xl mt-8 lg:mx-auto">
          Every plan includes every feature, and can scale as your team does.
        </p>
      </div>
    </div>
  </div>
  <div class="lg:pb-32 pb-24">
    <!--- phoen goes here -->
    <div class="block lg:hidden">
      <div class="mx-auto mt-8 max-w-md">
        <div
          class="mx-auto mb-8 flex max-w-md flex-col rounded-2xl p-8 text-slate-100 shadow-normal">
          <div class="text-lg font-medium leading-6 text-black">
            Starter <span
              class="float-right inline-flex items-center rounded-md border bg-white px-3 py-0.5 text-sm font-medium text-slate-100"
              >-20%</span
            >
          </div>
          <div class="mb-2 mt-4 pr-2 text-sm font-normal text-slate-700">
            Hobby-20% For individuals
          </div>
          <div>
            <div class="mb-6 mt-4 flex">
              <div class="flex-shrink-0 text-6xl font-bold text-slate-100">
                $16
              </div>
              <div class="ml-2 mt-auto text-sm font-normal text-slate-100">
                per user<br />per month
              </div>
            </div>
          </div>
          <div class="mt-4"></div>
          <li class="flex py-2 text-sm text-slate-700">
            <svg
              class="h-5 w-5 flex-shrink-0 text-accent-500"
              fill="currentColor"
              viewBox="0 0 20 20"
              xmlns="http://www.w3.org/2000/svg"
              aria-hidden="true"
              ><path
                d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z"
                clip-rule="evenodd"
                fill-rule="evenodd"></path></svg
            >
            <span class="ml-3 font-normal">3 <a href="#">Analytics</a></span>
          </li>
          <li class="flex py-2 text-sm text-slate-700">
            <svg
              class="h-5 w-5 flex-shrink-0 text-accent-500"
              fill="currentColor"
              viewBox="0 0 20 20"
              xmlns="http://www.w3.org/2000/svg"
              aria-hidden="true"
              ><path
                d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z"
                clip-rule="evenodd"
                fill-rule="evenodd"></path></svg
            >
            <span class="ml-3 font-normal">5 <a href="#">Accounts</a></span>
          </li>
          <li class="flex py-2 text-sm text-slate-700">
            <svg
              class="h-5 w-5 flex-shrink-0 text-accent-500"
              fill="currentColor"
              viewBox="0 0 20 20"
              xmlns="http://www.w3.org/2000/svg"
              aria-hidden="true"
              ><path
                d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z"
                clip-rule="evenodd"
                fill-rule="evenodd"></path></svg
            >
            <span class="ml-3 font-normal">2 <a href="#">Integrations</a></span>
          </li>
          <li class="flex py-2 text-sm text-slate-700">
            <svg
              class="h-5 w-5 flex-shrink-0 text-accent-500"
              fill="currentColor"
              viewBox="0 0 20 20"
              xmlns="http://www.w3.org/2000/svg"
              aria-hidden="true"
              ><path
                d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z"
                clip-rule="evenodd"
                fill-rule="evenodd"></path></svg
            >
            <span class="ml-3 font-normal">- <a href="#">Programs</a></span>
          </li>
          <table class="w-full">
            <caption class="py-3 text-left text-sm font-normal text-slate-700">
              Product features
            </caption>
            <thead>
              <tr>
                <th class="sr-only" scope="col">Feature</th>
                <th class="sr-only" scope="col">Included</th>
              </tr>
            </thead>
            <tbody class="divide-y divide-slate-800"></tbody>
          </table>
          <li class="flex py-2 text-sm text-slate-700">
            <svg
              class="h-5 w-5 flex-shrink-0 text-accent-500"
              fill="currentColor"
              viewBox="0 0 20 20"
              xmlns="http://www.w3.org/2000/svg"
              aria-hidden="true"
              ><path
                d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z"
                clip-rule="evenodd"
                fill-rule="evenodd"></path></svg
            >
            <span class="ml-3 font-normal">Slack community</span>
          </li>
          <li class="flex py-2 text-sm text-slate-700">
            <svg
              class="h-5 w-5 flex-shrink-0 text-accent-500"
              fill="currentColor"
              xmlns="http://www.w3.org/2000/svg"
              aria-hidden="true"
              ><path
                d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z"
                clip-rule="evenodd"
                fill-rule="evenodd"></path></svg
            >
            <span class="ml-3 font-normal">Response SLA: 3 days</span>
          </li>
          <table class="w-full">
            <caption class="py-3 text-left text-sm font-normal text-slate-700">
              Support and implementation
            </caption>
            <thead>
              <tr>
                <th class="sr-only" scope="col">Feature</th>
                <th class="sr-only" scope="col">Included</th>
              </tr>
            </thead>
            <tbody class="divide-y divide-slate-800"></tbody>
          </table>
          <li class="flex py-2 text-sm text-slate-700">
            <svg
              class="h-5 w-5 flex-shrink-0 text-accent-500"
              fill="currentColor"
              viewBox="0 0 20 20"
              xmlns="http://www.w3.org/2000/svg"
              aria-hidden="true"
              ><path
                d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z"
                clip-rule="evenodd"
                fill-rule="evenodd"></path></svg
            >
            <span class="ml-3 font-normal"
              >Unlimited <a
                href="https://help.Deployments.io/en/articles/5996599-what-is-a-user-in-Deployments-io#h_9a37c5759a"
                >Viewers</a
              ></span
            >
          </li>
          <li class="flex py-2 text-sm text-slate-700">
            <svg
              class="h-5 w-5 flex-shrink-0 text-accent-500"
              fill="currentColor"
              viewBox="0 0 20 20"
              xmlns="http://www.w3.org/2000/svg"
              aria-hidden="true"
              ><path
                d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z"
                clip-rule="evenodd"
                fill-rule="evenodd"></path></svg
            >
            <span class="ml-3 font-normal">Minimum term: Month-to-month</span>
          </li>
          <li class="flex py-2 text-sm text-slate-700">
            <svg
              class="h-5 w-5 flex-shrink-0 text-accent-500"
              fill="currentColor"
              viewBox="0 0 20 20"
              xmlns="http://www.w3.org/2000/svg"
              aria-hidden="true"
              ><path
                d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z"
                clip-rule="evenodd"
                fill-rule="evenodd"></path></svg
            >
            <span class="ml-3 font-normal">Pay monthly</span>
          </li>
          <li class="flex py-2 text-sm text-slate-700">
            <svg
              class="h-5 w-5 flex-shrink-0 text-accent-500"
              fill="currentColor"
              viewBox="0 0 20 20"
              xmlns="http://www.w3.org/2000/svg"
              aria-hidden="true"
              ><path
                d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z"
                clip-rule="evenodd"
                fill-rule="evenodd"></path></svg
            >
            <span class="ml-3 font-normal">Pay yearly</span>
          </li>
          <li class="flex py-2 text-sm text-slate-700">
            <svg
              class="h-5 w-5 flex-shrink-0 text-accent-500"
              fill="currentColor"
              viewBox="0 0 20 20"
              xmlns="http://www.w3.org/2000/svg"
              aria-hidden="true"
              ><path
                d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z"
                clip-rule="evenodd"
                fill-rule="evenodd"></path></svg
            >
            <span class="ml-3 font-normal">Pay by credit card</span>
          </li>
          <table class="w-full">
            <caption class="py-3 text-left text-sm font-normal text-slate-700">
              Payment and terms
            </caption>
            <thead>
              <tr>
                <th class="sr-only" scope="col">Feature</th>
                <th class="sr-only" scope="col">Included</th>
              </tr>
            </thead>
            <tbody class="divide-y divide-slate-800"></tbody>
          </table>
          <div class="mb-4 w-full py-2">
            <button
              class="inline-flex items-center justify-center w-full px-6 py-3 text-center text-accent-600 duration-200 bg-slate-50 font-medium rounded-xl text-base focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-accent-500 ring-offset-2 hover:bg-slate-100"
              >Get started for free</button
            >
          </div>
        </div>
        <div
          class="flex flex-col text-slate-100 border-0 max-w-md mb-8 mx-auto p-8 rounded-2xl shadow-normal sm:border sm:border-slate-500 bg-gradient-to-tr from-accent-600 via-accent-500 to-accent-400">
          <div class="text-accent-500 font-medium leading-6 text-lg">
            Pro
          </div><div class="text-sm font-normal text-slate-400 mb-2 mt-4 pr-2">
            Hobby-20% For individuals
          </div><div>
            <div class="flex mb-6 mt-4">
              <div class="text-slate-100 flex-shrink-0 text-6xl font-bold">
                $26
              </div><div
                class="text-sm font-normal text-slate-100 ml-2 mt-auto">
                per user<br />per month
              </div>
            </div>
          </div><div class="mt-4"></div><li
            class="text-sm text-slate-400 flex py-2">
            <svg
              class="h-5 text-accent-500 w-5 flex-shrink-0"
              fill="currentColor"
              viewBox="0 0 20 20"
              xmlns="http://www.w3.org/2000/svg"
              aria-hidden="true"
              ><path
                d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z"
                clip-rule="evenodd"
                fill-rule="evenodd"></path></svg
            >
            <span class="font-normal ml-3">10 <a href="#">Analytics</a></span>
          </li><li class="text-sm text-slate-400 flex py-2">
            <svg
              class="h-5 text-accent-500 w-5 flex-shrink-0"
              fill="currentColor"
              viewBox="0 0 20 20"
              xmlns="http://www.w3.org/2000/svg"
              aria-hidden="true"
              ><path
                d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z"
                clip-rule="evenodd"
                fill-rule="evenodd"></path></svg
            >
            <span class="font-normal ml-3">10 <a href="#">Accounts</a></span>
          </li><li class="text-sm text-slate-400 flex py-2">
            <svg
              class="h-5 text-accent-500 w-5 flex-shrink-0"
              fill="currentColor"
              viewBox="0 0 20 20"
              xmlns="http://www.w3.org/2000/svg"
              aria-hidden="true"
              ><path
                d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z"
                clip-rule="evenodd"
                fill-rule="evenodd"></path></svg
            >
            <span class="font-normal ml-3"
              >Unlimited <a href="#">Integrations</a></span
            >
          </li><li class="text-sm text-slate-400 flex py-2">
            <svg
              class="h-5 text-accent-500 w-5 flex-shrink-0"
              fill="currentColor"
              viewBox="0 0 20 20"
              xmlns="http://www.w3.org/2000/svg"
              aria-hidden="true"
              ><path
                d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z"
                clip-rule="evenodd"
                fill-rule="evenodd"></path></svg
            >
            <span class="font-normal ml-3">1 <a href="#">Programs</a></span>
          </li><li class="text-sm text-slate-400 flex py-2">
            <svg
              class="h-5 text-accent-500 w-5 flex-shrink-0"
              fill="currentColor"
              viewBox="0 0 20 20"
              xmlns="http://www.w3.org/2000/svg"
              aria-hidden="true"
              ><path
                d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z"
                clip-rule="evenodd"
                fill-rule="evenodd"></path></svg
            >
            <span class="font-normal ml-3"><a href="#">Deployments</a></span>
          </li><li class="text-sm text-slate-400 flex py-2">
            <svg
              class="h-5 text-accent-500 w-5 flex-shrink-0"
              fill="currentColor"
              viewBox="0 0 20 20"
              xmlns="http://www.w3.org/2000/svg"
              aria-hidden="true"
              ><path
                d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z"
                clip-rule="evenodd"
                fill-rule="evenodd"></path></svg
            >
            <span class="font-normal ml-3"
              ><a href="#">Advanced Checkpoints</a></span
            >
          </li><li class="text-sm text-slate-400 flex py-2">
            <svg
              class="h-5 text-accent-500 w-5 flex-shrink-0"
              fill="currentColor"
              viewBox="0 0 20 20"
              xmlns="http://www.w3.org/2000/svg"
              aria-hidden="true"
              ><path
                d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z"
                clip-rule="evenodd"
                fill-rule="evenodd"></path></svg
            >
            <span class="font-normal ml-3"
              ><a href="#">Private Deploymentss</a></span
            >
          </li><table class="w-full">
            <caption class="text-sm font-normal py-3 text-left text-slate-100"
              >Product features</caption
            ><thead
              ><tr
                ><th class="sr-only" scope="col">Feature</th><th
                  class="sr-only"
                  scope="col">Included</th
                ></tr
              ></thead
            ><tbody class="divide-y divide-slate-800"></tbody>
          </table><li class="text-sm text-slate-400 flex py-2">
            <svg
              class="h-5 text-accent-500 w-5 flex-shrink-0"
              fill="currentColor"
              viewBox="0 0 20 20"
              xmlns="http://www.w3.org/2000/svg"
              aria-hidden="true"
              ><path
                d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z"
                clip-rule="evenodd"
                fill-rule="evenodd"></path></svg
            >
            <span class="font-normal ml-3">Live chat</span>
          </li><li class="text-sm text-slate-400 flex py-2">
            <svg
              class="h-5 text-accent-500 w-5 flex-shrink-0"
              fill="currentColor"
              viewBox="0 0 20 20"
              xmlns="http://www.w3.org/2000/svg"
              aria-hidden="true"
              ><path
                d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z"
                clip-rule="evenodd"
                fill-rule="evenodd"></path></svg
            >
            <span class="font-normal ml-3">Response SLA: 1 day</span>
          </li><li class="text-sm text-slate-400 flex py-2">
            <svg
              class="h-5 text-accent-500 w-5 flex-shrink-0"
              fill="currentColor"
              viewBox="0 0 20 20"
              xmlns="http://www.w3.org/2000/svg"
              aria-hidden="true"
              ><path
                d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z"
                clip-rule="evenodd"
                fill-rule="evenodd"></path></svg
            >
            <span class="font-normal ml-3"
              >Dedicated Customer Success Manager</span
            >
          </li><li class="text-sm text-slate-400 flex py-2">
            <svg
              class="h-5 text-accent-500 w-5 flex-shrink-0"
              fill="currentColor"
              viewBox="0 0 20 20"
              xmlns="http://www.w3.org/2000/svg"
              aria-hidden="true"
              ><path
                d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z"
                clip-rule="evenodd"
                fill-rule="evenodd"></path></svg
            >
            <span class="font-normal ml-3">Training calls</span>
          </li><table class="w-full">
            <caption class="text-sm font-normal py-3 text-left text-slate-100"
              >Support and implementation</caption
            ><thead
              ><tr
                ><th class="sr-only" scope="col">Feature</th><th
                  class="sr-only"
                  scope="col">Included</th
                ></tr
              ></thead
            ><tbody class="divide-y divide-slate-800"></tbody>
          </table><li class="text-sm text-slate-400 flex py-2">
            <svg
              class="h-5 text-accent-500 w-5 flex-shrink-0"
              fill="currentColor"
              viewBox="0 0 20 20"
              xmlns="http://www.w3.org/2000/svg"
              aria-hidden="true"
              ><path
                d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z"
                clip-rule="evenodd"
                fill-rule="evenodd"></path></svg
            >
            <span class="font-normal ml-3">30 Included users</span>
          </li><li class="text-sm text-slate-400 flex py-2">
            <svg
              class="h-5 text-accent-500 w-5 flex-shrink-0"
              fill="currentColor"
              viewBox="0 0 20 20"
              xmlns="http://www.w3.org/2000/svg"
              aria-hidden="true"
              ><path
                d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z"
                clip-rule="evenodd"
                fill-rule="evenodd"></path></svg
            >
            <span class="font-normal ml-3"
              >Unlimited <a href="#">Viewers</a></span
            >
          </li><li class="text-sm text-slate-400 flex py-2">
            <svg
              class="h-5 text-accent-500 w-5 flex-shrink-0"
              fill="currentColor"
              viewBox="0 0 20 20"
              xmlns="http://www.w3.org/2000/svg"
              aria-hidden="true"
              ><path
                d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z"
                clip-rule="evenodd"
                fill-rule="evenodd"></path></svg
            >
            <span class="font-normal ml-3">Additional users: $23 per month</span
            >
          </li><li class="text-sm text-slate-400 flex py-2">
            <svg
              class="h-5 text-accent-500 w-5 flex-shrink-0"
              fill="currentColor"
              viewBox="0 0 20 20"
              xmlns="http://www.w3.org/2000/svg"
              aria-hidden="true"
              ><path
                d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z"
                clip-rule="evenodd"
                fill-rule="evenodd"></path></svg
            >
            <span class="font-normal ml-3">Volume discounts</span>
          </li><li class="text-sm text-slate-400 flex py-2">
            <svg
              class="h-5 text-accent-500 w-5 flex-shrink-0"
              fill="currentColor"
              viewBox="0 0 20 20"
              xmlns="http://www.w3.org/2000/svg"
              aria-hidden="true"
              ><path
                d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z"
                clip-rule="evenodd"
                fill-rule="evenodd"></path></svg
            >
            <span class="font-normal ml-3">Minimum term: 1 year</span>
          </li><li class="text-sm text-slate-400 flex py-2">
            <svg
              class="h-5 text-accent-500 w-5 flex-shrink-0"
              fill="currentColor"
              viewBox="0 0 20 20"
              xmlns="http://www.w3.org/2000/svg"
              aria-hidden="true"
              ><path
                d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z"
                clip-rule="evenodd"
                fill-rule="evenodd"></path></svg
            >
            <span class="font-normal ml-3">Pay yearly</span>
          </li><li class="text-sm text-slate-400 flex py-2">
            <svg
              class="h-5 text-accent-500 w-5 flex-shrink-0"
              fill="currentColor"
              viewBox="0 0 20 20"
              xmlns="http://www.w3.org/2000/svg"
              aria-hidden="true"
              ><path
                d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z"
                clip-rule="evenodd"
                fill-rule="evenodd"></path></svg
            >
            <span class="font-normal ml-3">Pay by credit card</span>
          </li><li class="text-sm text-slate-400 flex py-2">
            <svg
              class="h-5 text-accent-500 w-5 flex-shrink-0"
              fill="currentColor"
              viewBox="0 0 20 20"
              xmlns="http://www.w3.org/2000/svg"
              aria-hidden="true"
              ><path
                d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z"
                clip-rule="evenodd"
                fill-rule="evenodd"></path></svg
            >
            <span class="font-normal ml-3">Pay by bank transfer</span>
          </li><table class="w-full">
            <caption class="text-sm font-normal py-3 text-left text-slate-100"
              >Payment and terms</caption
            ><thead
              ><tr
                ><th class="sr-only" scope="col">Feature</th><th
                  class="sr-only"
                  scope="col">Included</th
                ></tr
              ></thead
            ><tbody class="divide-y divide-slate-800"></tbody>
          </table><div class="w-full py-2 mb-4">
            <button
              class="inline-flex items-center justify-center w-full px-6 py-3 text-center text-accent-600 duration-200 bg-slate-50 font-medium rounded-xl text-base focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-accent-500 ring-offset-2 hover:bg-slate-100"
              >Get in touch</button
            >
          </div>
        </div>
        <div
          class="mx-auto mb-8 flex max-w-md flex-col rounded-2xl border-0 p-8 text-slate-100 shadow-normal sm:border sm:border-slate-500">
          <div class="text-lg font-medium leading-6 text-black">Enterprise</div>
          <div class="mb-2 mt-4 pr-2 text-sm font-normal text-slate-700">
            Suitable for those that want to grow like a rocket and eat pizza
          </div>
          <div
            class="my-1 mt-8 flex rounded-md py-2 text-sm font-normal text-slate-700">
            <p>Talk to us</p>
          </div>
          <div class="mt-4"></div>
          <li class="flex py-2 text-sm text-slate-700">
            <svg
              class="h-5 w-5 flex-shrink-0 text-accent-500"
              fill="currentColor"
              viewBox="0 0 20 20"
              xmlns="http://www.w3.org/2000/svg"
              aria-hidden="true"
              ><path
                d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z"
                clip-rule="evenodd"
                fill-rule="evenodd"></path></svg
            >
            <span class="ml-3 font-normal"
              >Unlimited <a href="#">Analytics</a></span
            >
          </li>
          <li class="flex py-2 text-sm text-slate-700">
            <svg
              class="h-5 w-5 flex-shrink-0 text-accent-500"
              fill="currentColor"
              viewBox="0 0 20 20"
              xmlns="http://www.w3.org/2000/svg"
              aria-hidden="true"
              ><path
                d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z"
                clip-rule="evenodd"
                fill-rule="evenodd"></path></svg
            >
            <span class="ml-3 font-normal"
              >Unlimited <a href="#">Accounts</a></span
            >
          </li>
          <li class="flex py-2 text-sm text-slate-700">
            <svg
              class="h-5 w-5 flex-shrink-0 text-accent-500"
              fill="currentColor"
              viewBox="0 0 20 20"
              xmlns="http://www.w3.org/2000/svg"
              aria-hidden="true"
              ><path
                d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z"
                clip-rule="evenodd"
                fill-rule="evenodd"></path></svg
            >
            <span class="ml-3 font-normal"
              >Unlimited <a href="#">Integrations</a></span
            >
          </li>
          <li class="flex py-2 text-sm text-slate-700">
            <svg
              class="h-5 w-5 flex-shrink-0 text-accent-500"
              fill="currentColor"
              viewBox="0 0 20 20"
              xmlns="http://www.w3.org/2000/svg"
              aria-hidden="true"
              ><path
                d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z"
                clip-rule="evenodd"
                fill-rule="evenodd"></path></svg
            >
            <span class="ml-3 font-normal"
              >Unlimited <a href="#">Programs</a></span
            >
          </li>
          <li class="flex py-2 text-sm text-slate-700">
            <svg
              class="h-5 w-5 flex-shrink-0 text-accent-500"
              fill="currentColor"
              viewBox="0 0 20 20"
              xmlns="http://www.w3.org/2000/svg"
              aria-hidden="true"
              ><path
                d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z"
                clip-rule="evenodd"
                fill-rule="evenodd"></path></svg
            >
            <span class="ml-3 font-normal"><a href="#">Deployments</a></span>
          </li>
          <li class="flex py-2 text-sm text-slate-700">
            <svg
              class="h-5 w-5 flex-shrink-0 text-accent-500"
              fill="currentColor"
              viewBox="0 0 20 20"
              xmlns="http://www.w3.org/2000/svg"
              aria-hidden="true"
              ><path
                d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z"
                clip-rule="evenodd"
                fill-rule="evenodd"></path></svg
            >
            <span class="ml-3 font-normal"
              ><a href="#">Advanced Checkpoints</a></span
            >
          </li>
          <li class="flex py-2 text-sm text-slate-700">
            <svg
              class="h-5 w-5 flex-shrink-0 text-accent-500"
              fill="currentColor"
              viewBox="0 0 20 20"
              xmlns="http://www.w3.org/2000/svg"
              aria-hidden="true"
              ><path
                d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z"
                clip-rule="evenodd"
                fill-rule="evenodd"></path></svg
            >
            <span class="ml-3 font-normal"
              ><a href="#">Private Deploymentss</a></span
            >
          </li>
          <table class="w-full">
            <caption class="py-3 text-left text-sm font-normal text-slate-700">
              Product features
            </caption>
            <thead>
              <tr>
                <th class="sr-only" scope="col">Feature</th>
                <th class="sr-only" scope="col">Included</th>
              </tr>
            </thead>
            <tbody class="divide-y divide-slate-800"></tbody>
          </table>
          <li class="flex py-2 text-sm text-slate-700">
            <svg
              class="h-5 w-5 flex-shrink-0 text-accent-500"
              fill="currentColor"
              viewBox="0 0 20 20"
              xmlns="http://www.w3.org/2000/svg"
              aria-hidden="true"
              ><path
                d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z"
                clip-rule="evenodd"
                fill-rule="evenodd"></path></svg
            >
            <span class="ml-3 font-normal"
              >Dedicated Discord and Premium support</span
            >
          </li>
          <li class="flex py-2 text-sm text-slate-700">
            <svg
              class="h-5 w-5 flex-shrink-0 text-accent-500"
              fill="currentColor"
              viewBox="0 0 20 20"
              xmlns="http://www.w3.org/2000/svg"
              aria-hidden="true"
              ><path
                d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z"
                clip-rule="evenodd"
                fill-rule="evenodd"></path></svg
            >
            <span class="ml-3 font-normal">Response SLA: 3 hours</span>
          </li>
          <li class="flex py-2 text-sm text-slate-700">
            <svg
              class="h-5 w-5 flex-shrink-0 text-accent-500"
              fill="currentColor"
              viewBox="0 0 20 20"
              xmlns="http://www.w3.org/2000/svg"
              aria-hidden="true"
              ><path
                d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z"
                clip-rule="evenodd"
                fill-rule="evenodd"></path></svg
            >
            <span class="ml-3 font-normal">Service Level Agreement</span>
          </li>
          <li class="flex py-2 text-sm text-slate-700">
            <svg
              class="h-5 w-5 flex-shrink-0 text-accent-500"
              fill="currentColor"
              viewBox="0 0 20 20"
              xmlns="http://www.w3.org/2000/svg"
              aria-hidden="true"
              ><path
                d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z"
                clip-rule="evenodd"
                fill-rule="evenodd"></path></svg
            >
            <span class="ml-3 font-normal"
              >Dedicated Customer Success Manager</span
            >
          </li>
          <li class="flex py-2 text-sm text-slate-700">
            <svg
              class="h-5 w-5 flex-shrink-0 text-accent-500"
              fill="currentColor"
              viewBox="0 0 20 20"
              xmlns="http://www.w3.org/2000/svg"
              aria-hidden="true"
              ><path
                d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z"
                clip-rule="evenodd"
                fill-rule="evenodd"></path></svg
            >
            <span class="ml-3 font-normal">Training calls</span>
          </li>
          <li class="flex py-2 text-sm text-slate-700">
            <svg
              class="h-5 w-5 flex-shrink-0 text-accent-500"
              fill="currentColor"
              viewBox="0 0 20 20"
              xmlns="http://www.w3.org/2000/svg"
              aria-hidden="true"
              ><path
                d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z"
                clip-rule="evenodd"
                fill-rule="evenodd"></path></svg
            >
            <span class="ml-3 font-normal">Custom implementation sessions</span>
          </li>
          <li class="flex py-2 text-sm text-slate-700">
            <svg
              class="h-5 w-5 flex-shrink-0 text-accent-500"
              fill="currentColor"
              viewBox="0 0 20 20"
              xmlns="http://www.w3.org/2000/svg"
              aria-hidden="true"
              ><path
                d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z"
                clip-rule="evenodd"
                fill-rule="evenodd"></path></svg
            >
            <span class="ml-3 font-normal">Dedicated Slack support channel</span
            >
          </li>
          <li class="flex py-2 text-sm text-slate-700">
            <svg
              class="h-5 w-5 flex-shrink-0 text-accent-500"
              fill="currentColor"
              viewBox="0 0 20 20"
              xmlns="http://www.w3.org/2000/svg"
              aria-hidden="true"
              ><path
                d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z"
                clip-rule="evenodd"
                fill-rule="evenodd"></path></svg
            >
            <span class="ml-3 font-normal"
              ><a
                href="https://help.Deployments.io/en/articles/5948396-our-pricing-plans#h_4a76f246cc"
                >Sandbox Environments</a
              ></span
            >
          </li>
          <table class="w-full">
            <caption class="py-3 text-left text-sm font-normal text-slate-700">
              Support and implementation
            </caption>
            <thead>
              <tr>
                <th class="sr-only" scope="col">Feature</th>
                <th class="sr-only" scope="col">Included</th>
              </tr>
            </thead>
            <tbody class="divide-y divide-slate-800"></tbody>
          </table>
          <li class="flex py-2 text-sm text-slate-700">
            <svg
              class="h-5 w-5 flex-shrink-0 text-accent-500"
              fill="currentColor"
              viewBox="0 0 20 20"
              xmlns="http://www.w3.org/2000/svg"
              aria-hidden="true"
              ><path
                d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z"
                clip-rule="evenodd"
                fill-rule="evenodd"></path></svg
            >
            <span class="ml-3 font-normal">Master Services Agreement</span>
          </li>
          <li class="flex py-2 text-sm text-slate-700">
            <svg
              class="h-5 w-5 flex-shrink-0 text-accent-500"
              fill="currentColor"
              viewBox="0 0 20 20"
              xmlns="http://www.w3.org/2000/svg"
              aria-hidden="true"
              ><path
                d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z"
                clip-rule="evenodd"
                fill-rule="evenodd"></path></svg
            >
            <span class="ml-3 font-normal">SOC2 Report</span>
          </li>
          <table class="w-full">
            <caption class="py-3 text-left text-sm font-normal text-slate-700">
              Procurement process
            </caption>
            <thead>
              <tr>
                <th class="sr-only" scope="col">Feature</th>
                <th class="sr-only" scope="col">Included</th>
              </tr>
            </thead>
            <tbody class="divide-y divide-slate-800"></tbody>
          </table>
          <li class="flex py-2 text-sm text-slate-700">
            <svg
              class="h-5 w-5 flex-shrink-0 text-accent-500"
              fill="currentColor"
              viewBox="0 0 20 20"
              xmlns="http://www.w3.org/2000/svg"
              aria-hidden="true"
              ><path
                d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z"
                clip-rule="evenodd"
                fill-rule="evenodd"></path></svg
            >
            <span class="ml-3 font-normal">100 Included users</span>
          </li>
          <li class="flex py-2 text-sm text-slate-700">
            <svg
              class="h-5 w-5 flex-shrink-0 text-accent-500"
              fill="currentColor"
              viewBox="0 0 20 20"
              xmlns="http://www.w3.org/2000/svg"
              aria-hidden="true"
              ><path
                d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z"
                clip-rule="evenodd"
                fill-rule="evenodd"></path></svg
            >
            <span class="ml-3 font-normal"
              >Unlimited <a
                href="https://help.Deployments.io/en/articles/5996599-what-is-a-user-in-Deployments-io#h_9a37c5759a"
                >Viewers</a
              ></span
            >
          </li>
          <li class="flex py-2 text-sm text-slate-700">
            <svg
              class="h-5 w-5 flex-shrink-0 text-accent-500"
              fill="currentColor"
              viewBox="0 0 20 20"
              xmlns="http://www.w3.org/2000/svg"
              aria-hidden="true"
              ><path
                d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z"
                clip-rule="evenodd"
                fill-rule="evenodd"></path></svg
            >
            <span class="ml-3 font-normal">Additional users: $40 per month</span
            >
          </li>
          <li class="flex py-2 text-sm text-slate-700">
            <svg
              class="h-5 w-5 flex-shrink-0 text-accent-500"
              fill="currentColor"
              viewBox="0 0 20 20"
              xmlns="http://www.w3.org/2000/svg"
              aria-hidden="true"
              ><path
                d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z"
                clip-rule="evenodd"
                fill-rule="evenodd"></path></svg
            >
            <span class="ml-3 font-normal">Volume discounts</span>
          </li>
          <li class="flex py-2 text-sm text-slate-700">
            <svg
              class="h-5 w-5 flex-shrink-0 text-accent-500"
              fill="currentColor"
              viewBox="0 0 20 20"
              xmlns="http://www.w3.org/2000/svg"
              aria-hidden="true"
              ><path
                d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z"
                clip-rule="evenodd"
                fill-rule="evenodd"></path></svg
            >
            <span class="ml-3 font-normal">Minimum term: 1 year</span>
          </li>
          <li class="flex py-2 text-sm text-slate-700">
            <svg
              class="h-5 w-5 flex-shrink-0 text-accent-500"
              fill="currentColor"
              viewBox="0 0 20 20"
              xmlns="http://www.w3.org/2000/svg"
              aria-hidden="true"
              ><path
                d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z"
                clip-rule="evenodd"
                fill-rule="evenodd"></path></svg
            >
            <span class="ml-3 font-normal">Pay yearly</span>
          </li>
          <li class="flex py-2 text-sm text-slate-700">
            <svg
              class="h-5 w-5 flex-shrink-0 text-accent-500"
              fill="currentColor"
              viewBox="0 0 20 20"
              xmlns="http://www.w3.org/2000/svg"
              aria-hidden="true"
              ><path
                d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z"
                clip-rule="evenodd"
                fill-rule="evenodd"></path></svg
            >
            <span class="ml-3 font-normal">Pay by bank transfer</span>
          </li>
          <table class="w-full">
            <caption class="py-3 text-left text-sm font-normal text-slate-700">
              Payment and terms
            </caption>
            <thead>
              <tr>
                <th class="sr-only" scope="col">Feature</th>
                <th class="sr-only" scope="col">Included</th>
              </tr>
            </thead>
            <tbody class="divide-y divide-slate-800"></tbody>
          </table>
          <div class="mb-4 w-full py-2">
            <button
              class="line-2"
              focus-visible:outline-offset-2
              focus-visible:outline-white
              active:bg-slat"inline-flex
              items-center
              justify-center
              w-full
              px-6
              py-3
              text-center
              text-accent-600
              duration-200
              bg-slate-50
              font-medium
              rounded-xl
              text-base
              focus:outline-none
              focus:ring-2
              focus:ring-offset-2
              focus:ring-accent-500
              ring-offset-2
              hover:bg-slate-100"
              id="billing-plan-get-in-touch-enterprise">Get in touch</button
            >
          </div>
        </div>
      </div>
    </div>

    <!--- desktop goes here -->
    <section class="relative hidden lg:block">
      <div
        class="bg-white shadow-normal rounded-3xl border max-w-6xl mx-auto overflow-hidden p-20">
        <table class="text-slate-700 mx-auto w-full">
          <thead
            ><tr class="align-top text-left"
              ><th class=""></th><th class="w-1/4 px-4 pt-6"
                ><div class="text-black font-medium leading-6 text-lg">
                  Hobby <span
                    class="text-sm text-slate-500 bg-white font-medium border border-white float-right inline-flex items-center px-3 py-0.5 rounded-md"
                    >-20%</span
                  >
                </div><div class="mt-4 mb-2 pr-2">
                  <p class="text-sm font-normal text-black mt-6">
                    For individuals
                  </p>
                </div></th
              ><th class="w-1/4 px-4 pt-6 rounded-t-2xl bg-accent-500"
                ><div class="text-white font-medium leading-6 text-lg">
                  Pro
                </div><div class="mt-4 mb-2 pr-2">
                  <p class="text-sm font-normal text-white mt-6">
                    For medium businesses
                  </p>
                </div></th
              ><th class="w-1/4 px-4 pt-6"
                ><div class="text-black font-medium leading-6 text-lg">
                  Enterprise
                </div><div class="mt-4 mb-2 pr-2">
                  <p class="text-sm font-normal text-slate-400 mt-6">
                    For organizations
                  </p>
                </div></th
              ></tr
            ><tr class="align-middle text-left"
              ><th class=""></th><th class="w-1/4 px-4"
                ><div>
                  <div class="flex mb-6 mt-4">
                    <div class="font-normal text-black flex-shrink-0 text-6xl">
                      $16
                    </div><div
                      class="text-sm font-normal text-slate-500 ml-2 mt-auto">
                      per user<br />per month
                    </div>
                  </div>
                </div></th
              ><th class="w-1/4 px-4 bg-accent-500"
                ><div>
                  <div class="flex mb-6 mt-4">
                    <div class="font-normal text-white flex-shrink-0 text-6xl">
                      $20
                    </div><div
                      class="text-sm font-normal text-white ml-2 mt-auto">
                      per user<br />per month
                    </div>
                  </div>
                </div></th
              ><th class="w-1/4 px-4"
                ><div
                  class="text-sm font-normal text-slate-500 py-2 flex mt-8 my-1">
                  <p class="leading-5">Talk to us</p>
                </div></th
              ></tr
            ><tr class="align-top text-left"
              ><th class="px-2"></th><th class="w-1/4 px-4"
                ><div class="w-full py-2 mb-4">
                  <a
                    class="inline-flex items-center justify-center w-full px-6 py-3 text-center text-accent-600 duration-200 bg-slate-50 font-medium rounded-xl text-base focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-accent-500 ring-offset-2 hover:bg-slate-100"
                    >Get started for free</a
                  >
                </div></th
              ><th class="w-1/4 px-4 bg-accent-500 rounded-b-2xl"
                ><div class="w-full py-2 mb-4">
                  <a
                    class="inline-flex items-center justify-center w-full px-6 py-3 text-center text-accent-600 duration-200 bg-slate-50 font-medium rounded-xl text-base focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-accent-500 ring-offset-2 hover:bg-slate-100"
                    id="billing-plan-get-in-touch-pro">Get in touch</a
                  >
                </div></th
              ><th class="w-1/4 px-4"
                ><div class="w-full py-2 mb-4">
                  <a
                    class="inline-flex items-center justify-center w-full px-6 py-3 text-center text-accent-600 duration-200 bg-slate-50 font-medium rounded-xl text-base focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-accent-500 ring-offset-2 hover:bg-slate-100"
                    id="billing-plan-get-in-touch-enterprise">Get in touch</a
                  >
                </div></th
              ></tr
            ></thead
          ><tbody
            ><tr
              ><th
                class="text-accent-500 font-medium py-3 text-base text-left"
                scope="colgroup"
                colspan="4">Product features</th
              ></tr
            ><tr
              ><th class="text-sm font-normal py-3 text-left text-slate-00"
                >Analytics<p class="inline"></p></th
              ><td class="text-sm font-normal px-4 text-center">3</td><td
                class="text-sm font-normal px-4 text-center bg-accent-500 text-white rounded-t-2xl"
                >10</td
              ><td class="text-sm font-normal px-4 text-center">Unlimited</td
              ></tr
            ><tr
              ><th class="text-sm font-normal py-3 text-left text-slate-00"
                >Accounts<p class="inline"></p></th
              ><td class="text-sm font-normal px-4 text-center">5</td><td
                class="text-sm font-normal px-4 text-center bg-accent-500 text-white"
                >10</td
              ><td class="text-sm font-normal px-4 text-center">Unlimited</td
              ></tr
            ><tr
              ><th class="text-sm font-normal py-3 text-left text-slate-00"
                >Integrations<p class="inline"></p></th
              ><td class="text-sm font-normal px-4 text-center">2</td><td
                class="text-sm font-normal px-4 text-center bg-accent-500 text-white"
                >Unlimited</td
              ><td class="text-sm font-normal px-4 text-center">Unlimited</td
              ></tr
            ><tr
              ><th class="text-sm font-normal py-3 text-left text-slate-00"
                >Programs<p class="inline"></p></th
              ><td class="text-sm font-normal px-4 text-center">-</td><td
                class="text-sm font-normal px-4 text-center bg-accent-500 text-white"
                >1</td
              ><td class="text-sm font-normal px-4 text-center">Unlimited</td
              ></tr
            ><tr
              ><th class="text-sm font-normal py-3 text-left text-slate-00"
                >Deployments<p class="inline"></p></th
              ><td class="text-sm font-normal px-4 text-center"><div>-</div></td
              ><td
                class="text-sm font-normal px-4 text-center bg-accent-500 text-white"
                ><svg
                  class="h-5 w-5 mx-auto"
                  fill="none"
                  viewBox="0 0 24 24"
                  xmlns="http://www.w3.org/2000/svg"
                  stroke="currentColor"
                  aria-hidden="true"
                  ><path
                    d="M5 13l4 4L19 7"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    stroke-width="2"></path></svg
                ></td
              ><td class="text-sm font-normal px-4 text-center"
                ><svg
                  class="h-5 text-accent-500 w-5 mx-auto"
                  fill="none"
                  viewBox="0 0 24 24"
                  xmlns="http://www.w3.org/2000/svg"
                  stroke="currentColor"
                  aria-hidden="true"
                  ><path
                    d="M5 13l4 4L19 7"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    stroke-width="2"></path></svg
                ></td
              ></tr
            ><tr
              ><th class="text-sm font-normal py-3 text-left text-slate-00"
                >Advanced Checkpoints<p class="inline"></p></th
              ><td class="text-sm font-normal px-4 text-center"><div>-</div></td
              ><td
                class="text-sm font-normal px-4 text-center bg-accent-500 text-white"
                ><svg
                  class="h-5 w-5 mx-auto"
                  fill="none"
                  viewBox="0 0 24 24"
                  xmlns="http://www.w3.org/2000/svg"
                  stroke="currentColor"
                  aria-hidden="true"
                  ><path
                    d="M5 13l4 4L19 7"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    stroke-width="2"></path></svg
                ></td
              ><td class="text-sm font-normal px-4 text-center"
                ><svg
                  class="h-5 text-accent-500 w-5 mx-auto"
                  fill="none"
                  viewBox="0 0 24 24"
                  xmlns="http://www.w3.org/2000/svg"
                  stroke="currentColor"
                  aria-hidden="true"
                  ><path
                    d="M5 13l4 4L19 7"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    stroke-width="2"></path></svg
                ></td
              ></tr
            ><tr
              ><th class="text-sm font-normal py-3 text-left text-slate-00"
                >Private Deploymentss<p class="inline"></p></th
              ><td class="text-sm font-normal px-4 text-center"><div>-</div></td
              ><td
                class="text-sm font-normal px-4 text-center bg-accent-500 text-white rounded-b-2xl"
                ><svg
                  class="h-5 w-5 mx-auto"
                  fill="none"
                  viewBox="0 0 24 24"
                  xmlns="http://www.w3.org/2000/svg"
                  stroke="currentColor"
                  aria-hidden="true"
                  ><path
                    d="M5 13l4 4L19 7"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    stroke-width="2"></path></svg
                ></td
              ><td class="text-sm font-normal px-4 text-center"
                ><svg
                  class="h-5 text-accent-500 w-5 mx-auto"
                  fill="none"
                  viewBox="0 0 24 24"
                  xmlns="http://www.w3.org/2000/svg"
                  stroke="currentColor"
                  aria-hidden="true"
                  ><path
                    d="M5 13l4 4L19 7"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    stroke-width="2"></path></svg
                ></td
              ></tr
            ><tr
              ><th
                class="text-accent-500 font-medium py-3 text-base text-left"
                scope="colgroup"
                colspan="4">Support and performance</th
              ></tr
            ><tr
              ><th class="text-sm font-normal py-3 text-left text-slate-00"
                >Support</th
              ><td class="text-sm font-normal px-4 text-center"
                >Discord community</td
              ><td
                class="text-sm font-normal px-4 text-center bg-accent-500 text-white rounded-t-2xl"
                >Live chat</td
              ><td class="text-sm font-normal px-4 text-center"
                >Dedicated Discord</td
              ></tr
            ><tr
              ><th class="text-sm font-normal py-3 text-left text-slate-00"
                >SLA</th
              ><td class="text-sm font-normal px-4 text-center">4 days</td><td
                class="text-sm font-normal px-4 text-center bg-accent-500 text-white"
                >3 day</td
              ><td class="text-sm font-normal px-4 text-center">1 hour</td></tr
            ><tr
              ><th class="text-sm font-normal py-3 text-left text-slate-00"
                >Service Agreement</th
              ><td class="text-sm font-normal px-4 text-center"><div>-</div></td
              ><td
                class="text-sm font-normal px-4 text-center bg-accent-500 text-white"
                ><div>-</div></td
              ><td class="text-sm font-normal px-4 text-center"
                ><svg
                  class="h-5 text-accent-500 w-5 mx-auto"
                  fill="none"
                  viewBox="0 0 24 24"
                  xmlns="http://www.w3.org/2000/svg"
                  stroke="currentColor"
                  aria-hidden="true"
                  ><path
                    d="M5 13l4 4L19 7"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    stroke-width="2"></path></svg
                ></td
              ></tr
            ><tr
              ><th class="text-sm font-normal py-3 text-left text-slate-00"
                >Dedicated Manager</th
              ><td class="text-sm font-normal px-4 text-center"><div>-</div></td
              ><td
                class="text-sm font-normal px-4 text-center bg-accent-500 text-white"
                ><svg
                  class="h-5 w-5 mx-auto"
                  fill="none"
                  viewBox="0 0 24 24"
                  xmlns="http://www.w3.org/2000/svg"
                  stroke="currentColor"
                  aria-hidden="true"
                  ><path
                    d="M5 13l4 4L19 7"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    stroke-width="2"></path></svg
                ></td
              ><td class="text-sm font-normal px-4 text-center"
                ><svg
                  class="h-5 text-accent-500 w-5 mx-auto"
                  fill="none"
                  viewBox="0 0 24 24"
                  xmlns="http://www.w3.org/2000/svg"
                  stroke="currentColor"
                  aria-hidden="true"
                  ><path
                    d="M5 13l4 4L19 7"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    stroke-width="2"></path></svg
                ></td
              ></tr
            ><tr
              ><th class="text-sm font-normal py-3 text-left text-slate-00"
                >Training</th
              ><td class="text-sm font-normal px-4 text-center"><div>-</div></td
              ><td
                class="text-sm font-normal px-4 text-center bg-accent-500 text-white"
                ><svg
                  class="h-5 w-5 mx-auto"
                  fill="none"
                  viewBox="0 0 24 24"
                  xmlns="http://www.w3.org/2000/svg"
                  stroke="currentColor"
                  aria-hidden="true"
                  ><path
                    d="M5 13l4 4L19 7"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    stroke-width="2"></path></svg
                ></td
              ><td class="text-sm font-normal px-4 text-center"
                ><svg
                  class="h-5 text-accent-500 w-5 mx-auto"
                  fill="none"
                  viewBox="0 0 24 24"
                  xmlns="http://www.w3.org/2000/svg"
                  stroke="currentColor"
                  aria-hidden="true"
                  ><path
                    d="M5 13l4 4L19 7"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    stroke-width="2"></path></svg
                ></td
              ></tr
            ><tr
              ><th class="text-sm font-normal py-3 text-left text-slate-00"
                >Custom sessions</th
              ><td class="text-sm font-normal px-4 text-center"><div>-</div></td
              ><td
                class="text-sm font-normal px-4 text-center bg-accent-500 text-white"
                ><div>-</div></td
              ><td class="text-sm font-normal px-4 text-center"
                ><svg
                  class="h-5 text-accent-500 w-5 mx-auto"
                  fill="none"
                  viewBox="0 0 24 24"
                  xmlns="http://www.w3.org/2000/svg"
                  stroke="currentColor"
                  aria-hidden="true"
                  ><path
                    d="M5 13l4 4L19 7"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    stroke-width="2"></path></svg
                ></td
              ></tr
            ><tr
              ><th class="text-sm font-normal py-3 text-left text-slate-00"
                >Dedicated support channel</th
              ><td class="text-sm font-normal px-4 text-center"><div>-</div></td
              ><td
                class="text-sm font-normal px-4 text-center bg-accent-500 text-white"
                ><div>-</div></td
              ><td class="text-sm font-normal px-4 text-center"
                ><svg
                  class="h-5 text-accent-500 w-5 mx-auto"
                  fill="none"
                  viewBox="0 0 24 24"
                  xmlns="http://www.w3.org/2000/svg"
                  stroke="currentColor"
                  aria-hidden="true"
                  ><path
                    d="M5 13l4 4L19 7"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    stroke-width="2"></path></svg
                ></td
              ></tr
            ><tr
              ><th class="text-sm font-normal py-3 text-left text-slate-00"
                >Webstorm Environments<p class="inline"></p></th
              ><td class="text-sm font-normal px-4 text-center"><div>-</div></td
              ><td
                class="text-sm font-normal px-4 text-center bg-accent-500 text-white rounded-b-2xl"
                ><div>-</div></td
              ><td class="text-sm font-normal px-4 text-center"
                ><svg
                  class="h-5 text-accent-500 w-5 mx-auto"
                  fill="none"
                  viewBox="0 0 24 24"
                  xmlns="http://www.w3.org/2000/svg"
                  stroke="currentColor"
                  aria-hidden="true"
                  ><path
                    d="M5 13l4 4L19 7"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    stroke-width="2"></path></svg
                ></td
              ></tr
            ><tr
              ><th
                class="text-accent-500 font-medium py-3 text-base text-left"
                scope="colgroup"
                colspan="4">Payment</th
              ></tr
            ><tr
              ><th class="text-sm font-normal py-3 text-left text-slate-00"
                >Included accounts</th
              ><td class="text-sm font-normal px-4 text-center">-</td><td
                class="text-sm font-normal px-4 text-center bg-accent-500 text-white rounded-t-2xl"
                >30</td
              ><td class="text-sm font-normal px-4 text-center">100</td></tr
            ><tr
              ><th class="text-sm font-normal py-3 text-left text-slate-00"
                >Views<p class="inline"></p></th
              ><td class="text-sm font-normal px-4 text-center">Unlimited</td
              ><td
                class="text-sm font-normal px-4 text-center bg-accent-500 text-white"
                >Unlimited</td
              ><td class="text-sm font-normal px-4 text-center">Unlimited</td
              ></tr
            ><tr
              ><th class="text-sm font-normal py-3 text-left text-slate-00"
                >Additional accounts</th
              ><td class="text-sm font-normal px-4 text-center">-</td><td
                class="text-sm font-normal px-4 text-center bg-accent-500 text-white"
                >$23 per month</td
              ><td class="text-sm font-normal px-4 text-center"
                >$40 per month</td
              ></tr
            ><tr
              ><th class="text-sm font-normal py-3 text-left text-slate-00"
                >Discounts</th
              ><td class="text-sm font-normal px-4 text-center"><div>-</div></td
              ><td
                class="text-sm font-normal px-4 text-center bg-accent-500 text-white"
                ><svg
                  class="h-5 w-5 mx-auto"
                  fill="none"
                  viewBox="0 0 24 24"
                  xmlns="http://www.w3.org/2000/svg"
                  stroke="currentColor"
                  aria-hidden="true"
                  ><path
                    d="M5 13l4 4L19 7"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    stroke-width="2"></path></svg
                ></td
              ><td class="text-sm font-normal px-4 text-center"
                ><svg
                  class="h-5 text-accent-500 w-5 mx-auto"
                  fill="none"
                  viewBox="0 0 24 24"
                  xmlns="http://www.w3.org/2000/svg"
                  stroke="currentColor"
                  aria-hidden="true"
                  ><path
                    d="M5 13l4 4L19 7"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    stroke-width="2"></path></svg
                ></td
              ></tr
            ><tr
              ><th class="text-sm font-normal py-3 text-left text-slate-00"
                >Minimum term</th
              ><td class="text-sm font-normal px-4 text-center"
                >Month-to-month</td
              ><td
                class="text-sm font-normal px-4 text-center bg-accent-500 text-white"
                >Month-to-month</td
              ><td class="text-sm font-normal px-4 text-center">1 year</td></tr
            ><tr
              ><th class="text-sm font-normal py-3 text-left text-slate-00"
                >Pay monthly</th
              ><td class="text-sm font-normal px-4 text-center"
                ><svg
                  class="h-5 text-accent-500 w-5 mx-auto"
                  fill="none"
                  viewBox="0 0 24 24"
                  xmlns="http://www.w3.org/2000/svg"
                  stroke="currentColor"
                  aria-hidden="true"
                  ><path
                    d="M5 13l4 4L19 7"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    stroke-width="2"></path></svg
                ></td
              ><td
                class="text-sm font-normal px-4 text-center bg-accent-500 text-white"
                ><svg
                  class="h-5 w-5 mx-auto"
                  fill="none"
                  viewBox="0 0 24 24"
                  xmlns="http://www.w3.org/2000/svg"
                  stroke="currentColor"
                  aria-hidden="true"
                  ><path
                    d="M5 13l4 4L19 7"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    stroke-width="2"></path></svg
                ></td
              ><td class="text-sm font-normal px-4 text-center"><div>-</div></td
              ></tr
            ><tr
              ><th class="text-sm font-normal py-3 text-left text-slate-00"
                >Pay yearly</th
              ><td class="text-sm font-normal px-4 text-center"
                ><svg
                  class="h-5 text-accent-500 w-5 mx-auto"
                  fill="none"
                  viewBox="0 0 24 24"
                  xmlns="http://www.w3.org/2000/svg"
                  stroke="currentColor"
                  aria-hidden="true"
                  ><path
                    d="M5 13l4 4L19 7"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    stroke-width="2"></path></svg
                ></td
              ><td
                class="text-sm font-normal px-4 text-center bg-accent-500 text-white"
                ><svg
                  class="h-5 w-5 mx-auto"
                  fill="none"
                  viewBox="0 0 24 24"
                  xmlns="http://www.w3.org/2000/svg"
                  stroke="currentColor"
                  aria-hidden="true"
                  ><path
                    d="M5 13l4 4L19 7"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    stroke-width="2"></path></svg
                ></td
              ><td class="text-sm font-normal px-4 text-center"
                ><svg
                  class="h-5 text-accent-500 w-5 mx-auto"
                  fill="none"
                  viewBox="0 0 24 24"
                  xmlns="http://www.w3.org/2000/svg"
                  stroke="currentColor"
                  aria-hidden="true"
                  ><path
                    d="M5 13l4 4L19 7"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    stroke-width="2"></path></svg
                ></td
              ></tr
            ><tr
              ><th class="text-sm font-normal py-3 text-left text-slate-00"
                >Pay by credit card</th
              ><td class="text-sm font-normal px-4 text-center"
                ><svg
                  class="h-5 text-accent-500 w-5 mx-auto"
                  fill="none"
                  viewBox="0 0 24 24"
                  xmlns="http://www.w3.org/2000/svg"
                  stroke="currentColor"
                  aria-hidden="true"
                  ><path
                    d="M5 13l4 4L19 7"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    stroke-width="2"></path></svg
                ></td
              ><td
                class="text-sm font-normal px-4 text-center bg-accent-500 text-white"
                ><svg
                  class="h-5 w-5 mx-auto"
                  fill="none"
                  viewBox="0 0 24 24"
                  xmlns="http://www.w3.org/2000/svg"
                  stroke="currentColor"
                  aria-hidden="true"
                  ><path
                    d="M5 13l4 4L19 7"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    stroke-width="2"></path></svg
                ></td
              ><td class="text-sm font-normal px-4 text-center"><div>-</div></td
              ></tr
            ><tr
              ><th class="text-sm font-normal py-3 text-left text-slate-00"
                >Pay by bank transfer</th
              ><td class="text-sm font-normal px-4 text-center"
                ><svg
                  class="h-5 text-accent-500 w-5 mx-auto"
                  fill="none"
                  viewBox="0 0 24 24"
                  xmlns="http://www.w3.org/2000/svg"
                  stroke="currentColor"
                  aria-hidden="true"
                  ><path
                    d="M5 13l4 4L19 7"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    stroke-width="2"></path></svg
                ></td
              ><td
                class="text-sm font-normal px-4 text-center bg-accent-500 text-white rounded-b-2xl"
                ><svg
                  class="h-5 w-5 mx-auto"
                  fill="none"
                  viewBox="0 0 24 24"
                  xmlns="http://www.w3.org/2000/svg"
                  stroke="currentColor"
                  aria-hidden="true"
                  ><path
                    d="M5 13l4 4L19 7"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    stroke-width="2"></path></svg
                ></td
              ><td class="text-sm font-normal px-4 text-center"
                ><svg
                  class="h-5 text-accent-500 w-5 mx-auto"
                  fill="none"
                  viewBox="0 0 24 24"
                  xmlns="http://www.w3.org/2000/svg"
                  stroke="currentColor"
                  aria-hidden="true"
                  ><path
                    d="M5 13l4 4L19 7"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    stroke-width="2"></path></svg
                ></td
              ></tr
            ></tbody
          >
        </table>
      </div>
    </section>
  </div>
</section>
