<section id="pricing" aria-labelledby="pricing-ten">

    <div class="px-8 py-24 mx-auto sm:px-6 md:max-w-2xl md:px-4 lg:max-w-6xl lg:px-20 lg:pt-36">
        <div class="max-w-xl">
            <p class="text-3xl font-medium tracking-tight text-black lg:text-5xl ">
                Not into subscriptions?
            </p>
            <p class="mt-4 text-lg lg:text-2xl text-slate-500">
                Here you will find fixed price solutions.
            </p>
        </div>

        <div class="pb-12 mt-8 sm:mt-12 sm:pb-16 lg:mt-16 lg:pb-24">
            <div class="items-center w-full ">
                <div class="px-5 overflow-hidden border divide-y lg:px-0">
                    <div class="flex flex-wrap items-end justify-start w-full bg-white">
                        <div class="w-full xl:w-1/4 ">
                            <div class="relative flex flex-col h-full px-4 py-2 lg:py-8 lg:px-8">
                                <h2 class="mb-4  text-lg font-medium text-black">Hobby</h2>
                                <ul class="space-y-4">
                                    <li class="flex items-center mb-2 text-sm text-slate-500">
                                        <span class="inline-flex items-center justify-center flex-shrink-0 mr-2">
                                            <svg class="flex-shrink-0 w-5 h-5 text-blue-500"
                                                xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20"
                                                fill="currentColor" aria-hidden="true">
                                                <path fill-rule="evenodd"
                                                    d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z"
                                                    clip-rule="evenodd"></path>
                                            </svg> </span>Messaging
                                    </li>
                                    <li class="flex items-center mb-2 text-sm text-slate-500">
                                        <span class="inline-flex items-center justify-center flex-shrink-0 mr-2">
                                            <svg class="flex-shrink-0 w-5 h-5 text-blue-500"
                                                xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20"
                                                fill="currentColor" aria-hidden="true">
                                                <path fill-rule="evenodd"
                                                    d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z"
                                                    clip-rule="evenodd"></path>
                                            </svg> </span>Team meetings.
                                    </li>
                                    <li class="flex items-center mb-2 text-sm text-slate-500">
                                        <span class="inline-flex items-center justify-center flex-shrink-0 mr-2">
                                            <svg class="flex-shrink-0 w-5 h-5 text-blue-500"
                                                xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20"
                                                fill="currentColor" aria-hidden="true">
                                                <path fill-rule="evenodd"
                                                    d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z"
                                                    clip-rule="evenodd"></path>
                                            </svg> </span>5 TB cloud storage.
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="w-full xl:w-1/4 ">
                            <div class="relative flex flex-col h-full px-4 py-2 lg:py-8 lg:px-8">
                                <ul class="space-y-4">
                                    <li class="flex items-center mb-2 text-sm text-slate-500">
                                        <span class="inline-flex items-center justify-center flex-shrink-0 mr-2">
                                            <svg class="flex-shrink-0 w-5 h-5 text-blue-500"
                                                xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20"
                                                fill="currentColor" aria-hidden="true">
                                                <path fill-rule="evenodd"
                                                    d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z"
                                                    clip-rule="evenodd"></path>
                                            </svg> </span>Growth oriented.
                                    </li>
                                    <li class="flex items-center mb-2 text-sm text-slate-500">
                                        <span class="inline-flex items-center justify-center flex-shrink-0 mr-2">
                                            <svg class="flex-shrink-0 w-5 h-5 text-blue-500"
                                                xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20"
                                                fill="currentColor" aria-hidden="true">
                                                <path fill-rule="evenodd"
                                                    d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z"
                                                    clip-rule="evenodd"></path>
                                            </svg> </span>Marketing campaigns.
                                    </li>
                                    <li class="flex items-center mb-2 text-sm text-slate-500">
                                        <span class="inline-flex items-center justify-center flex-shrink-0 mr-2">
                                            <svg class="flex-shrink-0 w-5 h-5 text-blue-500"
                                                xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20"
                                                fill="currentColor" aria-hidden="true">
                                                <path fill-rule="evenodd"
                                                    d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z"
                                                    clip-rule="evenodd"></path>
                                            </svg> </span>Custom pages.
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="w-full xl:w-1/4 ">
                            <div class="relative flex flex-col h-full px-4 py-2 lg:py-8 lg:px-8">
                                <ul class="space-y-4">
                                    <li class="flex items-center mb-2 text-sm text-slate-500">
                                        <span class="inline-flex items-center justify-center flex-shrink-0 mr-2">
                                            <svg class="flex-shrink-0 w-5 h-5 text-blue-500"
                                                xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20"
                                                fill="currentColor" aria-hidden="true">
                                                <path fill-rule="evenodd"
                                                    d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z"
                                                    clip-rule="evenodd"></path>
                                            </svg> </span>Support 24/7.
                                    </li>
                                    <li class="flex items-center mb-2 text-sm text-slate-500">
                                        <span class="inline-flex items-center justify-center flex-shrink-0 mr-2">
                                            <svg class="flex-shrink-0 w-5 h-5 text-blue-500"
                                                xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20"
                                                fill="currentColor" aria-hidden="true">
                                                <path fill-rule="evenodd"
                                                    d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z"
                                                    clip-rule="evenodd"></path>
                                            </svg> </span>Pizza on Sundays
                                    </li>
                                    <li class="flex items-center mb-2 text-sm text-slate-500">
                                        <span class="inline-flex items-center justify-center flex-shrink-0 mr-2">
                                            <svg class="flex-shrink-0 w-5 h-5 text-blue-500"
                                                xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20"
                                                fill="currentColor" aria-hidden="true">
                                                <path fill-rule="evenodd"
                                                    d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z"
                                                    clip-rule="evenodd"></path>
                                            </svg> </span>Debugger
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="order-first w-full xl:w-1/4  lg:ml-auto lg:order-last lg:border-l">
                            <div class="relative flex flex-col h-full px-4 py-2 lg:py-8 lg:px-8">
                                <div class="flex items-end text-6xl  leading-none text-black lg:text-4xl lg:mx-auto">
                                    <span>$10 </span>
                                </div>
                                <div class="mt-6 lg:mt-3">
                                    <a href="#"
                                        class="inline-flex w-full  items-center justify-center  px-12 py-3  text-center text-slate-900 transition duration-500 ease-in-out transform bg-slate-50 border-2 border-slate-50 rounded-md hover:bg-slate-100 hover:border-slate-100 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-slate-100 hover:bg-transparent "
                                        aria-describedby="tier-hobby"> Get started </a>
                                </div>
                                <p class="mx-auto mt-6 text-xs text-slate-500"> Only once within 6 months </p>
                            </div>
                        </div>
                    </div>
                    <div class="flex flex-wrap items-end justify-start w-full bg-white">
                        <div class="w-full xl:w-1/4 ">
                            <div class="relative flex flex-col h-full px-4 py-2 lg:py-8 lg:px-8">
                                <h2 class="mb-4  text-lg font-medium text-black">Startup</h2>
                                <ul class="space-y-4">
                                    <li class="flex items-center mb-2 text-sm text-slate-500">
                                        <span class="inline-flex items-center justify-center flex-shrink-0 mr-2">
                                            <svg class="flex-shrink-0 w-5 h-5 text-blue-500"
                                                xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20"
                                                fill="currentColor" aria-hidden="true">
                                                <path fill-rule="evenodd"
                                                    d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z"
                                                    clip-rule="evenodd"></path>
                                            </svg> </span>Messaging
                                    </li>
                                    <li class="flex items-center mb-2 text-sm text-slate-500">
                                        <span class="inline-flex items-center justify-center flex-shrink-0 mr-2">
                                            <svg class="flex-shrink-0 w-5 h-5 text-blue-500"
                                                xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20"
                                                fill="currentColor" aria-hidden="true">
                                                <path fill-rule="evenodd"
                                                    d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z"
                                                    clip-rule="evenodd"></path>
                                            </svg> </span>Team meetings.
                                    </li>
                                    <li class="flex items-center mb-2 text-sm text-slate-500">
                                        <span class="inline-flex items-center justify-center flex-shrink-0 mr-2">
                                            <svg class="flex-shrink-0 w-5 h-5 text-blue-500"
                                                xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20"
                                                fill="currentColor" aria-hidden="true">
                                                <path fill-rule="evenodd"
                                                    d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z"
                                                    clip-rule="evenodd"></path>
                                            </svg> </span>5 TB cloud storage.
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="w-full xl:w-1/4 ">
                            <div class="relative flex flex-col h-full px-4 py-2 lg:py-8 lg:px-8">
                                <ul class="space-y-4">
                                    <li class="flex items-center mb-2 text-sm text-slate-500">
                                        <span class="inline-flex items-center justify-center flex-shrink-0 mr-2">
                                            <svg class="flex-shrink-0 w-5 h-5 text-blue-500"
                                                xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20"
                                                fill="currentColor" aria-hidden="true">
                                                <path fill-rule="evenodd"
                                                    d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z"
                                                    clip-rule="evenodd"></path>
                                            </svg> </span>Growth oriented.
                                    </li>
                                    <li class="flex items-center mb-2 text-sm text-slate-500">
                                        <span class="inline-flex items-center justify-center flex-shrink-0 mr-2">
                                            <svg class="flex-shrink-0 w-5 h-5 text-blue-500"
                                                xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20"
                                                fill="currentColor" aria-hidden="true">
                                                <path fill-rule="evenodd"
                                                    d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z"
                                                    clip-rule="evenodd"></path>
                                            </svg> </span>Marketing campaigns.
                                    </li>
                                    <li class="flex items-center mb-2 text-sm text-slate-500">
                                        <span class="inline-flex items-center justify-center flex-shrink-0 mr-2">
                                            <svg class="flex-shrink-0 w-5 h-5 text-blue-500"
                                                xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20"
                                                fill="currentColor" aria-hidden="true">
                                                <path fill-rule="evenodd"
                                                    d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z"
                                                    clip-rule="evenodd"></path>
                                            </svg> </span>Custom pages.
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="w-full xl:w-1/4 ">
                            <div class="relative flex flex-col h-full px-4 py-2 lg:py-8 lg:px-8">
                                <ul class="space-y-4">
                                    <li class="flex items-center mb-2 text-sm text-slate-500">
                                        <span class="inline-flex items-center justify-center flex-shrink-0 mr-2">
                                            <svg class="flex-shrink-0 w-5 h-5 text-blue-500"
                                                xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20"
                                                fill="currentColor" aria-hidden="true">
                                                <path fill-rule="evenodd"
                                                    d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z"
                                                    clip-rule="evenodd"></path>
                                            </svg> </span>Support 24/7.
                                    </li>
                                    <li class="flex items-center mb-2 text-sm text-slate-500">
                                        <span class="inline-flex items-center justify-center flex-shrink-0 mr-2">
                                            <svg class="flex-shrink-0 w-5 h-5 text-blue-500"
                                                xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20"
                                                fill="currentColor" aria-hidden="true">
                                                <path fill-rule="evenodd"
                                                    d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z"
                                                    clip-rule="evenodd"></path>
                                            </svg> </span>Pizza on Sundays
                                    </li>
                                    <li class="flex items-center mb-2 text-sm text-slate-500">
                                        <span class="inline-flex items-center justify-center flex-shrink-0 mr-2">
                                            <svg class="flex-shrink-0 w-5 h-5 text-blue-500"
                                                xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20"
                                                fill="currentColor" aria-hidden="true">
                                                <path fill-rule="evenodd"
                                                    d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z"
                                                    clip-rule="evenodd"></path>
                                            </svg> </span>Debugger
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="order-first w-full xl:w-1/4  lg:ml-auto lg:order-last lg:border-l">
                            <div class="relative flex flex-col h-full px-4 py-2 lg:py-8 lg:px-8">
                                <div class="flex items-end text-6xl  leading-none text-black lg:text-4xl lg:mx-auto">
                                    <span>$50 </span>
                                </div>
                                <div class="mt-6 lg:mt-3">
                                    <a href="#"
                                        class="inline-flex w-full  items-center justify-center  px-12 py-3  text-center text-white transition duration-500 ease-in-out transform bg-blue-500 border-2 border-blue-500 rounded-md hover:bg-white hover:border-blue-500 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-blue-500 hover:bg-transparent hover:text-blue-500"
                                        aria-describedby="tier-company"> Get started </a>
                                </div>
                                <p class="mx-auto mt-6 text-xs text-slate-500"> Only once within 6 months </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>