<section id="pricing" aria-labelledby="pricing-ten">

    <div class="px-8 py-24 mx-auto sm:px-6 md:max-w-2xl md:px-4 lg:max-w-6xl lg:px-20 lg:pt-36">
        <div class="flex w-full mx-auto">
            <div class=" inline-flex items-center mx-auto align-middle">
                <div class="grid grid-cols- lg:grid-cols-2 gap-12">
                    <div>
                        <h1 class="ext-3xl font-medium tracking-tight text-black lg:text-5xl"> Ready
                            to deploy your site? Buy once, for ever </h1>
                    </div>
                    <div class="lg:ml-auto">
                        <p class="text-lg lg:text-2xl text-slate-500 md:mt-5 lg:mt-0"> With Unwrapped's prototyping
                            kit you will get your site up n' running in no time, and the best part is that you get
                            lifetime updates for free! </p>
                    </div>
                </div>
            </div>
        </div>
        <div>
            <div
                class="mt-24 space-y-12 overflow-hidden bg-white border rounded-md shadow-normal lg:p-20 lg:space-y-0 lg:grid lg:grid-cols-3 lg:gap-x-6">
                <div class="relative flex flex-col p-4">
                    <div class="flex-1">
                        <p class="flex items-baseline mt-4 text-black">
                            <span class="text-5xl  tracking-tight">$249</span>
                        </p>
                        <div class="py-5 border-b border-slate-300">
                            <div class="flex flex-wrap items-baseline -mt-2 -ml-2">
                                <h3 class="mt-2 ml-2 text-sm font-medium text-black uppercase"> Great Team License </h3>
                                <p class="mt-1 ml-2 text-sm text-slate-500"> For SAAS, personal &amp; clients </p>
                            </div>
                        </div>
                        <div class="mt-8">
                            <a href="#"
                                class="inline-flex w-full  items-center justify-center  px-12 py-3  text-center text-slate-900 transition duration-500 ease-in-out transform bg-slate-50 border-2 border-slate-50 rounded-md hover:bg-slate-100 hover:border-slate-100 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-slate-100   "
                                aria-describedby="tier-hobby"> Get started </a>
                        </div>
                        <ul role="list" class="mt-4 space-y-3 prose list-disc">
                            <li class="flex space-x-3">
                                <span class="text-slate-500"> Up to 5 Users License </span>
                            </li>
                            <li class="flex space-x-3">
                                <span class="text-slate-500"> Free lifetime updates </span>
                            </li>
                            <li class="flex space-x-3">
                                <span class="text-slate-500"> 100+ coded layouts </span>
                            </li>
                            <li class="flex space-x-3">
                                <span class="text-slate-500"> Example pages </span>
                            </li>
                            <li class="flex space-x-3">
                                <span class="text-slate-500"> Use on unlimited projects </span>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="relative flex flex-col p-4">
                    <div class="flex-1">
                        <p class="flex items-baseline mt-4 text-black">
                            <span class="text-5xl  tracking-tight">$59</span>
                        </p>
                        <div class="py-5 border-b border-slate-300">
                            <div class="flex flex-wrap items-baseline -mt-2 -ml-2">
                                <h3 class="mt-2 ml-2 text-sm font-medium text-black uppercase"> Standard License </h3>
                                <p class="mt-1 ml-2 text-sm text-slate-400"> For personal and clients </p>
                            </div>
                        </div>
                        <div class="mt-8">
                            <a href="#"
                                class="inline-flex w-full  items-center justify-center  px-12 py-3  text-center text-white transition duration-500 ease-in-out transform bg-blue-500 border-2 border-blue-500 rounded-md hover:bg-white hover:border-blue-500 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-blue-500   hover:text-blue-500"
                                aria-describedby="tier-company"> Get started </a>
                        </div>
                        <ul role="list" class="mt-4 space-y-3 prose list-disc">
                            <li class="relative inline-flex items-center justify-between w-full -mb-1 space-x-3">
                                <span class="text-slate-500"> Single User license</span>
                            </li>
                            <li class="relative inline-flex items-center justify-between w-full space-x-3">
                                <span class="text-slate-500">Free lifetime updates</span>
                            </li>
                            <li class="relative inline-flex items-center justify-between w-full space-x-3">
                                <span class="text-slate-500"> 100+ coded layouts</span>
                            </li>
                            <li class="relative inline-flex items-center justify-between w-full space-x-3">
                                <span class="text-slate-500"> Example pages</span>
                            </li>
                            <li class="relative inline-flex items-center justify-between w-full space-x-3">
                                <span class="text-slate-500"> Use on unlimited projects</span>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="relative flex flex-col p-4">
                    <div class="flex-1">
                        <p class="flex items-baseline mt-4 text-black">
                            <span class="text-5xl  tracking-tight">$0</span>
                        </p>
                        <div class="py-5 border-b border-slate-300">
                            <div class="flex flex-wrap items-baseline -mt-2 -ml-2">
                                <h3 class="mt-2 ml-2 text-sm font-medium text-black uppercase"> Test license </h3>
                                <p class="mt-1 ml-2 text-sm text-slate-400"> Great for testing &amp; understanding. </p>
                            </div>
                        </div>
                        <div class="mt-8">
                            <a href="#"
                                class="inline-flex items-center justify-center w-full px-12 py-4 text-center transition duration-500 ease-in-out transform text-slate-600 bg-slate-50 focus:outline-none hover:bg-slate-50/50 focus:ring-2 focus:ring-offset-2 focus:ring-slate-600"
                                aria-describedby="tier-hobby"> Get started </a>
                        </div>
                        <ul role="list" class="mt-4 space-y-3 prose list-disc">
                            <li class="flex space-x-3">
                                <span class="text-slate-500"> 1 Block from 3 categories</span>
                            </li>
                            <li class="flex space-x-3">
                                <span class="text-slate-500"> HTML Code </span>
                            </li>
                            <li class="flex space-x-3">
                                <span class="text-slate-500"> Only for testing </span>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>