<section id="pricing" aria-labelledby="pricing-one">

    <div class="px-8 py-24 mx-auto sm:px-6 md:max-w-2xl md:px-4 lg:max-w-6xl lg:px-20 lg:pt-36">
        <div class="max-w-xl">
            <p class="text-3xl font-medium  tracking-tight text-black lg:text-5xl">
                Memberships levels
            </p>
            <p class="mt-4 text-lg lg:text-2xl text-slate-500">
                Choose a plan that's right for you.
            </p>
        </div>
        <div class="relative mt-12 overflow-hidden">
            <div class="relative grid lg:gap-6 lg:grid-cols-3">
                <div class="relative p-10 overflow-hidden bg-blue-500 rounded-md">
                    <div class="relative flex-col fl ex">
                        <div class="inline-flex items-center justify-between w-full">
                            <h3 class="text-lg text-white lg:text-2xl">Monthly</h3>
                            <span class="text-lg text-white lg:text-2xl">$1,999/m </span>
                        </div>
                        <p class="mt-2 text-base text-white">
                            50% off for the 3 first clients!
                        </p>
                        <a aria-label="Monthly tier"
                            class="inline-flex items-center justify-center w-full px-12 py-4 mt-8 text-center text-black transition duration-500 ease-in-out transform bg-white border-2 border-white rounded-md hover:text-white focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-white hover:bg-transparent hover:border-white"
                            href="/submit">Get started</a>
                        <div class="mt-8">
                            <div>
                                <span class="text-lg font-medium text-white lg:text-2xl mt-7">
                                    What's included</span>
                            </div>
                            <ul role="list" class="flex flex-col mt-4 space-y-1 text-base text-white">
                                <li class="inline-flex items-center">
                                    <span class="before:content-['•']">
                                        &nbsp; Unlimited requests
                                    </span>
                                </li>
                                <li class="inline-flex items-center">
                                    <span class="before:content-['•']">
                                        &nbsp; Unlimited brands
                                    </span>
                                </li>
                                <li class="inline-flex items-center">
                                    <span class="before:content-['•']">
                                        &nbsp; Unlimited users
                                    </span>
                                </li>
                                <li class="inline-flex items-center">
                                    <span class="before:content-['•']">
                                        &nbsp; Unlimited assets
                                    </span>
                                </li>
                                <li class="inline-flex items-center">
                                    <span class="before:content-['•']">
                                        &nbsp; Pause or cancel anytime
                                    </span>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="relative p-10 bg-white rounded-md">
                    <div class="relative flex flex-col">
                        <div class="inline-flex items-center justify-between w-full">
                            <h3 class="text-lg text-black lg:text-2xl">Quarterly</h3>
                            <span class="text-lg text-black lg:text-2xl">$1,699/m </span>
                        </div>
                        <p class="mt-2 text-base text-slate-500">Save $300 per month.</p>
                        <a aria-label="Quarterly tier"
                            class="inline-flex items-center justify-center w-full px-12 py-4 mt-8 text-center text-black transition duration-500 ease-in-out transform bg-white border-2 border-black rounded-md hover:text-white focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-white hover:bg-black hover:border-black"
                            href="/submit">Get started</a>
                        <div class="mt-8">
                            <div>
                                <span class="text-lg font-medium text-black lg:text-2xl mt-7">
                                    What's included</span>
                            </div>
                            <ul role="list" class="flex flex-col mt-4 space-y-1 text-base text-slate-500">
                                <li class="inline-flex items-center">
                                    <span class="before:content-['•']">
                                        &nbsp; Unlimited requests
                                    </span>
                                </li>
                                <li class="inline-flex items-center">
                                    <span class="before:content-['•']">
                                        &nbsp; Unlimited brands
                                    </span>
                                </li>
                                <li class="inline-flex items-center">
                                    <span class="before:content-['•']">
                                        &nbsp; Unlimited users
                                    </span>
                                </li>
                                <li class="inline-flex items-center">
                                    <span class="before:content-['•']">
                                        &nbsp; Unlimited Assets
                                    </span>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="relative p-10 bg-white rounded-md">
                    <div class="relative flex flex-col">
                        <div class="inline-flex items-center justify-between w-full">
                            <h3 class="text-lg text-black lg:text-2xl">Yearly</h3>
                            <span class="text-lg text-black lg:text-2xl">$1,399/m </span>
                        </div>
                        <p class="mt-2 text-base text-slate-500">Save $600 per month.</p>

                        <a aria-label="One off"
                            class="inline-flex items-center justify-center w-full px-12 py-4 mt-8 text-center text-black transition duration-500 ease-in-out transform bg-white border-2 border-black rounded-md hover:text-white focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-white hover:bg-black hover:border-black"
                            href="/submit">Get started</a>
                        <div class="mt-8">
                            <div>
                                <span class="text-lg font-medium text-black lg:text-2xl mt-7">
                                    What's included</span>
                            </div>
                            <ul role="list" class="flex flex-col mt-4 space-y-1 text-base text-slate-500">
                                <li class="inline-flex items-center">
                                    <span class="before:content-['•']">
                                        &nbsp; Unlimited requests
                                    </span>
                                </li>
                                <li class="inline-flex items-center">
                                    <span class="before:content-['•']">
                                        &nbsp; Unlimited brands
                                    </span>
                                </li>
                                <li class="inline-flex items-center">
                                    <span class="before:content-['•']">
                                        &nbsp; Unlimited users
                                    </span>
                                </li>
                                <li class="inline-flex items-center">
                                    <span class="before:content-['•']">
                                        &nbsp; Unlimited Assets
                                    </span>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>