<section
  id="pricing-two"
  aria-labelledby="pricing-Two"
  class="bg-gradient-to-tr from-accent-600 via-accent-500 to-accent-400">
  <div
    class="items-center w-full px-8 py-12 mx-auto md:px-12 lg:px-24 max-w-7xl lg:py-32">
    <div class="max-w-3xl lg:mx-auto lg:text-center">
      <div>
        <span
          class="bg-white/5 border border-white/10 backdrop-blur-2xl rounded-full py-2 px-4 w-auto">
          <span class="text-sm text-white"> Pricing 3</span>
        </span>
        <p
          class="text-4xl mt-8 lg:text-6xl font-extrabold text-white font-display">
          Equip your business with world class software
        </p>
        <p class="text-base text-white/80 max-w-xl mt-8 lg:mx-auto">
          Every plan includes every feature, and can scale as your team does.
        </p>
      </div>
    </div>
    <div
      class="grid grid-cols-1 lg:gap-0 mt-12 lg:grid-cols-2 gap-3 divide-white/50">
      <div>
        <div class="p-12 mx-auto">
          <div class="inline-flex items-center w-full justify-between">
            <p>
              <span class="text-4xl text-white lg:text-6xl font-display"
                >$15</span
              >
              <span class="text-base font-medium text-slate-200">/mo</span>
            </p>
            <span class="text-lg font-medium leading-6 text-white order-first">
              Starter
            </span>
          </div>
          <div class="mt-8">
            <ul
              class="text-sm flex flex-col gap-y-3 order-last text-white"
              role="list">
              <li class="flex items-start">
                <svg
                  class="h-6 w-6 opacity-70"
                  fill="none"
                  viewBox="0 0 24 24"
                  xmlns="http://www.w3.org/2000/svg"
                  stroke="currentColor"
                  stroke-width="1.5"
                  ><path
                    d="M9 12.75L11.25 15 15 9.75M21 12a9 9 0 11-18 0 9 9 0 0118 0z"
                    stroke-linecap="round"
                    stroke-linejoin="round"></path></svg
                >
                <span class="ml-4">Limited number of users</span>
              </li><li class="flex items-start">
                <svg
                  class="h-6 w-6 opacity-70"
                  fill="none"
                  viewBox="0 0 24 24"
                  xmlns="http://www.w3.org/2000/svg"
                  stroke="currentColor"
                  stroke-width="1.5"
                  ><path
                    d="M9 12.75L11.25 15 15 9.75M21 12a9 9 0 11-18 0 9 9 0 0118 0z"
                    stroke-linecap="round"
                    stroke-linejoin="round"></path></svg
                >
                <span class="ml-4">Limited storage</span>
              </li><li class="flex items-start">
                <svg
                  class="h-6 w-6 opacity-70"
                  fill="none"
                  viewBox="0 0 24 24"
                  xmlns="http://www.w3.org/2000/svg"
                  stroke="currentColor"
                  stroke-width="1.5"
                  ><path
                    d="M9 12.75L11.25 15 15 9.75M21 12a9 9 0 11-18 0 9 9 0 0118 0z"
                    stroke-linecap="round"
                    stroke-linejoin="round"></path></svg
                >
                <span class="ml-4">Basic support (email)</span>
              </li><li class="flex items-start">
                <svg
                  class="h-6 w-6 opacity-70"
                  fill="none"
                  viewBox="0 0 24 24"
                  xmlns="http://www.w3.org/2000/svg"
                  stroke="currentColor"
                  stroke-width="1.5"
                  ><path
                    d="M9 12.75L11.25 15 15 9.75M21 12a9 9 0 11-18 0 9 9 0 0118 0z"
                    stroke-linecap="round"
                    stroke-linejoin="round"></path></svg
                >
                <span class="ml-4">Basic analytics</span>
              </li><li class="flex items-start">
                <svg
                  class="h-6 w-6 opacity-70"
                  fill="none"
                  viewBox="0 0 24 24"
                  xmlns="http://www.w3.org/2000/svg"
                  stroke="currentColor"
                  stroke-width="1.5"
                  ><path
                    d="M9 12.75L11.25 15 15 9.75M21 12a9 9 0 11-18 0 9 9 0 0118 0z"
                    stroke-linecap="round"
                    stroke-linejoin="round"></path></svg
                >
                <span class="ml-4">Limited integrations</span>
              </li><li class="flex items-start">
                <svg
                  class="h-6 w-6 opacity-70"
                  fill="none"
                  viewBox="0 0 24 24"
                  xmlns="http://www.w3.org/2000/svg"
                  stroke="currentColor"
                  stroke-width="1.5"
                  ><path
                    d="M9 12.75L11.25 15 15 9.75M21 12a9 9 0 11-18 0 9 9 0 0118 0z"
                    stroke-linecap="round"
                    stroke-linejoin="round"></path></svg
                >
                <span class="ml-4">Basic options</span>
              </li><li class="flex items-start">
                <svg
                  class="h-6 w-6 opacity-70"
                  fill="none"
                  viewBox="0 0 24 24"
                  xmlns="http://www.w3.org/2000/svg"
                  stroke="currentColor"
                  stroke-width="1.5"
                  ><path
                    d="M9 12.75L11.25 15 15 9.75M21 12a9 9 0 11-18 0 9 9 0 0118 0z"
                    stroke-linecap="round"
                    stroke-linejoin="round"></path></svg
                >
                <span class="ml-4">No SLA</span>
              </li>
            </ul>
          </div>
          <div class="mt-8 w-full">
            <a
              aria-label="Monthly tier"
              class="inline-flex items-center justify-center w-full px-6 py-3 text-center text-accent-600 duration-200 bg-slate-50 font-medium rounded-xl text-base focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-accent-500 ring-offset-2 hover:bg-slate-100"
              href="#">Get started</a
            >
          </div>
        </div>
      </div>
      <div
        class="bg-black/10 border border-black/5 backdrop-blur-3xl rounded-3xl">
        <div class="p-12 mx-auto">
          <div class="inline-flex items-center w-full justify-between">
            <p>
              <span class="text-4xl text-white lg:text-6xl font-display"
                >$35</span
              >
              <span class="text-base font-medium text-slate-200">/mo</span>
            </p>
            <span class="text-lg font-medium leading-6 text-white order-first">
              Advanced
            </span>
          </div>
          <div class="mt-8">
            <ul
              class="text-sm flex flex-col gap-y-3 order-last text-white"
              role="list">
              <li class="flex items-start">
                <svg
                  class="h-6 w-6 opacity-70"
                  fill="none"
                  viewBox="0 0 24 24"
                  xmlns="http://www.w3.org/2000/svg"
                  stroke="currentColor"
                  stroke-width="1.5"
                  ><path
                    d="M9 12.75L11.25 15 15 9.75M21 12a9 9 0 11-18 0 9 9 0 0118 0z"
                    stroke-linecap="round"
                    stroke-linejoin="round"></path></svg
                >
                <span class="ml-4">Unlimited number of users</span>
              </li><li class="flex items-start">
                <svg
                  class="h-6 w-6 opacity-70"
                  fill="none"
                  viewBox="0 0 24 24"
                  xmlns="http://www.w3.org/2000/svg"
                  stroke="currentColor"
                  stroke-width="1.5"
                  ><path
                    d="M9 12.75L11.25 15 15 9.75M21 12a9 9 0 11-18 0 9 9 0 0118 0z"
                    stroke-linecap="round"
                    stroke-linejoin="round"></path></svg
                >
                <span class="ml-4">Unlimited storage</span>
              </li><li class="flex items-start">
                <svg
                  class="h-6 w-6 opacity-70"
                  fill="none"
                  viewBox="0 0 24 24"
                  xmlns="http://www.w3.org/2000/svg"
                  stroke="currentColor"
                  stroke-width="1.5"
                  ><path
                    d="M9 12.75L11.25 15 15 9.75M21 12a9 9 0 11-18 0 9 9 0 0118 0z"
                    stroke-linecap="round"
                    stroke-linejoin="round"></path></svg
                >
                <span class="ml-4">Advanced support (email and phone)</span>
              </li><li class="flex items-start">
                <svg
                  class="h-6 w-6 opacity-70"
                  fill="none"
                  viewBox="0 0 24 24"
                  xmlns="http://www.w3.org/2000/svg"
                  stroke="currentColor"
                  stroke-width="1.5"
                  ><path
                    d="M9 12.75L11.25 15 15 9.75M21 12a9 9 0 11-18 0 9 9 0 0118 0z"
                    stroke-linecap="round"
                    stroke-linejoin="round"></path></svg
                >
                <span class="ml-4">Advanced analytics</span>
              </li><li class="flex items-start">
                <svg
                  class="h-6 w-6 opacity-70"
                  fill="none"
                  viewBox="0 0 24 24"
                  xmlns="http://www.w3.org/2000/svg"
                  stroke="currentColor"
                  stroke-width="1.5"
                  ><path
                    d="M9 12.75L11.25 15 15 9.75M21 12a9 9 0 11-18 0 9 9 0 0118 0z"
                    stroke-linecap="round"
                    stroke-linejoin="round"></path></svg
                >
                <span class="ml-4">Multiple integrations</span>
              </li><li class="flex items-start">
                <svg
                  class="h-6 w-6 opacity-70"
                  fill="none"
                  viewBox="0 0 24 24"
                  xmlns="http://www.w3.org/2000/svg"
                  stroke="currentColor"
                  stroke-width="1.5"
                  ><path
                    d="M9 12.75L11.25 15 15 9.75M21 12a9 9 0 11-18 0 9 9 0 0118 0z"
                    stroke-linecap="round"
                    stroke-linejoin="round"></path></svg
                >
                <span class="ml-4">Advanced customization options</span>
              </li><li class="flex items-start">
                <svg
                  class="h-6 w-6 opacity-70"
                  fill="none"
                  viewBox="0 0 24 24"
                  xmlns="http://www.w3.org/2000/svg"
                  stroke="currentColor"
                  stroke-width="1.5"
                  ><path
                    d="M9 12.75L11.25 15 15 9.75M21 12a9 9 0 11-18 0 9 9 0 0118 0z"
                    stroke-linecap="round"
                    stroke-linejoin="round"></path></svg
                >
                <span class="ml-4">99.9% SLA</span>
              </li>
            </ul>
          </div>
          <div class="mt-8 w-full">
            <a
              aria-label="Monthly tier"
              class="inline-flex items-center justify-center w-full px-6 py-3 text-center text-accent-600 duration-200 bg-slate-50 font-medium rounded-xl text-base focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-accent-500 ring-offset-2 hover:bg-slate-100"
              href="#">Get started</a
            >
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
