<section id="pricing-two" aria-labelledby="pricing-Two">

  <div class="px-8 py-12 mx-auto sm:px-6 md:max-w-2xl md:px-4 lg:max-w-6xl lg:px-20 ">
    <div class="grid grid-cols-1 gap-12 text-center lg:gap-24 lg:grid-cols-2">
      <div>
        <div class="p-12 mx-auto">
          <p>
            <span class="text-4xl  text-black lg:text-6xl">$15</span>
            <span class="text-base font-medium text-slate-500">/mo</span>
          </p>
          <span class="mx-auto text-lg font-medium leading-6 text-black"> Starter </span>
          <p class="mx-auto mt-12 text-base text-slate-500"> The issue tracking tool you'll enjoy using.Helps streamline
            software projects, sprints, tasks, and bug tracking. It’s built for high-performance teams. </p>
          <div class="mt-6">
            <a href="#"
              class="inline-flex w-full lg:w-auto items-center justify-center  px-12 py-3  text-center text-slate-900 transition duration-500 ease-in-out transform bg-slate-50 border-2 border-slate-50 rounded-md hover:bg-slate-100 hover:border-slate-100 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-slate-100 hover:bg-transparent "
              aria-describedby="tier-starter"> Get started </a>
          </div>
        </div>
      </div>
      <div>
        <div class="p-12 mx-auto">
          <p>
            <span class="text-4xl  text-black lg:text-6xl">$35</span>
            <span class="text-base font-medium text-slate-500">/mo</span>
          </p>
          <span class="mx-auto text-lg font-medium leading-6 text-black"> Mega Pro </span>
          <p class="mx-auto mt-12 text-base text-slate-500"> The issue tracking tool you'll enjoy using.Helps streamline
            software projects, sprints, tasks, and bug tracking. It’s built for high-performance teams. </p>
          <div class="mt-6">
            <a href="#"
              class="inline-flex w-full lg:w-auto items-center justify-center  px-12 py-3  text-center text-white transition duration-500 ease-in-out transform bg-blue-500 border-2 border-blue-500 rounded-md hover:bg-white hover:border-blue-500 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-blue-500 hover:bg-transparent hover:text-blue-500"
              aria-describedby="tier-company"> Get started </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>