<section class="relative overflow-hidden">
  <svg
    class="absolute opacity-5"
    viewBox="0 0 4276 4276"
    fill="none"
    xmlns="http://www.w3.org/2000/svg">
    <path
      d="M2138 4273C3317.13 4273 4273 3317.13 4273 2138C4273 958.872 3317.13 3 2138 3C958.872 3 3 958.872 3 2138C3 3317.13 958.872 4273 2138 4273Z"
      stroke="#4A3AFF"
      stroke-width="5"
      stroke-linecap="round"
      stroke-linejoin="round"></path>
    <path
      d="M2138 4103.09C3223.29 4103.09 4103.09 3223.29 4103.09 2138C4103.09 1052.71 3223.29 172.912 2138 172.912C1052.71 172.912 172.912 1052.71 172.912 2138C172.912 3223.29 1052.71 4103.09 2138 4103.09Z"
      stroke="#4A3AFF"
      stroke-width="5"
      stroke-linecap="round"
      stroke-linejoin="round"></path>
    <path
      d="M2138 3933.11C3129.41 3933.11 3933.11 3129.41 3933.11 2138C3933.11 1146.59 3129.41 342.887 2138 342.887C1146.59 342.887 342.887 1146.59 342.887 2138C342.887 3129.41 1146.59 3933.11 2138 3933.11Z"
      stroke="#4A3AFF"
      stroke-width="5"
      stroke-linecap="round"
      stroke-linejoin="round"></path>
    <path
      d="M2138 3763.2C3035.57 3763.2 3763.2 3035.57 3763.2 2138C3763.2 1240.43 3035.57 512.799 2138 512.799C1240.43 512.799 512.8 1240.43 512.8 2138C512.8 3035.57 1240.43 3763.2 2138 3763.2Z"
      stroke="#4A3AFF"
      stroke-width="5"
      stroke-linecap="round"
      stroke-linejoin="round"></path>
    <path
      d="M2138 3593.23C2941.7 3593.23 3593.23 2941.7 3593.23 2138C3593.23 1334.3 2941.7 682.773 2138 682.773C1334.3 682.773 682.775 1334.3 682.775 2138C682.775 2941.7 1334.3 3593.23 2138 3593.23Z"
      stroke="#4A3AFF"
      stroke-width="5"
      stroke-linecap="round"
      stroke-linejoin="round"></path>
    <path
      d="M2138 3423.31C2847.86 3423.31 3423.31 2847.86 3423.31 2138C3423.31 1428.14 2847.86 852.686 2138 852.686C1428.14 852.686 852.686 1428.14 852.686 2138C852.686 2847.86 1428.14 3423.31 2138 3423.31Z"
      stroke="#4A3AFF"
      stroke-width="5"
      stroke-linecap="round"
      stroke-linejoin="round"></path>
    <path
      d="M2138 3253.34C2753.99 3253.34 3253.34 2753.98 3253.34 2138C3253.34 1522.01 2753.99 1022.66 2138 1022.66C1522.02 1022.66 1022.66 1522.01 1022.66 2138C1022.66 2753.98 1522.02 3253.34 2138 3253.34Z"
      stroke="#4A3AFF"
      stroke-width="5"
      stroke-linecap="round"
      stroke-linejoin="round"></path>
    <path
      d="M2138 3083.43C2660.14 3083.43 3083.43 2660.15 3083.43 2138C3083.43 1615.85 2660.14 1192.57 2138 1192.57C1615.85 1192.57 1192.57 1615.85 1192.57 2138C1192.57 2660.15 1615.85 3083.43 2138 3083.43Z"
      stroke="#4A3AFF"
      stroke-width="5"
      stroke-linecap="round"
      stroke-linejoin="round"></path>
    <path
      d="M2138 2913.45C2566.27 2913.45 2913.45 2566.27 2913.45 2138C2913.45 1709.73 2566.27 1362.55 2138 1362.55C1709.73 1362.55 1362.55 1709.73 1362.55 2138C1362.55 2566.27 1709.73 2913.45 2138 2913.45Z"
      stroke="#4A3AFF"
      stroke-width="5"
      stroke-linecap="round"
      stroke-linejoin="round"></path>
    <path
      d="M2138 2743.54C2472.43 2743.54 2743.54 2472.43 2743.54 2138C2743.54 1803.57 2472.43 1532.46 2138 1532.46C1803.57 1532.46 1532.46 1803.57 1532.46 2138C1532.46 2472.43 1803.57 2743.54 2138 2743.54Z"
      stroke="#4A3AFF"
      stroke-width="5"
      stroke-linecap="round"
      stroke-linejoin="round"></path>
    <path
      d="M2138 2573.56C2378.56 2573.56 2573.57 2378.56 2573.57 2138C2573.57 1897.44 2378.56 1702.43 2138 1702.43C1897.44 1702.43 1702.43 1897.44 1702.43 2138C1702.43 2378.56 1897.44 2573.56 2138 2573.56Z"
      stroke="#4A3AFF"
      stroke-width="5"
      stroke-linecap="round"
      stroke-linejoin="round"></path>
    <path
      d="M2138 2403.65C2284.72 2403.65 2403.65 2284.72 2403.65 2138C2403.65 1991.28 2284.72 1872.35 2138 1872.35C1991.28 1872.35 1872.35 1991.28 1872.35 2138C1872.35 2284.72 1991.28 2403.65 2138 2403.65Z"
      stroke="#4A3AFF"
      stroke-width="5"
      stroke-linecap="round"
      stroke-linejoin="round"></path>
  </svg>

  <svg
    class="absolute bottom-0 -ml-96 -mb-96 left-0 blur-3xl opacity-90"
    width="100%"
    height="100%"
    viewBox="0 0 400 400"
    fill="none"
    xmlns="http://www.w3.org/2000/svg">
    <g clip-path="url(#clip0_10_20)">
      <g filter="url(#filter0_f_10_20)">
        <path d="M128.6 0H0V322.2L106.2 134.75L128.6 0Z" fill="#5934ed"></path>
        <path d="M0 322.2V400H240H320L106.2 134.75L0 322.2Z" fill="#7C87F8"
        ></path>
        <path d="M320 400H400V78.75L106.2 134.75L320 400Z" fill="#4C65E4"
        ></path>
        <path d="M400 0H128.6L106.2 134.75L400 78.75V0Z" fill="#ecebff"></path>
      </g>
    </g>
    <defs>
      <filter
        id="filter0_f_10_20"
        x="-160.333"
        y="-160.333"
        width="720.666"
        height="720.666"
        filterUnits="userSpaceOnUse"
        color-interpolation-filters="sRGB">
        <feFlood flood-opacity="0" result="BackgroundImageFix"></feFlood>
        <feBlend
          mode="normal"
          in="SourceGraphic"
          in2="BackgroundImageFix"
          result="shape"></feBlend>
        <feGaussianBlur
          stdDeviation="80.1666"
          result="effect1_foregroundBlur_10_20"></feGaussianBlur>
      </filter>
    </defs>
  </svg>
  <svg
    class="absolute top-0 -mr-96 -mt-96 right-0 blur-3xl opacity-50"
    width="100%"
    height="100%"
    viewBox="0 0 400 400"
    fill="none"
    xmlns="http://www.w3.org/2000/svg">
    <g clip-path="url(#clip0_10_20)">
      <g filter="url(#filter0_f_10_20)">
        <path d="M128.6 0H0V322.2L106.2 134.75L128.6 0Z" fill="#5934ed"></path>
        <path d="M0 322.2V400H240H320L106.2 134.75L0 322.2Z" fill="#7C87F8"
        ></path>
        <path d="M320 400H400V78.75L106.2 134.75L320 400Z" fill="#4C65E4"
        ></path>
        <path d="M400 0H128.6L106.2 134.75L400 78.75V0Z" fill="#ecebff"></path>
      </g>
    </g>
    <defs>
      <filter
        id="filter0_f_10_20"
        x="-160.333"
        y="-160.333"
        width="720.666"
        height="720.666"
        filterUnits="userSpaceOnUse"
        color-interpolation-filters="sRGB">
        <feFlood flood-opacity="0" result="BackgroundImageFix"></feFlood>
        <feBlend
          mode="normal"
          in="SourceGraphic"
          in2="BackgroundImageFix"
          result="shape"></feBlend>
        <feGaussianBlur
          stdDeviation="80.1666"
          result="effect1_foregroundBlur_10_20"></feGaussianBlur>
      </filter>
    </defs>
  </svg>
  <div
    class="items-center w-full px-8 py-12 mx-auto md:px-12 lg:px-24 max-w-7xl lg:py-36 relative"
    x-data="{annual: false}">
    <div class="max-w-3xl lg:mx-auto lg:text-center">
      <div>
        <span
          class="bg-accent-50/50 border border-white/50 backdrop-blur-2xl rounded-full py-2 px-4 w-auto">
          <span class="text-sm text-accent-500 uppercase font-semibold">
            Pricing 4</span
          >
        </span>
        <p class="text-4xl mt-8 lg:text-6xl font-extrabold text-black">
          Equip your business with world class software
        </p>
        <p class="text-base text-slate-400-700 max-w-xl mt-8 lg:mx-auto">
          Every plan includes every feature, and can scale as your team does.
        </p>
      </div>
      <div
        class="bg-gradient-to-tr from-accent-600 via-accent-500 to-accent-400 inline-flex rounded-xl divide-accent-500 divide-x-2 mt-6 overflow-hidden p-0.5 shadow-normal z-0">
        <button
          class="text-sm py-2 text-white w-full bg-accent-500 block font-medium px-8 transition rounded-l-xl"
          @click="annual = false"
          :class="annual == false ? 'bg-accent-700 text-white ' : ''"
          type="button">Monthly</button
        >
        <button
          class="text-sm text-white py-2 w-full block font-medium px-8 transition rounded-r-xl bg-accent-500"
          @click="annual = true"
          :class="annual == true ? 'bg-accent-700 text-white' : ''"
          type="button">Annual</button
        >
      </div>
    </div>
    <div
      class="relative max-w-7xl lg:mx-auto my-12 sm:gap-3 sm:grid sm:grid-cols-2 sm:mt-16 sm:space-y-0 space-y-4 xl:grid-cols-2">
      <section
        class="bg-white/30 border-white/40 border backdrop-blur-3xl shadow-normal rounded-3xl">
        <div
          class="items-center w-full justify-center grid grid-cols-1 lg:p-8 p-6 rounded-t-3xl">
          <div class="inline-flex items-center w-full justify-between">
            <div>
              <h2 class="text-black text-2xl">Pro</h2><p
                class="mt-4 text-slate-700 text-base">
                For medium businesses
              </p>
            </div><div class="flex-col">
              <p class="text-black text-5xl tracking-tight">
                $<span x-text="annual ? '12.00' : '15.00'">12.00</span>
              </p><p class="text-base text-slate-700">
                per month <span x-show="annual">(billed annually)</span>
              </p>
            </div>
          </div>
        </div>
        <div class="px-6 pb-8 rounded-b-3xl border-t border-white/50 pt-10">
          <ul
            class="text-sm flex flex-col gap-y-3 order-last text-slate-700 lg:text-lg"
            role="list">
            <li class="flex items-center">
              <svg
                class="h-6 w-6 opacity-70"
                fill="none"
                viewBox="0 0 24 24"
                xmlns="http://www.w3.org/2000/svg"
                stroke="currentColor"
                stroke-width="1.5"
                ><path
                  d="M9 12.75L11.25 15 15 9.75M21 12a9 9 0 11-18 0 9 9 0 0118 0z"
                  stroke-linecap="round"
                  stroke-linejoin="round"></path></svg
              >
              <span class="ml-4">Limited number of users</span>
            </li><li class="flex items-center">
              <svg
                class="h-6 w-6 opacity-70"
                fill="none"
                viewBox="0 0 24 24"
                xmlns="http://www.w3.org/2000/svg"
                stroke="currentColor"
                stroke-width="1.5"
                ><path
                  d="M9 12.75L11.25 15 15 9.75M21 12a9 9 0 11-18 0 9 9 0 0118 0z"
                  stroke-linecap="round"
                  stroke-linejoin="round"></path></svg
              >
              <span class="ml-4">Limited storage (5 GB)</span>
            </li><li class="flex items-center">
              <svg
                class="h-6 w-6 opacity-70"
                fill="none"
                viewBox="0 0 24 24"
                xmlns="http://www.w3.org/2000/svg"
                stroke="currentColor"
                stroke-width="1.5"
                ><path
                  d="M9 12.75L11.25 15 15 9.75M21 12a9 9 0 11-18 0 9 9 0 0118 0z"
                  stroke-linecap="round"
                  stroke-linejoin="round"></path></svg
              >
              <span class="ml-4">Basic support (email only)</span>
            </li><li class="flex items-center">
              <svg
                class="h-6 w-6 opacity-70"
                fill="none"
                viewBox="0 0 24 24"
                xmlns="http://www.w3.org/2000/svg"
                stroke="currentColor"
                stroke-width="1.5"
                ><path
                  d="M9 12.75L11.25 15 15 9.75M21 12a9 9 0 11-18 0 9 9 0 0118 0z"
                  stroke-linecap="round"
                  stroke-linejoin="round"></path></svg
              >
              <span class="ml-4">Basic analytics</span>
            </li><li class="flex items-center">
              <svg
                class="h-6 w-6 opacity-70"
                fill="none"
                viewBox="0 0 24 24"
                xmlns="http://www.w3.org/2000/svg"
                stroke="currentColor"
                stroke-width="1.5"
                ><path
                  d="M9 12.75L11.25 15 15 9.75M21 12a9 9 0 11-18 0 9 9 0 0118 0z"
                  stroke-linecap="round"
                  stroke-linejoin="round"></path></svg
              >
              <span class="ml-4">Multiple integrations</span>
            </li><li class="flex items-center">
              <svg
                class="h-6 w-6 opacity-70"
                fill="none"
                viewBox="0 0 24 24"
                xmlns="http://www.w3.org/2000/svg"
                stroke="currentColor"
                stroke-width="1.5"
                ><path
                  d="M9 12.75L11.25 15 15 9.75M21 12a9 9 0 11-18 0 9 9 0 0118 0z"
                  stroke-linecap="round"
                  stroke-linejoin="round"></path></svg
              >
              <span class="ml-4">Basic customization</span>
            </li><li class="flex items-center">
              <svg
                class="h-6 w-6 opacity-70"
                fill="none"
                viewBox="0 0 24 24"
                xmlns="http://www.w3.org/2000/svg"
                stroke="currentColor"
                stroke-width="1.5"
                ><path
                  d="M9 12.75L11.25 15 15 9.75M21 12a9 9 0 11-18 0 9 9 0 0118 0z"
                  stroke-linecap="round"
                  stroke-linejoin="round"></path></svg
              >
              <span class="ml-4">No SLA</span>
            </li>
          </ul>
          <a
            aria-label="Monthly tier"
            class="inline-flex items-center mt-8 justify-center w-full px-6 py-3 text-center text-accent-600 duration-200 bg-slate-50 font-medium rounded-xl text-base focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-accent-500 ring-offset-2 hover:bg-slate-100"
            href="#">Get started</a
          >
        </div>
      </section><section
        class="lg:order-none order-first bg-gradient-to-tr from-accent-600 via-accent-500 to-accent-400 rounded-[2rem]">
        <div
          class="items-center w-full justify-center grid grid-cols-1 lg:p-8 p-6 rounded-t-3xl">
          <div class="inline-flex items-center w-full justify-between">
            <div>
              <h2 class="text-white text-2xl">
                Enterprise <span
                  class="items-center inline-flex text-accent-500 font-medium rounded-xl bg-white ml-3 px-2.5 py-0.5 text-vulcan-800 text-xs"
                  >Popular</span
                >
              </h2><p class="mt-4 text-white text-base">For organizations</p>
            </div>
            <div class="flex-col">
              <p class="text-white text-5xl tracking-tight">
                $<span x-text="annual ? '28.00' : '35.00'">28.00</span>
              </p><p class="text-base text-slate-400">
                per month <span x-show="annual">(billed annually)</span>
              </p>
            </div>
          </div>
        </div>
        <div class="px-6 pb-8 rounded-b-3xl border-t border-white/50 pt-10">
          <ul
            class="text-sm flex flex-col gap-y-3 order-last text-white lg:text-lg"
            role="list">
            <li class="flex items-center">
              <svg
                class="h-6 w-6 opacity-70"
                fill="none"
                viewBox="0 0 24 24"
                xmlns="http://www.w3.org/2000/svg"
                stroke="currentColor"
                stroke-width="1.5"
                ><path
                  d="M9 12.75L11.25 15 15 9.75M21 12a9 9 0 11-18 0 9 9 0 0118 0z"
                  stroke-linecap="round"
                  stroke-linejoin="round"></path></svg
              >
              <span class="ml-4">Unlimited number of users</span>
            </li><li class="flex items-center">
              <svg
                class="h-6 w-6 opacity-70"
                fill="none"
                viewBox="0 0 24 24"
                xmlns="http://www.w3.org/2000/svg"
                stroke="currentColor"
                stroke-width="1.5"
                ><path
                  d="M9 12.75L11.25 15 15 9.75M21 12a9 9 0 11-18 0 9 9 0 0118 0z"
                  stroke-linecap="round"
                  stroke-linejoin="round"></path></svg
              >
              <span class="ml-4">Unlimited storage</span>
            </li><li class="flex items-center">
              <svg
                class="h-6 w-6 opacity-70"
                fill="none"
                viewBox="0 0 24 24"
                xmlns="http://www.w3.org/2000/svg"
                stroke="currentColor"
                stroke-width="1.5"
                ><path
                  d="M9 12.75L11.25 15 15 9.75M21 12a9 9 0 11-18 0 9 9 0 0118 0z"
                  stroke-linecap="round"
                  stroke-linejoin="round"></path></svg
              >
              <span class="ml-4">Advanced support</span>
            </li><li class="flex items-center">
              <svg
                class="h-6 w-6 opacity-70"
                fill="none"
                viewBox="0 0 24 24"
                xmlns="http://www.w3.org/2000/svg"
                stroke="currentColor"
                stroke-width="1.5"
                ><path
                  d="M9 12.75L11.25 15 15 9.75M21 12a9 9 0 11-18 0 9 9 0 0118 0z"
                  stroke-linecap="round"
                  stroke-linejoin="round"></path></svg
              >
              <span class="ml-4">Advanced analytics</span>
            </li><li class="flex items-center">
              <svg
                class="h-6 w-6 opacity-70"
                fill="none"
                viewBox="0 0 24 24"
                xmlns="http://www.w3.org/2000/svg"
                stroke="currentColor"
                stroke-width="1.5"
                ><path
                  d="M9 12.75L11.25 15 15 9.75M21 12a9 9 0 11-18 0 9 9 0 0118 0z"
                  stroke-linecap="round"
                  stroke-linejoin="round"></path></svg
              >
              <span class="ml-4">Multiple integrations</span>
            </li><li class="flex items-center">
              <svg
                class="h-6 w-6 opacity-70"
                fill="none"
                viewBox="0 0 24 24"
                xmlns="http://www.w3.org/2000/svg"
                stroke="currentColor"
                stroke-width="1.5"
                ><path
                  d="M9 12.75L11.25 15 15 9.75M21 12a9 9 0 11-18 0 9 9 0 0118 0z"
                  stroke-linecap="round"
                  stroke-linejoin="round"></path></svg
              >
              <span class="ml-4">Advanced customization</span>
            </li><li class="flex items-center">
              <svg
                class="h-6 w-6 opacity-70"
                fill="none"
                viewBox="0 0 24 24"
                xmlns="http://www.w3.org/2000/svg"
                stroke="currentColor"
                stroke-width="1.5"
                ><path
                  d="M9 12.75L11.25 15 15 9.75M21 12a9 9 0 11-18 0 9 9 0 0118 0z"
                  stroke-linecap="round"
                  stroke-linejoin="round"></path></svg
              >
              <span class="ml-4">99.9% SLA</span>
            </li>
          </ul><a
            aria-label="Monthly tier"
            class="inline-flex items-center justify-center w-full mt-8 px-6 py-3 text-center text-accent-600 duration-200 bg-accent-100 font-medium rounded-xl text-base focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-white ring-offset-2 hover:bg-accent-50"
            href="#">Get started</a
          >
        </div>
      </section>
    </div>
  </div>
</section>
