---
import BaseLatyout from "../layouts/BaseLatyout.astro"
const title = "contact"
---

<BaseLatyout title={title}>
    <h1 class="text-xl font-semibold font-mono">{title}</h1>
    <p class="test-gray-500">something here too</p>
    
</BaseLatyout>