<section id="author" aria-labelledby="author-title" class="relative overflow-hidden ">
    <div class="relative px-8 my-24 mx-auto sm:px-6 md:max-w-2xl md:px-4 lg:max-w-6xl lg:px-20 ">
        <div>
            <div class="max-w-xl">
                <p class="text-3xl font-medium tracking-tight text-black lg:text-5xl mt-24">
                    JavaScript Application Developer
                </p>
            </div>
            <div class="max-w-xl mt-12">
                <div class="space-y-3">
                    <div>
                        <div class="py-3">
                            <div class="inline-flex items-center justify-between w-full">
                                <div class="flex items-center">
                                    <div>
                                        <img class="inline-block h-9 w-9 rounded-full border"
                                            src="https://cdn.dribbble.com/users/2074298/avatars/normal/574b8e15ecaf1bc4c9cb93b3ae6ffb31.jpg?1571159029"
                                            alt="#" />
                                    </div>
                                    <div class="ml-3">
                                        <p class="text-sm  text-black ">
                                            Carrier oportunity <span class="text-slate-500">at</span>
                                            Figma
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="space-y-4">
                        <p class=" text-slate-500 ">
                            Figma designs and develops clever websites and applications for brands you've heard of and
                            small companies with big ideas. Founded in 2010, we're a team of designers and developers
                            who get excited about solving problems by crafting creative solutions.
                        </p>
                    </div>
                </div>
            </div>
            <div class="max-w-xl">
                <div class="space-y-3">
                    <div class="space-y-4">
                        <h3 class="text-xl text-black mt-12">Position Summary
                        </h3>
                        <p class=" text-slate-500 ">
                            As a member of our App team, this position will be responsible for developing web and mobile
                            apps typically built with Vue or React. This role requires experience working in these
                            platforms as well as being proficient in CSS/HTML/JS standards.
                        </p>
                        <p class=" text-slate-500 ">
                            This developer will work alongside other skilled web developers and constantly be challenged
                            with interesting problems. We're all passionate about learning new technologies and
                            techniques so you'd be learning and contributing a lot in a very collaborative setting.
                        </p>
                        <p class=" text-slate-500 ">
                            This is a remote or office optional position. We build great software remotely every day and
                            love working with talent from all over. That said, you're welcome to work from HQ any time
                            and many of us do quite often.
                        </p>
                    </div>
                </div>
                <div class="space-y-3">
                    <div class="space-y-4">
                        <h3 class="text-xl text-black mt-12">Common Tasks
                        </h3>
                        <ul class="list-disc list-inside space-y-3 mt-6 text-slate-500" role="list">
                            <li>Develop new features for a large React app using various AWS services for an aviation
                                services company
                            </li>
                            <li>Contribute to a custom event donation platform that accepts millions of dollars in
                                donations built with Vue and Stripe
                            </li>
                            <li>Build Vue components and refactor Firebase Cloud Functions for an app that connects
                                drivers and managers at a large logistics company.
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="space-y-3">
                    <div class="space-y-4">
                        <h3 class="text-xl text-black mt-12">Requirements
                        </h3>
                        <ul class="list-disc list-inside space-y-3 mt-6 text-slate-500" role="list">
                            <li>Examples to show you're a living, breathing developer actively building web apps (GitHub
                                or personal site is preferred)
                            </li>
                            <li>Expert in HTML, CSS, and JS (i.e. you can do this in your sleep)
                            </li>
                            <li>Experience with React, Vue, Node.js or another modern JavaScript framework
                            </li>
                        </ul>
                        <h3 class=" text-black ">Experience Bonus Points
                        </h3>
                        <ul class="list-disc list-inside space-y-3 mt-6 text-slate-500" role="list">
                            <li>Examples to show you're a living, breathing developer actively building web apps (GitHub
                                or personal site is preferred)
                            </li>
                            <li>Expert in HTML, CSS, and JS (i.e. you can do this in your sleep)
                            </li>
                            <li>Experience with React, Vue, Node.js or another modern JavaScript framework
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="space-y-3">
                    <div class="space-y-4">
                        <h3 class="text-xl text-black mt-12">Benefits & Perks
                        </h3>
                        <ul class="list-disc list-inside space-y-3 mt-6 text-slate-500" role="list">
                            <li>Health, Dental, Vision, and Life insurance
                            </li>
                            <li>401k matching
                            </li>
                            <li>Company profit sharing
                            </li>
                            <li>40 hour work week on your own schedule

                            </li>
                        </ul>
                    </div>
                </div>

            </div>
            <div class=" mt-12 border-b pb-12">
                <div class="mt-3 sm:mt-0">
                    <a href="#"
                        class=" inline-flex w-full lg:w-auto items-center justify-center  px-12 py-3  text-center text-white transition duration-500 ease-in-out transform bg-blue-500 border-2 border-blue-500 rounded-md hover:bg-white hover:border-blue-500 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-blue-500 hover:text-blue-500">
                        Apply for this position </a>
                </div>

            </div>
            <div class="max-w-xl">

                <div class="space-y-3">
                    <div class="space-y-4">
                        <h3 class="text-xl text-black mt-12">More about us
                        </h3>
                        <p class=" text-slate-500 ">
                            We're a chill crew that gets really excited about the work we do. The culture is casual
                            about serious stuff and very serious about creating stuff that impresses our clients and our
                            peers. We challenge each other to be better. We obsess over how we build because we know it
                            makes what we build even better. We're a small team and we like that. We also like to get
                            out at least once a week for a team lunch and, when we're able, we skip out early to grab a
                            pint. It's said that we're different than most companies. We would agree.


                        </p>
                    </div>
                </div>

            </div>
        </div>
    </div>
</section>