<section>
  <div class="px-8 py-12 mx-auto md:px-12 lg:px-32 max-w-7xl lg:py-24">
    <div class="max-w-2xl">
      <span class="text-xs font-bold tracking-wide uppercase text-accent-500">
        Article</span
      >
      <p class="mt-8 text-4xl font-semibold tracking-tight text-accent-900">
        Follow the steps
      </p>
    </div>
    <ol role="list" class="flex items-center mt-12 lg:space-x-4">
      <li>
        <a href="/">
          <div
            class="inline-flex items-center px-2 py-1 text-xs font-medium rounded-md text-accent-900 bg-gray-50 ring-1 ring-inset ring-gray-500/10">
            Home
          </div>
        </a>
      </li>
      <li>
        <a href="/help/category/">
          <div
            class="inline-flex items-center px-2 py-1 text-xs font-medium text-gray-600 rounded-md bg-gray-50 ring-1 ring-inset ring-gray-500/10">
            Single Topic
          </div>
        </a>
      </li>
      <li>
        <a
          href="#"
          class="text-xs font-medium text-gray-500 hover:text-accent-500"
          aria-current="page">
          <div
            class="inline-flex items-center px-2 py-1 text-xs font-medium text-accent-500">
            Article
          </div>
        </a>
      </li>
    </ol>
    <div
      class="mt-12 prose text-gray-500 prose-blockquote:border-l-black prose-a:text-accent-500 hover:prose-a:text-accent-900 prose-headings:font-bold prose-headings:tracking-tighter prose-headings:text-accent-900 prose-li:marker:text-accent-500 prose-code:text-accent-900 prose-blockquote:text-gray-500">
      <p class="text-gray-500">
        Is it worth investing in tech right now? Here’s what on-the-fence
        investors should know about current tech investment opportunities.
      </p>
      <h3>Intro to Semplice</h3>
      <p>
        Despite the tech industry’s disturbing regression in the stock market,
        CEOs and market analysts see the trend as a temporary shake-out. The big
        players in tech are more relevant than ever, but changing investor
        demographics and behaviors are the main causes of the downturn.
      </p>
      <p class="text-gray-500">
        Many new investors have entered the stock market since 2020, the
        predominant demographic being inexperienced high school and college
        students. This generation of investors is far more interested in
        technology than previous groups of investors. For example, the hype
        surrounding NFTs and obscure forms of cryptocurrency largely came from
        the 18-25 age group.
      </p>

      <ul role="list">
        <li>Sing in to Semplice</li>
        <li>Click your avatar in the top-right corner.</li>
        <li>Open settings</li>
        <li>Enable dark mode</li>
      </ul>
    </div>

    <div class="max-w-xl mt-12 border-t">
      <div class="inline-flex items-center w-full py-4">
        <p class="font-medium text-gray-500">Was this helpful?</p>

        <span class="inline-flex ml-auto rounded-md shadow-sm isolate">
          <button
            type="button"
            class="flex items-center justify-center h-10 px-4 py-2 text-sm font-semibold transition-all bg-white border border-gray-300 rounded-l-md ext-accent-600 hover:text-accent-500"
            >Yes</button
          >

          <button
            type="button"
            class="flex items-center justify-center h-10 px-4 py-2 -ml-px text-sm font-semibold transition-all bg-white border border-gray-300 rounded-r-md text-accent-600 hover:text-accent-500"
            >No</button
          >
        </span>
      </div>
    </div>
  </div>
</section>
