<section class="bg-white">
  <div class="w-full px-8 py-12 mx-auto md:px-12 lg:px-24 max-w-7xl lg:py-32">
    <div>
      <div class="relative items-center">
        <div class="w-full lg:inline-flex justify-between lg:items-center">
          <div class="max-w-xl">
            <span
              class="font-semibold text-accent-500 text-sm tracking-widest uppercase">
              Article</span
            >
            <p class="text-4xl mt-8 font-extrabold tracking-tight text-black">
              Follow the steps
            </p>
          </div>
          <div class="mt-12 flex flex-col sm:flex-row lg:ml-auto">
            <a
              class="items-center text-white focus:outline-none inline-flex justify-center hover:text-accent-500 duration-200 focus-visible:outline-black focus-visible:ring-black font-medium lg:w-auto px-6 py-3 rounded-xl text-center w-full bg-accent-500 hover:bg-accent-100"
              href="/signup">Subscribe for updates &nbsp;&nbsp; →</a
            >
          </div>
        </div>
        <ol role="list" class="flex items-center lg:space-x-4 mt-12">
          <li>
            <div
              class="px-6 py-1 text-xs rounded-lg bg-black hover:bg-slate-500">
              <a href="/" class="text-white"> Home</a>
            </div>
          </li>
          <li>
            <div class="flex items-center">
              <svg
                class="flex-shrink-0 h-5 w-5 text-slate-300"
                xmlns="http://www.w3.org/2000/svg"
                fill="currentColor"
                viewBox="0 0 20 20"
                aria-hidden="true">
                <path d="M5.555 17.776l8-16 .894.448-8 16-.894-.448z"></path>
              </svg>
              <div
                class="px-6 py-1 text-xs rounded-lg bg-slate-100 hover:bg-slate-500 ml-3">
                <a
                  href="/help/category/"
                  class="text-xs font-medium text-accent-500 hover:text-slate-700"
                  >Single Topic
                </a>
              </div>
            </div>
          </li>
          <li>
            <div class="flex items-center">
              <svg
                class="flex-shrink-0 h-5 w-5 text-slate-300"
                xmlns="http://www.w3.org/2000/svg"
                fill="currentColor"
                viewBox="0 0 20 20"
                aria-hidden="true">
                <path d="M5.555 17.776l8-16 .894.448-8 16-.894-.448z"></path>
              </svg>
              <a
                href="#"
                class="ml-3 text-xs font-medium text-slate-500 hover:text-accent-500"
                aria-current="page"
                >Video Article
              </a>
            </div>
          </li>
        </ol>
      </div>

      <div
        class="prose mt-12 prose-blockquote:border-l-black prose-a:text-accent-500 hover:prose-a:text-black prose-headings:font-bold prose-headings:tracking-tighter prose-headings:text-black prose-li:marker:text-accent-500 text-slate-500 prose-code:text-black prose-blockquote:text-slate-500">
        <p class="text-slate-500">
          Is it worth investing in tech right now? Here’s what on-the-fence
          investors should know about current tech investment opportunities.
        </p>
        <div class="space-y-4">
          <h3 class="text-xl text-black mt-12">Intro to Semplice</h3>
          <p class="text-slate-500">
            Despite the tech industry’s disturbing regression in the stock
            market, CEOs and market analysts see the trend as a temporary
            shake-out. The big players in tech are more relevant than ever, but
            changing investor demographics and behaviors are the main causes of
            the downturn.
          </p>
          <p class="text-slate-500">
            Many new investors have entered the stock market since 2020, the
            predominant demographic being inexperienced high school and college
            students. This generation of investors is far more interested in
            technology than previous groups of investors. For example, the hype
            surrounding NFTs and obscure forms of cryptocurrency largely came
            from the 18-25 age group.
          </p>
        </div>
        <div>
          <ul class="list-decimal list-inside space-y-3 mt-6" role="list">
            <li>Sing in to Semplice</li>
            <li>Click your avatar in the top-right corner.</li>
            <li>Open settings</li>
            <li>Enable dark mode</li>
          </ul>
        </div>
      </div>
    </div>

    <div class="max-w-xl mt-12 border-t">
      <div class="py-4 rounded-md inline-flex items-center w-full">
        <p class="text-accent-500">Was this helpful?</p>
        <p></p>
        <span class="isolate inline-flex rounded-md shadow-sm ml-auto">
          <button
            type="button"
            class="relative inline-flex items-center rounded-l-md border border-gray-300 bg-white px-4 py-2 text-sm font-medium text-gray-700 hover:bg-gray-50 focus:z-10 focus:border-indigo-500 focus:outline-none focus:ring-1 focus:ring-indigo-500"
            >Yes</button
          >

          <button
            type="button"
            class="relative -ml-px inline-flex items-center rounded-r-md border border-gray-300 bg-white px-4 py-2 text-sm font-medium text-gray-700 hover:bg-gray-50 focus:z-10 focus:border-indigo-500 focus:outline-none focus:ring-1 focus:ring-indigo-500"
            >No</button
          >
        </span>
      </div>
    </div>
  </div>
</section>
