<section>
  <div class="px-8 py-12 mx-auto md:px-12 lg:px-32 max-w-7xl lg:py-24">
    <div class="max-w-2xl">
      <span class="text-xs font-bold tracking-wide uppercase text-accent-500"
        >Getting Started</span
      ><p class="mt-8 text-4xl font-semibold tracking-tight text-accent-900">
        Search and get your answers
      </p>
      <div class="flex flex-wrap items-center mt-10">
        <div>
          <label class="sr-only" for="search">Quick search</label><div
            class="relative flex items-center">
            <input
              class="w-full h-10 px-4 py-2 placeholder-gray-300 duration-200 border border-gray-300 rounded-lg appearance-none bg-chalk focus:border-gray-300 focus:outline-none focus:ring-gray-300 sm:text-sm text-accent-500 lock pr-14"
              id="search"
              name="search"
              type="text"
            /><div class="flex absolute inset-y-0 pr-1.5 py-1.5 right-0">
              <kbd
                class="items-center inline-flex border-gray-200 font-sans px-0.5 rounded text-gray-400 text-xs"
                >⌘K</kbd
              >
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="mt-12 border-gray-300 divide-y divide-gray-300 border-y">
      <div class="grid items-end grid-cols-1 gap-4 py-8 lg:grid-cols-4">
        <div class="lg:col-span-2">
          <span class="text-base font-medium text-accent-900"
            >Connect with Slack</span
          ><p class="mt-2 text-sm text-gray-500">
            Learn how to integrate Semplice with Slack
          </p>
        </div><div class="lg:col-span-2 lg:ml-auto">
          <a
            class="flex items-center justify-center w-10 h-10 text-sm font-semibold transition-all bg-white shadow-subtle hover:shadow-none duration-200 border rounded-lg text-accent-600 hover:text-accent-500"
            href="/help/details"
            ><svg
              class="w-4 h-4"
              fill="none"
              viewBox="0 0 24 24"
              stroke="currentColor"
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="2"><path d="M5 12h14M12 5l7 7-7 7"></path></svg
            ></a
          >
        </div>
      </div><div class="grid items-end grid-cols-1 gap-4 py-8 lg:grid-cols-4">
        <div class="lg:col-span-2">
          <span class="text-base font-medium text-accent-900"
            >Create and Manage Docs Articles</span
          ><p class="mt-2 text-sm text-gray-500">
            Learn how to efficiently create and manage articles.
          </p>
        </div><div class="lg:col-span-2 lg:ml-auto">
          <a
            class="flex items-center justify-center w-10 h-10 text-sm font-semibold transition-all bg-white shadow-subtle hover:shadow-none duration-200 border rounded-lg text-accent-600 hover:text-accent-500"
            href="/help/details"
            ><svg
              class="w-4 h-4"
              fill="none"
              viewBox="0 0 24 24"
              stroke="currentColor"
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="2"><path d="M5 12h14M12 5l7 7-7 7"></path></svg
            ></a
          >
        </div>
      </div><div class="grid items-end grid-cols-1 gap-4 py-8 lg:grid-cols-4">
        <div class="lg:col-span-2">
          <span class="text-base font-medium text-accent-900"
            >Understanding Reports</span
          ><p class="mt-2 text-sm text-gray-500">
            Learn about report types, features and common questions.
          </p>
        </div><div class="lg:col-span-2 lg:ml-auto">
          <a
            class="flex items-center justify-center w-10 h-10 text-sm font-semibold transition-all bg-white shadow-subtle hover:shadow-none duration-200 border rounded-lg text-accent-600 hover:text-accent-500"
            href="/help/details"
            ><svg
              class="w-4 h-4"
              fill="none"
              viewBox="0 0 24 24"
              stroke="currentColor"
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="2"><path d="M5 12h14M12 5l7 7-7 7"></path></svg
            ></a
          >
        </div>
      </div><div class="grid items-end grid-cols-1 gap-4 py-8 lg:grid-cols-4">
        <div class="lg:col-span-2">
          <span class="text-base font-medium text-accent-900"
            >Manage Company Settings</span
          ><p class="mt-2 text-sm text-gray-500">
            Learn how to change your company name and other settings.
          </p>
        </div><div class="lg:col-span-2 lg:ml-auto">
          <a
            class="flex items-center justify-center w-10 h-10 text-sm font-semibold transition-all bg-white shadow-subtle hover:shadow-none duration-200 border rounded-lg text-accent-600 hover:text-accent-500"
            href="/help/details"
            ><svg
              class="w-4 h-4"
              fill="none"
              viewBox="0 0 24 24"
              stroke="currentColor"
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="2"><path d="M5 12h14M12 5l7 7-7 7"></path></svg
            ></a
          >
        </div>
      </div><div class="grid items-end grid-cols-1 gap-4 py-8 lg:grid-cols-4">
        <div class="lg:col-span-2">
          <span class="text-base font-medium text-accent-900"
            >Inviting Team Members</span
          ><p class="mt-2 text-sm text-gray-500">
            Learn how to invite team members to workspaces.
          </p>
        </div><div class="lg:col-span-2 lg:ml-auto">
          <a
            class="flex items-center justify-center w-10 h-10 text-sm font-semibold transition-all bg-white shadow-subtle hover:shadow-none duration-200 border rounded-lg text-accent-600 hover:text-accent-500"
            href="/help/details"
            ><svg
              class="w-4 h-4"
              fill="none"
              viewBox="0 0 24 24"
              stroke="currentColor"
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="2"><path d="M5 12h14M12 5l7 7-7 7"></path></svg
            ></a
          >
        </div>
      </div><div class="grid items-end grid-cols-1 gap-4 py-8 lg:grid-cols-4">
        <div class="lg:col-span-2">
          <span class="text-base font-medium text-accent-900"
            >Using Components Inside Doc Editor</span
          ><p class="mt-2 text-sm text-gray-500">
            Learn how to add and edit components
          </p>
        </div><div class="lg:col-span-2 lg:ml-auto">
          <a
            class="flex items-center justify-center w-10 h-10 text-sm font-semibold transition-all bg-white shadow-subtle hover:shadow-none duration-200 border rounded-lg text-accent-600 hover:text-accent-500"
            href="/help/details"
            ><svg
              class="w-4 h-4"
              fill="none"
              viewBox="0 0 24 24"
              stroke="currentColor"
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="2"><path d="M5 12h14M12 5l7 7-7 7"></path></svg
            ></a
          >
        </div>
      </div><div class="grid items-end grid-cols-1 gap-4 py-8 lg:grid-cols-4">
        <div class="lg:col-span-2">
          <span class="text-base font-medium text-accent-900"
            >Payments and Invoices</span
          ><p class="mt-2 text-sm text-gray-500">
            Change payment information and view previous invoices.
          </p>
        </div><div class="lg:col-span-2 lg:ml-auto">
          <a
            class="flex items-center justify-center w-10 h-10 text-sm font-semibold transition-all bg-white shadow-subtle hover:shadow-none duration-200 border rounded-lg text-accent-600 hover:text-accent-500"
            href="/help/details"
            ><svg
              class="w-4 h-4"
              fill="none"
              viewBox="0 0 24 24"
              stroke="currentColor"
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="2"><path d="M5 12h14M12 5l7 7-7 7"></path></svg
            ></a
          >
        </div>
      </div><div class="grid items-end grid-cols-1 gap-4 py-8 lg:grid-cols-4">
        <div class="lg:col-span-2">
          <span class="text-base font-medium text-accent-900"
            >Setting Up Your Semplice Account</span
          ><p class="mt-2 text-sm text-gray-500">
            Get started with Semplice in minutes.
          </p>
        </div><div class="lg:col-span-2 lg:ml-auto">
          <a
            class="flex items-center justify-center w-10 h-10 text-sm font-semibold transition-all bg-white shadow-subtle hover:shadow-none duration-200 border rounded-lg text-accent-600 hover:text-accent-500"
            href="/help/details"
            ><svg
              class="w-4 h-4"
              fill="none"
              viewBox="0 0 24 24"
              stroke="currentColor"
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="2"><path d="M5 12h14M12 5l7 7-7 7"></path></svg
            ></a
          >
        </div>
      </div>
    </div>
  </div>
</section>
