<section>
  <div class="px-8 py-12 mx-auto md:px-12 lg:px-32 max-w-7xl lg:py-24">
    <div class="max-w-2xl">
      <span class="text-xs font-bold tracking-wide uppercase text-accent-500">
        Help Center</span
      >
      <p class="mt-8 text-4xl font-semibold tracking-tight text-accent-900">
        We are here to help you
      </p>
      <div class="flex flex-wrap items-center mt-10">
        <div>
          <label class="sr-only" for="search">Quick search</label><div
            class="relative flex items-center">
            <input
              class="w-full h-10 px-4 py-2 placeholder-gray-300 duration-200 border border-gray-300 rounded-lg appearance-none bg-chalk focus:border-gray-300 focus:outline-none focus:ring-gray-300 sm:text-sm text-accent-500 lock pr-14"
              id="search"
              name="search"
              type="text"
            /><div class="flex absolute inset-y-0 pr-1.5 py-1.5 right-0">
              <kbd
                class="items-center inline-flex border-gray-200 font-sans px-0.5 rounded text-gray-400 text-xs"
                >⌘K</kbd
              >
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="mt-12">
      <ol
        role="list"
        class="grid grid-cols-1 gap-6 mt-12 list-none sm:grid-cols-2 lg:mt-24 lg:grid-cols-3">
        <li
          class="h-full p-6 duration-200 bg-white hover:shadow-none rounded-2xl shadow-subtle">
          <a href="/help/category/">
            <div class="lg:inline-flex lg:items-center">
              <div class="text-accent-500">
                <svg
                  aria-hidden="true"
                  xmlns="http://www.w3.org/2000/svg"
                  class="w-5 h-5"
                  viewBox="0 0 24 24"
                  stroke-width="1.5"
                  stroke="currentColor"
                  fill="none"
                  stroke-linecap="round"
                  stroke-linejoin="round">
                  <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                  <path
                    d="M12 12v-6a2 2 0 0 1 4 0v6m0 -2a2 2 0 1 1 2 2h-6"
                    opacity="0.5"></path>
                  <path d="M12 12h6a2 2 0 0 1 0 4h-6m2 0a2 2 0 1 1 -2 2v-6"
                  ></path>
                  <path d="M12 12v6a2 2 0 0 1 -4 0v-6m0 2a2 2 0 1 1 -2 -2h6"
                  ></path>
                  <path
                    d="M12 12h-6a2 2 0 0 1 0 -4h6m-2 0a2 2 0 1 1 2 -2v6"
                    opacity="0.5"></path>
                </svg>
              </div>
              <h3
                class="mt-6 text-base font-medium text-accent-900 lg:ml-3 lg:mt-0">
                Getting Started
              </h3>
            </div>
            <p class="mt-2 text-sm text-gray-500">
              Submit as many requests to Jamstacker's slack channel as you'd
              like.
            </p>
          </a>
        </li>
        <li
          class="h-full p-6 duration-200 bg-white hover:shadow-none rounded-2xl shadow-subtle">
          <a href="/help/category/">
            <div class="lg:inline-flex lg:items-center">
              <div class="text-accent-500">
                <svg
                  aria-hidden="true"
                  class="w-5 h-5"
                  viewBox="0 0 24 24"
                  stroke-width="1.5"
                  stroke="currentColor"
                  fill="none"
                  stroke-linecap="round"
                  stroke-linejoin="round">
                  <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                  <path d="M4 20h4l10.5 -10.5a1.5 1.5 0 0 0 -4 -4l-10.5 10.5v4"
                  ></path>
                  <line x1="13.5" y1="6.5" x2="17.5" y2="10.5" opacity="0.5"
                  ></line>
                </svg>
              </div>
              <h3
                class="mt-6 text-base font-medium text-accent-900 lg:ml-3 lg:mt-0">
                Using Semplice
              </h3>
            </div>
            <p class="mt-2 text-sm text-gray-500">
              Get your design one at a time in just a few days on average.
            </p>
          </a>
        </li>
        <li
          class="h-full p-6 duration-200 bg-white hover:shadow-none rounded-2xl shadow-subtle">
          <a href="/help/category/">
            <div class="lg:inline-flex lg:items-center">
              <div class="text-accent-500">
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  aria-hidden="true"
                  class="w-5 h-5"
                  viewBox="0 0 24 24"
                  stroke-width="1.5"
                  stroke="currentColor"
                  fill="none"
                  stroke-linecap="round"
                  stroke-linejoin="round">
                  <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                  <path d="M12 4v3m-4 -3v6m8 -6v6" opacity="0.5"></path>
                  <path
                    d="M12 18.5l-3 1.5l.5 -3.5l-2 -2l3 -.5l1.5 -3l1.5 3l3 .5l-2 2l.5 3.5z"
                  ></path>
                </svg>
              </div>
              <h3
                class="mt-6 text-base font-medium text-accent-900 lg:ml-3 lg:mt-0">
                Settings &amp; prefferences
              </h3>
            </div>
            <p class="mt-2 text-sm text-gray-500">
              Superb quality whenever you need it.
            </p>
          </a>
        </li>
        <li
          class="h-full p-6 duration-200 bg-white hover:shadow-none rounded-2xl shadow-subtle">
          <a href="/help/category/">
            <div class="lg:inline-flex lg:items-center">
              <div class="text-accent-500">
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  aria-hidden="true"
                  class="w-5 h-5"
                  viewBox="0 0 24 24"
                  stroke-width="1.5"
                  stroke="currentColor"
                  fill="none"
                  stroke-linecap="round"
                  stroke-linejoin="round">
                  <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                  <path
                    d="M5 21v-16a2 2 0 0 1 2 -2h10a2 2 0 0 1 2 2v16l-3 -2l-2 2l-2 -2l-2 2l-2 -2l-3 2"
                    opacity="0.5">
                  </path>
                  <path
                    d="M14 8h-2.5a1.5 1.5 0 0 0 0 3h1a1.5 1.5 0 0 1 0 3h-2.5m2 0v1.5m0 -9v1.5">
                  </path>
                </svg>
              </div>
              <h3
                class="mt-6 text-base font-medium text-accent-900 lg:ml-3 lg:mt-0">
                Teams &amp; billing
              </h3>
            </div>
            <p class="mt-2 text-sm text-gray-500">
              No surprises here! Pay the same fixed price each month or get a
              one off!.
            </p>
          </a>
        </li>
        <li
          class="h-full p-6 duration-200 bg-white hover:shadow-none rounded-2xl shadow-subtle">
          <a href="/help/category/">
            <div class="lg:inline-flex lg:items-center">
              <div class="text-accent-500">
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  aria-hidden="true"
                  class="w-5 h-5"
                  viewBox="0 0 24 24"
                  stroke-width="1.5"
                  stroke="currentColor"
                  fill="none"
                  stroke-linecap="round"
                  stroke-linejoin="round">
                  <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                  <path d="M4 20h4v-4h4v-4h4v-4h4" opacity="0.5"></path>
                  <path d="M4 11l7 -7v4m-4 -4h4"></path>
                </svg>
              </div>
              <h3
                class="mt-6 text-base font-medium text-accent-900 lg:ml-3 lg:mt-0">
                Integrations
              </h3>
            </div>
            <p class="mt-2 text-sm text-gray-500">
              Scale up or down as needed, &amp; pause or cancel at anytime.
            </p>
          </a>
        </li>
        <li
          class="h-full p-6 duration-200 bg-white hover:shadow-none rounded-2xl shadow-subtle">
          <a href="/help/category/">
            <div class="lg:inline-flex lg:items-center">
              <div class="text-accent-500">
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  aria-hidden="true"
                  class="w-5 h-5"
                  viewBox="0 0 24 24"
                  stroke-width="1.5"
                  stroke="currentColor"
                  fill="none"
                  stroke-linecap="round"
                  stroke-linejoin="round">
                  <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                  <circle cx="12" cy="12" r="9"></circle>
                  <line x1="7" y1="8.5" x2="10" y2="11.5" opacity="0.5"></line>
                  <path d="M7 11.5l3 -3" opacity="0.5"></path>
                  <line x1="14" y1="8.5" x2="17" y2="11.5" opacity="0.5"></line>
                  <path d="M14 11.5l3 -3" opacity="0.5"></path>
                  <path d="M9.5 15a3.5 3.5 0 0 0 5 0"></path>
                </svg>
              </div>
              <h3
                class="mt-6 text-base font-medium text-accent-900 lg:ml-3 lg:mt-0">
                Troubleshooting
              </h3>
            </div>
            <p class="mt-2 text-sm text-gray-500">
              Visitors are bouncing from your website if the pages load slowly,
            </p>
          </a>
        </li>
      </ol>
    </div>
  </div>
</section>
