<section id="features" aria-labelledby="screencasts-title" class="bg-white">
  <div
    class="relative px-8 py-12 mx-auto sm:px-6 md:max-w-2xl md:px-4 lg:max-w-6xl lg:px-20 lg:pt-32">
    <div class="max-w-xl pb-12">
      <p class="text-3xl font-medium tracking-tight text-black lg:text-5xl">
        Single Topic
      </p>
      <p class="mt-4 text-lg lg:text-2xl text-slate-500">
        Search and get your answers
      </p>
    </div>
    <div class="py-12 border-t">
      <div class="mt-12 space-y-12 divide-y-2 divide-slate-100">
        <div class="grid grid-cols-1 gap-4 pt-4 lg:grid-cols-4 items-end">
          <div class="lg:col-span-2">
            <span class="text-lg font-medium leading-6 text-black"
              >Getting Started
            </span>
            <p class="text-base leading-relaxed text-slate-500 mt-6">
              The hotel was built in 2001 with Intro to Semplice
            </p>
          </div>
          <div
            class="flex flex-col flex-shrink-0 mb-6 md:mb-0 lg:ml-auto col-span-2">
            <a
              href="/video-article"
              class="flex items-center justify-center w-12 h-12 text-accent-500 rounded-full bg-slate-50 hover:bg-slate-100 border">
              <svg
                fill="none"
                stroke="currentColor"
                stroke-linecap="round"
                stroke-linejoin="round"
                stroke-width="2"
                class="w-4 h-4"
                viewBox="0 0 24 24">
                <path d="M5 12h14M12 5l7 7-7 7"></path>
              </svg>
            </a>
          </div>
        </div>
        <div class="grid grid-cols-1 gap-4 pt-4 lg:grid-cols-4 items-end">
          <div class="lg:col-span-2">
            <span class="text-lg font-medium leading-6 text-black"
              >Using Semplice
            </span>
            <p class="text-base leading-relaxed text-slate-500 mt-6">
              The hotel was built in 2001 with Tips &amp; tricks
            </p>
          </div>
          <div
            class="flex flex-col flex-shrink-0 mb-6 md:mb-0 lg:ml-auto col-span-2">
            <a
              href="/video-article"
              class="flex items-center justify-center w-12 h-12 text-accent-500 rounded-full bg-slate-50 hover:bg-slate-100 border">
              <svg
                fill="none"
                stroke="currentColor"
                stroke-linecap="round"
                stroke-linejoin="round"
                stroke-width="2"
                class="w-4 h-4"
                viewBox="0 0 24 24">
                <path d="M5 12h14M12 5l7 7-7 7"></path>
              </svg>
            </a>
          </div>
        </div>
        <div class="grid grid-cols-1 gap-4 pt-4 lg:grid-cols-4 items-end">
          <div class="lg:col-span-2">
            <span class="text-lg font-medium leading-6 text-black"
              >Settings & prefferences
            </span>
            <p class="text-base leading-relaxed text-slate-500 mt-6">
              Setup the up as you wish
            </p>
          </div>
          <div
            class="flex flex-col flex-shrink-0 mb-6 md:mb-0 lg:ml-auto col-span-2">
            <a
              href="/video-article"
              class="flex items-center justify-center w-12 h-12 text-accent-500 rounded-full bg-slate-50 hover:bg-slate-100 border">
              <svg
                fill="none"
                stroke="currentColor"
                stroke-linecap="round"
                stroke-linejoin="round"
                stroke-width="2"
                class="w-4 h-4"
                viewBox="0 0 24 24">
                <path d="M5 12h14M12 5l7 7-7 7"></path>
              </svg>
            </a>
          </div>
        </div>
        <div class="grid grid-cols-1 gap-4 pt-4 lg:grid-cols-4 items-end">
          <div class="lg:col-span-2">
            <span class="text-lg font-medium leading-6 text-black"
              >Teams & billing
            </span>
            <p class="text-base leading-relaxed text-slate-500 mt-6">
              Setup up your account so you get paid
            </p>
          </div>
          <div
            class="flex flex-col flex-shrink-0 mb-6 md:mb-0 lg:ml-auto col-span-2">
            <a
              href="/video-article"
              class="flex items-center justify-center w-12 h-12 text-accent-500 rounded-full bg-slate-50 hover:bg-slate-100 border">
              <svg
                fill="none"
                stroke="currentColor"
                stroke-linecap="round"
                stroke-linejoin="round"
                stroke-width="2"
                class="w-4 h-4"
                viewBox="0 0 24 24">
                <path d="M5 12h14M12 5l7 7-7 7"></path>
              </svg>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
