<section id="features" aria-labelledby="screencasts-title" class="bg-white">
  <div
    class="items-center w-full px-8 py-12 mx-auto md:px-12 lg:px-24 max-w-7xl lg:py-32">
    <div class="relative items-center">
      <div class="w-full lg:inline-flex justify-between lg:items-center">
        <div class="max-w-xl">
          <span
            class="font-semibold text-accent-500 text-sm tracking-widest uppercase">
            Video Article</span
          >
          <p
            class="text-4xl mt-8 font-extrabold tracking-tight text-black font-display">
            Follow the steps
          </p>
        </div>
        <div class="mt-12 flex flex-col sm:flex-row lg:ml-auto">
          <a
            class="items-center text-white focus:outline-none inline-flex justify-center hover:text-accent-500 duration-200 focus-visible:outline-black focus-visible:ring-black font-medium lg:w-auto px-6 py-3 rounded-xl text-center w-full bg-accent-500 hover:bg-accent-100"
            href="/signup">Subscribe for updates &nbsp;&nbsp; →</a
          >
        </div>
      </div>
      <ol role="list" class="flex items-center lg:space-x-4 mt-12">
        <li>
          <div class="px-6 py-1 text-xs rounded-lg bg-black hover:bg-slate-500">
            <a href="/" class="text-white"> Home</a>
          </div>
        </li>
        <li>
          <div class="flex items-center">
            <svg
              class="flex-shrink-0 h-5 w-5 text-slate-300"
              xmlns="http://www.w3.org/2000/svg"
              fill="currentColor"
              viewBox="0 0 20 20"
              aria-hidden="true">
              <path d="M5.555 17.776l8-16 .894.448-8 16-.894-.448z"></path>
            </svg>
            <div
              class="px-6 py-1 text-xs rounded-lg bg-slate-100 hover:bg-slate-500 ml-3">
              <a
                href="/single-topic"
                class="text-xs font-medium text-accent-500 hover:text-slate-700"
                >Single Topic
              </a>
            </div>
          </div>
        </li>
        <li>
          <div class="flex items-center">
            <svg
              class="flex-shrink-0 h-5 w-5 text-slate-300"
              xmlns="http://www.w3.org/2000/svg"
              fill="currentColor"
              viewBox="0 0 20 20"
              aria-hidden="true">
              <path d="M5.555 17.776l8-16 .894.448-8 16-.894-.448z"></path>
            </svg>
            <a
              href="#"
              class="ml-3 text-xs font-medium text-slate-500 hover:text-accent-500"
              aria-current="page"
              >Video Article
            </a>
          </div>
        </li>
      </ol>
    </div>
    <div class="mt-12">
      <iframe
        class="w-full aspect-video rounded-md"
        src="https://www.youtube.com/embed/LQw2ljPHJU0"
        title="YouTube video player"
        frameborder="0"
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
        allowfullscreen>
      </iframe>
    </div>
    <div>
      <div class="max-w-xl">
        <p class="text-3xl font-medium tracking-tight text-black mt-24">
          Getting Started
        </p>
      </div>
      <div class="max-w-xl mt-12">
        <div class="space-y-3">
          <div class="space-y-4">
            <p class="text-slate-500">
              Is it worth investing in tech right now? Here’s what on-the-fence
              investors should know about current tech investment opportunities.
            </p>
          </div>
        </div>
      </div>
      <div class="max-w-xl">
        <div class="space-y-3">
          <div class="space-y-4">
            <h3 class="text-xl text-black mt-12">Intro to Semplice</h3>
            <p class="text-slate-500">
              Despite the tech industry’s disturbing regression in the stock
              market, CEOs and market analysts see the trend as a temporary
              shake-out. The big players in tech are more relevant than ever,
              but changing investor demographics and behaviors are the main
              causes of the downturn.
            </p>
            <p class="text-slate-500">
              Many new investors have entered the stock market since 2020, the
              predominant demographic being inexperienced high school and
              college students. This generation of investors is far more
              interested in technology than previous groups of investors. For
              example, the hype surrounding NFTs and obscure forms of
              cryptocurrency largely came from the 18-25 age group.
            </p>
          </div>
          <div>
            <ul class="list-decimal list-inside space-y-3 mt-6" role="list">
              <li>Sing in to Semplice</li>
              <li>Click your avatar in the top-right corner.</li>
              <li>Open settings</li>
              <li>Enable dark mode</li>
            </ul>
          </div>
        </div>
      </div>
    </div>

    <div
      class="shadow-normal max-w-xl mt-12 border border-slate-200 rounded-md">
      <ul class="shadow-box">
        <li class="relative border-slate-200" x-data="{selected:null}">
          <button
            type="button"
            class="w-full px-6 py-6 text-left"
            @click="selected !== 1 ? selected = 1 : selected = null">
            <div class="flex items-center justify-between">
              <span class="text-xl text-black"> Transcript</span>
              <svg
                :class="{'rotate-180': open, 'rotate-0': !selected}"
                xmlns="http://www.w3.org/2000/svg"
                class="inline w-5 h-5 ml-4 transition-transform duration-200 transform rotate-0"
                viewBox="0 0 20 20"
                fill="currentColor">
                <path
                  fill-rule="evenodd"
                  d="M14.707 12.707a1 1 0 01-1.414 0L10 9.414l-3.293 3.293a1 1 0 01-1.414-1.414l4-4a1 1 0 011.414 0l4 4a1 1 0 010 1.414z"
                  clip-rule="evenodd"></path>
              </svg>
            </div>
          </button>
          <div
            class="relative overflow-hidden transition-all max-h-0 duration-700"
            style=""
            x-ref="container1"
            x-bind:style="selected == 1 ? 'max-height: ' + $refs.container1.scrollHeight + 'px' : ''">
            <div class="p-6 text-slate-500 border-t space-y-6">
              <p>
                Promotion: homeware platform Shoppe Object is hosting a virtual
                marketplace and in-person show called Showcase: Japan that
                presents handpicked collections of homeware, fashion and
                accessories from 25 Japanese brands.
              </p>
              <p>
                The collections on display at Showcase: Japan include glassware,
                jewellery and accessories, lamps, vases, clothing and textiles,
                each of which intends to blend traditional Japanese craft with
                modern design.
              </p>
              <p>
                "To avoid the harmful cycle of trends and fast fashion, we have
                chosen simple, timeless designs which we are confident will
                still be pleasing after many years of use," said Ecuvo.
              </p>
            </div>
          </div>
        </li>
      </ul>
    </div>
    <div class="max-w-xl mt-12 border-t">
      <div class="py-4 rounded-md inline-flex items-center w-full">
        <p class="text-accent-500">Was this helpful?</p>
        <p></p>
        <span class="isolate inline-flex rounded-md shadow-sm ml-auto">
          <button
            type="button"
            class="relative inline-flex items-center rounded-l-md border border-gray-300 bg-white px-4 py-2 text-sm font-medium text-gray-700 hover:bg-gray-50 focus:z-10 focus:border-indigo-500 focus:outline-none focus:ring-1 focus:ring-indigo-500"
            >Yes</button
          >

          <button
            type="button"
            class="relative -ml-px inline-flex items-center rounded-r-md border border-gray-300 bg-white px-4 py-2 text-sm font-medium text-gray-700 hover:bg-gray-50 focus:z-10 focus:border-indigo-500 focus:outline-none focus:ring-1 focus:ring-indigo-500"
            >No</button
          >
        </span>
      </div>
    </div>
  </div>
</section>
