<section>
  <div class="px-8 py-12 mx-auto md:px-12 lg:px-32 max-w-7xl lg:py-24">
    <div class="max-w-2xl mx-auto text-center">
      <div>
        <span class="text-xs font-bold tracking-wide uppercase text-purple-500"
          >FAQ</span
        >
        <p
          class="mt-8 text-4xl font-semibold tracking-tight lg:text-5xl text-purple-900">
          Frequent questions &amp; answers
        </p>
        <p class="mt-4 text-base text-gray-500">
          Answers to commonly asked questions about our platform
        </p>
      </div>
    </div>
    <div
      class="relative w-full max-w-3xl mx-auto mt-12 font-normal lg:col-span-2 lg:mt-24"
      x-data="{
activeAccordion: '',
setActiveAccordion(id) {
this.activeAccordion = (this.activeAccordion == id) ? '' : id
}
}">
      <div
        class="text-gray-600 cursor-pointer group hover:text-purple-500"
        x-data="{ id: $id('accordion') }"
        :class="{ 'text-purple-900': activeAccordion==id, 'text-gray-600 hover:text-purple-500': activeAccordion!=id }">
        <button
          class="flex items-center justify-between w-full p-4 pb-1 text-sm text-left select-none lg:text-base"
          @click="setActiveAccordion(id)"
          ><span>How does end-to-end encryption work?</span>
          <svg
            class="w-5 h-5 duration-300 ease-out text-purple-500"
            fill="none"
            viewBox="0 0 24 24"
            xmlns="http://www.w3.org/2000/svg"
            stroke="currentColor"
            stroke-width="1.5"
            :class="{ '-rotate-[45deg]': activeAccordion==id }"
            ><path
              d="M12 6v12m6-6H6"
              stroke-linecap="round"
              stroke-linejoin="round"></path></svg
          ></button
        ><div x-collapse="" x-show="activeAccordion==id" style="display: none;">
          <div class="p-4 pt-2 text-sm text-gray-500">
            End-to-end encryption ensures that only the sender and recipient can
            access the content of a message. The information is encrypted on the
            sender's device and can only be decrypted by the intended recipient,
            preventing any intermediaries, including the platform provider, from
            accessing the data.
          </div>
        </div>
      </div><div
        class="text-gray-600 cursor-pointer group hover:text-purple-500"
        x-data="{ id: $id('accordion') }"
        :class="{ 'text-purple-900': activeAccordion==id, 'text-gray-600 hover:text-purple-500': activeAccordion!=id }">
        <button
          class="flex items-center justify-between w-full p-4 pb-1 text-sm text-left select-none lg:text-base"
          @click="setActiveAccordion(id)"
          ><span
            >Can I access my encrypted data if I forget my encryption key?</span
          >
          <svg
            class="w-5 h-5 duration-300 ease-out text-purple-500"
            fill="none"
            viewBox="0 0 24 24"
            xmlns="http://www.w3.org/2000/svg"
            stroke="currentColor"
            stroke-width="1.5"
            :class="{ '-rotate-[45deg]': activeAccordion==id }"
            ><path
              d="M12 6v12m6-6H6"
              stroke-linecap="round"
              stroke-linejoin="round"></path></svg
          ></button
        ><div x-collapse="" x-show="activeAccordion==id" style="display: none;">
          <div class="p-4 pt-2 text-sm text-gray-500">
            No, forgetting or losing your encryption key means that your
            encrypted data cannot be accessed. This is a crucial security
            measure to ensure that even if someone gains unauthorized access to
            your account, they won't be able to decrypt and view your messages
            or files.
          </div>
        </div>
      </div><div
        class="text-gray-600 cursor-pointer group hover:text-purple-500"
        x-data="{ id: $id('accordion') }"
        :class="{ 'text-purple-900': activeAccordion==id, 'text-gray-600 hover:text-purple-500': activeAccordion!=id }">
        <button
          class="flex items-center justify-between w-full p-4 pb-1 text-sm text-left select-none lg:text-base"
          @click="setActiveAccordion(id)"
          ><span
            >Are there any limitations to the self-destructing messages feature?</span
          >
          <svg
            class="w-5 h-5 duration-300 ease-out text-purple-500"
            fill="none"
            viewBox="0 0 24 24"
            xmlns="http://www.w3.org/2000/svg"
            stroke="currentColor"
            stroke-width="1.5"
            :class="{ '-rotate-[45deg]': activeAccordion==id }"
            ><path
              d="M12 6v12m6-6H6"
              stroke-linecap="round"
              stroke-linejoin="round"></path></svg
          ></button
        ><div x-collapse="" x-show="activeAccordion==id" style="display: none;">
          <div class="p-4 pt-2 text-sm text-gray-500">
            Self-destructing messages are designed to automatically delete
            themselves after a specific period or upon being read by the
            recipient. However, it's important to note that the feature only
            removes the message from the devices involved in the conversation.
            Recipients may take screenshots or use other means to capture the
            content, which is beyond the platform's control.
          </div>
        </div>
      </div><div
        class="text-gray-600 cursor-pointer group hover:text-purple-500"
        x-data="{ id: $id('accordion') }"
        :class="{ 'text-purple-900': activeAccordion==id, 'text-gray-600 hover:text-purple-500': activeAccordion!=id }">
        <button
          class="flex items-center justify-between w-full p-4 pb-1 text-sm text-left select-none lg:text-base"
          @click="setActiveAccordion(id)"
          ><span
            >What happens if I enable two-factor authentication and lose my
            device?</span
          >
          <svg
            class="w-5 h-5 duration-300 ease-out text-purple-500"
            fill="none"
            viewBox="0 0 24 24"
            xmlns="http://www.w3.org/2000/svg"
            stroke="currentColor"
            stroke-width="1.5"
            :class="{ '-rotate-[45deg]': activeAccordion==id }"
            ><path
              d="M12 6v12m6-6H6"
              stroke-linecap="round"
              stroke-linejoin="round"></path></svg
          ></button
        ><div x-collapse="" x-show="activeAccordion==id" style="display: none;">
          <div class="p-4 pt-2 text-sm text-gray-500">
            Losing your device doesn't automatically compromise your account's
            security. It's recommended to contact our support team as soon as
            possible to disable the two-factor authentication on your lost
            device and set up the authentication on your new device. This
            process will help protect your account from unauthorized access
            while ensuring you can regain access to it.
          </div>
        </div>
      </div><div
        class="text-gray-600 cursor-pointer group hover:text-purple-500"
        x-data="{ id: $id('accordion') }"
        :class="{ 'text-purple-900': activeAccordion==id, 'text-gray-600 hover:text-purple-500': activeAccordion!=id }">
        <button
          class="flex items-center justify-between w-full p-4 pb-1 text-sm text-left select-none lg:text-base"
          @click="setActiveAccordion(id)"
          ><span
            >Is my personal information shared or sold to third parties?</span
          >
          <svg
            class="w-5 h-5 duration-300 ease-out text-purple-500"
            fill="none"
            viewBox="0 0 24 24"
            xmlns="http://www.w3.org/2000/svg"
            stroke="currentColor"
            stroke-width="1.5"
            :class="{ '-rotate-[45deg]': activeAccordion==id }"
            ><path
              d="M12 6v12m6-6H6"
              stroke-linecap="round"
              stroke-linejoin="round"></path></svg
          ></button
        ><div x-collapse="" x-show="activeAccordion==id" style="display: none;">
          <div class="p-4 pt-2 text-sm text-gray-500">
            No, we strictly adhere to a privacy-centric approach. Your personal
            information is never shared, sold, or monetized. We prioritize your
            privacy and ensure that your data remains confidential and only
            accessible to you.
          </div>
        </div>
      </div><div
        class="text-gray-600 cursor-pointer group hover:text-purple-500"
        x-data="{ id: $id('accordion') }"
        :class="{ 'text-purple-900': activeAccordion==id, 'text-gray-600 hover:text-purple-500': activeAccordion!=id }">
        <button
          class="flex items-center justify-between w-full p-4 pb-1 text-sm text-left select-none lg:text-base"
          @click="setActiveAccordion(id)"
          ><span>Can I use this platform on multiple devices?</span>
          <svg
            class="w-5 h-5 duration-300 ease-out text-purple-500"
            fill="none"
            viewBox="0 0 24 24"
            xmlns="http://www.w3.org/2000/svg"
            stroke="currentColor"
            stroke-width="1.5"
            :class="{ '-rotate-[45deg]': activeAccordion==id }"
            ><path
              d="M12 6v12m6-6H6"
              stroke-linecap="round"
              stroke-linejoin="round"></path></svg
          ></button
        ><div x-collapse="" x-show="activeAccordion==id" style="display: none;">
          <div class="p-4 pt-2 text-sm text-gray-500">
            Yes, you can access our platform on multiple devices. Your encrypted
            data remains synced across all devices, allowing you to seamlessly
            communicate and access your files and messages from anywhere.
          </div>
        </div>
      </div><div
        class="text-gray-600 cursor-pointer group hover:text-purple-500"
        x-data="{ id: $id('accordion') }"
        :class="{ 'text-purple-900': activeAccordion==id, 'text-gray-600 hover:text-purple-500': activeAccordion!=id }">
        <button
          class="flex items-center justify-between w-full p-4 pb-1 text-sm text-left select-none lg:text-base"
          @click="setActiveAccordion(id)"
          ><span
            >Are there any storage limitations for files and documents?</span
          >
          <svg
            class="w-5 h-5 duration-300 ease-out text-purple-500"
            fill="none"
            viewBox="0 0 24 24"
            xmlns="http://www.w3.org/2000/svg"
            stroke="currentColor"
            stroke-width="1.5"
            :class="{ '-rotate-[45deg]': activeAccordion==id }"
            ><path
              d="M12 6v12m6-6H6"
              stroke-linecap="round"
              stroke-linejoin="round"></path></svg
          ></button
        ><div x-collapse="" x-show="activeAccordion==id" style="display: none;">
          <div class="p-4 pt-2 text-sm text-gray-500">
            Our platform provides ample storage space for your files and
            documents. However, there may be storage limitations based on the
            pricing plan you choose. We offer flexible plans to suit your needs
            and provide options to upgrade if you require additional storage
            capacity.
          </div>
        </div>
      </div>
      <div
        class="text-gray-600 cursor-pointer group hover:text-purple-500"
        x-data="{ id: $id('accordion') }"
        :class="{ 'text-purple-900': activeAccordion==id, 'text-gray-600 hover:text-purple-500': activeAccordion!=id }">
        <button
          class="flex items-center justify-between w-full p-4 pb-1 text-sm text-left select-none lg:text-base"
          @click="setActiveAccordion(id)"
          ><span>Is it possible to export my data from the platform?</span>
          <svg
            class="w-5 h-5 duration-300 ease-out text-purple-500"
            fill="none"
            viewBox="0 0 24 24"
            xmlns="http://www.w3.org/2000/svg"
            stroke="currentColor"
            stroke-width="1.5"
            :class="{ '-rotate-[45deg]': activeAccordion==id }"
            ><path
              d="M12 6v12m6-6H6"
              stroke-linecap="round"
              stroke-linejoin="round"></path></svg
          ></button
        ><div x-collapse="" x-show="activeAccordion==id" style="display: none;">
          <div class="p-4 pt-2 text-sm text-gray-500">
            Yes, you can export your data from the platform. We offer export
            features that allow you to download your messages, files, and
            documents, ensuring you have a local copy for backup or migration
            purposes. It provides you with greater control and flexibility over
            your data.
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
