<section id="features" aria-labelledby="screencasts-title" class="bg-white">
  <div
    class="items-center w-full px-8 py-12 mx-auto md:px-12 lg:px-24 max-w-7xl lg:py-32">
    <div class="relative items-center">
      <div class="w-full lg:inline-flex justify-between lg:items-center">
        <div class="max-w-xl">
          <span
            class="font-semibold text-accent-500 text-sm tracking-widest uppercase">
            Course library</span
          >
          <p class="text-4xl mt-8 font-extrabold tracking-tight text-black">
            Explore our lessons
          </p>
        </div><div class="mt-12 flex flex-col sm:flex-row lg:ml-auto">
          <a
            class="items-center text-white focus:outline-none inline-flex justify-center hover:text-accent-500 duration-200 focus-visible:outline-black focus-visible:ring-black font-medium lg:w-auto px-6 py-3 rounded-xl text-center w-full bg-accent-500 hover:bg-accent-100"
            href="/signup">Subscribe for updates &nbsp;&nbsp; →</a
          >
        </div>
      </div>
    </div>
    <div class="mt-12">
      <ol
        role="list"
        class="gap-x-8 gap-y-12 grid grid-cols-1 lg:gap-y-24 lg:grid-cols-3 sm:grid-cols-2">
        <li
          class="grid items-center grid-cols-1 gap-3 auto-rows-min sm:grid-cols-2 lg:grid-cols-1 border rounded-3xl p-2 shadow-normal">
          <div
            class="w-full border rounded-3xl overflow-hidden"
            style="
            background-color: rgb(67, 56, 202);
            background-image: radial-gradient(
                at 76% 28%,
                rgb(245, 243, 255) 0,
                transparent 95%
              ),
              radial-gradient(at 96% 27%, rgb(68, 64, 60) 0, transparent 74%),
              radial-gradient(at 1% 77%, rgb(204, 251, 241) 0, transparent 40%),
              radial-gradient(at 89% 28%, rgb(240, 171, 252) 0, transparent 60%),
              radial-gradient(at 68% 41%, rgb(17, 24, 39) 0, transparent 7%),
              radial-gradient(at 31% 5%, rgb(52, 211, 153) 0, transparent 4%);
          ">
            <img
              alt=""
              src="https://d33wubrfki0l68.cloudfront.net/53e7d80b2652a9e40c34c7d4df673df2caaa8826/15e37/images/work/daylitics.png"
              decoding="async"
              data-mining="future"
              loading="lazy"
              class="w-full"
            />
          </div>
          <div class="px-2 lg:px-6">
            <h3 class="text-black font-medium lg:text-xl text-lg">
              Learn Analytics
            </h3>
            <div class="space-y-3">
              <p class="text-slate-500 mt-2 text-base">
                Simple analytics for everyone
              </p>
              <p class="text-sm text-black">
                <span
                  class="inline-flex items-center px-2.5 py-0.5 rounded-md text-xs font-medium bg-slate-100 text-slate-800"
                  >Begginer
                </span>
                <span
                  class="inline-flex items-center px-2.5 py-0.5 rounded-md text-xs font-medium bg-slate-100 text-slate-800">
                  <time>1h 14min</time>
                </span>
              </p>
            </div>
          </div>
        </li>
        <li
          class="grid items-center grid-cols-1 gap-3 auto-rows-min sm:grid-cols-2 lg:grid-cols-1 border rounded-3xl p-2 shadow-normal">
          <div
            class="w-full border rounded-3xl overflow-hidden"
            style="
            background-color: rgb(67, 56, 202);
            background-image: radial-gradient(
                at 76% 28%,
                rgb(245, 243, 255) 0,
                transparent 95%
              ),
              radial-gradient(at 96% 27%, rgb(68, 64, 60) 0, transparent 74%),
              radial-gradient(at 1% 77%, rgb(204, 251, 241) 0, transparent 40%),
              radial-gradient(at 89% 28%, rgb(240, 171, 252) 0, transparent 60%),
              radial-gradient(at 68% 41%, rgb(17, 24, 39) 0, transparent 7%),
              radial-gradient(at 31% 5%, rgb(52, 211, 153) 0, transparent 4%);
          ">
            <img
              alt=""
              src="https://d33wubrfki0l68.cloudfront.net/fd09137b6e799dd1db537670fc91d9f3e4a5931a/fb942/images/work/sequoia.png"
              decoding="async"
              data-mining="future"
              loading="lazy"
              class="w-full"
            />
          </div>
          <div class="px-2 lg:px-6">
            <h3 class="text-black font-medium lg:text-xl text-lg">
              A VS Code theme; Sequoia
            </h3>
            <div class="space-y-3">
              <p class="text-slate-500 mt-2 text-base">
                Setting up a vs code theme
              </p>
              <p class="text-sm text-black">
                <span
                  class="inline-flex items-center px-2.5 py-0.5 rounded-md text-xs font-medium bg-slate-100 text-slate-800"
                  >Begginer
                </span>
                <span
                  class="inline-flex items-center px-2.5 py-0.5 rounded-md text-xs font-medium bg-slate-100 text-slate-800">
                  <time>1h 14min</time>
                </span>
              </p>
            </div>
          </div>
        </li>
        <li
          class="grid items-center grid-cols-1 gap-3 auto-rows-min sm:grid-cols-2 lg:grid-cols-1 border rounded-3xl p-2 shadow-normal">
          <div
            class="w-full border rounded-3xl overflow-hidden"
            style="
            background-color: rgb(67, 56, 202);
            background-image: radial-gradient(
                at 76% 28%,
                rgb(245, 243, 255) 0,
                transparent 95%
              ),
              radial-gradient(at 96% 27%, rgb(68, 64, 60) 0, transparent 74%),
              radial-gradient(at 1% 77%, rgb(204, 251, 241) 0, transparent 40%),
              radial-gradient(at 89% 28%, rgb(240, 171, 252) 0, transparent 60%),
              radial-gradient(at 68% 41%, rgb(17, 24, 39) 0, transparent 7%),
              radial-gradient(at 31% 5%, rgb(52, 211, 153) 0, transparent 4%);
          ">
            <img
              alt=""
              src="https://d33wubrfki0l68.cloudfront.net/0526f97228fb9453dfba1cc14fae160b34d892f3/f9d52/images/work/wb.png"
              decoding="async"
              data-mining="future"
              loading="lazy"
              class="w-full"
            />
          </div>
          <div class="px-2 lg:px-6">
            <h3 class="text-black font-medium lg:text-xl text-lg">SVG waves</h3>
            <div class="space-y-3">
              <p class="text-slate-500 mt-2 text-base">
                Learn how to create beautiful svg waves
              </p>
              <p class="text-sm text-black">
                <span
                  class="inline-flex items-center px-2.5 py-0.5 rounded-md text-xs font-medium bg-slate-100 text-slate-800"
                  >Begginer
                </span>
                <span
                  class="inline-flex items-center px-2.5 py-0.5 rounded-md text-xs font-medium bg-slate-100 text-slate-800">
                  <time>1h 14min</time>
                </span>
              </p>
            </div>
          </div>
        </li>
        <li
          class="grid items-center grid-cols-1 gap-3 auto-rows-min sm:grid-cols-2 lg:grid-cols-1 border rounded-3xl p-2 shadow-normal">
          <div
            class="w-full border rounded-3xl overflow-hidden"
            style="
            background-color: rgb(67, 56, 202);
            background-image: radial-gradient(
                at 76% 28%,
                rgb(245, 243, 255) 0,
                transparent 95%
              ),
              radial-gradient(at 96% 27%, rgb(68, 64, 60) 0, transparent 74%),
              radial-gradient(at 1% 77%, rgb(204, 251, 241) 0, transparent 40%),
              radial-gradient(at 89% 28%, rgb(240, 171, 252) 0, transparent 60%),
              radial-gradient(at 68% 41%, rgb(17, 24, 39) 0, transparent 7%),
              radial-gradient(at 31% 5%, rgb(52, 211, 153) 0, transparent 4%);
          ">
            <img
              alt=""
              src="https://d33wubrfki0l68.cloudfront.net/898af94cb213f48632732ca9b54911f121bd4936/fc5ce/images/work/svgd.png"
              decoding="async"
              data-mining="future"
              loading="lazy"
              class="w-full"
            />
          </div>
          <div class="px-2 lg:px-6">
            <h3 class="text-black font-medium lg:text-xl text-lg">
              Dark mode:needed?
            </h3>
            <div class="space-y-3">
              <p class="text-slate-500 mt-2 text-base">
                Understanding dark mode in your app.
              </p>
              <p class="text-sm text-black">
                <span
                  class="inline-flex items-center px-2.5 py-0.5 rounded-md text-xs font-medium bg-slate-100 text-slate-800"
                  >Begginer
                </span>
                <span
                  class="inline-flex items-center px-2.5 py-0.5 rounded-md text-xs font-medium bg-slate-100 text-slate-800">
                  <time>1h 14min</time>
                </span>
              </p>
            </div>
          </div>
        </li>
        <li
          class="grid items-center grid-cols-1 gap-3 auto-rows-min sm:grid-cols-2 lg:grid-cols-1 border rounded-3xl p-2 shadow-normal">
          <div
            class="w-full border rounded-3xl overflow-hidden"
            style="
            background-color: rgb(67, 56, 202);
            background-image: radial-gradient(
                at 76% 28%,
                rgb(245, 243, 255) 0,
                transparent 95%
              ),
              radial-gradient(at 96% 27%, rgb(68, 64, 60) 0, transparent 74%),
              radial-gradient(at 1% 77%, rgb(204, 251, 241) 0, transparent 40%),
              radial-gradient(at 89% 28%, rgb(240, 171, 252) 0, transparent 60%),
              radial-gradient(at 68% 41%, rgb(17, 24, 39) 0, transparent 7%),
              radial-gradient(at 31% 5%, rgb(52, 211, 153) 0, transparent 4%);
          ">
            <img
              alt=""
              src="https://d33wubrfki0l68.cloudfront.net/34e90118fa9cd9d2e739b0f0d43dab2d50a22d56/ded27/images/work/unwrapped.png"
              decoding="async"
              data-mining="future"
              loading="lazy"
              class="w-full"
            />
          </div>
          <div class="px-2 lg:px-6">
            <h3 class="text-black font-medium lg:text-xl text-lg">
              Most popular ui kits
            </h3>
            <div class="space-y-3">
              <p class="text-slate-500 mt-2 text-base">
                Figma UI Kits in reviews
              </p>
              <p class="text-sm text-black">
                <span
                  class="inline-flex items-center px-2.5 py-0.5 rounded-md text-xs font-medium bg-slate-100 text-slate-800"
                  >Begginer
                </span>
                <span
                  class="inline-flex items-center px-2.5 py-0.5 rounded-md text-xs font-medium bg-slate-100 text-slate-800">
                  <time>1h 14min</time>
                </span>
              </p>
            </div>
          </div>
        </li>
        <li
          class="grid items-center grid-cols-1 gap-3 auto-rows-min sm:grid-cols-2 lg:grid-cols-1 border rounded-3xl p-2 shadow-normal">
          <div
            class="w-full border rounded-3xl overflow-hidden"
            style="
            background-color: rgb(67, 56, 202);
            background-image: radial-gradient(
                at 76% 28%,
                rgb(245, 243, 255) 0,
                transparent 95%
              ),
              radial-gradient(at 96% 27%, rgb(68, 64, 60) 0, transparent 74%),
              radial-gradient(at 1% 77%, rgb(204, 251, 241) 0, transparent 40%),
              radial-gradient(at 89% 28%, rgb(240, 171, 252) 0, transparent 60%),
              radial-gradient(at 68% 41%, rgb(17, 24, 39) 0, transparent 7%),
              radial-gradient(at 31% 5%, rgb(52, 211, 153) 0, transparent 4%);
          ">
            <img
              alt=""
              src="https://d33wubrfki0l68.cloudfront.net/3eef8f961572b6fa29215fb05622f721f486780c/81785/images/work/caf.png"
              decoding="async"
              data-mining="future"
              loading="lazy"
              class="w-full"
            />
          </div>
          <div class="px-2 lg:px-6">
            <h3 class="text-black font-medium lg:text-xl text-lg">
              Color for your app
            </h3>
            <div class="space-y-3">
              <p class="text-slate-500 mt-2 text-base">Let's make sense</p>
              <p class="text-sm text-black">
                <span
                  class="inline-flex items-center px-2.5 py-0.5 rounded-md text-xs font-medium bg-slate-100 text-slate-800"
                  >Begginer
                </span>
                <span
                  class="inline-flex items-center px-2.5 py-0.5 rounded-md text-xs font-medium bg-slate-100 text-slate-800">
                  <time>1h 14min</time>
                </span>
              </p>
            </div>
          </div>
        </li>
      </ol>
    </div>
  </div>
</section>
