<section>
  <div class="px-8 py-12 mx-auto md:px-12 lg:px-32 max-w-7xl lg:py-24">
    <div class="max-w-xl">
      <span class="text-xs font-bold tracking-wide uppercase text-purple-500">
        Course library</span
      >
      <p class="mt-8 text-4xl font-semibold tracking-tight text-purple-900">
        Explore our lessons
      </p>
    </div>

    <ol
      role="list"
      class="grid grid-cols-1 gap-6 mt-12 list-none sm:grid-cols-2 lg:mt-24 lg:grid-cols-3">
      <li
        class="h-full p-6 duration-200 bg-white hover:shadow-none rounded-2xl shadow-sm">
        <a title="link to your page"
        aria-label="your label" href="/help/video-article">
          <h3 class="text-base font-medium text-purple-900">Learn Analytics</h3>
          <p class="mt-2 text-sm text-gray-500">
            Simple analytics for everyone
          </p>
          <p class="mt-12 text-sm text-purple-900">
            <span
              class="inline-flex items-center px-2.5 py-0.5 rounded-md text-xs font-medium bg-gray-200 text-gray-800"
              >Begginer
            </span>
            <span
              class="inline-flex items-center px-2.5 py-0.5 rounded-md text-xs font-medium bg-gray-200 text-gray-800">
              <time>1h 14min</time>
            </span>
          </p>
        </a>
      </li>
      <li
        class="h-full p-6 duration-200 bg-white hover:shadow-none rounded-2xl shadow-sm">
        <a title="link to your page"
        aria-label="your label" href="/help/video-article">
          <h3 class="text-base font-medium text-purple-900">
            A VS Code theme Sequoia
          </h3>
          <p class="mt-2 text-sm text-gray-500">Setting up a vs code theme</p>
          <p class="mt-12 text-sm text-purple-900">
            <span
              class="inline-flex items-center px-2.5 py-0.5 rounded-md text-xs font-medium bg-gray-200 text-gray-800"
              >Begginer
            </span>
            <span
              class="inline-flex items-center px-2.5 py-0.5 rounded-md text-xs font-medium bg-gray-200 text-gray-800">
              <time>1h 14min</time>
            </span>
          </p>
        </a>
      </li>
      <li
        class="h-full p-6 duration-200 bg-white hover:shadow-none rounded-2xl shadow-sm">
        <a title="link to your page"
        aria-label="your label" href="/help/video-article">
          <h3 class="text-base font-medium text-purple-900">SVG waves</h3>
          <p class="mt-2 text-sm text-gray-500">
            Learn how to create beautiful svg waves
          </p>
          <p class="mt-12 text-sm text-purple-900">
            <span
              class="inline-flex items-center px-2.5 py-0.5 rounded-md text-xs font-medium bg-gray-200 text-gray-800"
              >Begginer
            </span>
            <span
              class="inline-flex items-center px-2.5 py-0.5 rounded-md text-xs font-medium bg-gray-200 text-gray-800">
              <time>1h 14min</time>
            </span>
          </p>
        </a>
      </li>
    </ol>
  </div>
</section>
