---
import BaseLayout from "@/layouts/BaseLayout.astro";
import CtaTwo from "@/components/cta/CtaTwo.astro";
import Card from "@/components/updates/UpdateCard.astro";
import UpdateHeader from "@/components/updates/UpdateHeader.astro";
import { getItemsFromCollection } from "@/utils/collections";

const updates = await getItemsFromCollection("updates");

const meta = {
  title: `Changelog`,
};
---

<BaseLayout meta={meta}>
  <UpdateHeader />
  <section>
    <div class="px-8 py-12 mx-auto space-y-12 md:px-12 lg:px-32 max-w-7xl">
      {updates.map((update) => <Card update={update} />)}
    </div>
  </section>
  <CtaTwo />
</BaseLayout>
