---
interface Props {
  variant?: "standard" | "prose"; // Define any variants you need
  class?: string; // Optional prop for additional classes
}
const { variant = "standard", class: extraClass = "" } = Astro.props;
// Map each variant to its specific classes
const variantClasses = {
  // All purpose wrapper
  standard: " max-w-screen mx-auto px-8  w-full",
  // Wrapper for prose blocks
  prose:
    "dark:text-zinc-400 prose-ul:text-zinc-500 prose max-w-3xl pt-0  prose-a:text-base-900  dark:prose-a:text-white prose-p:text-zinc-500 dark:prose-p:text-zinc-400 prose-code:text-base-900  dark:prose-code:text-white prose-strong:text-base-900  dark:prose-strong:text-white prose-ol:text-zinc-500 dark:prose-ol:text-zinc-400 prose-headings:text-base-900  dark:prose-headings:text-white prose-headings:text-base text-sm",
};
// Combine the classes for the specified variant with any extra classes
const classes = `${variantClasses[variant]} ${extraClass}`.trim();
---

<div class={classes}>
  <slot />
</div>
