<section class="relative overflow-hidden">
  <div
    class="relative items-center w-full px-8 py-12 mx-auto md:px-12 lg:px-24 max-w-7xl lg:py-24">
    <div class="text-center">
      <span
        class="bg-accent-50/50 border border-white/50 backdrop-blur-2xl rounded-full py-2 px-4 w-auto">
        <span class="text-sm text-accent-500 uppercase font-semibold"
          >Feature 4</span
        >
      </span>
      <p
        class="text-4xl mt-8 lg:text-6xl font-extrabold tracking-tight text-black font-display">
        Trade cryptocurrencies <span class="lg:block">and tokens anytime</span>
      </p>
      <p class="text-base text-accent-700 max-w-xl mx-auto mt-4 lg:text-xl">
        With decentralization, users have more control over their data and
        transactions, and the platform is less susceptible to malicious attacks.
      </p>
    </div>
  </div>
  <div
    class="relative items-center w-full px-8 mx-auto max-w-7xl md:px-12 lg:px-24 mt-12 py-12">
    <img
      class="w-full rounded lg:rounded-2xl object-cover shadow-normal border relative"
      src="/assets/dashboard1.png"
      alt=""
    />
  </div>
</section>
