<section id="featureOne" aria-labelledby="screencasts-title" class="bg-white">
  <div
    class="items-center w-full px-8 py-12 mx-auto md:px-12 lg:px-24 max-w-7xl lg:py-32">
    <div class="max-w-3xl lg:mx-auto lg:text-center">
      <div>
        <span
          class="bg-accent-50/50 border border-white/50 backdrop-blur-2xl rounded-full py-2 px-4 w-auto">
          <span class="text-sm text-accent-500 uppercase font-semibold">
            even mobile</span
          >
        </span>
        <p
          class="text-4xl mt-8 lg:text-6xl font-extrabold tracking-tight text-black">
          Transactions without the need for intermediaries.
        </p>
      </div>
      <p class="text-base text-slate-500 max-w-xl mt-8 lg:mx-auto">
        Our platform utilizes blockchain technology to provide unbreakable
        Malicious attacks. security for all user data
      </p>
    </div>

    <ol
      role="list"
      class="grid grid-cols-1 sm:grid-cols-2 lg:mt-24 mt-12 gap-6 lg:gap-12 lg:grid-cols-3 items-center list-none">
      <li>
        <p class="text-slate-500 text-base">
          <strong class="text-black font-medium lg:text-xl text-lg">
            Decentralized Security
          </strong> ― Our platform utilizes blockchain technology to provide unbreakable
          security for all user data
        </p>
        <ul class="list-none mt-8 text-slate-500 space-y-6" role="list">
          <li>
            <div class="relative flex items-start py-2">
              <svg
                class="text-accent-400 h-5 w-5 shrink-0"
                fill="none"
                viewBox="0 0 24 24"
                xmlns="http://www.w3.org/2000/svg"
                stroke="currentColor"
                stroke-width="1.5">
                <path
                  d="M9 12.75L11.25 15 15 9.75M21 12a9 9 0 11-18 0 9 9 0 0118 0z"
                  stroke-linecap="round"
                  stroke-linejoin="round"></path>
              </svg>
              <p class="text-sm leading-6 ml-2">
                <strong class="font-semibold">Privacy by Design</strong> — Our platform
                is built with privacy in mind.
              </p>
            </div>
          </li>
          <li>
            <div class="relative flex items-start py-2">
              <svg
                class="text-accent-400 h-5 w-5 shrink-0"
                fill="none"
                viewBox="0 0 24 24"
                xmlns="http://www.w3.org/2000/svg"
                stroke="currentColor"
                stroke-width="1.5">
                <path
                  d="M9 12.75L11.25 15 15 9.75M21 12a9 9 0 11-18 0 9 9 0 0118 0z"
                  stroke-linecap="round"
                  stroke-linejoin="round"></path>
              </svg>
              <p class="text-sm leading-6 ml-2">
                <strong class="font-semibold"
                  >Security Token Offering (STO)</strong
                >— Our platform offers STOs..
              </p>
            </div>
          </li>

          <li>
            <div class="relative flex items-start py-2">
              <svg
                class="text-accent-400 h-5 w-5 shrink-0"
                fill="none"
                viewBox="0 0 24 24"
                xmlns="http://www.w3.org/2000/svg"
                stroke="currentColor"
                stroke-width="1.5">
                <path
                  d="M9 12.75L11.25 15 15 9.75M21 12a9 9 0 11-18 0 9 9 0 0118 0z"
                  stroke-linecap="round"
                  stroke-linejoin="round"></path>
              </svg>
              <p class="text-sm leading-6 ml-2">
                <strong class="font-semibold">Insurance Coverage</strong> — Our platform
                offers insurance coverage
              </p>
            </div>
          </li>

          <li>
            <div class="relative flex items-start py-2">
              <svg
                class="text-accent-400 h-5 w-5 shrink-0"
                fill="none"
                viewBox="0 0 24 24"
                xmlns="http://www.w3.org/2000/svg"
                stroke="currentColor"
                stroke-width="1.5">
                <path
                  d="M9 12.75L11.25 15 15 9.75M21 12a9 9 0 11-18 0 9 9 0 0118 0z"
                  stroke-linecap="round"
                  stroke-linejoin="round"></path>
              </svg>
              <p class="text-sm leading-6 ml-2">
                <strong class="font-semibold">Smart Contract Security</strong>
                — ur smart contract technology is built with robust security
              </p>
            </div>
          </li>
        </ul>
        <li>
          <img src="/assets/phone1.png" alt="" />
        </li>
        <li>
          <strong class="text-black font-medium lg:text-xl text-lg">
            Scalable Transactions
          </strong> ―<p class="text-slate-500 text-base">
            Our technology can handle thousands of transactions per second,
            making it perfect for high-traffic applications.
          </p>
          <ul class="list-none mt-8 text-slate-500 space-y-6" role="list">
            <li>
              <div class="relative flex items-start py-2">
                <svg
                  class="text-accent-400 h-5 w-5 shrink-0"
                  fill="none"
                  viewBox="0 0 24 24"
                  xmlns="http://www.w3.org/2000/svg"
                  stroke="currentColor"
                  stroke-width="1.5">
                  <path
                    d="M9 12.75L11.25 15 15 9.75M21 12a9 9 0 11-18 0 9 9 0 0118 0z"
                    stroke-linecap="round"
                    stroke-linejoin="round"></path>
                </svg>
                <p class="text-sm leading-6 ml-2">
                  <strong class="font-semibold">Regulatory Compliance</strong> —
                  Our platform is compliant with all relevant regulations.
                </p>
              </div>
            </li>
            <li>
              <div class="relative flex items-start py-2">
                <svg
                  class="text-accent-400 h-5 w-5 shrink-0"
                  fill="none"
                  viewBox="0 0 24 24"
                  xmlns="http://www.w3.org/2000/svg"
                  stroke="currentColor"
                  stroke-width="1.5">
                  <path
                    d="M9 12.75L11.25 15 15 9.75M21 12a9 9 0 11-18 0 9 9 0 0118 0z"
                    stroke-linecap="round"
                    stroke-linejoin="round"></path>
                </svg>
                <p class="text-sm leading-6 ml-2">
                  <strong class="font-semibold">DDoS Protection</strong> — Our platform
                  is equipped with DDoS protection.
                </p>
              </div>
            </li>
            <li>
              <div class="relative flex items-start py-2">
                <svg
                  class="text-accent-400 h-5 w-5 shrink-0"
                  fill="none"
                  viewBox="0 0 24 24"
                  xmlns="http://www.w3.org/2000/svg"
                  stroke="currentColor"
                  stroke-width="1.5">
                  <path
                    d="M9 12.75L11.25 15 15 9.75M21 12a9 9 0 11-18 0 9 9 0 0118 0z"
                    stroke-linecap="round"
                    stroke-linejoin="round"></path>
                </svg>
                <p class="text-sm leading-6 ml-2">
                  <strong class="font-semibold">Secure Wallet Management</strong
                  >— We offer secure and easy-to-use wallet management tools.-
                </p>
              </div>
            </li>
            <li>
              <div class="relative flex items-start py-2">
                <svg
                  class="text-accent-400 h-5 w-5 shrink-0"
                  fill="none"
                  viewBox="0 0 24 24"
                  xmlns="http://www.w3.org/2000/svg"
                  stroke="currentColor"
                  stroke-width="1.5">
                  <path
                    d="M9 12.75L11.25 15 15 9.75M21 12a9 9 0 11-18 0 9 9 0 0118 0z"
                    stroke-linecap="round"
                    stroke-linejoin="round"></path>
                </svg>
                <p class="text-sm leading-6 ml-2">
                  <strong class="font-semibold">Regular Security Audits</strong>
                  — Our platform undergoes regular security audits.
                </p>
              </div>
            </li>
          </ul>
        </li>
      </li>
    </ol>
  </div>
</section>
