<section id="featureOne" aria-labelledby="screencasts-title" class="bg-white">
  <div
    class="items-center w-full px-8 py-12 mx-auto md:px-12 lg:px-24 max-w-7xl lg:py-32">
    <div class="text-center max-w-xl mx-auto">
      <div>
        <span class="bg-accent-500/10 rounded-full py-1 px-4 w-auto">
          <span class="text-xs text-accent-500 uppercase font-semibold">
            feature 10</span
          >
        </span>
        <p
          class="text-4xl mt-8 lg:text-6xl font-extrabold tracking-tight text-black font-display">
          Keep your sensitive information private
        </p>
        <p class="text-base mt-4 text-slate-500 max-w-xl lg:mx-auto">
          With decentralization, users have more control over their data and
          transactions, and the platform is less susceptible to malicious
          attacks.
        </p>
      </div>
    </div>
    <dl class="grid grid-cols-1 gap-2 md:grid-cols-2 lg:grid-cols-2 mt-12">
      <a href="#">
        <div class="h-full overflow-hidden bg-slate-100 rounded-[2rem]">
          <div class="p-8 pb-0 lg:text-center">
            <p class="lg:text-4xl text-3xl font-semibold font-display">
              Custom tokens
            </p>
            <p class="mt-2 text-slate-500">
              Our smart contract technology allows for automated, self-executing
              transactions without the need for intermediaries. This not only
              makes transactions faster and more efficient, but also helps to
              reduce the risk of fraud and errors.
            </p>
          </div>
          <div class="mt-12">
            <img src="/assets/phonebox1.png" alt="" />
          </div>
        </div>
      </a>
      <a href="#">
        <div class="h-full overflow-hidden bg-slate-100 rounded-[2rem]">
          <div class="p-8 pb-0 lg:text-center">
            <p class="lg:text-4xl text-3xl font-semibold font-display">
              Smart contract
            </p>
            <p class="mt-2 text-slate-500">
              Our platform is designed to handle thousands of transactions per
              second and can easily accommodate the unique needs of various
              industries and applications. Additionally, our platform allows for
              the creation of custom tokens,.
            </p>
          </div>
          <div class="mt-12">
            <img src="/assets/phonebox2.png" alt="" />
          </div>
        </div>
      </a>
    </dl>
    <ol
      role="list"
      class="grid grid-cols-1 sm:grid-cols-2 mt-12 gap-6 lg:gap-12 lg:grid-cols-3 list-none lg:text-center">
      <li>
        <div
          class="flex items-center justify-center w-12 h-12 mx-auto text-accent-500 rounded-full bg-slate-50">
          1
        </div>
        <h3 class="text-black font-medium mt-12 lg:text-xl text-lg">
          Automation
        </h3>
        <p class="text-slate-500 mt-2 text-base">
          Our smart contracts allow for seamless, automated transactions without
          the need for intermediaries.
        </p>
      </li>

      <li>
        <div
          class="flex items-center justify-center w-12 h-12 mx-auto text-accent-500 rounded-full bg-slate-50">
          2
        </div>
        <h3 class="text-black font-medium mt-12 lg:text-xl text-lg">
          Exchange
        </h3>
        <p class="text-slate-500 mt-2 text-base">
          Trade cryptocurrencies and tokens on a decentralized exchange for
          added security and anonymity.
        </p>
      </li>
      <li>
        <div
          class="flex items-center justify-center w-12 h-12 mx-auto text-accent-500 rounded-full bg-slate-50">
          3
        </div>
        <h3 class="text-black font-medium mt-12 lg:text-xl text-lg">
          Governance
        </h3>
        <p class="text-slate-500 mt-2 text-base">
          Use blockchain technology to create decentralized autonomous
          organizations and manage them with ease.
        </p>
      </li>
    </ol>
  </div>
</section>
