<section id="featureNine" aria-labelledby="FeatureNine">
    <div class="relative px-8 py-24 mx-auto sm:px-6 md:max-w-2xl md:px-4 lg:max-w-6xl lg:px-20 lg:py-36">
        <div class="max-w-xl lg:text-center mx-auto">
            <p class="text-3xl font-medium tracking-tight text-black lg:text-5xl mt-24">
                Let's build a better tomorrow, together.
            </p>
            <p class="mt-4 text-lg lg:text-2xl text-slate-500">
                A lot of wohooo! stuff, check it out.
            </p>
        </div>
        <div class="mt-12">
            <video autoplay="" loop="" muted="" class=" w-full   rounded-md shadow-normal">
                <source
                    src="https://d33wubrfki0l68.cloudfront.net/c906151c5417ee08cea5c68bc4c8823316ba100c/3fe8e/images/desktopgradient.mp4"
                    type="video/mp4"> Your browser does not support
                the video tag.
            </video>
        </div>
    </div>
</section>