<section id="featureSeven" aria-labelledby="FeatureSeven">
    <div class="relative px-8 py-24 mx-auto sm:px-6 md:max-w-2xl md:px-4 lg:max-w-6xl lg:px-20 lg:py-36">
        <div class="max-w-xl ">
            <p class="text-3xl font-medium tracking-tight text-black lg:text-5xl mt-24">
                Let's build a better tomorrow, together.

            </p>
            <p class="mt-4 text-lg lg:text-2xl text-slate-500">
                A lot of wohooo! stuff, check it out.
            </p>
        </div>
        <div>
            <div class="max-w-xl py-12 mx-auto text-left lg:max-w-7xl">
                <h2 class="sr-only">Features.</h2>
                <div>
                    <div class="grid grid-cols-2 gap-12 lg:grid-cols-3 lg:space-y-0">
                        <div>
                            <div>
                                <div
                                    class="flex items-center justify-center w-12 h-12 text-blue-500 rounded-full bg-slate-50">
                                    <svg width="24" height="24" viewBox="0 0 24 24" fill="none"
                                        xmlns="http://www.w3.org/2000/svg">
                                        <path fill-rule="evenodd" clip-rule="evenodd"
                                            d="M11.4165 4.35805C11.6017 4.4115 11.7974 4.44013 11.9999 4.44013C12.2031 4.44013 12.3994 4.41133 12.585 4.35759L18.9085 15.3099C18.767 15.4448 18.6422 15.602 18.5399 15.7801C18.4381 15.9571 18.365 16.1429 18.3191 16.3321H5.68082C5.63495 16.1431 5.56181 15.9572 5.45996 15.7801C5.35718 15.6032 5.23268 15.4468 5.09183 15.3124L11.4165 4.35805ZM10.4935 3.8018C10.513 3.822 10.533 3.8418 10.5533 3.8612L4.22835 14.816C4.20102 14.8081 4.17353 14.8007 4.14591 14.7939V9.20527C4.67888 9.07282 5.15912 8.73285 5.45392 8.22008C5.74832 7.7079 5.80291 7.12365 5.65212 6.59709L10.4935 3.8018ZM14.0075 2.94464C14.0637 2.75506 14.0939 2.55418 14.0939 2.34613C14.0939 1.18813 13.1579 0.252136 11.9999 0.252136C10.8419 0.252136 9.90592 1.18813 9.90592 2.34613C9.90592 2.55306 9.93585 2.7529 9.99157 2.94157L5.15895 5.73177C5.02339 5.58862 4.86522 5.46218 4.68592 5.35804C3.68392 4.78203 2.39992 5.12404 1.82392 6.12604C1.24792 7.12804 1.58992 8.41208 2.59192 8.98808C2.77081 9.0909 2.95868 9.16448 3.14992 9.21023V14.7913C2.96089 14.8371 2.7751 14.9102 2.59795 15.0121C1.59595 15.5941 1.25395 16.8721 1.82995 17.8741C2.40595 18.8761 3.68396 19.2181 4.69196 18.6421C4.86937 18.539 5.02609 18.4141 5.16068 18.2729L9.99067 21.0616C9.93555 21.2494 9.90592 21.4482 9.90592 21.6541C9.90592 22.8121 10.8419 23.7481 11.9999 23.7481C13.1579 23.7481 14.0939 22.8061 14.0939 21.6541C14.0939 21.4234 14.0568 21.2015 13.9882 20.9941L18.79 18.2217C18.9351 18.3847 19.1084 18.5274 19.3078 18.6421C20.3098 19.2181 21.5938 18.8761 22.1698 17.8741C22.7518 16.8721 22.4099 15.5941 21.4019 15.0121C21.2249 14.9103 21.0391 14.8372 20.8499 14.7913V9.21023C21.0412 9.16448 21.2291 9.0909 21.4079 8.98808C22.4099 8.40608 22.7519 7.12804 22.1759 6.12604C21.5939 5.12404 20.3159 4.78203 19.3139 5.35804C19.1336 5.46274 18.9748 5.58996 18.8387 5.73406L14.0075 2.94464ZM13.4478 3.86006C13.4669 3.84177 13.4857 3.82311 13.5041 3.8041L18.3469 6.60013C18.1971 7.1259 18.2521 7.70888 18.5459 8.22008C18.8407 8.73285 19.321 9.07282 19.8539 9.20527V14.7934C19.8268 14.8001 19.7997 14.8072 19.7728 14.815L13.4478 3.86006ZM18.3598 17.4655L13.5485 20.2433C13.1658 19.8233 12.6141 19.5601 11.9999 19.5601C11.4069 19.5601 10.8721 19.8056 10.4914 20.2007L5.65643 17.4091C5.6642 17.3822 5.67144 17.3552 5.67814 17.3281H18.3212C18.3325 17.3743 18.3454 17.4201 18.3598 17.4655Z"
                                            fill="currentColor"></path>
                                    </svg>
                                </div>
                                <p class="mt-4 text-xl text-black"> Database with GraphQL </p>
                            </div>
                            <div class="mt-2 text-sm text-slate-500"> Define the data model in your database and query
                                data with GraphQL. </div>
                        </div>
                        <div>
                            <div>
                                <div
                                    class="flex items-center justify-center w-12 h-12 text-blue-500 rounded-full bg-slate-50">
                                    <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-refresh"
                                        width="24" height="24" viewBox="0 0 24 24" stroke-width="1.5"
                                        stroke="currentColor" fill="none" stroke-linecap="round"
                                        stroke-linejoin="round">
                                        <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                                        <path d="M20 11a8.1 8.1 0 0 0 -15.5 -2m-.5 -4v4h4"></path>
                                        <path d="M4 13a8.1 8.1 0 0 0 15.5 2m.5 4v-4h-4"></path>
                                    </svg>
                                </div>
                                <p class="mt-4 text-xl text-black"> Real-time Sync </p>
                            </div>
                            <div class="mt-2 text-sm text-slate-500"> Sync data across multiple clients. </div>
                        </div>
                        <div>
                            <div>
                                <div
                                    class="flex items-center justify-center w-12 h-12 text-blue-500 rounded-full bg-slate-50">
                                    <svg xmlns="http://www.w3.org/2000/svg"
                                        class="icon icon-tabler icon-tabler-shield-lock" width="24" height="24"
                                        viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" fill="none"
                                        stroke-linecap="round" stroke-linejoin="round">
                                        <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                                        <path
                                            d="M12 3a12 12 0 0 0 8.5 3a12 12 0 0 1 -8.5 15a12 12 0 0 1 -8.5 -15a12 12 0 0 0 8.5 -3">
                                        </path>
                                        <circle cx="12" cy="11" r="1"></circle>
                                        <line x1="12" y1="12" x2="12" y2="14.5"></line>
                                    </svg>
                                </div>
                                <p class="mt-4 text-xl text-black"> Permissions </p>
                            </div>
                            <div class="mt-2 text-sm text-slate-500"> Define complex security policies to keep your
                                users’ data safe. </div>
                        </div>
                        <div>
                            <div>
                                <div
                                    class="flex items-center justify-center w-12 h-12 text-blue-500 rounded-full bg-slate-50">
                                    <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-file"
                                        width="24" height="24" viewBox="0 0 24 24" stroke-width="1.5"
                                        stroke="currentColor" fill="none" stroke-linecap="round"
                                        stroke-linejoin="round">
                                        <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                                        <path d="M14 3v4a1 1 0 0 0 1 1h4"></path>
                                        <path
                                            d="M17 21h-10a2 2 0 0 1 -2 -2v-14a2 2 0 0 1 2 -2h7l5 5v11a2 2 0 0 1 -2 2z">
                                        </path>
                                    </svg>
                                </div>
                                <p class="mt-4 text-xl text-black"> File Storage </p>
                            </div>
                            <div class="mt-2 text-sm text-slate-500"> Upload and manage files. </div>
                        </div>
                        <div>
                            <div>
                                <div
                                    class="flex items-center justify-center w-12 h-12 text-blue-500 rounded-full bg-slate-50">
                                    <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-photo"
                                        width="24" height="24" viewBox="0 0 24 24" stroke-width="1.5"
                                        stroke="currentColor" fill="none" stroke-linecap="round"
                                        stroke-linejoin="round">
                                        <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                                        <line x1="15" y1="8" x2="15.01" y2="8"></line>
                                        <rect x="4" y="4" width="16" height="16" rx="3"></rect>
                                        <path d="M4 15l4 -4a3 5 0 0 1 3 0l5 5"></path>
                                        <path d="M14 14l1 -1a3 5 0 0 1 3 0l2 2"></path>
                                    </svg>
                                </div>
                                <p class="mt-4 text-xl text-black"> Image Transformations </p>
                            </div>
                            <div class="mt-2 text-sm text-slate-500"> Resize and optimise images on the fly. </div>
                        </div>
                        <div>
                            <div>
                                <div
                                    class="flex items-center justify-center w-12 h-12 text-blue-500 rounded-full bg-slate-50">
                                    <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-key"
                                        width="24" height="24" viewBox="0 0 24 24" stroke-width="1.5"
                                        stroke="currentColor" fill="none" stroke-linecap="round"
                                        stroke-linejoin="round">
                                        <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                                        <circle cx="8" cy="15" r="4"></circle>
                                        <line x1="10.85" y1="12.15" x2="19" y2="4"></line>
                                        <line x1="18" y1="5" x2="20" y2="7"></line>
                                        <line x1="15" y1="8" x2="17" y2="10"></line>
                                    </svg>
                                </div>
                                <p class="mt-4 text-xl text-black"> Authentication </p>
                            </div>
                            <div class="mt-2 text-sm text-slate-500"> User accounts and social login. </div>
                        </div>
                        <div>
                            <div>
                                <div
                                    class="flex items-center justify-center w-12 h-12 text-blue-500 rounded-full bg-slate-50">
                                    <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-cloud"
                                        width="24" height="24" viewBox="0 0 24 24" stroke-width="1.5"
                                        stroke="currentColor" fill="none" stroke-linecap="round"
                                        stroke-linejoin="round">
                                        <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                                        <path d="M7 18a4.6 4.4 0 0 1 0 -9a5 4.5 0 0 1 11 2h1a3.5 3.5 0 0 1 0 7h-12">
                                        </path>
                                    </svg>
                                </div>
                                <p class="mt-4 text-xl text-black"> Serverless Functions </p>
                            </div>
                            <div class="mt-2 text-sm text-slate-500"> Custom backend code with logs and error
                                handling. </div>
                        </div>
                        <div>
                            <div>
                                <div
                                    class="flex items-center justify-center w-12 h-12 text-blue-500 rounded-full bg-slate-50">
                                    <svg xmlns="http://www.w3.org/2000/svg"
                                        class="icon icon-tabler icon-tabler-credit-card" width="24" height="24"
                                        viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" fill="none"
                                        stroke-linecap="round" stroke-linejoin="round">
                                        <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                                        <rect x="3" y="5" width="18" height="14" rx="3"></rect>
                                        <line x1="3" y1="10" x2="21" y2="10"></line>
                                        <line x1="7" y1="15" x2="7.01" y2="15"></line>
                                        <line x1="11" y1="15" x2="13" y2="15"></line>
                                    </svg>
                                </div>
                                <p class="mt-4 text-xl text-black"> Payments </p>
                            </div>
                            <div class="mt-2 text-sm text-slate-500"> Stripe integration for all apps. </div>
                        </div>
                        <div>
                            <div>
                                <div
                                    class="flex items-center justify-center w-12 h-12 text-blue-500 rounded-full bg-slate-50">
                                    <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-mail"
                                        width="24" height="24" viewBox="0 0 24 24" stroke-width="1.5"
                                        stroke="currentColor" fill="none" stroke-linecap="round"
                                        stroke-linejoin="round">
                                        <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                                        <rect x="3" y="5" width="18" height="14" rx="2"></rect>
                                        <polyline points="3 7 12 13 21 7"></polyline>
                                    </svg>
                                </div>
                                <p class="mt-4 text-xl text-black"> Transactional Emails </p>
                            </div>
                            <div class="mt-2 text-sm text-slate-500"> Design your email templates and engage your
                                users. </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>