<section id="featureOne" aria-labelledby="screencasts-title" class="bg-white">
  <div
    class="items-center w-full px-8 py-12 mx-auto md:px-12 lg:px-24 max-w-7xl lg:py-32">
    <div>
      <div>
        <span
          class="bg-accent-50/50 border border-white/50 backdrop-blur-2xl rounded-full py-2 px-4 w-auto">
          <span class="text-sm text-accent-500 uppercase font-semibold">
            feature 7</span
          >
        </span>
        <p
          class="text-4xl mt-8 lg:text-6xl font-extrabold tracking-tight text-black font-display">
          Manage tokens.
        </p>
      </div>
      <p class="text-base text-slate-500 max-w-xl lg:text-lg mt-8">
        Control and added security. With decentralization, users have more
        control over their data and transactions, and the platform is less
        susceptible to malicious attacks.
      </p>
    </div>

    <ol
      role="list"
      class="grid grid-cols-1 sm:grid-cols-2 lg:mt-24 mt-12 gap-6 lg:gap-12 lg:grid-cols-4 list-none">
      <li>
        <h3 class="text-black font-medium lg:text-xl text-lg">Security</h3>
        <p class="text-slate-500 mt-2 text-base">
          Our platform utilizes blockchain technology to provide unbreakable
          security for all user data
        </p>
      </li>
      <li>
        <h3 class="text-black font-medium lg:text-xl text-lg">Automation</h3>
        <p class="text-slate-500 mt-2 text-base">
          Our smart contracts allow for seamless, automated transactions without
          the need for intermediaries.
        </p>
      </li>

      <li>
        <h3 class="text-black font-medium lg:text-xl text-lg">Exchange</h3>
        <p class="text-slate-500 mt-2 text-base">
          Trade cryptocurrencies and tokens on a decentralized exchange for
          added security and anonymity.
        </p>
      </li>
      <li>
        <h3 class="text-black font-medium lg:text-xl text-lg">Governance</h3>
        <p class="text-slate-500 mt-2 text-base">
          Use blockchain technology to create decentralized autonomous
          organizations and manage them with ease.
        </p>
      </li>
    </ol>
    <div
      class="list-none grid grid-cols-1 items-center lg:grid-cols-2 gap-4 mt-12 lg:gap-24 lg:mt-24 bg-gradient-to-tr from-accent-600 via-accent-500 to-accent-400 rounded-3xl p-8 lg:p-10 relative overflow-clip border">
      <svg
        class="absolute opacity-50"
        viewBox="0 0 4276 4276"
        fill="none"
        xmlns="http://www.w3.org/2000/svg">
        <path
          d="M2138 4273C3317.13 4273 4273 3317.13 4273 2138C4273 958.872 3317.13 3 2138 3C958.872 3 3 958.872 3 2138C3 3317.13 958.872 4273 2138 4273Z"
          stroke="#ffffff20"
          stroke-width="5"
          stroke-linecap="round"
          stroke-linejoin="round"></path>
        <path
          d="M2138 4103.09C3223.29 4103.09 4103.09 3223.29 4103.09 2138C4103.09 1052.71 3223.29 172.912 2138 172.912C1052.71 172.912 172.912 1052.71 172.912 2138C172.912 3223.29 1052.71 4103.09 2138 4103.09Z"
          stroke="#ffffff20"
          stroke-width="5"
          stroke-linecap="round"
          stroke-linejoin="round"></path>
        <path
          d="M2138 3933.11C3129.41 3933.11 3933.11 3129.41 3933.11 2138C3933.11 1146.59 3129.41 342.887 2138 342.887C1146.59 342.887 342.887 1146.59 342.887 2138C342.887 3129.41 1146.59 3933.11 2138 3933.11Z"
          stroke="#ffffff20"
          stroke-width="5"
          stroke-linecap="round"
          stroke-linejoin="round"></path>
        <path
          d="M2138 3763.2C3035.57 3763.2 3763.2 3035.57 3763.2 2138C3763.2 1240.43 3035.57 512.799 2138 512.799C1240.43 512.799 512.8 1240.43 512.8 2138C512.8 3035.57 1240.43 3763.2 2138 3763.2Z"
          stroke="#ffffff20"
          stroke-width="5"
          stroke-linecap="round"
          stroke-linejoin="round"></path>
        <path
          d="M2138 3593.23C2941.7 3593.23 3593.23 2941.7 3593.23 2138C3593.23 1334.3 2941.7 682.773 2138 682.773C1334.3 682.773 682.775 1334.3 682.775 2138C682.775 2941.7 1334.3 3593.23 2138 3593.23Z"
          stroke="#ffffff20"
          stroke-width="5"
          stroke-linecap="round"
          stroke-linejoin="round"></path>
        <path
          d="M2138 3423.31C2847.86 3423.31 3423.31 2847.86 3423.31 2138C3423.31 1428.14 2847.86 852.686 2138 852.686C1428.14 852.686 852.686 1428.14 852.686 2138C852.686 2847.86 1428.14 3423.31 2138 3423.31Z"
          stroke="#ffffff20"
          stroke-width="5"
          stroke-linecap="round"
          stroke-linejoin="round"></path>
        <path
          d="M2138 3253.34C2753.99 3253.34 3253.34 2753.98 3253.34 2138C3253.34 1522.01 2753.99 1022.66 2138 1022.66C1522.02 1022.66 1022.66 1522.01 1022.66 2138C1022.66 2753.98 1522.02 3253.34 2138 3253.34Z"
          stroke="#ffffff20"
          stroke-width="5"
          stroke-linecap="round"
          stroke-linejoin="round"></path>
        <path
          d="M2138 3083.43C2660.14 3083.43 3083.43 2660.15 3083.43 2138C3083.43 1615.85 2660.14 1192.57 2138 1192.57C1615.85 1192.57 1192.57 1615.85 1192.57 2138C1192.57 2660.15 1615.85 3083.43 2138 3083.43Z"
          stroke="#ffffff20"
          stroke-width="5"
          stroke-linecap="round"
          stroke-linejoin="round"></path>
        <path
          d="M2138 2913.45C2566.27 2913.45 2913.45 2566.27 2913.45 2138C2913.45 1709.73 2566.27 1362.55 2138 1362.55C1709.73 1362.55 1362.55 1709.73 1362.55 2138C1362.55 2566.27 1709.73 2913.45 2138 2913.45Z"
          stroke="#ffffff20"
          stroke-width="5"
          stroke-linecap="round"
          stroke-linejoin="round"></path>
        <path
          d="M2138 2743.54C2472.43 2743.54 2743.54 2472.43 2743.54 2138C2743.54 1803.57 2472.43 1532.46 2138 1532.46C1803.57 1532.46 1532.46 1803.57 1532.46 2138C1532.46 2472.43 1803.57 2743.54 2138 2743.54Z"
          stroke="#ffffff20"
          stroke-width="5"
          stroke-linecap="round"
          stroke-linejoin="round"></path>
        <path
          d="M2138 2573.56C2378.56 2573.56 2573.57 2378.56 2573.57 2138C2573.57 1897.44 2378.56 1702.43 2138 1702.43C1897.44 1702.43 1702.43 1897.44 1702.43 2138C1702.43 2378.56 1897.44 2573.56 2138 2573.56Z"
          stroke="#ffffff20"
          stroke-width="5"
          stroke-linecap="round"
          stroke-linejoin="round"></path>
        <path
          d="M2138 2403.65C2284.72 2403.65 2403.65 2284.72 2403.65 2138C2403.65 1991.28 2284.72 1872.35 2138 1872.35C1991.28 1872.35 1872.35 1991.28 1872.35 2138C1872.35 2284.72 1991.28 2403.65 2138 2403.65Z"
          stroke="#ffffff20"
          stroke-width="5"
          stroke-linecap="round"
          stroke-linejoin="round"></path>
      </svg>
      <div class="text-center lg:text-left relative">
        <p
          class="text-4xl mt-8 lg:text-5xl font-extrabold tracking-tight text-white font-display">
          Trade crypto
        </p><p
          class="text-base text-slate-200 max-w-xl lg:mx-auto lg:text-lg mt-8">
          Control and added security. With decentralization, users have more
          control over their data and transactions, and the platform is less
          susceptible to malicious attacks.
        </p>
        <div class="flex-col flex gap-3 mt-10 sm:flex-row">
          <a
            class="items-center text-accent-500 focus:outline-none inline-flex justify-center hover:text-white duration-200 focus-visible:outline-white focus-visible:ring-white font-medium lg:w-auto px-6 py-3 rounded-xl text-center w-full bg-white hover:bg-accent-900"
            href="/overview">See all pages</a
          >
          <a
            class="items-center text-white focus:outline-none inline-flex justify-center duration-200 focus-visible:outline-accent-500 focus-visible:ring-accent-500 font-medium lg:w-auto px-6 py-3 rounded-xl text-center w-full bg-transparent hover:bg-accent-900/30"
            href="#">
            Get Semplice for $99 &nbsp;&nbsp; &rarr;</a
          >
        </div>
      </div>
      <div class="h-full lg:mt-0 mt-12 items-center">
        <img
          alt="Lexingtøn thumbnail"
          class="w-full shadow-normal rounded-[2rem] lg:absolute"
          src="/assets/smallchart1.svg"
        />
      </div>
    </div>
  </div>
</section>
