<section id="featureTwo" aria-labelledby="FeatureTwo">
    <div class="relative px-8 py-12 mx-auto sm:px-6 md:max-w-2xl md:px-4 lg:max-w-6xl lg:px-20 lg:pt-32">
        <div class="max-w-xl">
            <p class="text-3xl font-medium tracking-tight text-black ">
                The most recent pixels
            </p>
            <p class="mt-4 text-lg lg:text-2xl text-slate-500">
                Here you can see some of the latest landing pages and sites that I have
                worked on, from a UI Kit and web tools to a complete VS code theme.
            </p>
        </div>

        <ol role="list"
            class="relative grid grid-cols-1 mt-12 gap-y-10 gap-x-8 sm:grid-cols-2 lg:grid-cols-3 lg:gap-16">
            <li class="grid items-center grid-cols-1 gap-8 auto-rows-min sm:grid-cols-2 lg:grid-cols-1">
                <div class="w-full bg-silver" style="
            background-color: rgb(67, 56, 202);
            background-image: radial-gradient(
                at 76% 28%,
                rgb(245, 243, 255) 0,
                transparent 95%
              ),
              radial-gradient(at 96% 27%, rgb(68, 64, 60) 0, transparent 74%),
              radial-gradient(at 1% 77%, rgb(204, 251, 241) 0, transparent 40%),
              radial-gradient(at 89% 28%, rgb(240, 171, 252) 0, transparent 60%),
              radial-gradient(at 68% 41%, rgb(17, 24, 39) 0, transparent 7%),
              radial-gradient(at 31% 5%, rgb(52, 211, 153) 0, transparent 4%);
          ">
                    <img alt=""
                        src="https://d33wubrfki0l68.cloudfront.net/53e7d80b2652a9e40c34c7d4df673df2caaa8826/15e37/images/work/daylitics.png"
                        decoding="async" data-mining="future" loading="lazy" class="w-full">
                </div>
                <div>
                    <h3 class="text-xl text-black">Daylitics</h3>
                    <p class="mt-2 text-sm text-slate-500">
                        Simple analytics digest for publishers
                    </p>
                </div>
            </li>
            <li class="grid items-center grid-cols-1 gap-8 auto-rows-min sm:grid-cols-2 lg:grid-cols-1">
                <div class="w-full bg-silver" style="
            background: linear-gradient(
              to top,
              #fdfdfe 14.85%,
              #ffbb88 20.61%,
              #f58ee0 26.17%,
              #c58fff 31.93%,
              #8eb6f5 46.54%,
              #0f1014 54.36%
            );
          ">
                    <img alt=""
                        src="https://d33wubrfki0l68.cloudfront.net/fd09137b6e799dd1db537670fc91d9f3e4a5931a/fb942/images/work/sequoia.png"
                        decoding="async" data-mining="future" loading="lazy" class="w-full">
                </div>
                <div>
                    <h3 class="text-xl text-black">Sequoia</h3>
                    <p class="mt-2 text-sm text-slate-500">
                        Black, elegant, modern and gentle theme for VS Code and other
                        platforms
                    </p>
                </div>
            </li>
            <li class="grid items-center grid-cols-1 gap-8 auto-rows-min sm:grid-cols-2 lg:grid-cols-1">
                <div class="w-full bg-silver" style="
            background-image: conic-gradient(
              at left center,
              #ffffff,
              #6a78f7,
              #445cff
            );
          ">
                    <img alt=""
                        src="https://d33wubrfki0l68.cloudfront.net/0526f97228fb9453dfba1cc14fae160b34d892f3/f9d52/images/work/wb.png"
                        decoding="async" data-mining="future" loading="lazy" class="w-full">
                </div>
                <div>
                    <h3 class="text-xl text-black">Wicked Backgrounds</h3>
                    <p class="mt-2 text-sm text-slate-500">
                        Create beautiful backgrounds waves for yourdesigns.
                    </p>
                </div>
            </li>
        </ol>
    </div>
</section>