<section id="featureThree" aria-labelledby="FeatureThree">
    <div class="relative px-8 py-24 mx-auto sm:px-6 md:max-w-2xl md:px-4 lg:max-w-6xl lg:px-20 lg:py-36">
        <div class="text-left">
            <div class="items-center mx-auto lg:inline-flex">
                <div class="pb-12 text-left lg:items-start lg:inline-flex">
                    <div class="lg:pr-16">
                        <h1 class="text-3xl font-medium tracking-tight text-black "> Let's build a
                            better tomorrow, together. </h1>
                    </div>
                    <div class="mt-5 lg:mt-0">
                        <p class="text-lg lg:text-2xl text-slate-500"> Leverage agile frameworks to
                            provide a robust synopsis for high level overviews. </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="w-full mx-auto text-left">
            <div class="flex-col items-center m-auto align-middle">
                <div class="items-center w-full gap-12 text-left lg:inline-flex">
                    <div class="order-first block w-full mt-12 lg:mt-0">
                        <img class="object-cover w-full mx-auto border rounded-md object-fit lg:ml-auto shadow-normal"
                            alt="hero"
                            src=" https://d33wubrfki0l68.cloudfront.net/5db71d0359ae0cd03ceceb0ba318e49bb78ca3b1/1979d/images/assets/intro.png">
                    </div>
                </div>
            </div>
        </div>
        <div class="mx-auto">
            <div class="pt-12 mx-auto lg:max-w-7xl">
                <dl class="grid grid-cols-1 gap-6 space-y-0 lg:gap-24 lg:grid-cols-3">
                    <div>
                        <div>
                            <p class="text-xl text-black"> Developer experience </p>
                        </div>
                        <div class="mt-2 text-sm text-slate-500"> I am so happy, my dear friend, so absorbed in the
                            exquisite sense of mere tranquil existence, that I neglect my talents. </div>
                    </div>
                    <div>
                        <div>
                            <p class="text-xl text-black"> Designers go-to app </p>
                        </div>
                        <div class="mt-2 text-sm text-slate-500"> I am so happy, my dear friend, so absorbed in the
                            exquisite sense of mere tranquil existence, that I neglect my talents. </div>
                    </div>
                    <div>
                        <div>
                            <p class="text-xl text-black"> Easy onboarding </p>
                        </div>
                        <div class="mt-2 text-sm text-slate-500"> I am so happy, my dear friend, so absorbed in the
                            exquisite sense of mere tranquil existence, that I neglect my talents. </div>
                    </div>
                </dl>
            </div>
        </div>
    </div>
</section>