<section id="featureTen" aria-labelledby="FeatureTen">
    <div class="relative px-8 my-24 mx-auto sm:px-6 md:max-w-2xl md:px-4 lg:max-w-6xl lg:px-20 lg:pt-36">
        <div class="inline-flex items-center text-left">
            <div class="relative items-center mx-auto lg:inline-flex">
                <div class="pb-12 text-left lg:items-start lg:inline-flex">
                    <div class="lg:pr-16">
                        <h1 class="text-3xl font-medium tracking-tight text-black lg:text-5xl"> Let's build a
                            better tomorrow, together. </h1>
                    </div>
                    <div class="mt-5 lg:mt-0">
                        <p class="text-lg lg:text-2xl text-slate-500"> Leverage agile frameworks to
                            provide a robust synopsis for high level overviews. </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="h-screen bg-top bg-cover border-t bg-slate-50 bg-placeholder to-white"
    style="background-image: url('https://images.unsplash.com/photo-1622547748225-3fc4abd2cca0?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2232&q=80')">
    <div class="relative px-5 mx-auto overflow-hidden lg:px-32 bg-opacity-90">
        <div class="py-32">
            <div class="lg:mx-auto lg:max-w-7xl lg:grid lg:grid-cols-2 lg:grid-flow-col-dense lg:gap-24">
                <div class="max-w-xl px-4 mx-auto sm:px-6 lg:py-16 lg:max-w-none lg:mx-0"></div>
            </div>
        </div>
    </div>
</section>