<section>
  <div class="relative px-8 py-12 mx-auto md:px-12 lg:px-32 max-w-7xl lg:py-24">
    <div
      class="flex flex-col items-start mt-12 -mb-px lg:grid-cols-2 lg:gap-32 lg:grid"
      x-data="{
    tabSelected: 1,
    tabId: $id('tabs'),
    tabButtonClicked(tabButton){
        this.tabSelected = tabButton.id.replace(this.tabId + '-', '');
        this.tabRepositionMarker(tabButton);
    },
    tabRepositionMarker(tabButton){
        this.$refs.tabMarker.style.width = tabButton.offsetWidth + 'px';
        this.$refs.tabMarker.style.height = tabButton.offsetHeight + 'px';
        this.$refs.tabMarker.style.top = tabButton.offsetTop + 'px';
    },
    tabContentActive(tabContent){
        return this.tabSelected == tabContent.id.replace(this.tabId + '-content-', '');
    }
}"
      x-init="tabRepositionMarker($refs.tabButtons.firstElementChild);"
      class="relative w-full">
      <div>
        <div class="max-w-2xl">
          <span
            class="text-xs font-bold tracking-wide uppercase text-purple-500"
            >Decentralization</span
          >
          <p class="mt-8 text-4xl font-semibold tracking-tight text-purple-900">
            Access blockchain <span class="block text-gray-500"
              >services on the go</span
            >
          </p>
          <p class="mt-4 text-base text-gray-500">
            Control and added security. With decentralization, users have more
            control over their data and transactions, and the platform is less
            susceptible to malicious attacks.
          </p>
        </div>
        <div
          x-ref="tabButtons"
          class="relative flex mt-12 lg:mt-24 flex-col justify-center w-full gap-12 select-none lg:flex-col lg:inline-grid md:flex-row border-l border-gray-300">
          <button
            :id="$id(tabId)"
            @click="tabButtonClicked($el);"
            type="button"
            :class="{ '' : tabButtonActive($el) }"
            class="relative flex flex-col justify-center w-full text-left transition-all cursor-pointer lg:z-20 lg:pl-4">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              class="w-5 h-5 icon icon-tabler text-purple-500 icon-tabler-adjustments-alt"
              viewBox="0 0 24 24"
              stroke-width="2"
              stroke="currentColor"
              fill="none"
              stroke-linecap="round"
              stroke-linejoin="round">
              <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
              <path d="M4 8h4v4h-4z"></path>
              <path d="M6 4l0 4"></path>
              <path d="M6 12l0 8" opacity="0.5"></path>
              <path d="M10 14h4v4h-4z"></path>
              <path d="M12 4l0 10" opacity="0.5"></path>
              <path d="M12 18l0 2"></path>
              <path d="M16 5h4v4h-4z"></path>
              <path d="M18 4l0 1"></path>
              <path d="M18 9l0 11" opacity="0.5"></path>
            </svg>
            <p class="mt-4 text-base font-medium text-purple-900">Control</p>
            <p class="mt-2 text-sm text-gray-500">
              Use blockchain technology to create decentralized autonomous
              organizations and manage them with ease.
            </p></button
          >
          <button
            :id="$id(tabId)"
            @click="tabButtonClicked($el);"
            type="button"
            :class="{ '' : tabButtonActive($el) }"
            class="relative flex flex-col justify-center w-full text-left transition-all cursor-pointer lg:z-20 lg:pl-4">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              class="w-5 h-5 icon icon-tabler text-purple-500 icon-tabler-file-unknown"
              viewBox="0 0 24 24"
              stroke-width="2"
              stroke="currentColor"
              fill="none"
              stroke-linecap="round"
              stroke-linejoin="round">
              <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
              <path d="M14 3v4a1 1 0 0 0 1 1h4"></path>
              <path
                opacity="0.5"
                d="M17 21h-10a2 2 0 0 1 -2 -2v-14a2 2 0 0 1 2 -2h7l5 5v11a2 2 0 0 1 -2 2z"
              ></path>
              <path d="M12 17v.01"></path>
              <path d="M12 14a1.5 1.5 0 1 0 -1.14 -2.474"></path>
            </svg><p class="mt-4 text-base font-medium text-purple-900">
              Decentralized Exchange
            </p>
            <p class="mt-2 text-sm text-gray-500">
              Trade cryptocurrencies and tokens on a decentralized exchange for
              added security and anonymity.
            </p></button
          >
          <button
            :id="$id(tabId)"
            @click="tabButtonClicked($el);"
            type="button"
            :class="{ '' : tabButtonActive($el) }"
            class="relative flex flex-col justify-center w-full text-left transition-all cursor-pointer lg:z-20 lg:pl-4">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              class="h-5 icon icon-tabler text-purple-500 icon-tabler-3d-cube-sphere w-5-"
              viewBox="0 0 24 24"
              stroke-width="2"
              stroke="currentColor"
              fill="none"
              stroke-linecap="round"
              stroke-linejoin="round">
              <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
              <path d="M6 17.6l-2 -1.1v-2.5" opacity="0.5"></path>
              <path d="M4 10v-2.5l2 -1.1"></path>
              <path d="M10 4.1l2 -1.1l2 1.1" opacity="0.5"></path>
              <path d="M18 6.4l2 1.1v2.5"></path>
              <path d="M20 14v2.5l-2 1.12" opacity="0.5"></path>
              <path d="M14 19.9l-2 1.1l-2 -1.1"></path>
              <path d="M12 12l2 -1.1"></path>
              <path d="M18 8.6l2 -1.1"></path>
              <path d="M12 12l0 2.5"></path>
              <path d="M12 18.5l0 2.5"></path>
              <path d="M12 12l-2 -1.12"></path>
              <path d="M6 8.6l-2 -1.1"></path>
            </svg><p class="mt-4 text-base font-medium text-purple-900">
              Tokens
            </p>
            <p class="mt-2 text-sm text-gray-500">
              Trade cryptocurrencies and tokens on a decentralized exchange for
              added security and anonymity.
            </p></button
          >
          <div
            x-ref="tabMarker"
            class="absolute left-0 z-10 hidden w-1/2 h-full duration-300 ease-out lg:inline"
            x-cloak>
            <div class="w-full h-12 border-l-2 border-purple-500"></div>
          </div>
        </div>
      </div>
      <div
        class="relative items-center justify-center hidden w-full mt-2 overflow-hidden content lg:block rounded-b-md">
        <div
          :id="$id(tabId + '-content')"
          x-show="tabContentActive($el)"
          class="relative">
          <div>
            <img alt="" src="/assets/phone3.png" />
          </div>
        </div>

        <div
          :id="$id(tabId + '-content')"
          x-show="tabContentActive($el)"
          class="relative"
          x-cloak>
          <div>
            <img alt="" src="/assets/phone2.png" />
          </div>
        </div>

        <div
          :id="$id(tabId + '-content')"
          x-show="tabContentActive($el)"
          class="relative"
          x-cloak>
          <div>
            <img alt="" src="/assets/phone1.png" />
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
