<section>
  <div class="px-8 py-12 mx-auto md:px-12 lg:px-32 max-w-7xl lg:py-24">
    <div class="max-w-2xl">
      <span class="text-xs font-bold tracking-wide uppercase text-purple-500"
        >proteccion</span
      >
      <p class="mt-8 text-4xl font-semibold tracking-tight text-purple-900">
        Trade cryptocurrencies <span class="md:block md:text-gray-500"
          >and tokens anytime</span
        >
      </p>
      <p class="mt-4 text-base text-gray-500">
        With decentralization, users have more control over their data and
        transactions, and the platform is less susceptible to malicious attacks.
      </p>
    </div>

    <div
      class="relative w-full mt-12"
      x-data="{
        tabSelected: 1,
        tabId: $id('tabs'),
        tabButtonClicked(tabButton){
            this.tabSelected = tabButton.id.replace(this.tabId + '-', '');
            this.tabRepositionMarker(tabButton);
        },
        tabRepositionMarker(tabButton){
            this.$refs.tabMarker.style.width=tabButton.offsetWidth + 'px';
            this.$refs.tabMarker.style.height=tabButton.offsetHeight + 'px';
            this.$refs.tabMarker.style.left=tabButton.offsetLeft + 'px';
        },
        tabContentActive(tabContent){
            return this.tabSelected == tabContent.id.replace(this.tabId + '-content-', '');
        }
    }"
      x-init="tabRepositionMarker($refs.tabButtons.firstElementChild);">
      <div class="hidden max-w-2xl sm:block">
        <div
          class="relative inline-grid items-center justify-center w-full h-8 grid-cols-3 mx-auto mt-6 text-black border-b border-gray-300 select-none"
          x-ref="tabButtons">
          <button
            class="relative z-20 inline-flex w-full h-8 text-sm font-medium transition-all cursor-pointer items-centerml-2 whitespace-nowrap"
            type="button"
            :class="{ 'border-b-2 border-purple-500' : tabButtonActive($el) }"
            :id="$id(tabId)"
            @click="tabButtonClicked($el);"
            id="tabs-1-1"
            >Decentralized consensus
          </button>
          <button
            class="relative z-20 inline-flex w-full h-8 text-sm font-medium transition-all cursor-pointer items-centerml-2 whitespace-nowrap"
            type="button"
            :class="{ 'border-b-2 border-purple-500' : tabButtonActive($el) }"
            :id="$id(tabId)"
            @click="tabButtonClicked($el);"
            id="tabs-1-2"
            >Smart contract
          </button>
          <button
            class="relative z-20 inline-flex w-full h-8 text-sm font-medium transition-all cursor-pointer items-centerml-2 whitespace-nowrap"
            type="button"
            :class="{ 'border-b-2 border-purple-500' : tabButtonActive($el) }"
            :id="$id(tabId)"
            @click="tabButtonClicked($el);"
            id="tabs-1-3">Immutable technology</button
          ><div
            class="absolute left-0 z-10 w-1/4 h-full duration-300 ease-out"
            x-ref="tabMarker">
            <div class="w-12 h-full border-b-2 border-purple-500"></div>
          </div>
        </div>
      </div>
      <div class="relative flex items-center justify-center w-full mt-12">
        <div
          class="relative"
          :id="$id(tabId + '-content')"
          x-show="tabContentActive($el)"
          id="tabs-1-content-1"
          style="display: none;">
          <div class="relative items-center w-full" style="">
            <p
              class="mt-8 text-3xl font-semibold tracking-tighter text-purple-900">
              Our platform employs a decentralized consensus mechanism that
              revolutionizes how transactions are confirmed. By leveraging
              distributed computing power, nodes in the network work
              collaboratively to achieve consensus, ensuring the integrity and
              security of our blockchain.
            </p>
          </div>
        </div>
        <div
          class="relative"
          :id="$id(tabId + '-content')"
          x-show="tabContentActive($el)"
          id="tabs-1-content-2"
          style="display: none;">
          <div class="relative items-center w-full" style="">
            <p
              class="mt-8 text-3xl font-semibold tracking-tighter text-purple-900">
              Our smart contract automation feature simplifies complex business
              processes. By encoding contract terms and conditions into
              self-executing code, parties can trust that agreements will be
              executed precisely as intended, eliminating the need for
              intermediaries
            </p>
          </div>
        </div><div
          class="relative"
          :id="$id(tabId + '-content')"
          x-show="tabContentActive($el)"
          id="tabs-1-content-3">
          <div class="relative items-center w-full" style="">
            <p
              class="mt-8 text-3xl font-semibold tracking-tighter text-purple-900">
              Embracing immutable ledger technology, our blockchain maintains an
              unchangeable record of all transactions. This tamper-proof system
              guarantees transparency, instilling trust among users and
              providing an auditable history of every interaction on the
              platform.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
