<section
  aria-labelledby="featurestwo"
  class="relative overflow-hidden border-b border-slate-50"
  id="featurestwo ">
  <svg
    class="absolute bottom-0 -mr-96 -mt-96 right-0 blur-3xl opacity-50"
    width="100%"
    height="100%"
    viewBox="0 0 400 400"
    fill="none"
    xmlns="http://www.w3.org/2000/svg">
    <g clip-path="url(#clip0_10_20)">
      <g filter="url(#filter0_f_10_20)">
        <path d="M128.6 0H0V322.2L106.2 134.75L128.6 0Z" fill="#5934ed"></path>
        <path d="M0 322.2V400H240H320L106.2 134.75L0 322.2Z" fill="#7C87F8"
        ></path>
        <path d="M320 400H400V78.75L106.2 134.75L320 400Z" fill="#4C65E4"
        ></path>
        <path d="M400 0H128.6L106.2 134.75L400 78.75V0Z" fill="#ecebff"></path>
      </g>
    </g>
    <defs>
      <filter
        id="filter0_f_10_20"
        x="-160.333"
        y="-160.333"
        width="720.666"
        height="720.666"
        filterUnits="userSpaceOnUse"
        color-interpolation-filters="sRGB">
        <feFlood flood-opacity="0" result="BackgroundImageFix"></feFlood>
        <feBlend
          mode="normal"
          in="SourceGraphic"
          in2="BackgroundImageFix"
          result="shape"></feBlend>
        <feGaussianBlur
          stdDeviation="80.1666"
          result="effect1_foregroundBlur_10_20"></feGaussianBlur>
      </filter>
    </defs>
  </svg>

  <div
    class="items-center w-full px-8 py-12 lg:pb-0 mx-auto md:px-12 lg:px-24 max-w-7xl lg:pt-32 relative">
    <div
      class="overflow-hidden rounded-t-3xl lg:bg-white/30 lg:border lg:backdrop-blur-lg lg:border-slate-50 lg:shadow-normal shadow-accent-500/30 border-b-0 gap-6 grid grid-cols-1 lg:gap-24 lg:grid-cols-2 lg:p-20">
      <div class="relative items-center gap-12 lg:inline-flex m-auto">
        <div class="text-center max-w-xl lg:text-left">
          <div>
            <span class="bg-accent-500/10 rounded-full py-1 px-4 w-auto">
              <span class="text-xs text-accent-500 uppercase font-semibold">
                feature 2</span
              >
            </span>
            <p
              class="text-3xl mt-8 font-extrabold tracking-tight text-black font-display">
              Our platform is built on blockchain technology
            </p>
            <p class="text-base mt-4 text-slate-500 max-w-xl lg:mx-auto">
              With decentralization, users have more control over their data and
              transactions, and the platform is less susceptible to malicious
              attacks.
            </p>
            <div class="flex-col flex gap-3 mt-10 sm:flex-row">
              <a
                class="items-center text-white focus:outline-none inline-flex justify-center hover:text-accent-500 duration-200 focus-visible:outline-black focus-visible:ring-black font-medium lg:w-auto px-6 py-3 rounded-xl text-center w-full bg-accent-500 hover:bg-accent-100"
                href="/overview">See all pages</a
              >
              <a
                class="items-center text-accent-500 focus:outline-none inline-flex justify-center duration-200 focus-visible:outline-black focus-visible:ring-accent-500 font-medium lg:w-auto px-6 py-3 rounded-xl text-center w-full bg-transparent hover:bg-white/30"
                href="#">
                Get Semplice for $99 &nbsp;&nbsp; &rarr;</a
              >
            </div>
          </div>
        </div>
      </div>
      <div class="w-full block mt-0 relative">
        <div class="lg:h-full relative">
          <img
            alt="hero"
            class="lg:ml-auto drop-shadow-normal lg:absolute"
            src="/assets/phone1.png"
          />
        </div>
      </div>
    </div>
  </div>
</section>
