<section>
  <div class="px-8 py-12 mx-auto md:px-12 lg:px-32 max-w-7xl lg:py-24">
    <div class="max-w-2xl mx-auto text-center">
      <span class="text-xs font-bold tracking-wide uppercase text-purple-500"
        >security</span
      >
      <p class="mt-8 text-4xl font-semibold tracking-tight text-purple-900">
        Keep your sensitive<span class="md:block md:text-gray-500">
          information always private</span
        >
      </p>
      <p class="max-w-xl mx-auto mt-4 text-base text-gray-500">
        With decentralization, users have more control over their data and
        transactions, and the platform is less susceptible to malicious attacks.
      </p>
    </div>
    <div
      x-data="{
        tabSelected: 1,
        tabId: $id('tabs'),
        tabButtonClicked(tabButton){
            this.tabSelected = tabButton.id.replace(this.tabId + '-', '');
            this.tabRepositionMarker(tabButton);
        },
        tabRepositionMarker(tabButton){
            this.$refs.tabMarker.style.width=tabButton.offsetWidth + 'px';
            this.$refs.tabMarker.style.height=tabButton.offsetHeight + 'px';
            this.$refs.tabMarker.style.left=tabButton.offsetLeft + 'px';
        },
        tabContentActive(tabContent){
            return this.tabSelected == tabContent.id.replace(this.tabId + '-content-', '');
        }
    }"
      x-init="tabRepositionMarker($refs.tabButtons.firstElementChild);"
      class="relative w-full">
      <div
        x-ref="tabButtons"
        class="relative flex flex-col justify-center w-full gap-6 mt-12 lg:bg-white border-gray-300 select-none sm:inline-grid rounded-t-3xl lg:flex-none lg:items-center sm:grid-cols-3">
        <button
          :id="$id(tabId)"
          @click="tabButtonClicked($el);"
          type="button"
          :class="{ 'bg-gray-100 text-gray-700' : tabButtonActive($el) }"
          class="relative flex flex-col justify-center w-full pb-8 text-left transition-all cursor-pointer lg:z-20 lg:p-8">
          <div class="flex flex-col gap-3 md:flex-row md:items-center">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              class="w-5 h-5 icon icon-tabler text-purple-500 icon-tabler-device-cctv-off"
              viewBox="0 0 24 24"
              stroke-width="2"
              stroke="currentColor"
              fill="none"
              stroke-linecap="round"
              stroke-linejoin="round">
              <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
              <path
                d="M7 7h-3a1 1 0 0 1 -1 -1v-2c0 -.275 .11 -.523 .29 -.704m3.71 -.296h13a1 1 0 0 1 1 1v2a1 1 0 0 1 -1 1h-9"
              ></path>
              <path d="M10.36 10.35a4 4 0 1 0 5.285 5.3"></path>
              <path
                d="M19 7v7c0 .321 -.022 .637 -.064 .947m-1.095 2.913a7 7 0 0 1 -12.841 -3.86l0 -7"
                opacity="0.5"></path>
              <path d="M12 14h.01"></path>
              <path d="M3 3l18 18"></path>
            </svg>
            <p class="text-base font-medium text-purple-900">Encrypted</p>
          </div>
          <p class="mt-2 text-sm text-gray-500">
            Use blockchain technology to create decentralized autonomous
            organizations and manage.
          </p></button
        >
        <button
          :id="$id(tabId)"
          @click="tabButtonClicked($el);"
          type="button"
          :class="{ 'bg-gray-100 text-gray-700' : tabButtonActive($el) }"
          class="relative flex flex-col justify-center w-full pb-8 text-left transition-all cursor-pointer lg:z-20 lg:p-8">
          <div class="flex flex-col gap-3 md:flex-row md:items-center">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              class="w-5 h-5 icon icon-tabler text-purple-500 icon-tabler-cloud-lock-open"
              viewBox="0 0 24 24"
              stroke-width="2"
              stroke="currentColor"
              fill="none"
              stroke-linecap="round"
              stroke-linejoin="round">
              <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
              <path
                opacity="0.5"
                d="M19 18a3.5 3.5 0 0 0 0 -7h-1c.397 -1.768 -.285 -3.593 -1.788 -4.787c-1.503 -1.193 -3.6 -1.575 -5.5 -1s-3.315 2.019 -3.712 3.787c-2.199 -.088 -4.155 1.326 -4.666 3.373c-.512 2.047 .564 4.154 2.566 5.027"
              ></path>
              <path
                d="M8 15m0 1a1 1 0 0 1 1 -1h6a1 1 0 0 1 1 1v3a1 1 0 0 1 -1 1h-6a1 1 0 0 1 -1 -1z"
              ></path>
              <path d="M10 15v-2a2 2 0 0 1 3.736 -1"></path>
            </svg><p class="text-lg font-medium text-purple-900">Privacy</p>
          </div>
          <p class="mt-2 text-sm text-gray-500">
            Trade cryptocurrencies and tokens on a decentralized exchange for
            added security and anonymity.
          </p></button
        >
        <button
          :id="$id(tabId)"
          @click="tabButtonClicked($el);"
          type="button"
          :class="{ 'bg-gray-100 text-gray-700' : tabButtonActive($el) }"
          class="relative flex flex-col justify-center w-full pb-8 text-left transition-all cursor-pointer lg:z-20 lg:p-8">
          <div class="flex flex-col gap-3 md:flex-row md:items-center">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              class="w-5 h-5 icon icon-tabler text-purple-500 icon-tabler-archive"
              viewBox="0 0 24 24"
              stroke-width="2"
              stroke="currentColor"
              fill="none"
              stroke-linecap="round"
              stroke-linejoin="round">
              <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
              <path
                d="M3 4m0 2a2 2 0 0 1 2 -2h14a2 2 0 0 1 2 2v0a2 2 0 0 1 -2 2h-14a2 2 0 0 1 -2 -2z"
              ></path>
              <path d="M5 8v10a2 2 0 0 0 2 2h10a2 2 0 0 0 2 -2v-10"></path>
              <path opacity="0.5" d="M10 12l4 0"></path>
            </svg><p class="text-lg font-medium text-purple-900">Storage</p>
          </div>
          <p class="mt-2 text-sm text-gray-500">
            Trade cryptocurrencies and tokens on a decentralized exchange for
            added security and anonymity.
          </p></button
        >
        <div
          class="absolute left-0 z-10 hidden w-1/2 h-full duration-300 ease-out md:block"
          x-ref="tabMarker">
          <div class="w-12 ml-8 h-full border-b-2 border-purple-500"></div>
        </div>
      </div>
      <div
        class="relative items-center justify-center hidden w-full border-t -mt-1 shadow-sm overflow-hidden content md:rounded-b-3xl md:block">
        <div
          :id="$id(tabId + '-content')"
          x-show="tabContentActive($el)"
          class="relative">
          <div class="w-full overflow-hidden">
            <img alt="" src="/assets/chart1.svg" class="w-full" />
          </div>
        </div>

        <div
          :id="$id(tabId + '-content')"
          x-show="tabContentActive($el)"
          class="relative"
          x-cloak>
          <div class="w-full overflow-hidden">
            <img alt="" src="/assets/chart2.svg" class="w-full" />
          </div>
        </div>

        <div
          :id="$id(tabId + '-content')"
          x-show="tabContentActive($el)"
          class="relative"
          x-cloak>
          <div class="w-full overflow-hidden">
            <img alt="" src="/assets/chart3.svg" class="w-full" />
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
