<section>
  <div class="px-8 py-12 mx-auto md:px-12 lg:px-32 max-w-7xl lg:py-24">
    <div class="max-w-2xl mx-auto text-center">
      <span class="text-xs font-bold tracking-wide uppercase text-accent-900"
        >simple steps</span
      >
      <p class="mt-8 text-4xl font-semibold tracking-tight text-accent-900">
        Keep your sensitive
        <span class="block text-gray-500"> information private</span>
      </p>
      <p class="max-w-xl mx-auto mt-4 text-base text-gray-500">
        With decentralization, users have more control over their data and
        transactions, and the platform is less susceptible to malicious attacks.
      </p>
    </div>

    <dl
      class="grid grid-cols-1 gap-2 mt-12 md:grid-cols-2 lg:grid-cols-2 lg:mt-24">
      <a href="#">
        <div class="h-full bg-white rounded-3xl shadow-subtle">
          <div class="p-8 pb-0 md:text-center">
            <p class="text-base font-medium text-accent-900">Custom tokens</p>
            <p class="mt-2 text-sm text-gray-500">
              Our smart contract technology allows for automated, self-executing
              transactions without the need for intermediaries.
            </p>
          </div>
          <div class="mt-4">
            <img src="/assets/phonebox1.png" alt="" />
          </div>
        </div>
      </a>
      <a href="#">
        <div class="h-full bg-white rounded-3xl shadow-subtle">
          <div class="p-8 pb-0 md:text-center">
            <p class="text-base font-medium text-accent-900">Smart contract</p>
            <p class="mt-2 text-sm text-gray-500">
              Our platform is designed to handle thousands of transactions per
              second and can easily accommodate your unique needs.
            </p>
          </div>
          <div class="mt-4">
            <img src="/assets/phonebox2.png" alt="" />
          </div>
        </div>
      </a>
    </dl>
    <ol
      role="list"
      class="grid grid-cols-1 gap-12 mt-12 text-center list-none sm:grid-cols-2 md:grid-cols-3">
      <li>
        <div
          class="flex items-center justify-center w-10 h-10 text-sm font-semibold transition-all bg-white shadow-subtle hover:shadow-none duration-200 border rounded-lg text-accent-600 hover:text-accent-500 mx-auto">
          1
        </div>
        <h3 class="mt-4 text-base font-medium text-accent-900">Automation</h3>
        <p class="mt-2 text-sm text-gray-500">
          Our smart contracts allow for seamless, automated transactions without
          the need for intermediaries.
        </p>
      </li>

      <li>
        <div
          class="flex items-center justify-center w-10 h-10 text-sm font-semibold transition-all bg-white shadow-subtle hover:shadow-none duration-200 border rounded-lg text-accent-600 hover:text-accent-500 mx-auto">
          2
        </div>
        <h3 class="mt-4 text-base font-medium text-accent-900">Exchange</h3>
        <p class="mt-2 text-sm text-gray-500">
          Trade cryptocurrencies and tokens on a decentralized exchange for
          added security and anonymity.
        </p>
      </li>
      <li>
        <div
          class="flex items-center justify-center w-10 h-10 text-sm font-semibold transition-all bg-white shadow-subtle hover:shadow-none duration-200 border rounded-lg text-accent-600 hover:text-accent-500 mx-auto">
          3
        </div>
        <h3 class="mt-4 text-base font-medium text-accent-900">Governance</h3>
        <p class="mt-2 text-sm text-gray-500">
          Use blockchain technology to create decentralized autonomous
          organizations and manage them with ease.
        </p>
      </li>
    </ol>
  </div>
</section>
