<section id="featureOne" aria-labelledby="screencasts-title" class="bg-white">
  <div
    class="items-center w-full px-8 py-12 mx-auto md:px-12 lg:px-24 max-w-7xl lg:py-32">
    <div class="grid grid-cols-1 lg:grid-cols-2 items-end">
      <div>
        <span
          class="bg-accent-50/50 border border-white/50 backdrop-blur-2xl rounded-full py-2 px-4 w-auto">
          <span class="text-sm text-accent-500 uppercase font-semibold"
            >feature 1</span
          >
        </span>
        <p
          class="text-4xl mt-8 lg:text-6xl font-extrabold tracking-tight text-black">
          Decentralized Technology
        </p>
      </div>
      <p
        class="text-base text-slate-500 max-w-xl lg:mx-auto lg:text-lg mt-8 lg:mt-0">
        Control and added security. With decentralization, users have more
        control over their data and transactions, and the platform is less
        susceptible to malicious attacks.
      </p>
    </div>

    <ol
      role="list"
      class="grid grid-cols-1 sm:grid-cols-2 lg:mt-24 mt-12 gap-6 lg:gap-12 lg:grid-cols-3 list-none">
      <li>
        <div class="lg:inline-flex lg:items-center">
          <div class="text-accent-500 w-9">
            <svg
              aria-hidden="true"
              xmlns="http://www.w3.org/2000/svg"
              class="h-9 w-9"
              viewBox="0 0 24 24"
              stroke-width="1.5"
              stroke="currentColor"
              fill="none"
              stroke-linecap="round"
              stroke-linejoin="round">
              <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
              <path
                d="M12 12v-6a2 2 0 0 1 4 0v6m0 -2a2 2 0 1 1 2 2h-6"
                opacity="0.5"></path>
              <path d="M12 12h6a2 2 0 0 1 0 4h-6m2 0a2 2 0 1 1 -2 2v-6"></path>
              <path d="M12 12v6a2 2 0 0 1 -4 0v-6m0 2a2 2 0 1 1 -2 -2h6"></path>
              <path
                d="M12 12h-6a2 2 0 0 1 0 -4h6m-2 0a2 2 0 1 1 2 -2v6"
                opacity="0.5"></path>
            </svg>
          </div>
          <h3
            class="mt-6 text-black font-medium lg:text-xl text-lg lg:ml-3 lg:mt-0">
            Decentralized Security
          </h3>
        </div>
        <p class="text-slate-500 mt-2 text-base">
          Our platform utilizes blockchain technology to provide unbreakable
          security for all user data
        </p>
      </li>
      <li>
        <div class="lg:inline-flex lg:items-center">
          <div class="text-accent-500 w-9">
            <svg
              aria-hidden="true"
              class="h-9 w-9"
              viewBox="0 0 24 24"
              stroke-width="1.5"
              stroke="currentColor"
              fill="none"
              stroke-linecap="round"
              stroke-linejoin="round">
              <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
              <path d="M4 20h4l10.5 -10.5a1.5 1.5 0 0 0 -4 -4l-10.5 10.5v4"
              ></path>
              <line x1="13.5" y1="6.5" x2="17.5" y2="10.5" opacity="0.5"></line>
            </svg>
          </div>
          <h3
            class="mt-6 text-black font-medium lg:text-xl text-lg lg:ml-3 lg:mt-0">
            Smart Contract Automation
          </h3>
        </div>
        <p class="text-slate-500 mt-2 text-base">
          Our smart contracts allow for seamless, automated transactions without
          the need for intermediaries.
        </p>
      </li>
      <li>
        <div class="lg:inline-flex lg:items-center">
          <div class="text-accent-500 w-9">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              aria-hidden="true"
              class="h-9 w-9"
              viewBox="0 0 24 24"
              stroke-width="1.5"
              stroke="currentColor"
              fill="none"
              stroke-linecap="round"
              stroke-linejoin="round">
              <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
              <path d="M12 4v3m-4 -3v6m8 -6v6" opacity="0.5"></path>
              <path
                d="M12 18.5l-3 1.5l.5 -3.5l-2 -2l3 -.5l1.5 -3l1.5 3l3 .5l-2 2l.5 3.5z"
              ></path>
            </svg>
          </div>
          <h3
            class="mt-6 text-black font-medium lg:text-xl text-lg lg:ml-3 lg:mt-0">
            Scalable Transactions
          </h3>
        </div>
        <p class="text-slate-500 mt-2 text-base">
          Our technology can handle thousands of transactions per second, making
          it perfect for high-traffic applications.
        </p>
      </li>
      <li>
        <div class="lg:inline-flex lg:items-center">
          <div class="text-accent-500 w-9">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              aria-hidden="true"
              class="h-9 w-9"
              viewBox="0 0 24 24"
              stroke-width="1.5"
              stroke="currentColor"
              fill="none"
              stroke-linecap="round"
              stroke-linejoin="round">
              <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
              <path
                d="M5 21v-16a2 2 0 0 1 2 -2h10a2 2 0 0 1 2 2v16l-3 -2l-2 2l-2 -2l-2 2l-2 -2l-3 2"
                opacity="0.5">
              </path>
              <path
                d="M14 8h-2.5a1.5 1.5 0 0 0 0 3h1a1.5 1.5 0 0 1 0 3h-2.5m2 0v1.5m0 -9v1.5"
              ></path>
            </svg>
          </div>
          <h3
            class="mt-6 text-black font-medium lg:text-xl text-lg lg:ml-3 lg:mt-0">
            Custom Token Creation
          </h3>
        </div>
        <p class="text-slate-500 mt-2 text-base">
          Easily create and manage your own custom cryptocurrency tokens on our
          platform.
        </p>
      </li>
      <li>
        <div class="lg:inline-flex lg:items-center">
          <div class="text-accent-500 w-9">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              aria-hidden="true"
              class="h-9 w-9"
              viewBox="0 0 24 24"
              stroke-width="1.5"
              stroke="currentColor"
              fill="none"
              stroke-linecap="round"
              stroke-linejoin="round">
              <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
              <path d="M4 20h4v-4h4v-4h4v-4h4" opacity="0.5"></path>
              <path d="M4 11l7 -7v4m-4 -4h4"></path>
            </svg>
          </div>
          <h3
            class="mt-6 text-black font-medium lg:text-xl text-lg lg:ml-3 lg:mt-0">
            Private Data Management
          </h3>
        </div>
        <p class="text-slate-500 mt-2 text-base">
          Keep your sensitive information private and secure with our advanced
          data management tools.
        </p>
      </li>

      <li>
        <div class="lg:inline-flex lg:items-center">
          <div class="text-accent-500 w-9">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              aria-hidden="true"
              class="h-9 w-9"
              viewBox="0 0 24 24"
              stroke-width="1.5"
              stroke="currentColor"
              fill="none"
              stroke-linecap="round"
              stroke-linejoin="round">
              <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
              <circle cx="12" cy="12" r="9"></circle>
              <line x1="7" y1="8.5" x2="10" y2="11.5" opacity="0.5"></line>
              <path d="M7 11.5l3 -3" opacity="0.5"></path>
              <line x1="14" y1="8.5" x2="17" y2="11.5" opacity="0.5"></line>
              <path d="M14 11.5l3 -3" opacity="0.5"></path>
              <path d="M9.5 15a3.5 3.5 0 0 0 5 0"></path>
            </svg>
          </div>
          <h3
            class="mt-6 text-black font-medium lg:text-xl text-lg lg:ml-3 lg:mt-0">
            Decentralized Identity
          </h3>
        </div>
        <p class="text-slate-500 mt-2 text-base">
          Take control of your online identity with our decentralized identity
          management system.
        </p>
      </li>
      <li>
        <div class="lg:inline-flex lg:items-center">
          <div class="text-accent-500 w-9">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              aria-hidden="true"
              class="h-9 w-9"
              viewBox="0 0 24 24"
              stroke-width="1.5"
              stroke="currentColor"
              fill="none"
              stroke-linecap="round"
              stroke-linejoin="round">
              <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
              <circle cx="9" cy="7" r="4" opacity="0.5"></circle>
              <path d="M3 21v-2a4 4 0 0 1 4 -4h4a4 4 0 0 1 4 4v2"></path>
              <path d="M16 3.13a4 4 0 0 1 0 7.75" opacity="0.5"></path>
              <path d="M21 21v-2a4 4 0 0 0 -3 -3.85"></path>
            </svg>
          </div>
          <h3
            class="mt-6 text-black font-medium lg:text-xl text-lg lg:ml-3 lg:mt-0">
            Decentralized Data Storage
          </h3>
        </div>
        <p class="text-slate-500 mt-2 text-base">
          Store your data on a decentralized network for added security and
          reliability.
        </p>
      </li>
      <li>
        <div class="lg:inline-flex lg:items-center">
          <div class="text-accent-500 w-9">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              aria-hidden="true"
              class="h-9 w-9"
              viewBox="0 0 24 24"
              stroke-width="1.5"
              stroke="currentColor"
              fill="none"
              stroke-linecap="round"
              stroke-linejoin="round">
              <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
              <path d="M14 3v4a1 1 0 0 0 1 1h4" opacity="0.5"></path>
              <path
                d="M11.5 21h-4.5a2 2 0 0 1 -2 -2v-14a2 2 0 0 1 2 -2h7l5
              5v5m-5 6h7m-3 -3l3 3l-3 3"
              ></path>
            </svg>
          </div>
          <h3
            class="mt-6 text-black font-medium lg:text-xl text-lg lg:ml-3 lg:mt-0">
            Decentralized Exchange
          </h3>
        </div>
        <p class="text-slate-500 mt-2 text-base">
          Trade cryptocurrencies and tokens on a decentralized exchange for
          added security and anonymity.
        </p>
      </li>
      <li>
        <div class="lg:inline-flex lg:items-center">
          <div class="text-accent-500 w-9">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              aria-hidden="true"
              class="h-9 w-9"
              viewBox="0 0 24 24"
              stroke-width="1.5"
              stroke="currentColor"
              fill="none"
              stroke-linecap="round"
              stroke-linejoin="round">
              <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
              <rect x="3" y="4" width="18" height="12" rx="1" opacity="0.5"
              ></rect>
              <path d="M7 20h10"></path>
              <path d="M9 16v4"></path>
              <path d="M15 16v4"></path>
              <path d="M9 12v-4"></path>
              <path d="M12 12v-1"></path>
              <path d="M15 12v-2"></path>
              <path d="M12 12v-1"></path>
            </svg>
          </div>
          <h3
            class="mt-6 text-black font-medium lg:text-xl text-lg lg:ml-3 lg:mt-0">
            Decentralized Governance
          </h3>
        </div>
        <p class="text-slate-500 mt-2 text-base">
          Use blockchain technology to create decentralized autonomous
          organizations and manage them with ease.
        </p>
      </li>
    </ol>
  </div>
</section>
