<section>
  <div class="max-w-7xl px-8 md:px-12 lg:px-32 mx-auto py-12 justify-center">
    <div class="lg:rounded-3xl lg:bg-white lg:shadow-sm lg:p-20">
      <span class="text-xs text-purple-500 uppercase font-bold tracking-wide"
        >our customers</span
      >
      <p class="text-base mt-8 font-normal tracking-tight text-purple-900">
        Trusted by industry leaders
        <span class="lg:block lg:text-gray-500">
          and our families because we pay them</span
        >
      </p>
      <div class="flow-root mt-12 border-t pt-6 border-gray-300">
        <div class="grid -ml-8 grid-cols-5 lg:-ml-4">
          <div
            class="flex flex-grow flex-shrink-0 lg:flex-grow-0 lg:ml-4 ml-8 mt-4">
            <img alt="" src="/assets/logos/dribbble.svg" />
          </div><div
            class="flex flex-grow flex-shrink-0 lg:flex-grow-0 lg:ml-4 ml-8 mt-4">
            <img alt="" src="/assets/logos/twich.svg" />
          </div><div
            class="flex flex-grow flex-shrink-0 lg:flex-grow-0 lg:ml-4 ml-8 mt-4">
            <img alt="" src="/assets/logos/ghost.svg" />
          </div><div
            class="flex flex-grow flex-shrink-0 lg:flex-grow-0 lg:ml-4 ml-8 mt-4">
            <img alt="" src="/assets/logos/github.svg" />
          </div><div
            class="flex flex-grow flex-shrink-0 lg:flex-grow-0 lg:ml-4 ml-8 mt-4">
            <img alt="" src="/assets/logos/notion.svg" />
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
