<section
  aria-labelledby="logocloud"
  id="logocloud "
  class="items-end flex justify-center">
  <div class="max-w-7xl mx-auto pt-12 justify-center">
    <div class="items-center">
      <div class="grid grid-cols-2 gap-0.5 md:grid-cols-6">
        <div class="flex col-span-1 px-8 opacity-40">
          <img class="max-h-12" src="/assets/logos/basecamp.svg" alt=" logo" />
        </div>
        <div class="flex col-span-1 px-8 opacity-40">
          <img class="max-h-12" src="/assets/logos/dribbble.svg" alt="logo" />
        </div>
        <div class="flex col-span-1 px-8 opacity-40">
          <img class="max-h-12" src="/assets/logos/framer.svg" alt="logo" />
        </div>
        <div class="flex col-span-1 px-8 opacity-40">
          <img class="max-h-12" src="/assets/logos/ghost.svg" alt="logo" />
        </div>
        <div class="flex col-span-1 px-8 opacity-40">
          <img class="max-h-12" src="/assets/logos/github.svg" alt="logo" />
        </div>
        <div class="flex col-span-1 px-8 opacity-40">
          <img class="max-h-12" src="/assets/logos/notion.svg" alt="logo" />
        </div>
        <div class="flex col-span-1 px-8 opacity-40">
          <img
            class="max-h-12"
            src="/assets/logos/contentfull.svg"
            alt=" logo"
          />
        </div>
        <div class="flex col-span-1 px-8 opacity-40">
          <img class="max-h-12" src="/assets/logos/spotify.svg" alt="logo" />
        </div>
        <div class="flex col-span-1 px-8 opacity-40">
          <img class="max-h-12" src="/assets/logos/airbnb.svg" alt="logo" />
        </div>
        <div class="flex col-span-1 px-8 opacity-40">
          <img class="max-h-12" src="/assets/logos/spacex.svg" alt="logo" />
        </div>
        <div class="flex col-span-1 px-8 opacity-40">
          <img class="max-h-12" src="/assets/logos/zoom.svg" alt="logo" />
        </div>
        <div class="flex col-span-1 px-8 opacity-40">
          <img class="max-h-12" src="/assets/logos/adobe.svg" alt="logo" />
        </div>
      </div>
    </div>
  </div>
</section>
