<section>
  <div class="mx-auto px-8 lg:px-36 max-w-7xl md:px-12 py-12">
    <div
      class="items-center border-y border-gray-300 grid grid-cols-1 lg:gap-24 lg:grid-cols-4 md:grid-cols-2 py-12">
      <div class="mx-auto col-span-full lg:col-span-1 lg:max-w-none lg:mr-auto">
        <p class="text-purple-900 text-xs">
          Some of the mazing companies we have worked with
        </p>
      </div><div class="mt-12 lg:mt-0 md:col-span-3">
        <div class="flex justify-between flex-wrap">
          <img alt="logo" class="h-8" src="/assets/logos/airbnb.svg" />
          <img alt="logo" class="h-8" src="/assets/logos/basecamp.svg" />
          <img alt="logo" class="h-8" src="/assets/logos/dribbble.svg" />
          <img
            alt="logo"
            class="h-8 hidden sm:block"
            src="/assets/logos/spacex.svg"
          />
        </div>
      </div>
    </div>
  </div>
</section>
