<section id="TestimonialThree" aria-label="TestimonialThree">
    <div class="relative px-8 py-24 mx-auto sm:px-6 md:max-w-2xl md:px-4 lg:max-w-6xl lg:px-20 lg:py-36">
        <div class="pt-12 mx-auto">
            <div class="grid grid-cols-1 gap-3 py-12 lg:grid-cols-3">
                <div class="p-8 bg-white border sm:flex lg:items-start group shadow-normal rounded-md">
                    <div>
                        <p class="text-sm text-slate-500">
                            “I've taken many courses—recently a masters in interaction
                            design—and I've read every book, but your course is by far the
                            most comprehensive, well explained, well structured, and most
                            actionable resource in design I've ever taken. ”
                        </p>
                        <div class="inline-flex items-center w-full mt-2">
                            <div class="mt-6">
                                <div class="flex-shrink-0 block">
                                    <div class="flex items-center">
                                        <div>
                                            <img class="inline-block h-9 w-9 rounded-full"
                                                src="https://d33wubrfki0l68.cloudfront.net/1a2e935392c14749028729b21b20ddbd4c54b70e/1a932/images/testimonials/amrit.jpeg"
                                                alt="" />
                                        </div>
                                        <div class="ml-3">
                                            <p class="text-xl text-black group-hover:text-blue-600">
                                                Sam Samuel
                                            </p>
                                            <p class="text-xs font-medium text-slate-500 group-hover:text-black">
                                                CEO
                                            </p>
                                        </div>
                                    </div>
                                    <div class="pt-12">
                                        <span
                                            class="inline-flex justify-start w-full gap-3 lg:ml-auto md:justify-start md:w-auto">
                                            <a class=" text-blue-500 transition duration-500 ease-in-out transform ">
                                                <span class="sr-only"> Facebook</span>
                                                <svg fill="currentColor" stroke-linecap="round" stroke-linejoin="round"
                                                    stroke-width="2" class="w-5 h-5" viewBox="0 0 24 24">
                                                    <path
                                                        d="M18 2h-3a5 5 0 00-5 5v3H7v4h3v8h4v-8h3l1-4h-4V7a1 1 0 011-1h3z">
                                                    </path>
                                                </svg>
                                            </a>
                                            <a class=" text-blue-500 transition duration-500 ease-in-out transform ">
                                                <span class="sr-only"> twitter</span>
                                                <svg fill="currentColor" stroke-linecap="round" stroke-linejoin="round"
                                                    stroke-width="2" class="w-5 h-5" viewBox="0 0 24 24">
                                                    <path
                                                        d="M23 3a10.9 10.9 0 01-3.14 1.53 4.48 4.48 0 00-7.86 3v1A10.66 10.66 0 013 4s-4 9 5 13a11.64 11.64 0 01-7 2c9 5 20 0 20-11.5a4.5 4.5 0 00-.08-.83A7.72 7.72 0 0023 3z">
                                                    </path>
                                                </svg>
                                            </a>
                                            <a class=" text-blue-500 transition duration-500 ease-in-out transform ">
                                                <span class="sr-only">Instagram</span>
                                                <svg fill="none" stroke="currentColor" stroke-linecap="round"
                                                    stroke-linejoin="round" stroke-width="2" class="w-5 h-5"
                                                    viewBox="0 0 24 24">
                                                    <rect width="20" height="20" x="2" y="2" rx="5" ry="5"></rect>
                                                    <path d="M16 11.37A4 4 0 1112.63 8 4 4 0 0116 11.37zm1.5-4.87h.01">
                                                    </path>
                                                </svg>
                                            </a>
                                            <a class=" text-blue-500 transition duration-500 ease-in-out transform ">
                                                <span class="sr-only">Linkedin</span>
                                                <svg fill="currentColor" stroke="currentColor" stroke-linecap="round"
                                                    stroke-linejoin="round" stroke-width="0" class="w-5 h-5"
                                                    viewBox="0 0 24 24">
                                                    <path stroke="none"
                                                        d="M16 8a6 6 0 016 6v7h-4v-7a2 2 0 00-2-2 2 2 0 00-2 2v7h-4v-7a6 6 0 016-6zM2 9h4v12H2z">
                                                    </path>
                                                    <circle cx="4" cy="4" r="2" stroke="none"></circle>
                                                </svg>
                                            </a>
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="p-8 bg-white border sm:flex lg:items-start group shadow-normal rounded-md">
                    <div>
                        <p class="text-sm text-slate-500">
                            “I've taken many courses—recently a masters in interaction
                            design—and I've read every book, but your course is by far the
                            most comprehensive, well explained, well structured, and most
                            actionable resource in design I've ever taken. ”
                        </p>
                        <div class="inline-flex items-center w-full mt-2">
                            <div class="mt-6">
                                <div class="flex-shrink-0 block">
                                    <div class="flex items-center">
                                        <div>
                                            <img class="inline-block h-9 w-9 rounded-full"
                                                src="https://d33wubrfki0l68.cloudfront.net/cabc8d70a84f6d78e56c5cd2db3f54ab6462325d/95045/images/testimonials/gabi.jpeg"
                                                alt="" />
                                        </div>
                                        <div class="ml-3">
                                            <p class="text-xl text-black group-hover:text-blue-600">
                                                Tom Thomas
                                            </p>
                                            <p class="text-xs font-medium text-slate-500 group-hover:text-black">
                                                Not CEO
                                            </p>
                                        </div>
                                    </div>
                                    <div class="pt-12">
                                        <span
                                            class="inline-flex justify-start w-full gap-3 lg:ml-auto md:justify-start md:w-auto">
                                            <a class=" text-blue-500 transition duration-500 ease-in-out transform ">
                                                <span class="sr-only"> Facebook</span>
                                                <svg fill="currentColor" stroke-linecap="round" stroke-linejoin="round"
                                                    stroke-width="2" class="w-5 h-5" viewBox="0 0 24 24">
                                                    <path
                                                        d="M18 2h-3a5 5 0 00-5 5v3H7v4h3v8h4v-8h3l1-4h-4V7a1 1 0 011-1h3z">
                                                    </path>
                                                </svg>
                                            </a>
                                            <a class=" text-blue-500 transition duration-500 ease-in-out transform ">
                                                <span class="sr-only"> twitter</span>
                                                <svg fill="currentColor" stroke-linecap="round" stroke-linejoin="round"
                                                    stroke-width="2" class="w-5 h-5" viewBox="0 0 24 24">
                                                    <path
                                                        d="M23 3a10.9 10.9 0 01-3.14 1.53 4.48 4.48 0 00-7.86 3v1A10.66 10.66 0 013 4s-4 9 5 13a11.64 11.64 0 01-7 2c9 5 20 0 20-11.5a4.5 4.5 0 00-.08-.83A7.72 7.72 0 0023 3z">
                                                    </path>
                                                </svg>
                                            </a>
                                            <a class=" text-blue-500 transition duration-500 ease-in-out transform ">
                                                <span class="sr-only">Instagram</span>
                                                <svg fill="none" stroke="currentColor" stroke-linecap="round"
                                                    stroke-linejoin="round" stroke-width="2" class="w-5 h-5"
                                                    viewBox="0 0 24 24">
                                                    <rect width="20" height="20" x="2" y="2" rx="5" ry="5"></rect>
                                                    <path d="M16 11.37A4 4 0 1112.63 8 4 4 0 0116 11.37zm1.5-4.87h.01">
                                                    </path>
                                                </svg>
                                            </a>
                                            <a class=" text-blue-500 transition duration-500 ease-in-out transform ">
                                                <span class="sr-only">Linkedin</span>
                                                <svg fill="currentColor" stroke="currentColor" stroke-linecap="round"
                                                    stroke-linejoin="round" stroke-width="0" class="w-5 h-5"
                                                    viewBox="0 0 24 24">
                                                    <path stroke="none"
                                                        d="M16 8a6 6 0 016 6v7h-4v-7a2 2 0 00-2-2 2 2 0 00-2 2v7h-4v-7a6 6 0 016-6zM2 9h4v12H2z">
                                                    </path>
                                                    <circle cx="4" cy="4" r="2" stroke="none"></circle>
                                                </svg>
                                            </a>
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="p-8 bg-white border sm:flex lg:items-start group shadow-normal rounded-md">
                    <div>
                        <p class="text-sm text-slate-500">
                            “I've taken many courses—recently a masters in interaction
                            design—and I've read every book, but your course is by far the
                            most comprehensive, well explained, well structured, and most
                            actionable resource in design I've ever taken. ”
                        </p>
                        <div class="inline-flex items-center w-full mt-2">
                            <div class="mt-6">
                                <div class="flex-shrink-0 block">
                                    <div class="flex items-center">
                                        <div>
                                            <img class="inline-block h-9 w-9 rounded-full"
                                                src="https://pbs.twimg.com/profile_images/1039477099768295424/DkFxqf2V_400x400.jpg"
                                                alt="" />
                                        </div>
                                        <div class="ml-3">
                                            <p class="text-xl text-black group-hover:text-blue-600">
                                                Tom Thomas
                                            </p>
                                            <p class="text-xs font-medium text-slate-500 group-hover:text-black">
                                                Not CEO
                                            </p>
                                        </div>
                                    </div>
                                    <div class="pt-12">
                                        <span
                                            class="inline-flex justify-start w-full gap-3 lg:ml-auto md:justify-start md:w-auto">
                                            <a class=" text-blue-500 transition duration-500 ease-in-out transform ">
                                                <span class="sr-only"> Facebook</span>
                                                <svg fill="currentColor" stroke-linecap="round" stroke-linejoin="round"
                                                    stroke-width="2" class="w-5 h-5" viewBox="0 0 24 24">
                                                    <path
                                                        d="M18 2h-3a5 5 0 00-5 5v3H7v4h3v8h4v-8h3l1-4h-4V7a1 1 0 011-1h3z">
                                                    </path>
                                                </svg>
                                            </a>
                                            <a class=" text-blue-500 transition duration-500 ease-in-out transform ">
                                                <span class="sr-only"> twitter</span>
                                                <svg fill="currentColor" stroke-linecap="round" stroke-linejoin="round"
                                                    stroke-width="2" class="w-5 h-5" viewBox="0 0 24 24">
                                                    <path
                                                        d="M23 3a10.9 10.9 0 01-3.14 1.53 4.48 4.48 0 00-7.86 3v1A10.66 10.66 0 013 4s-4 9 5 13a11.64 11.64 0 01-7 2c9 5 20 0 20-11.5a4.5 4.5 0 00-.08-.83A7.72 7.72 0 0023 3z">
                                                    </path>
                                                </svg>
                                            </a>
                                            <a class=" text-blue-500 transition duration-500 ease-in-out transform ">
                                                <span class="sr-only">Instagram</span>
                                                <svg fill="none" stroke="currentColor" stroke-linecap="round"
                                                    stroke-linejoin="round" stroke-width="2" class="w-5 h-5"
                                                    viewBox="0 0 24 24">
                                                    <rect width="20" height="20" x="2" y="2" rx="5" ry="5"></rect>
                                                    <path d="M16 11.37A4 4 0 1112.63 8 4 4 0 0116 11.37zm1.5-4.87h.01">
                                                    </path>
                                                </svg>
                                            </a>
                                            <a class=" text-blue-500 transition duration-500 ease-in-out transform ">
                                                <span class="sr-only">Linkedin</span>
                                                <svg fill="currentColor" stroke="currentColor" stroke-linecap="round"
                                                    stroke-linejoin="round" stroke-width="0" class="w-5 h-5"
                                                    viewBox="0 0 24 24">
                                                    <path stroke="none"
                                                        d="M16 8a6 6 0 016 6v7h-4v-7a2 2 0 00-2-2 2 2 0 00-2 2v7h-4v-7a6 6 0 016-6zM2 9h4v12H2z">
                                                    </path>
                                                    <circle cx="4" cy="4" r="2" stroke="none"></circle>
                                                </svg>
                                            </a>
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>