<section class="relative overflow-hidden border-y">
  <div
    class="mx-auto max-w-7xl lg:px-24 md:px-12 px-8 py-32 lg:py-64 items-center relative"
  >
    <div class="mx-auto relative max-w-7xl sm:static">
      <div class="max-w-xl lg:pr-32">
        <div>
          <span
            class="bg-accent-50/50 border border-white/50 backdrop-blur-2xl rounded-full py-2 px-4 w-auto"
          >
            <span class="text-sm text-accent-500 uppercase font-semibold">
              Testimonial 1</span
            >
          </span>
          <p
            class="text-4xl mt-8 lg:text-6xl font-extrabold tracking-tight text-black"
          >
            So much love everywhere
          </p>
          <p class="text-base text-accent-700 max-w-xl mx-auto mt-4 lg:text-xl">
            A an elegantly designed UI kit that enables you to quickly assemble
            pages from various categories and tailor them to your requirements
            to build a landing page or entire website in a matter of hours,
            rather than months.
          </p>
        </div>
      </div>
      <div>
        <div class="py-32 lg:py-0 lg:-ml-28 lg:px-20">
          <div
            class="lg:mx-auto lg:max-w-7xl lg:absolute lg:inset-y-0 lg:w-full pointer-events-none"
            aria-hidden="true"
          >
            <div
              class="absolute lg:-translate-y-1/2 lg:left-1/2 lg:top-1/2 lg:translate-x-8 sm:left-1/2 sm:top-0 sm:translate-x-8 transform"
            >
              <div
                class="flex items-center lg:space-x-8 overflow-y-hidden px-4 relative space-x-"
              >
                <div
                  class="flex-shrink-0 grid gap-y-6 grid-cols-1 lg:gap-y-8 animate-scroller"
                >
                  <div
                    class="rounded-xl lg:w-[19rem] shadow-normal lg:opacity-100 sm:opacity-0"
                  >
                    <div
                      class="p-4 bg-gradient-to-tr from-accent-600 via-accent-500 to-accent-400 rounded-3xl shadow-normal border lg:p-10"
                    >
                      <img
                        alt=""
                        class="rounded-full h-10 inline-block ring-2 ring-offset-4 ring-offset-white ring-accent-500 w-10"
                        src="https://d33wubrfki0l68.cloudfront.net/cabc8d70a84f6d78e56c5cd2db3f54ab6462325d/95045/images/testimonials/gabi.jpeg"
                      /><div>
                        <p class="text-white mt-8 text-xs">
                          <strong>Gabriel Perales</strong> ― Engineer at cabify
                        </p>
                      </div><div class="text-white/70 text-base mt-4">
                        Mike has helped me with many designs, and I couldn't
                        follow his <span
                          >working speed when we worked together.</span
                        >
                      </div><div class="flex gap-1 mt-6">
                        <svg
                          class="text-yellow-400 fill-yellow-400 h-4 icon icon-tabler icon-tabler-star w-4"
                          fill="currentColor"
                          viewBox="0 0 24 24"
                          xmlns="http://www.w3.org/2000/svg"
                          stroke="currentColor"
                          stroke-width="1.5"
                          stroke-linecap="round"
                          stroke-linejoin="round"
                          ><path d="M0 0h24v24H0z" fill="none" stroke="none"
                          ></path><path
                            d="M12 17.75l-6.172 3.245l1.179 -6.873l-5 -4.867l6.9 -1l3.086 -6.253l3.086 6.253l6.9 1l-5 4.867l1.179 6.873z"
                          ></path></svg
                        >
                        <svg
                          class="text-yellow-400 fill-yellow-400 h-4 icon icon-tabler icon-tabler-star w-4"
                          fill="currentColor"
                          viewBox="0 0 24 24"
                          xmlns="http://www.w3.org/2000/svg"
                          stroke="currentColor"
                          stroke-width="1.5"
                          stroke-linecap="round"
                          stroke-linejoin="round"
                          ><path d="M0 0h24v24H0z" fill="none" stroke="none"
                          ></path><path
                            d="M12 17.75l-6.172 3.245l1.179 -6.873l-5 -4.867l6.9 -1l3.086 -6.253l3.086 6.253l6.9 1l-5 4.867l1.179 6.873z"
                          ></path></svg
                        >
                        <svg
                          class="text-yellow-400 fill-yellow-400 h-4 icon icon-tabler icon-tabler-star w-4"
                          fill="currentColor"
                          viewBox="0 0 24 24"
                          xmlns="http://www.w3.org/2000/svg"
                          stroke="currentColor"
                          stroke-width="1.5"
                          stroke-linecap="round"
                          stroke-linejoin="round"
                          ><path d="M0 0h24v24H0z" fill="none" stroke="none"
                          ></path><path
                            d="M12 17.75l-6.172 3.245l1.179 -6.873l-5 -4.867l6.9 -1l3.086 -6.253l3.086 6.253l6.9 1l-5 4.867l1.179 6.873z"
                          ></path></svg
                        >
                        <svg
                          class="text-yellow-400 fill-yellow-400 h-4 icon icon-tabler icon-tabler-star w-4"
                          fill="currentColor"
                          viewBox="0 0 24 24"
                          xmlns="http://www.w3.org/2000/svg"
                          stroke="currentColor"
                          stroke-width="1.5"
                          stroke-linecap="round"
                          stroke-linejoin="round"
                          ><path d="M0 0h24v24H0z" fill="none" stroke="none"
                          ></path><path
                            d="M12 17.75l-6.172 3.245l1.179 -6.873l-5 -4.867l6.9 -1l3.086 -6.253l3.086 6.253l6.9 1l-5 4.867l1.179 6.873z"
                          ></path></svg
                        >
                        <svg
                          class="text-yellow-400 fill-yellow-400 h-4 icon icon-tabler icon-tabler-star w-4"
                          fill="currentColor"
                          viewBox="0 0 24 24"
                          xmlns="http://www.w3.org/2000/svg"
                          stroke="currentColor"
                          stroke-width="1.5"
                          stroke-linecap="round"
                          stroke-linejoin="round"
                          ><path d="M0 0h24v24H0z" fill="none" stroke="none"
                          ></path><path
                            d="M12 17.75l-6.172 3.245l1.179 -6.873l-5 -4.867l6.9 -1l3.086 -6.253l3.086 6.253l6.9 1l-5 4.867l1.179 6.873z"
                          ></path></svg
                        >
                      </div>
                    </div>
                  </div>
                  <div
                    class="rounded-xl lg:w-[19rem] shadow-normal lg:opacity-100 sm:opacity-0"
                  >
                    <div
                      class="p-4 bg-gradient-to-tr from-accent-600 via-accent-500 to-accent-400 rounded-3xl shadow-normal border lg:p-10"
                    >
                      <img
                        alt=""
                        class="rounded-full h-10 inline-block ring-2 ring-offset-4 ring-offset-white ring-accent-500 w-10"
                        src="https://d33wubrfki0l68.cloudfront.net/05a6c2e973f7b38e7b5f5fb1923ed9507d6fc68d/10e85/images/testimonials/mike.png"
                      /><div>
                        <p class="text-white mt-8 text-xs">
                          <strong>Mike Jones</strong> ― Blogger Att raspada
                        </p>
                      </div><div class="text-white/70 text-base mt-4">
                        I have had the absolute pleasure of working
                        <span
                          >with Mike in the past when building my blog Raspada.
                        </span>
                      </div><div class="flex gap-1 mt-6">
                        <svg
                          class="text-yellow-400 fill-yellow-400 h-4 icon icon-tabler icon-tabler-star w-4"
                          fill="currentColor"
                          viewBox="0 0 24 24"
                          xmlns="http://www.w3.org/2000/svg"
                          stroke="currentColor"
                          stroke-width="1.5"
                          stroke-linecap="round"
                          stroke-linejoin="round"
                          ><path d="M0 0h24v24H0z" fill="none" stroke="none"
                          ></path><path
                            d="M12 17.75l-6.172 3.245l1.179 -6.873l-5 -4.867l6.9 -1l3.086 -6.253l3.086 6.253l6.9 1l-5 4.867l1.179 6.873z"
                          ></path></svg
                        >
                        <svg
                          class="text-yellow-400 fill-yellow-400 h-4 icon icon-tabler icon-tabler-star w-4"
                          fill="currentColor"
                          viewBox="0 0 24 24"
                          xmlns="http://www.w3.org/2000/svg"
                          stroke="currentColor"
                          stroke-width="1.5"
                          stroke-linecap="round"
                          stroke-linejoin="round"
                          ><path d="M0 0h24v24H0z" fill="none" stroke="none"
                          ></path><path
                            d="M12 17.75l-6.172 3.245l1.179 -6.873l-5 -4.867l6.9 -1l3.086 -6.253l3.086 6.253l6.9 1l-5 4.867l1.179 6.873z"
                          ></path></svg
                        >
                        <svg
                          class="text-yellow-400 fill-yellow-400 h-4 icon icon-tabler icon-tabler-star w-4"
                          fill="currentColor"
                          viewBox="0 0 24 24"
                          xmlns="http://www.w3.org/2000/svg"
                          stroke="currentColor"
                          stroke-width="1.5"
                          stroke-linecap="round"
                          stroke-linejoin="round"
                          ><path d="M0 0h24v24H0z" fill="none" stroke="none"
                          ></path><path
                            d="M12 17.75l-6.172 3.245l1.179 -6.873l-5 -4.867l6.9 -1l3.086 -6.253l3.086 6.253l6.9 1l-5 4.867l1.179 6.873z"
                          ></path></svg
                        >
                        <svg
                          class="text-yellow-400 fill-yellow-400 h-4 icon icon-tabler icon-tabler-star w-4"
                          fill="currentColor"
                          viewBox="0 0 24 24"
                          xmlns="http://www.w3.org/2000/svg"
                          stroke="currentColor"
                          stroke-width="1.5"
                          stroke-linecap="round"
                          stroke-linejoin="round"
                          ><path d="M0 0h24v24H0z" fill="none" stroke="none"
                          ></path><path
                            d="M12 17.75l-6.172 3.245l1.179 -6.873l-5 -4.867l6.9 -1l3.086 -6.253l3.086 6.253l6.9 1l-5 4.867l1.179 6.873z"
                          ></path></svg
                        >
                        <svg
                          class="text-yellow-400 fill-yellow-400 h-4 icon icon-tabler icon-tabler-star w-4"
                          fill="currentColor"
                          viewBox="0 0 24 24"
                          xmlns="http://www.w3.org/2000/svg"
                          stroke="currentColor"
                          stroke-width="1.5"
                          stroke-linecap="round"
                          stroke-linejoin="round"
                          ><path d="M0 0h24v24H0z" fill="none" stroke="none"
                          ></path><path
                            d="M12 17.75l-6.172 3.245l1.179 -6.873l-5 -4.867l6.9 -1l3.086 -6.253l3.086 6.253l6.9 1l-5 4.867l1.179 6.873z"
                          ></path></svg
                        >
                      </div>
                    </div>
                  </div>
                  <div
                    class="rounded-xl lg:w-[19rem] shadow-normal lg:opacity-100 sm:opacity-0"
                  >
                    <div
                      class="p-4 bg-gradient-to-tr from-accent-600 via-accent-500 to-accent-400 rounded-3xl shadow-normal border lg:p-10"
                    >
                      <img
                        alt=""
                        class="rounded-full h-10 inline-block ring-2 ring-offset-4 ring-offset-white ring-accent-500 w-10"
                        src="https://d33wubrfki0l68.cloudfront.net/1a2e935392c14749028729b21b20ddbd4c54b70e/1a932/images/testimonials/amrit.jpeg"
                      /><div>
                        <p class="text-white mt-8 text-xs">
                          <strong>Amrit Nagi</strong> ― Founder of Tailwind Toolbox
                        </p>
                      </div><div class="text-white/70 text-base mt-4">
                        It's amazing just how quickly the quality
                        <span
                          >and variety of his work has developed and evolved!
                        </span>
                      </div><div class="flex gap-1 mt-6">
                        <svg
                          class="text-yellow-400 fill-yellow-400 h-4 icon icon-tabler icon-tabler-star w-4"
                          fill="currentColor"
                          viewBox="0 0 24 24"
                          xmlns="http://www.w3.org/2000/svg"
                          stroke="currentColor"
                          stroke-width="1.5"
                          stroke-linecap="round"
                          stroke-linejoin="round"
                          ><path d="M0 0h24v24H0z" fill="none" stroke="none"
                          ></path><path
                            d="M12 17.75l-6.172 3.245l1.179 -6.873l-5 -4.867l6.9 -1l3.086 -6.253l3.086 6.253l6.9 1l-5 4.867l1.179 6.873z"
                          ></path></svg
                        >
                        <svg
                          class="text-yellow-400 fill-yellow-400 h-4 icon icon-tabler icon-tabler-star w-4"
                          fill="currentColor"
                          viewBox="0 0 24 24"
                          xmlns="http://www.w3.org/2000/svg"
                          stroke="currentColor"
                          stroke-width="1.5"
                          stroke-linecap="round"
                          stroke-linejoin="round"
                          ><path d="M0 0h24v24H0z" fill="none" stroke="none"
                          ></path><path
                            d="M12 17.75l-6.172 3.245l1.179 -6.873l-5 -4.867l6.9 -1l3.086 -6.253l3.086 6.253l6.9 1l-5 4.867l1.179 6.873z"
                          ></path></svg
                        >
                        <svg
                          class="text-yellow-400 fill-yellow-400 h-4 icon icon-tabler icon-tabler-star w-4"
                          fill="currentColor"
                          viewBox="0 0 24 24"
                          xmlns="http://www.w3.org/2000/svg"
                          stroke="currentColor"
                          stroke-width="1.5"
                          stroke-linecap="round"
                          stroke-linejoin="round"
                          ><path d="M0 0h24v24H0z" fill="none" stroke="none"
                          ></path><path
                            d="M12 17.75l-6.172 3.245l1.179 -6.873l-5 -4.867l6.9 -1l3.086 -6.253l3.086 6.253l6.9 1l-5 4.867l1.179 6.873z"
                          ></path></svg
                        >
                        <svg
                          class="text-yellow-400 fill-yellow-400 h-4 icon icon-tabler icon-tabler-star w-4"
                          fill="currentColor"
                          viewBox="0 0 24 24"
                          xmlns="http://www.w3.org/2000/svg"
                          stroke="currentColor"
                          stroke-width="1.5"
                          stroke-linecap="round"
                          stroke-linejoin="round"
                          ><path d="M0 0h24v24H0z" fill="none" stroke="none"
                          ></path><path
                            d="M12 17.75l-6.172 3.245l1.179 -6.873l-5 -4.867l6.9 -1l3.086 -6.253l3.086 6.253l6.9 1l-5 4.867l1.179 6.873z"
                          ></path></svg
                        >
                        <svg
                          class="text-yellow-400 fill-yellow-400 h-4 icon icon-tabler icon-tabler-star w-4"
                          fill="currentColor"
                          viewBox="0 0 24 24"
                          xmlns="http://www.w3.org/2000/svg"
                          stroke="currentColor"
                          stroke-width="1.5"
                          stroke-linecap="round"
                          stroke-linejoin="round"
                          ><path d="M0 0h24v24H0z" fill="none" stroke="none"
                          ></path><path
                            d="M12 17.75l-6.172 3.245l1.179 -6.873l-5 -4.867l6.9 -1l3.086 -6.253l3.086 6.253l6.9 1l-5 4.867l1.179 6.873z"
                          ></path></svg
                        >
                      </div>
                    </div>
                  </div>
                  <div class="rounded-xl lg:w-[19rem] shadow-normal">
                    <div
                      class="p-4 bg-gradient-to-tr from-accent-600 via-accent-500 to-accent-400 rounded-3xl shadow-normal border lg:p-10"
                    >
                      <img
                        alt=""
                        class="rounded-full h-10 inline-block ring-2 ring-offset-4 ring-offset-white ring-accent-500 w-10"
                        src="https://pbs.twimg.com/profile_images/1039477099768295424/DkFxqf2V_400x400.jpg"
                      /><div>
                        <p class="text-white mt-8 text-xs">
                          <strong>Volkan Kaja</strong> ― Founder of Versoly
                        </p>
                      </div><div class="text-white/70 text-base mt-4">
                        Mike leveraged his previous experience to <span
                          >build out a few landing pages very quickly for
                          Versoly</span
                        >
                      </div><div class="flex gap-1 mt-6">
                        <svg
                          class="text-yellow-400 fill-yellow-400 h-4 icon icon-tabler icon-tabler-star w-4"
                          fill="currentColor"
                          viewBox="0 0 24 24"
                          xmlns="http://www.w3.org/2000/svg"
                          stroke="currentColor"
                          stroke-width="1.5"
                          stroke-linecap="round"
                          stroke-linejoin="round"
                          ><path d="M0 0h24v24H0z" fill="none" stroke="none"
                          ></path><path
                            d="M12 17.75l-6.172 3.245l1.179 -6.873l-5 -4.867l6.9 -1l3.086 -6.253l3.086 6.253l6.9 1l-5 4.867l1.179 6.873z"
                          ></path></svg
                        >
                        <svg
                          class="text-yellow-400 fill-yellow-400 h-4 icon icon-tabler icon-tabler-star w-4"
                          fill="currentColor"
                          viewBox="0 0 24 24"
                          xmlns="http://www.w3.org/2000/svg"
                          stroke="currentColor"
                          stroke-width="1.5"
                          stroke-linecap="round"
                          stroke-linejoin="round"
                          ><path d="M0 0h24v24H0z" fill="none" stroke="none"
                          ></path><path
                            d="M12 17.75l-6.172 3.245l1.179 -6.873l-5 -4.867l6.9 -1l3.086 -6.253l3.086 6.253l6.9 1l-5 4.867l1.179 6.873z"
                          ></path></svg
                        >
                        <svg
                          class="text-yellow-400 fill-yellow-400 h-4 icon icon-tabler icon-tabler-star w-4"
                          fill="currentColor"
                          viewBox="0 0 24 24"
                          xmlns="http://www.w3.org/2000/svg"
                          stroke="currentColor"
                          stroke-width="1.5"
                          stroke-linecap="round"
                          stroke-linejoin="round"
                          ><path d="M0 0h24v24H0z" fill="none" stroke="none"
                          ></path><path
                            d="M12 17.75l-6.172 3.245l1.179 -6.873l-5 -4.867l6.9 -1l3.086 -6.253l3.086 6.253l6.9 1l-5 4.867l1.179 6.873z"
                          ></path></svg
                        >
                        <svg
                          class="text-yellow-400 fill-yellow-400 h-4 icon icon-tabler icon-tabler-star w-4"
                          fill="currentColor"
                          viewBox="0 0 24 24"
                          xmlns="http://www.w3.org/2000/svg"
                          stroke="currentColor"
                          stroke-width="1.5"
                          stroke-linecap="round"
                          stroke-linejoin="round"
                          ><path d="M0 0h24v24H0z" fill="none" stroke="none"
                          ></path><path
                            d="M12 17.75l-6.172 3.245l1.179 -6.873l-5 -4.867l6.9 -1l3.086 -6.253l3.086 6.253l6.9 1l-5 4.867l1.179 6.873z"
                          ></path></svg
                        >
                        <svg
                          class="text-yellow-400 fill-yellow-400 h-4 icon icon-tabler icon-tabler-star w-4"
                          fill="currentColor"
                          viewBox="0 0 24 24"
                          xmlns="http://www.w3.org/2000/svg"
                          stroke="currentColor"
                          stroke-width="1.5"
                          stroke-linecap="round"
                          stroke-linejoin="round"
                          ><path d="M0 0h24v24H0z" fill="none" stroke="none"
                          ></path><path
                            d="M12 17.75l-6.172 3.245l1.179 -6.873l-5 -4.867l6.9 -1l3.086 -6.253l3.086 6.253l6.9 1l-5 4.867l1.179 6.873z"
                          ></path></svg
                        >
                      </div>
                    </div>
                  </div>
                  <div
                    class="rounded-xl lg:w-[19rem] shadow-normal lg:opacity-100 sm:opacity-0"
                  >
                    <div
                      class="p-4 bg-gradient-to-tr from-accent-600 via-accent-500 to-accent-400 rounded-3xl shadow-normal border lg:p-10"
                    >
                      <img
                        alt=""
                        class="rounded-full h-10 inline-block ring-2 ring-offset-4 ring-offset-white ring-accent-500 w-10"
                        src="https://d33wubrfki0l68.cloudfront.net/cabc8d70a84f6d78e56c5cd2db3f54ab6462325d/95045/images/testimonials/gabi.jpeg"
                      /><div>
                        <p class="text-white mt-8 text-xs">
                          <strong>Gabriel Perales</strong> ― Engineer at cabify
                        </p>
                      </div><div class="text-white/70 text-base mt-4">
                        Mike has helped me with many designs, and I couldn't
                        follow his <span
                          >working speed when we worked together.</span
                        >
                      </div><div class="flex gap-1 mt-6">
                        <svg
                          class="text-yellow-400 fill-yellow-400 h-4 icon icon-tabler icon-tabler-star w-4"
                          fill="currentColor"
                          viewBox="0 0 24 24"
                          xmlns="http://www.w3.org/2000/svg"
                          stroke="currentColor"
                          stroke-width="1.5"
                          stroke-linecap="round"
                          stroke-linejoin="round"
                          ><path d="M0 0h24v24H0z" fill="none" stroke="none"
                          ></path><path
                            d="M12 17.75l-6.172 3.245l1.179 -6.873l-5 -4.867l6.9 -1l3.086 -6.253l3.086 6.253l6.9 1l-5 4.867l1.179 6.873z"
                          ></path></svg
                        >
                        <svg
                          class="text-yellow-400 fill-yellow-400 h-4 icon icon-tabler icon-tabler-star w-4"
                          fill="currentColor"
                          viewBox="0 0 24 24"
                          xmlns="http://www.w3.org/2000/svg"
                          stroke="currentColor"
                          stroke-width="1.5"
                          stroke-linecap="round"
                          stroke-linejoin="round"
                          ><path d="M0 0h24v24H0z" fill="none" stroke="none"
                          ></path><path
                            d="M12 17.75l-6.172 3.245l1.179 -6.873l-5 -4.867l6.9 -1l3.086 -6.253l3.086 6.253l6.9 1l-5 4.867l1.179 6.873z"
                          ></path></svg
                        >
                        <svg
                          class="text-yellow-400 fill-yellow-400 h-4 icon icon-tabler icon-tabler-star w-4"
                          fill="currentColor"
                          viewBox="0 0 24 24"
                          xmlns="http://www.w3.org/2000/svg"
                          stroke="currentColor"
                          stroke-width="1.5"
                          stroke-linecap="round"
                          stroke-linejoin="round"
                          ><path d="M0 0h24v24H0z" fill="none" stroke="none"
                          ></path><path
                            d="M12 17.75l-6.172 3.245l1.179 -6.873l-5 -4.867l6.9 -1l3.086 -6.253l3.086 6.253l6.9 1l-5 4.867l1.179 6.873z"
                          ></path></svg
                        >
                        <svg
                          class="text-yellow-400 fill-yellow-400 h-4 icon icon-tabler icon-tabler-star w-4"
                          fill="currentColor"
                          viewBox="0 0 24 24"
                          xmlns="http://www.w3.org/2000/svg"
                          stroke="currentColor"
                          stroke-width="1.5"
                          stroke-linecap="round"
                          stroke-linejoin="round"
                          ><path d="M0 0h24v24H0z" fill="none" stroke="none"
                          ></path><path
                            d="M12 17.75l-6.172 3.245l1.179 -6.873l-5 -4.867l6.9 -1l3.086 -6.253l3.086 6.253l6.9 1l-5 4.867l1.179 6.873z"
                          ></path></svg
                        >
                        <svg
                          class="text-yellow-400 fill-yellow-400 h-4 icon icon-tabler icon-tabler-star w-4"
                          fill="currentColor"
                          viewBox="0 0 24 24"
                          xmlns="http://www.w3.org/2000/svg"
                          stroke="currentColor"
                          stroke-width="1.5"
                          stroke-linecap="round"
                          stroke-linejoin="round"
                          ><path d="M0 0h24v24H0z" fill="none" stroke="none"
                          ></path><path
                            d="M12 17.75l-6.172 3.245l1.179 -6.873l-5 -4.867l6.9 -1l3.086 -6.253l3.086 6.253l6.9 1l-5 4.867l1.179 6.873z"
                          ></path></svg
                        >
                      </div>
                    </div>
                  </div>
                  <div
                    class="rounded-xl lg:w-[19rem] shadow-normal lg:opacity-100 sm:opacity-0"
                  >
                    <div
                      class="p-4 bg-gradient-to-tr from-accent-600 via-accent-500 to-accent-400 rounded-3xl shadow-normal border lg:p-10"
                    >
                      <img
                        alt=""
                        class="rounded-full h-10 inline-block ring-2 ring-offset-4 ring-offset-white ring-accent-500 w-10"
                        src="https://d33wubrfki0l68.cloudfront.net/05a6c2e973f7b38e7b5f5fb1923ed9507d6fc68d/10e85/images/testimonials/mike.png"
                      /><div>
                        <p class="text-white mt-8 text-xs">
                          <strong>Mike Jones</strong> ― Blogger Att raspada
                        </p>
                      </div><div class="text-white/70 text-base mt-4">
                        I have had the absolute pleasure of working
                        <span
                          >with Mike in the past when building my blog Raspada.
                        </span>
                      </div><div class="flex gap-1 mt-6">
                        <svg
                          class="text-yellow-400 fill-yellow-400 h-4 icon icon-tabler icon-tabler-star w-4"
                          fill="currentColor"
                          viewBox="0 0 24 24"
                          xmlns="http://www.w3.org/2000/svg"
                          stroke="currentColor"
                          stroke-width="1.5"
                          stroke-linecap="round"
                          stroke-linejoin="round"
                          ><path d="M0 0h24v24H0z" fill="none" stroke="none"
                          ></path><path
                            d="M12 17.75l-6.172 3.245l1.179 -6.873l-5 -4.867l6.9 -1l3.086 -6.253l3.086 6.253l6.9 1l-5 4.867l1.179 6.873z"
                          ></path></svg
                        >
                        <svg
                          class="text-yellow-400 fill-yellow-400 h-4 icon icon-tabler icon-tabler-star w-4"
                          fill="currentColor"
                          viewBox="0 0 24 24"
                          xmlns="http://www.w3.org/2000/svg"
                          stroke="currentColor"
                          stroke-width="1.5"
                          stroke-linecap="round"
                          stroke-linejoin="round"
                          ><path d="M0 0h24v24H0z" fill="none" stroke="none"
                          ></path><path
                            d="M12 17.75l-6.172 3.245l1.179 -6.873l-5 -4.867l6.9 -1l3.086 -6.253l3.086 6.253l6.9 1l-5 4.867l1.179 6.873z"
                          ></path></svg
                        >
                        <svg
                          class="text-yellow-400 fill-yellow-400 h-4 icon icon-tabler icon-tabler-star w-4"
                          fill="currentColor"
                          viewBox="0 0 24 24"
                          xmlns="http://www.w3.org/2000/svg"
                          stroke="currentColor"
                          stroke-width="1.5"
                          stroke-linecap="round"
                          stroke-linejoin="round"
                          ><path d="M0 0h24v24H0z" fill="none" stroke="none"
                          ></path><path
                            d="M12 17.75l-6.172 3.245l1.179 -6.873l-5 -4.867l6.9 -1l3.086 -6.253l3.086 6.253l6.9 1l-5 4.867l1.179 6.873z"
                          ></path></svg
                        >
                        <svg
                          class="text-yellow-400 fill-yellow-400 h-4 icon icon-tabler icon-tabler-star w-4"
                          fill="currentColor"
                          viewBox="0 0 24 24"
                          xmlns="http://www.w3.org/2000/svg"
                          stroke="currentColor"
                          stroke-width="1.5"
                          stroke-linecap="round"
                          stroke-linejoin="round"
                          ><path d="M0 0h24v24H0z" fill="none" stroke="none"
                          ></path><path
                            d="M12 17.75l-6.172 3.245l1.179 -6.873l-5 -4.867l6.9 -1l3.086 -6.253l3.086 6.253l6.9 1l-5 4.867l1.179 6.873z"
                          ></path></svg
                        >
                        <svg
                          class="text-yellow-400 fill-yellow-400 h-4 icon icon-tabler icon-tabler-star w-4"
                          fill="currentColor"
                          viewBox="0 0 24 24"
                          xmlns="http://www.w3.org/2000/svg"
                          stroke="currentColor"
                          stroke-width="1.5"
                          stroke-linecap="round"
                          stroke-linejoin="round"
                          ><path d="M0 0h24v24H0z" fill="none" stroke="none"
                          ></path><path
                            d="M12 17.75l-6.172 3.245l1.179 -6.873l-5 -4.867l6.9 -1l3.086 -6.253l3.086 6.253l6.9 1l-5 4.867l1.179 6.873z"
                          ></path></svg
                        >
                      </div>
                    </div>
                  </div>
                  <div
                    class="rounded-xl lg:w-[19rem] shadow-normal lg:opacity-100 sm:opacity-0"
                  >
                    <div
                      class="p-4 bg-gradient-to-tr from-accent-600 via-accent-500 to-accent-400 rounded-3xl shadow-normal border lg:p-10"
                    >
                      <img
                        alt=""
                        class="rounded-full h-10 inline-block ring-2 ring-offset-4 ring-offset-white ring-accent-500 w-10"
                        src="https://d33wubrfki0l68.cloudfront.net/1a2e935392c14749028729b21b20ddbd4c54b70e/1a932/images/testimonials/amrit.jpeg"
                      /><div>
                        <p class="text-white mt-8 text-xs">
                          <strong>Amrit Nagi</strong> ― Founder of Tailwind Toolbox
                        </p>
                      </div><div class="text-white/70 text-base mt-4">
                        It's amazing just how quickly the quality
                        <span
                          >and variety of his work has developed and evolved!
                        </span>
                      </div><div class="flex gap-1 mt-6">
                        <svg
                          class="text-yellow-400 fill-yellow-400 h-4 icon icon-tabler icon-tabler-star w-4"
                          fill="currentColor"
                          viewBox="0 0 24 24"
                          xmlns="http://www.w3.org/2000/svg"
                          stroke="currentColor"
                          stroke-width="1.5"
                          stroke-linecap="round"
                          stroke-linejoin="round"
                          ><path d="M0 0h24v24H0z" fill="none" stroke="none"
                          ></path><path
                            d="M12 17.75l-6.172 3.245l1.179 -6.873l-5 -4.867l6.9 -1l3.086 -6.253l3.086 6.253l6.9 1l-5 4.867l1.179 6.873z"
                          ></path></svg
                        >
                        <svg
                          class="text-yellow-400 fill-yellow-400 h-4 icon icon-tabler icon-tabler-star w-4"
                          fill="currentColor"
                          viewBox="0 0 24 24"
                          xmlns="http://www.w3.org/2000/svg"
                          stroke="currentColor"
                          stroke-width="1.5"
                          stroke-linecap="round"
                          stroke-linejoin="round"
                          ><path d="M0 0h24v24H0z" fill="none" stroke="none"
                          ></path><path
                            d="M12 17.75l-6.172 3.245l1.179 -6.873l-5 -4.867l6.9 -1l3.086 -6.253l3.086 6.253l6.9 1l-5 4.867l1.179 6.873z"
                          ></path></svg
                        >
                        <svg
                          class="text-yellow-400 fill-yellow-400 h-4 icon icon-tabler icon-tabler-star w-4"
                          fill="currentColor"
                          viewBox="0 0 24 24"
                          xmlns="http://www.w3.org/2000/svg"
                          stroke="currentColor"
                          stroke-width="1.5"
                          stroke-linecap="round"
                          stroke-linejoin="round"
                          ><path d="M0 0h24v24H0z" fill="none" stroke="none"
                          ></path><path
                            d="M12 17.75l-6.172 3.245l1.179 -6.873l-5 -4.867l6.9 -1l3.086 -6.253l3.086 6.253l6.9 1l-5 4.867l1.179 6.873z"
                          ></path></svg
                        >
                        <svg
                          class="text-yellow-400 fill-yellow-400 h-4 icon icon-tabler icon-tabler-star w-4"
                          fill="currentColor"
                          viewBox="0 0 24 24"
                          xmlns="http://www.w3.org/2000/svg"
                          stroke="currentColor"
                          stroke-width="1.5"
                          stroke-linecap="round"
                          stroke-linejoin="round"
                          ><path d="M0 0h24v24H0z" fill="none" stroke="none"
                          ></path><path
                            d="M12 17.75l-6.172 3.245l1.179 -6.873l-5 -4.867l6.9 -1l3.086 -6.253l3.086 6.253l6.9 1l-5 4.867l1.179 6.873z"
                          ></path></svg
                        >
                        <svg
                          class="text-yellow-400 fill-yellow-400 h-4 icon icon-tabler icon-tabler-star w-4"
                          fill="currentColor"
                          viewBox="0 0 24 24"
                          xmlns="http://www.w3.org/2000/svg"
                          stroke="currentColor"
                          stroke-width="1.5"
                          stroke-linecap="round"
                          stroke-linejoin="round"
                          ><path d="M0 0h24v24H0z" fill="none" stroke="none"
                          ></path><path
                            d="M12 17.75l-6.172 3.245l1.179 -6.873l-5 -4.867l6.9 -1l3.086 -6.253l3.086 6.253l6.9 1l-5 4.867l1.179 6.873z"
                          ></path></svg
                        >
                      </div>
                    </div>
                  </div>
                </div>
                <div
                  class="flex-shrink-0 grid gap-y-6 grid-cols-1 lg:gap-y-8 animate-scroller2"
                >
                  <div
                    class="rounded-xl lg:w-[19rem] shadow-normal lg:opacity-100 sm:opacity-0"
                  >
                    <div
                      class="p-4 bg-gradient-to-tr from-accent-600 via-accent-500 to-accent-400 rounded-3xl shadow-normal border lg:p-10"
                    >
                      <img
                        alt=""
                        class="rounded-full h-10 inline-block ring-2 ring-offset-4 ring-offset-white ring-accent-500 w-10"
                        src="https://d33wubrfki0l68.cloudfront.net/cabc8d70a84f6d78e56c5cd2db3f54ab6462325d/95045/images/testimonials/gabi.jpeg"
                      /><div>
                        <p class="text-white mt-8 text-xs">
                          <strong>Gabriel Perales</strong> ― Engineer at cabify
                        </p>
                      </div><div class="text-white/70 text-base mt-4">
                        Mike has helped me with many designs, and I couldn't
                        follow his <span
                          >working speed when we worked together.</span
                        >
                      </div><div class="flex gap-1 mt-6">
                        <svg
                          class="text-yellow-400 fill-yellow-400 h-4 icon icon-tabler icon-tabler-star w-4"
                          fill="currentColor"
                          viewBox="0 0 24 24"
                          xmlns="http://www.w3.org/2000/svg"
                          stroke="currentColor"
                          stroke-width="1.5"
                          stroke-linecap="round"
                          stroke-linejoin="round"
                          ><path d="M0 0h24v24H0z" fill="none" stroke="none"
                          ></path><path
                            d="M12 17.75l-6.172 3.245l1.179 -6.873l-5 -4.867l6.9 -1l3.086 -6.253l3.086 6.253l6.9 1l-5 4.867l1.179 6.873z"
                          ></path></svg
                        >
                        <svg
                          class="text-yellow-400 fill-yellow-400 h-4 icon icon-tabler icon-tabler-star w-4"
                          fill="currentColor"
                          viewBox="0 0 24 24"
                          xmlns="http://www.w3.org/2000/svg"
                          stroke="currentColor"
                          stroke-width="1.5"
                          stroke-linecap="round"
                          stroke-linejoin="round"
                          ><path d="M0 0h24v24H0z" fill="none" stroke="none"
                          ></path><path
                            d="M12 17.75l-6.172 3.245l1.179 -6.873l-5 -4.867l6.9 -1l3.086 -6.253l3.086 6.253l6.9 1l-5 4.867l1.179 6.873z"
                          ></path></svg
                        >
                        <svg
                          class="text-yellow-400 fill-yellow-400 h-4 icon icon-tabler icon-tabler-star w-4"
                          fill="currentColor"
                          viewBox="0 0 24 24"
                          xmlns="http://www.w3.org/2000/svg"
                          stroke="currentColor"
                          stroke-width="1.5"
                          stroke-linecap="round"
                          stroke-linejoin="round"
                          ><path d="M0 0h24v24H0z" fill="none" stroke="none"
                          ></path><path
                            d="M12 17.75l-6.172 3.245l1.179 -6.873l-5 -4.867l6.9 -1l3.086 -6.253l3.086 6.253l6.9 1l-5 4.867l1.179 6.873z"
                          ></path></svg
                        >
                        <svg
                          class="text-yellow-400 fill-yellow-400 h-4 icon icon-tabler icon-tabler-star w-4"
                          fill="currentColor"
                          viewBox="0 0 24 24"
                          xmlns="http://www.w3.org/2000/svg"
                          stroke="currentColor"
                          stroke-width="1.5"
                          stroke-linecap="round"
                          stroke-linejoin="round"
                          ><path d="M0 0h24v24H0z" fill="none" stroke="none"
                          ></path><path
                            d="M12 17.75l-6.172 3.245l1.179 -6.873l-5 -4.867l6.9 -1l3.086 -6.253l3.086 6.253l6.9 1l-5 4.867l1.179 6.873z"
                          ></path></svg
                        >
                        <svg
                          class="text-yellow-400 fill-yellow-400 h-4 icon icon-tabler icon-tabler-star w-4"
                          fill="currentColor"
                          viewBox="0 0 24 24"
                          xmlns="http://www.w3.org/2000/svg"
                          stroke="currentColor"
                          stroke-width="1.5"
                          stroke-linecap="round"
                          stroke-linejoin="round"
                          ><path d="M0 0h24v24H0z" fill="none" stroke="none"
                          ></path><path
                            d="M12 17.75l-6.172 3.245l1.179 -6.873l-5 -4.867l6.9 -1l3.086 -6.253l3.086 6.253l6.9 1l-5 4.867l1.179 6.873z"
                          ></path></svg
                        >
                      </div>
                    </div>
                  </div>
                  <div
                    class="rounded-xl lg:w-[19rem] shadow-normal lg:opacity-100 sm:opacity-0"
                  >
                    <div
                      class="p-4 bg-gradient-to-tr from-accent-600 via-accent-500 to-accent-400 rounded-3xl shadow-normal border lg:p-10"
                    >
                      <img
                        alt=""
                        class="rounded-full h-10 inline-block ring-2 ring-offset-4 ring-offset-white ring-accent-500 w-10"
                        src="https://d33wubrfki0l68.cloudfront.net/05a6c2e973f7b38e7b5f5fb1923ed9507d6fc68d/10e85/images/testimonials/mike.png"
                      /><div>
                        <p class="text-white mt-8 text-xs">
                          <strong>Mike Jones</strong> ― Blogger Att raspada
                        </p>
                      </div><div class="text-white/70 text-base mt-4">
                        I have had the absolute pleasure of working
                        <span
                          >with Mike in the past when building my blog Raspada.
                        </span>
                      </div><div class="flex gap-1 mt-6">
                        <svg
                          class="text-yellow-400 fill-yellow-400 h-4 icon icon-tabler icon-tabler-star w-4"
                          fill="currentColor"
                          viewBox="0 0 24 24"
                          xmlns="http://www.w3.org/2000/svg"
                          stroke="currentColor"
                          stroke-width="1.5"
                          stroke-linecap="round"
                          stroke-linejoin="round"
                          ><path d="M0 0h24v24H0z" fill="none" stroke="none"
                          ></path><path
                            d="M12 17.75l-6.172 3.245l1.179 -6.873l-5 -4.867l6.9 -1l3.086 -6.253l3.086 6.253l6.9 1l-5 4.867l1.179 6.873z"
                          ></path></svg
                        >
                        <svg
                          class="text-yellow-400 fill-yellow-400 h-4 icon icon-tabler icon-tabler-star w-4"
                          fill="currentColor"
                          viewBox="0 0 24 24"
                          xmlns="http://www.w3.org/2000/svg"
                          stroke="currentColor"
                          stroke-width="1.5"
                          stroke-linecap="round"
                          stroke-linejoin="round"
                          ><path d="M0 0h24v24H0z" fill="none" stroke="none"
                          ></path><path
                            d="M12 17.75l-6.172 3.245l1.179 -6.873l-5 -4.867l6.9 -1l3.086 -6.253l3.086 6.253l6.9 1l-5 4.867l1.179 6.873z"
                          ></path></svg
                        >
                        <svg
                          class="text-yellow-400 fill-yellow-400 h-4 icon icon-tabler icon-tabler-star w-4"
                          fill="currentColor"
                          viewBox="0 0 24 24"
                          xmlns="http://www.w3.org/2000/svg"
                          stroke="currentColor"
                          stroke-width="1.5"
                          stroke-linecap="round"
                          stroke-linejoin="round"
                          ><path d="M0 0h24v24H0z" fill="none" stroke="none"
                          ></path><path
                            d="M12 17.75l-6.172 3.245l1.179 -6.873l-5 -4.867l6.9 -1l3.086 -6.253l3.086 6.253l6.9 1l-5 4.867l1.179 6.873z"
                          ></path></svg
                        >
                        <svg
                          class="text-yellow-400 fill-yellow-400 h-4 icon icon-tabler icon-tabler-star w-4"
                          fill="currentColor"
                          viewBox="0 0 24 24"
                          xmlns="http://www.w3.org/2000/svg"
                          stroke="currentColor"
                          stroke-width="1.5"
                          stroke-linecap="round"
                          stroke-linejoin="round"
                          ><path d="M0 0h24v24H0z" fill="none" stroke="none"
                          ></path><path
                            d="M12 17.75l-6.172 3.245l1.179 -6.873l-5 -4.867l6.9 -1l3.086 -6.253l3.086 6.253l6.9 1l-5 4.867l1.179 6.873z"
                          ></path></svg
                        >
                        <svg
                          class="text-yellow-400 fill-yellow-400 h-4 icon icon-tabler icon-tabler-star w-4"
                          fill="currentColor"
                          viewBox="0 0 24 24"
                          xmlns="http://www.w3.org/2000/svg"
                          stroke="currentColor"
                          stroke-width="1.5"
                          stroke-linecap="round"
                          stroke-linejoin="round"
                          ><path d="M0 0h24v24H0z" fill="none" stroke="none"
                          ></path><path
                            d="M12 17.75l-6.172 3.245l1.179 -6.873l-5 -4.867l6.9 -1l3.086 -6.253l3.086 6.253l6.9 1l-5 4.867l1.179 6.873z"
                          ></path></svg
                        >
                      </div>
                    </div>
                  </div>
                  <div
                    class="rounded-xl lg:w-[19rem] shadow-normal lg:opacity-100 sm:opacity-0"
                  >
                    <div
                      class="p-4 bg-gradient-to-tr from-accent-600 via-accent-500 to-accent-400 rounded-3xl shadow-normal border lg:p-10"
                    >
                      <img
                        alt=""
                        class="rounded-full h-10 inline-block ring-2 ring-offset-4 ring-offset-white ring-accent-500 w-10"
                        src="https://d33wubrfki0l68.cloudfront.net/1a2e935392c14749028729b21b20ddbd4c54b70e/1a932/images/testimonials/amrit.jpeg"
                      /><div>
                        <p class="text-white mt-8 text-xs">
                          <strong>Amrit Nagi</strong> ― Founder of Tailwind Toolbox
                        </p>
                      </div><div class="text-white/70 text-base mt-4">
                        It's amazing just how quickly the quality
                        <span
                          >and variety of his work has developed and evolved!
                        </span>
                      </div><div class="flex gap-1 mt-6">
                        <svg
                          class="text-yellow-400 fill-yellow-400 h-4 icon icon-tabler icon-tabler-star w-4"
                          fill="currentColor"
                          viewBox="0 0 24 24"
                          xmlns="http://www.w3.org/2000/svg"
                          stroke="currentColor"
                          stroke-width="1.5"
                          stroke-linecap="round"
                          stroke-linejoin="round"
                          ><path d="M0 0h24v24H0z" fill="none" stroke="none"
                          ></path><path
                            d="M12 17.75l-6.172 3.245l1.179 -6.873l-5 -4.867l6.9 -1l3.086 -6.253l3.086 6.253l6.9 1l-5 4.867l1.179 6.873z"
                          ></path></svg
                        >
                        <svg
                          class="text-yellow-400 fill-yellow-400 h-4 icon icon-tabler icon-tabler-star w-4"
                          fill="currentColor"
                          viewBox="0 0 24 24"
                          xmlns="http://www.w3.org/2000/svg"
                          stroke="currentColor"
                          stroke-width="1.5"
                          stroke-linecap="round"
                          stroke-linejoin="round"
                          ><path d="M0 0h24v24H0z" fill="none" stroke="none"
                          ></path><path
                            d="M12 17.75l-6.172 3.245l1.179 -6.873l-5 -4.867l6.9 -1l3.086 -6.253l3.086 6.253l6.9 1l-5 4.867l1.179 6.873z"
                          ></path></svg
                        >
                        <svg
                          class="text-yellow-400 fill-yellow-400 h-4 icon icon-tabler icon-tabler-star w-4"
                          fill="currentColor"
                          viewBox="0 0 24 24"
                          xmlns="http://www.w3.org/2000/svg"
                          stroke="currentColor"
                          stroke-width="1.5"
                          stroke-linecap="round"
                          stroke-linejoin="round"
                          ><path d="M0 0h24v24H0z" fill="none" stroke="none"
                          ></path><path
                            d="M12 17.75l-6.172 3.245l1.179 -6.873l-5 -4.867l6.9 -1l3.086 -6.253l3.086 6.253l6.9 1l-5 4.867l1.179 6.873z"
                          ></path></svg
                        >
                        <svg
                          class="text-yellow-400 fill-yellow-400 h-4 icon icon-tabler icon-tabler-star w-4"
                          fill="currentColor"
                          viewBox="0 0 24 24"
                          xmlns="http://www.w3.org/2000/svg"
                          stroke="currentColor"
                          stroke-width="1.5"
                          stroke-linecap="round"
                          stroke-linejoin="round"
                          ><path d="M0 0h24v24H0z" fill="none" stroke="none"
                          ></path><path
                            d="M12 17.75l-6.172 3.245l1.179 -6.873l-5 -4.867l6.9 -1l3.086 -6.253l3.086 6.253l6.9 1l-5 4.867l1.179 6.873z"
                          ></path></svg
                        >
                        <svg
                          class="text-yellow-400 fill-yellow-400 h-4 icon icon-tabler icon-tabler-star w-4"
                          fill="currentColor"
                          viewBox="0 0 24 24"
                          xmlns="http://www.w3.org/2000/svg"
                          stroke="currentColor"
                          stroke-width="1.5"
                          stroke-linecap="round"
                          stroke-linejoin="round"
                          ><path d="M0 0h24v24H0z" fill="none" stroke="none"
                          ></path><path
                            d="M12 17.75l-6.172 3.245l1.179 -6.873l-5 -4.867l6.9 -1l3.086 -6.253l3.086 6.253l6.9 1l-5 4.867l1.179 6.873z"
                          ></path></svg
                        >
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
