<section id="TestimonialOne" aria-label="TestimonialOne">
  <div
    class="relative px-8 py-12 mx-auto sm:px-6 md:max-w-2xl md:px-4 lg:max-w-6xl lg:px-20 lg:pt-32"
  >
    <div class="max-w-xl">
      <p class="text-3xl font-medium tracking-tight text-black lg:text-5xl">
        So much appreciation to share
      </p>
      <p class="mt-4 text-lg lg:text-2xl text-slate-500">
        I don't say it, they say it!
      </p>
    </div>

    <ul
      role="list"
      class="relative grid grid-cols-1 mt-12 gap-y-10 gap-x-8 sm:grid-cols-2 lg:grid-cols-2 lg:gap-16"
    >
      <li>
        <figure class="relative h-full">
          <figcaption class="relative flex items-center gap-4 pb-6">
            <div class="overflow-hidden rounded-full bg-slate-50">
              <img
                alt="codebamritoje"
                src="https://d33wubrfki0l68.cloudfront.net/1a2e935392c14749028729b21b20ddbd4c54b70e/1a932/images/testimonials/amrit.jpeg"
                width="56"
                height="56"
                decoding="async"
                data-mining="future"
                class="object-cover h-14 w-14 grayscale"
                loading="lazy"
              />
            </div>
            <div>
              <div class="text-xl text-black">Amrit Nagi</div>
              <div class="mt-1">
                <a
                  class="text-sm text-slate-500 hover:text-blue-600"
                  href="https://tailwindtoolbox.com/"
                  >Founder of Tailwind Toolbox
                </a>
              </div>
            </div>
          </figcaption>
          <blockquote class="relative mt-6 space-y-3">
            <p class="text-sm text-slate-500">
              I've been following Mike's career for a while now and it's amazing
              just how quickly the quality and variety of his work has developed
              and evolved!
            </p>
            <p class="text-sm text-slate-500">
              He's always learning or working on something new and constantly
              refining his work to be the best! His attention to detail, 'can
              do' attitude and work ethic is refreshing and he will definitely
              help you succeed!
            </p>
          </blockquote>
        </figure>
      </li>
      <li>
        <figure class="relative h-full">
          <figcaption class="relative flex items-center gap-4 pb-6">
            <div class="overflow-hidden rounded-full bg-slate-50">
              <img
                alt="codeboje"
                src="https://d33wubrfki0l68.cloudfront.net/cabc8d70a84f6d78e56c5cd2db3f54ab6462325d/95045/images/testimonials/gabi.jpeg"
                width="56"
                height="56"
                decoding="async"
                data-mining="future"
                class="object-cover h-14 w-14 grayscale"
                loading="lazy"
              />
            </div>
            <div>
              <div class="text-xl text-black">Gabriel Perales</div>
              <div class="mt-1">
                <a
                  class="text-sm text-slate-500 hover:text-blue-600"
                  href="https://twitter.com/g_perales"
                  >Software Engineer at Cabify
                </a>
              </div>
            </div>
          </figcaption>
          <blockquote class="relative mt-6">
            <p class="text-sm text-slate-500">
              Mike has helped me with many designs, and I couldn't follow his
              working speed when we worked together. His designs are slick, and
              he delivers a lot of value; he is constantly iterating his designs
              and making improvements.
            </p>
          </blockquote>
        </figure>
      </li>

      <li>
        <figure class="relative h-full">
          <figcaption class="relative flex items-center gap-4 pb-6">
            <div class="overflow-hidden rounded-full bg-slate-50">
              <img
                alt=""
                src="https://pbs.twimg.com/profile_images/1039477099768295424/DkFxqf2V_400x400.jpg"
                width="56"
                height="56"
                decoding="async"
                data-mining="future"
                class="object-cover h-14 w-14 grayscale"
                loading="lazy"
              />
            </div>
            <div>
              <div class="text-xl text-black">Volkan Kaya</div>
              <div class="mt-1">
                <a
                  class="text-sm text-slate-500 hover:text-blue-600"
                  href="https://versoly.com/"
                  >Founder of Versoly.com
                </a>
              </div>
            </div>
          </figcaption>
          <blockquote class="relative mt-6">
            <p class="text-sm text-slate-500">
              Mike is a rare breed of designer &amp; developer that understands
              business needs. He leveraged his previous experience to build out
              a few landing pages very quickly for Versoly
            </p>
          </blockquote>
        </figure>
      </li>
      <li>
        <figure class="relative h-full">
          <figcaption class="relative flex items-center gap-4 pb-6">
            <div class="overflow-hidden rounded-full bg-slate-50">
              <img
                alt="gustavo"
                src="https://d33wubrfki0l68.cloudfront.net/05a6c2e973f7b38e7b5f5fb1923ed9507d6fc68d/10e85/images/testimonials/mike.png"
                width="56"
                height="56"
                decoding="async"
                data-mining="future"
                class="object-cover h-14 w-14 grayscale"
                loading="lazy"
              />
            </div>
            <div>
              <div class="text-xl text-black">Mike ( Skino )</div>
              <div class="mt-1">
                <a
                  class="text-sm text-slate-500 hover:text-blue-600"
                  href="www.raspada-blog.co.uk"
                  >Blogger at Raspada
                </a>
              </div>
            </div>
          </figcaption>
          <blockquote class="relative mt-6 space-y-3">
            <p class="text-sm text-slate-500">
              I have had the absolute pleasure of working with Mike in the past
              when building my blog Raspada with its Backend UI or to building a
              private application for a leading hearing care company.
            </p>
            <p class="text-sm text-slate-500">
              Mike’s knowledge and attention to detail is second to none, and he
              really understands and listens to his clients (me).
            </p>
          </blockquote>
        </figure>
      </li>
    </ul>
  </div>
</section>
