<section class="flex items-center justify-center bg-white lg:h-screen">
  <div
    class="relative items-center w-full px-5 mx-auto md:px-12 lg:px-16 max-w-7xl py-14"
  >
    <div class="flex w-full mx-auto text-left">
      <div class="relative inline-flex items-center m-auto align-middle">
        <div class="text-center">
          <div>
            <div class="py-12 mx-auto mt-12 border-t border-b max-w-7xl">
              <div class="inline-flex items-center justify-between gap-12">
                <div>
                  <img class="" src="./images/logos/stripe.svg" alt="Stripe" />
                </div>
                <div>
                  <img class="" src="./images/logos/gitlab.svg" alt="gitlab" />
                </div>
                <div>
                  <img class="" src="./images/logos/medium.svg" alt="Dribbble "
                  />
                </div>
                <div>
                  <img
                    class="mx-auto"
                    src="./images/logos/dribbble.svg"
                    alt="dribbble"
                  />
                </div>
                <div>
                  <img
                    class="mx-auto"
                    src="./images/logos/figma.svg"
                    alt="figma"
                  />
                </div>
                <div>
                  <img
                    class="mx-auto"
                    src="./images/logos/github.svg"
                    alt="github"
                  />
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
