<section id="author" aria-labelledby="author-title" class="relative overflow-hidden ">
    <div class="relative px-8 py-12 mx-auto sm:px-6 md:max-w-2xl md:px-4 lg:max-w-6xl lg:px-20 lg:pt-32">
        <div>
            <div class="max-w-xl">
                <p class="text-3xl font-medium tracking-tight text-black lg:text-5xl mt-24">
                    Top stories at Semplice
                </p>
            </div>
            <ol role="list"
                class="relative grid grid-cols-1 mt-12 gap-y-10 gap-x-8 sm:grid-cols-2 lg:grid-cols-2 lg:gap-16">
                <li class="space-y-3">
                    <a href="/blog-post" class="group">
                        <div>
                            <div class="py-3">
                                <div class="flex-shrink-0  block">
                                    <div class="flex items-center">
                                        <div>
                                            <img class="inline-block h-9 w-9 rounded-full"
                                                src="https://cdn.dribbble.com/users/2212936/avatars/normal/5fc0a0fefebfb7c383f60e01e26a1226.jpg?1658142360"
                                                alt="" />
                                        </div>
                                        <div class="ml-3">
                                            <p class="text-sm  text-black ">
                                                Mike Andreuzza <span class="text-slate-500">in</span>
                                                Semplice ·
                                                <span class="text-slate-500">4 days ago</span>
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <h3 class="text-xl text-black">
                                Is It Worth It to Invest In Tech Right Now?
                            </h3>
                        </div>
                        <p class=" text-slate-500 line-clamp-3">
                            Even the technology industry isn’t immune to inflation and economic
                            recession, as stocks for many businesses in the tech sector have
                            performed poorly in 2022. The sudden drop in high-growth stocks for
                            big names like Amazon, Microsoft, Meta and Netflix has raised
                            concerns about their long-term value.
                        </p>
                        <div class="py-3">
                            <div>
                                <div class="inline-flex items-center justify-between w-full">
                                    <div>
                                        <p class="text-sm  text-black ">
                                            Investiments <span class="text-slate-500">·</span>
                                            10 min read
                                        </p>
                                    </div>
                                    <div>
                                        <span>
                                            <svg xmlns="http://www.w3.org/2000/svg" class="text-blue-500 w-5"
                                                viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" fill="none"
                                                stroke-linecap="round" stroke-linejoin="round">
                                                <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                                                <path d="M9 4h6a2 2 0 0 1 2 2v14l-5 -3l-5 3v-14a2 2 0 0 1 2 -2"></path>
                                            </svg>
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </a>
                </li>
                <li class="space-y-3">
                    <a href="/blog-post" class="group">
                        <div>
                            <div class="py-3">
                                <div class="flex-shrink-0  block">
                                    <div class="flex items-center">
                                        <div>
                                            <img class="inline-block h-9 w-9 rounded-full"
                                                src="https://cdn.dribbble.com/users/2212936/avatars/normal/5fc0a0fefebfb7c383f60e01e26a1226.jpg?1658142360"
                                                alt="" />
                                        </div>
                                        <div class="ml-3">
                                            <p class="text-sm  text-black ">
                                                Mike Andreuzza <span class="text-slate-500">in</span>
                                                Product managment ·
                                                <span class="text-slate-500">4 days ago</span>
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <h3 class="text-xl text-black">
                                Structured Thinking As A Product Manager?
                            </h3>
                        </div>
                        <p class=" text-slate-500 line-clamp-3">
                            As a Product Manager, your days are filled with incessant requests
                            from internal and external stakeholders. And when you’re already
                            working on your current roadmap and on your 5th cup of coffee for
                            the day, it can be hard to get your thoughts around all these
                            never-ending incoming requests.
                        </p>
                        <div class="py-3">
                            <div>
                                <div class="inline-flex items-center justify-between w-full">
                                    <div>
                                        <p class="text-sm  text-black ">
                                            Investiments <span class="text-slate-500">·</span>
                                            10 min read
                                        </p>
                                    </div>
                                    <div>
                                        <span>
                                            <svg xmlns="http://www.w3.org/2000/svg" class="text-blue-500 w-5"
                                                viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" fill="none"
                                                stroke-linecap="round" stroke-linejoin="round">
                                                <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                                                <path d="M9 4h6a2 2 0 0 1 2 2v14l-5 -3l-5 3v-14a2 2 0 0 1 2 -2"></path>
                                            </svg>
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </a>
                </li>
                <li class="space-y-3">
                    <a href="/blog-post" class="group">
                        <div>
                            <div class="py-3">
                                <div class="flex-shrink-0  block">
                                    <div class="flex items-center">
                                        <div>
                                            <img class="inline-block h-9 w-9 rounded-full"
                                                src="https://cdn.dribbble.com/users/2212936/avatars/normal/5fc0a0fefebfb7c383f60e01e26a1226.jpg?1658142360"
                                                alt="" />
                                        </div>
                                        <div class="ml-3">
                                            <p class="text-sm  text-black ">
                                                Mike Andreuzza <span class="text-slate-500">in</span>
                                                Investiments ·
                                                <span class="text-slate-500">4 days ago</span>
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <h3 class="text-xl text-black">The Hidden Danger of QR Codes</h3>
                        </div>
                        <p class=" text-slate-500 line-clamp-3">
                            In this article, I will be referring to various amazing Authors and
                            resources I strongly recommend that you separately study them on
                            your own. The references list is at the end of the article, enjoy
                            reading!
                        </p>
                        <div class="py-3">
                            <div>
                                <div class="inline-flex items-center justify-between w-full">
                                    <div>
                                        <p class="text-sm  text-black ">
                                            Investiments <span class="text-slate-500">·</span>
                                            10 min read
                                        </p>
                                    </div>
                                    <div>
                                        <span>
                                            <svg xmlns="http://www.w3.org/2000/svg" class="text-blue-500 w-5"
                                                viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" fill="none"
                                                stroke-linecap="round" stroke-linejoin="round">
                                                <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                                                <path d="M9 4h6a2 2 0 0 1 2 2v14l-5 -3l-5 3v-14a2 2 0 0 1 2 -2"></path>
                                            </svg>
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </a>
                </li>
                <li class="space-y-3">
                    <a href="/blog-post" class="group">
                        <div>
                            <div class="py-3">
                                <div class="flex-shrink-0  block">
                                    <div class="flex items-center">
                                        <div>
                                            <img class="inline-block h-9 w-9 rounded-full"
                                                src="https://cdn.dribbble.com/users/2212936/avatars/normal/5fc0a0fefebfb7c383f60e01e26a1226.jpg?1658142360"
                                                alt="" />
                                        </div>
                                        <div class="ml-3">
                                            <p class="text-sm  text-black ">
                                                Mike Andreuzza <span class="text-slate-500">in</span>
                                                Investiments ·
                                                <span class="text-slate-500">4 days ago</span>
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <h3 class="text-xl text-black">
                                Metamask - Is It Really A Wallet?
                            </h3>
                        </div>
                        <p class=" text-slate-500 line-clamp-3">
                            Each of us lives our own life. Everyday routines, people we meet,
                            things we experience, the music we listen to, the food we eat, the
                            culture that surrounds us, or even the way our apartment is set up.
                            Every little detail impacts our lives in some way.
                        </p>
                        <div class="py-3">
                            <div>
                                <div class="inline-flex items-center justify-between w-full">
                                    <div>
                                        <p class="text-sm  text-black ">
                                            Investiments <span class="text-slate-500">·</span>
                                            10 min read
                                        </p>
                                    </div>
                                    <div>
                                        <span>
                                            <svg xmlns="http://www.w3.org/2000/svg" class="text-blue-500 w-5"
                                                viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" fill="none"
                                                stroke-linecap="round" stroke-linejoin="round">
                                                <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                                                <path d="M9 4h6a2 2 0 0 1 2 2v14l-5 -3l-5 3v-14a2 2 0 0 1 2 -2"></path>
                                            </svg>
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </a>
                </li>
            </ol>
        </div>
    </div>
</section>