<section class="relative">
  <div
    class="items-center w-full px-8 py-12 mx-auto md:px-12 lg:px-24 max-w-7xl lg:py-24">
    <img
      class="h-[60vh] w-full object-cover bg-top rounded-3xl shadow-normal"
      alt="This is a placeholder image description"
      src="https://cdn.dribbble.com/userupload/2838250/file/original-a003e5ad759f7e15cfea3384a5955744.jpg?compress=1&resize=1504x1128"
    />
    <div class="mx-auto lg:text-center max-w-2xl mt-24">
      <div>
        <p
          class="text-4xl mt-8 lg:text-6xl font-extrabold tracking-tight text-black font-display">
          Get to know Semplice and it's features.
        </p>
      </div>
    </div>
    <div class="grid grid-cols-1 gap-10 xl:gap-24">
      <div>
        <div
          class="prose mx-auto prose-blockquote:border-l-black prose-a:text-accent-500 hover:prose-a:text-black prose-headings:font-bold prose-headings:tracking-tighter prose-headings:text-black prose-li:marker:text-accent-500 text-slate-500 prose-code:text-black prose-blockquote:text-slate-500">
          <div>
            <h2 id="phanatik-includes-a-page-for-your-potential-subscribers">
              Navy includes two blog post layout page for your potential
              subscribers
            </h2>
            <p>
              The great thing about blogs is that your work compounds over time.
              Anyone can read, share and discover past work, which helps you
              build trust with your audience and improve search rankings. <a
                href="./newsletter">Duck Duck Go</a
              >.
            </p><p>
              Here is a sample of some basic Markdown syntax that can be used
              when writing Markdown content in Astro.
            </p><h2 id="headings">Headings</h2><p>
              The following HTML <code>&lt;h1&gt;</code>—<code>&lt;h6&gt;</code>
              elements represent six levels of section headings. <code
                >&lt;h1&gt;</code
              > is the highest section level while <code>&lt;h6&gt;</code> is the
              lowest.
            </p><h1 id="h1">H1</h1><h2 id="h2">H2</h2><h3 id="h3">H3</h3><h4
              id="h4">
              H4
            </h4><h5 id="h5">H5</h5><h6 id="h6">H6</h6><h2 id="paragraph">
              Paragraph
            </h2><p>
              To stand up straight with your shoulders back is to accept the
              terrible responsibility of life, with eyes wide open. It means
              deciding to voluntarily transform the chaos of potential into the
              realities of habitable order. It means adopting the burden of
              self-conscious vulnerability, and accepting the end of the
              unconscious paradise of childhood, where finitude and mortality
              are only dimly comprehended. It means willingly undertaking the
              sacrifices necessary to generate a productive and meaningful
              reality
            </p><h2 id="images">Images</h2><p>
              <img
                class="rounded-3xl"
                alt="This is a placeholder image description"
                src="https://cdn.dribbble.com/userupload/2838250/file/original-a003e5ad759f7e15cfea3384a5955744.jpg?compress=1&resize=1504x1128"
              />
            </p><h2 id="blockquotes">Blockquotes</h2><p>
              The blockquote element represents content that is quoted from
              another source, optionally with a citation which must be within a <code
                >footer</code
              > or <code>cite</code> element, and optionally with in-line changes
              such as annotations and abbreviations.
            </p><h4 id="blockquote-without-attribution">
              Blockquote without attribution
            </h4><blockquote>
              <p>
                You can only find out what you actually believe (rather than
                what you think you believe) by watching how you act. You simply
                don’t know what you believe, before that. You are too complex to
                understand yourself. <strong>Note</strong> that you can use <em
                  >Markdown syntax</em
                > within a blockquote.
              </p>
            </blockquote><h4 id="blockquote-with-attribution">
              Blockquote with attribution
            </h4><blockquote>
              <p>
                You can only find out what you actually believe (rather than
                what you think you believe) by watching how you act. You simply
                don’t know what you believe, before that. You are too complex to
                understand yourself.<br />— <cite>Rob Pike[^1]</cite>
              </p>
            </blockquote><h2 id="tables">Tables</h2><p>
              To add a table, use three or more hyphens (---) to create each
              column’s header, and use pipes (|) to separate each column. For
              compatibility, you should also add a pipe on either end of the
              row.
            </p><table>
              <thead><tr><th>Syntax</th><th>Description</th></tr></thead><tbody
                ><tr><td>Header</td><td>Title</td></tr><tr
                  ><td>Paragraph</td><td>Text</td></tr
                ></tbody
              >
            </table><p>
              Cell widths can vary, as shown below. The rendered output will
              look the same.
            </p><table>
              <thead><tr><th>Syntax</th><th>Description</th></tr></thead><tbody
                ><tr><td>Header</td><td>Title</td></tr><tr
                  ><td>Paragraph</td><td>Text</td></tr
                ></tbody
              >
            </table><p>
              ##Alignment You can align text in the columns to the left, right,
              or center by adding a colon (:) to the left, right, or on both
              side of the hyphens within the header row.
            </p><table>
              <thead
                ><tr
                  ><th align="left">Syntax</th><th align="center"
                    >Description</th
                  ><th align="right">Test Text</th></tr
                ></thead
              ><tbody
                ><tr
                  ><td align="left">Header</td><td align="center">Title</td><td
                    align="right">Here’s this</td
                  ></tr
                ><tr
                  ><td align="left">Paragraph</td><td align="center">Text</td
                  ><td align="right">And more</td></tr
                ></tbody
              >
            </table><h2 id="code-blocks">Code Blocks</h2><pre
              class="rounded-3xl"
              is:raw=""
              style="background-color:#f1f2f4;overflow-x:auto;black-space:pre-wrap;word-wrap:break-word"><code>export async function getStaticPaths() {
  const allPosts = await Astro.glob("../posts/*.md" );
  const uniqueTags = [
    ...new Set(allPosts.map((post) => post.frontmatter.tags).flat()),
  ];
  return uniqueTags.map((tag) => {
    const filteredPosts = allPosts.filter((post) =>
      post.frontmatter.tags.includes(tag)
    );
    return {
      params: { tag },
      props: { posts: filteredPosts },
    };
  });
}</code></pre><h2
              id="list-types">
              List Types
            </h2><h4 id="ordered-list">Ordered List</h4><ol>
              <li>First item</li><li>Second item</li><li>Third item</li>
            </ol><h4 id="unordered-list">Unordered List</h4><ul>
              <li>List item</li><li>Another item</li><li>And another item</li>
            </ul><h4 id="nested-list">Nested list</h4><ul>
              <li>
                Fruit<ul><li>Apple</li><li>Orange</li><li>Banana</li></ul>
              </li><li>Dairy<ul><li>Milk</li><li>Cheese</li></ul></li>
            </ul><h2 id="other-elements--abbr-sub-sup-kbd-mark">
              Other Elements — abbr, sub, sup, kbd, mark
            </h2><p>
              <abbr title="Graphics Interchange Format">GIF</abbr> is a bitmap image
              format. H<sub>2</sub>O X<sup>n</sup> + Y<sup>n</sup> = Z<sup
                >n</sup
              > Press <kbd><kbd>CTRL</kbd>+<kbd>ALT</kbd>+<kbd>Delete</kbd></kbd
              > to end the session. Most <mark>salamanders</mark> are nocturnal,
              and hunt for insects, worms, and other small creatures.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
