<section>
  <div class="w-full px-8 py-12 mx-auto md:px-12 lg:px-24 max-w-7xl lg:py-32">
    <div class="text-center max-w-3xl mx-auto">
      <div>
        <span class="bg-accent-500/10 rounded-full py-1 px-4 w-auto">
          <span class="text-xs text-accent-500 uppercase font-semibold">
            blog</span
          >
        </span>
        <p
          class="text-4xl mt-8 lg:text-9xl font-extrabold tracking-tight text-black">
          Welcome to our blog
        </p>
        <p class="text-base mt-4 text-slate-500 max-w-xl lg:mx-auto">
          Sit down and enjoy our blog post. We update the library daily with
          more and more blog entries that saciate you apetite of information.
        </p>
      </div>
    </div>
    <div class="mt-24">
      <ol
        class="gap-x-8 gap-y-12 grid grid-cols-1 list-none lg:gap-y-24 lg:grid-cols-3 sm:grid-cols-2"
        role="list">
        <li class="group">
          <a href="/blog-post">
            <div class="flex justify-center">
              <div class="flex">
                <img
                  alt="#"
                  class="aspect-[4/3] duration-300 group-hover:scale-110 object-cover rounded-2xl shadow-2xl"
                  loading="lazy"
                  src="https://cdn.dribbble.com/users/78433/screenshots/17689618/media/9f8474af46498fa16a11dae61d4277f5.png?compress=1&resize=1600x1200&vertical=top"
                  width="560"
                />
              </div>
            </div>
            <div class="px-2 lg:px-6">
              <p class="mt-8">
                <time class="text-slate-500 text-xs" datetime="2023-03-16"
                  >March 01, 2023</time
                >
              </p>
              <p
                class="text-slate-500 group-hover:text-black mt-2 line-clamp-3 text-base">
                Protected LLVM variable resolve ping looks good to me LIFO JVM
                brownfield senior. Fault tolerant terminal senior linker S3 blog
                TL asynchronous shadow DOM RSS feed. Transpile cross-post
                maintainable junior programmer JQuery Byzantine fault tolerance
                keycaps. Stateless engineer promise command-line FIFO uglify.
              </p>
              <footer>
                <div class="items-center inline-flex gap-3 mt-6">
                  <div class="flex-shrink-0">
                    <span class="sr-only"></span>
                    <img
                      alt="With Markdown & MDX in Astro"
                      class="object-cover h-10 rounded-full w-10"
                      src="https://phanatik.lexingtonthemes.com/a.jpg"
                    />
                  </div><div class="items-center inline-flex ml-3 space-x-1">
                    <p class="font-medium text-gray-900 text-xs">
                      Kev Inhart
                    </p><span aria-hidden="true">·</span><div
                      class="flex text-gray-500 text-xs">
                      <time datetime="2020-03-16">2022.03.03</time>
                    </div>
                  </div>
                </div>
              </footer>
            </div>
          </a>
        </li>
        <li class="group">
          <a href="/blog-post">
            <div class="flex justify-center">
              <div class="flex">
                <img
                  alt="#"
                  class="aspect-[4/3] duration-300 group-hover:scale-110 object-cover rounded-2xl shadow-2xl"
                  loading="lazy"
                  src="https://cdn.dribbble.com/users/78433/screenshots/17275287/media/23fd40c4e4a76282f8759b2fea8dc54d.jpg?compress=1&resize=1600x1200&vertical=top"
                  width="560"
                />
              </div>
            </div>
            <div class="px-2 lg:px-6">
              <p class="mt-8">
                <time class="text-slate-500 text-xs" datetime="2023-03-16"
                  >March 02, 2023</time
                >
              </p>
              <p
                class="text-slate-500 group-hover:text-black mt-2 line-clamp-3 text-base">
                DAG behavior-driven elixir .NET RPC imagemagick. Behavior-driven
                frame rate perf matters dynamic composition Github FIFO. Tree
                shaking spaghetti code first in first out OOP scale dynamic.
                Shareware Linux Twitter queue bike-shedding Firefox dog-piling.
              </p>
              <footer>
                <div class="items-center inline-flex gap-3 mt-6">
                  <div class="flex-shrink-0">
                    <span class="sr-only"></span>
                    <img
                      alt="With Markdown & MDX in Astro"
                      class="object-cover h-10 rounded-full w-10"
                      src="https://phanatik.lexingtonthemes.com/b.jpeg"
                    />
                  </div><div class="items-center inline-flex ml-3 space-x-1">
                    <p class="font-medium text-gray-900 text-xs">
                      Juanita Valderrama
                    </p><span aria-hidden="true">·</span><div
                      class="flex text-gray-500 text-xs">
                      <time datetime="2020-03-16">2022.03.03</time>
                    </div>
                  </div>
                </div>
              </footer>
            </div>
          </a>
        </li>
        <li class="group">
          <a href="/blog-post">
            <div class="flex justify-center">
              <div class="flex">
                <img
                  alt="#"
                  class="aspect-[4/3] duration-300 group-hover:scale-110 object-cover rounded-2xl shadow-2xl"
                  loading="lazy"
                  src="https://cdn.dribbble.com/users/49803/screenshots/17458031/media/df7ea46a7552fd1bd64d2bae9ef8d501.png?compress=1&resize=1600x1200&vertical=top"
                  width="560"
                />
              </div>
            </div>
            <div class="px-2 lg:px-6">
              <p class="mt-8">
                <time class="text-slate-500 text-xs" datetime="2023-03-16"
                  >January 05, 2023</time
                >
              </p>
              <p
                class="text-slate-500 group-hover:text-black mt-2 line-clamp-3 text-base">
                Attributes +1 AWS responsive elixir linked list presenter. Rm
                -rf * pairing npm yarn minification Github protected controller
                stateless Ada Lovelace. Uglify reactive lazy load little Bobby
                Tables dog-piling bootcamp. MacBook consensus Cloudfront CS
                degree distributed systems .NET +1 lang developer. Stand-up
                killer app fullstack bootcamp callback hell maintainable pattern
                LGTM.
              </p>
              <footer>
                <div class="items-center inline-flex gap-3 mt-6">
                  <div class="flex-shrink-0">
                    <img
                      alt="With Markdown & MDX in Astro"
                      class="object-cover h-10 rounded-full w-10"
                      src="https://phanatik.lexingtonthemes.com/c.jpg"
                    />
                  </div><div class="items-center inline-flex ml-3 space-x-1">
                    <p class="font-medium text-gray-900 text-xs">
                      Lebron James
                    </p><span aria-hidden="true">·</span><div
                      class="flex text-gray-500 text-xs">
                      <time datetime="2020-03-16">2022.03.03</time>
                    </div>
                  </div>
                </div>
              </footer>
            </div>
          </a>
        </li>
        <li class="group">
          <a href="/blog-post">
            <div class="flex justify-center">
              <div class="flex">
                <img
                  alt="#"
                  class="aspect-[4/3] duration-300 group-hover:scale-110 object-cover rounded-2xl shadow-2xl"
                  loading="lazy"
                  src="https://cdn.dribbble.com/users/78433/screenshots/17223122/media/1aa310875c3f29afc6753394cc30d3f2.jpg?compress=1&resize=1600x1200&vertical=top"
                  width="560"
                />
              </div>
            </div>
            <div class="px-2 lg:px-6">
              <p class="mt-8">
                <time class="text-slate-500 text-xs" datetime="2023-03-16"
                  >January 10, 2023</time
                >
              </p>
              <p
                class="text-slate-500 group-hover:text-black mt-2 line-clamp-3 text-base">
                As we welcome in the new year, it's important to take a moment
                to reflect on the past and set intentions for the future.
                Whether it's a resolution to exercise more, eat healthier, or
                focus on personal growth, setting goals can help us stay
                motivated and on track. Let's make 2023 a year of progress and
                self-improvement!
              </p>
              <footer>
                <div class="items-center inline-flex gap-3 mt-6">
                  <div class="flex-shrink-0">
                    <img
                      alt="With Markdown & MDX in Astro"
                      class="object-cover h-10 rounded-full w-10"
                      src="https://phanatik.lexingtonthemes.com/f.jpeg"
                    />
                  </div><div class="items-center inline-flex ml-3 space-x-1">
                    <p class="font-medium text-gray-900 text-xs">
                      Pepe Gutierrez
                    </p><span aria-hidden="true">·</span><div
                      class="flex text-gray-500 text-xs">
                      <time datetime="2020-03-16">2022.03.03</time>
                    </div>
                  </div>
                </div>
              </footer>
            </div>
          </a>
        </li>
        <li class="group">
          <a href="/blog-post">
            <div class="flex justify-center">
              <div class="flex">
                <img
                  alt="#"
                  class="aspect-[4/3] duration-300 group-hover:scale-110 object-cover rounded-2xl shadow-2xl"
                  loading="lazy"
                  src="https://cdn.dribbble.com/userupload/3113740/file/original-4bb9143349abaf4cd883254e894d41b3.jpg?compress=1&resize=1504x1128"
                  width="560"
                />
              </div>
            </div>
            <div class="px-2 lg:px-6">
              <p class="mt-8">
                <time class="text-slate-500 text-xs" datetime="2023-03-16"
                  >March 13, 2023</time
                >
              </p>
              <p
                class="text-slate-500 group-hover:text-black mt-2 line-clamp-3 text-base">
                DAG behavior-driven elixir .NET RPC imagemagick. Behavior-driven
                frame rate perf matters dynamic composition Github FIFO. Tree
                shaking spaghetti code first in first out OOP scale dynamic.
                Shareware Linux Twitter queue bike-shedding Firefox dog-piling.
              </p>
              <footer>
                <div class="items-center inline-flex gap-3 mt-6">
                  <div class="flex-shrink-0">
                    <span class="sr-only"></span>
                    <img
                      alt="With Markdown & MDX in Astro"
                      class="object-cover h-10 rounded-full w-10"
                      src="https://phanatik.lexingtonthemes.com/b.jpeg"
                    />
                  </div><div class="items-center inline-flex ml-3 space-x-1">
                    <p class="font-medium text-gray-900 text-xs">
                      Juanita Valderrama
                    </p><span aria-hidden="true">·</span><div
                      class="flex text-gray-500 text-xs">
                      <time datetime="2020-03-16">2022.03.03</time>
                    </div>
                  </div>
                </div>
              </footer>
            </div>
          </a>
        </li>
        <li class="group">
          <a href="/blog-post">
            <div class="flex justify-center">
              <div class="flex">
                <img
                  alt="#"
                  class="aspect-[4/3] duration-300 group-hover:scale-110 object-cover rounded-2xl shadow-2xl"
                  loading="lazy"
                  src="https://cdn.dribbble.com/userupload/2838250/file/original-a003e5ad759f7e15cfea3384a5955744.jpg?compress=1&resize=1504x1128"
                  width="560"
                />
              </div>
            </div>
            <div class="px-2 lg:px-6">
              <p class="mt-8">
                <time class="text-slate-500 text-xs" datetime="2023-03-16"
                  >August 19, 2023</time
                >
              </p>
              <p
                class="text-slate-500 group-hover:text-black mt-2 line-clamp-3 text-base">
                Attributes +1 AWS responsive elixir linked list presenter. Rm
                -rf * pairing npm yarn minification Github protected controller
                stateless Ada Lovelace. Uglify reactive lazy load little Bobby
                Tables dog-piling bootcamp. MacBook consensus Cloudfront CS
                degree distributed systems .NET +1 lang developer. Stand-up
                killer app fullstack bootcamp callback hell maintainable pattern
                LGTM.
              </p>
              <footer>
                <div class="items-center inline-flex gap-3 mt-6">
                  <div class="flex-shrink-0">
                    <img
                      alt="With Markdown & MDX in Astro"
                      class="object-cover h-10 rounded-full w-10"
                      src="https://phanatik.lexingtonthemes.com/b.jpeg"
                    />
                  </div><div class="items-center inline-flex ml-3 space-x-1">
                    <p class="font-medium text-gray-900 text-xs">
                      Juanita Valderrama
                    </p><span aria-hidden="true">·</span><div
                      class="flex text-gray-500 text-xs">
                      <time datetime="2020-03-16">2022.03.03</time>
                    </div>
                  </div>
                </div>
              </footer>
            </div>
          </a>
        </li>
      </ol>
    </div>
  </div>
</section>
