---
export interface Props {
  prevUrl: string;
  nextUrl: string;
  prevText?: string;
  nextText?: string;
}

const {
  prevUrl,
  nextUrl,
  prevText = "Newer posts",
  nextText = "Older posts",
} = Astro.props;
---

{
  (prevUrl || nextUrl) && (
    <div class="flex flex-row mx-auto container mt-12 lg:mt-24 border-t pt-6">
      {prevUrl && (
        <a
          href={prevUrl}
          class="ext-purple-600 text-sm bg-white mr-auto border border-gray-300 flex font-semibold hover:text-purple-500 items-center justify-center px-4 py-2 rounded-lg transition-all h-10">
          {prevText}
        </a>
      )}
      {nextUrl && (
        <a
          href={nextUrl}
          class="ext-purple-600 text-sm bg-white ml-auto border border-gray-300 flex font-semibold hover:text-purple-500 items-center justify-center px-4 py-2 rounded-lg transition-all h-10">
          {nextText}
        </a>
      )}
    </div>
  )
}
