<div
  class="prose max-w-3xl prose-blockquote:border-l-black prose-a:text-purple-500 hover:prose-a:text-purple-900 prose-headings:font-bold prose-headings:text-purple-900 prose-li:marker:text-purple-500 text-gray-500 prose-code:text-purple-900 prose-blockquote:text-gray-500">
  <slot />
</div>
