---
import Searchbar from "@/components/helpcenter/Searchbar.astro";
import BaseLayout from "@/layouts/BaseLayout.astro";
import { getDataCollection, getItemsFromCollection } from "@/utils/collections";
import Card from "@/components/helpcenter/ArticleCard.astro";

export async function getStaticPaths() {
  const items = await getItemsFromCollection("knowledgeBaseCategories");
  const articles = await getDataCollection("knowledgeBaseArticles");

  return items.map((item) => ({
    params: {
      slug: item.slug,
    },
    props: { item, articles },
  }));
}

const { articles, item } = Astro.props;
---

<BaseLayout>
  <section>
    <div class="w-full px-8 py-12 mx-auto md:px-12 lg:px-24 max-w-7xl lg:py-32">
      <div class="relative items-center">
        <div class="w-full lg:inline-flex justify-between lg:items-center">
          <div class="max-w-xl">
            <span
              class="font-semibold text-accent-500 text-sm tracking-widest uppercase"
            >
              {item.name}
            </span>
            <p class="text-4xl mt-8 font-extrabold tracking-tight text-black">
              Search and get your answers
            </p>
            <Searchbar />
          </div>
          <div class="mt-12 flex flex-col sm:flex-row lg:ml-auto">
            <a
              class="items-center text-white focus:outline-none inline-flex justify-center hover:text-accent-500 duration-200 focus-visible:outline-black focus-visible:ring-black font-medium lg:w-auto px-6 py-3 rounded-xl text-center w-full bg-accent-500 hover:bg-accent-100"
              href="/signup"
            >
              Subscribe for updates &nbsp;&nbsp; →
            </a>
          </div>
        </div>
      </div>
      <div class="mt-12 space-y-12 divide-y-2 divide-slate-100">
        {articles.map((article) => <Card article={article} />)}
      </div>
    </div>
  </section>
</BaseLayout>
