---
import BaseLayout from "@/layouts/BaseLayout.astro";
---

<BaseLayout>
  <section>
    <div class="w-full px-8 py-12 mx-auto md:px-12 lg:px-24 max-w-7xl lg:py-32">
      <div class="relative items-center">
        <div class="w-full lg:inline-flex justify-between lg:items-center">
          <div class="max-w-xl">
            <span
              class="font-semibold text-accent-500 text-sm tracking-widest uppercase">
              Single topic</span
            >
            <p class="text-4xl mt-8 font-extrabold tracking-tight text-black">
              Search and get your answers
            </p>
          </div><div class="mt-12 flex flex-col sm:flex-row lg:ml-auto">
            <a
              class="items-center text-white focus:outline-none inline-flex justify-center hover:text-accent-500 duration-200 focus-visible:outline-black focus-visible:ring-black font-medium lg:w-auto px-6 py-3 rounded-xl text-center w-full bg-accent-500 hover:bg-accent-100"
              href="/signup">Subscribe for updates &nbsp;&nbsp; →</a
            >
          </div>
        </div>
      </div>
      <div class="mt-12">
        <div class="mt-12 space-y-12 divide-y-2 divide-slate-100">
          <div class="grid grid-cols-1 gap-4 pt-4 lg:grid-cols-4 items-end">
            <div class="lg:col-span-2">
              <span class="text-black font-medium lg:text-xl text-lg"
                >Getting Started
              </span>
              <p class="text-slate-500 mt-6 text-base">
                The hotel was built in 2001 with Intro to Semplice
              </p>
            </div>
            <div
              class="flex flex-col flex-shrink-0 mb-6 md:mb-0 lg:ml-auto col-span-2">
              <a
                href="/video-article"
                class="flex items-center justify-center w-12 h-12 text-accent-500 rounded-full bg-slate-50 hover:bg-slate-100 border">
                <svg
                  fill="none"
                  stroke="currentColor"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  stroke-width="2"
                  class="w-4 h-4"
                  viewBox="0 0 24 24">
                  <path d="M5 12h14M12 5l7 7-7 7"></path>
                </svg>
              </a>
            </div>
          </div>
          <div class="grid grid-cols-1 gap-4 pt-4 lg:grid-cols-4 items-end">
            <div class="lg:col-span-2">
              <span class="text-black font-medium lg:text-xl text-lg"
                >Using Semplice
              </span>
              <p class="text-slate-500 mt-6 text-base">
                The hotel was built in 2001 with Tips &amp; tricks
              </p>
            </div>
            <div
              class="flex flex-col flex-shrink-0 mb-6 md:mb-0 lg:ml-auto col-span-2">
              <a
                href="/video-article"
                class="flex items-center justify-center w-12 h-12 text-accent-500 rounded-full bg-slate-50 hover:bg-slate-100 border">
                <svg
                  fill="none"
                  stroke="currentColor"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  stroke-width="2"
                  class="w-4 h-4"
                  viewBox="0 0 24 24">
                  <path d="M5 12h14M12 5l7 7-7 7"></path>
                </svg>
              </a>
            </div>
          </div>
          <div class="grid grid-cols-1 gap-4 pt-4 lg:grid-cols-4 items-end">
            <div class="lg:col-span-2">
              <span class="text-black font-medium lg:text-xl text-lg"
                >Settings & prefferences
              </span>
              <p class="text-slate-500 mt-6 text-base">
                Setup the up as you wish
              </p>
            </div>
            <div
              class="flex flex-col flex-shrink-0 mb-6 md:mb-0 lg:ml-auto col-span-2">
              <a
                href="/video-article"
                class="flex items-center justify-center w-12 h-12 text-accent-500 rounded-full bg-slate-50 hover:bg-slate-100 border">
                <svg
                  fill="none"
                  stroke="currentColor"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  stroke-width="2"
                  class="w-4 h-4"
                  viewBox="0 0 24 24">
                  <path d="M5 12h14M12 5l7 7-7 7"></path>
                </svg>
              </a>
            </div>
          </div>
          <div class="grid grid-cols-1 gap-4 pt-4 lg:grid-cols-4 items-end">
            <div class="lg:col-span-2">
              <span class="text-black font-medium lg:text-xl text-lg"
                >Teams & billing
              </span>
              <p class="text-slate-500 mt-6 text-base">
                Setup up your account so you get paid
              </p>
            </div>
            <div
              class="flex flex-col flex-shrink-0 mb-6 md:mb-0 lg:ml-auto col-span-2">
              <a
                href="/video-article"
                class="flex items-center justify-center w-12 h-12 text-accent-500 rounded-full bg-slate-50 hover:bg-slate-100 border">
                <svg
                  fill="none"
                  stroke="currentColor"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  stroke-width="2"
                  class="w-4 h-4"
                  viewBox="0 0 24 24">
                  <path d="M5 12h14M12 5l7 7-7 7"></path>
                </svg>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</BaseLayout>
