<section aria-labelledby="description" id="description ">
  <div
    class="items-center w-full px-8 py-12 mx-auto md:px-12 lg:px-24 max-w-7xl">
    <div class="mx-auto lg:text-center max-w-2xl">
      <div>
        <span
          class="font-semibold text-accent-500 text-sm tracking-widest uppercase"
          >Description</span
        >
        <p
          class="text-4xl mt-8 lg:text-6xl font-extrabold tracking-tight text-black font-display">
          Get to know Semplice and it's features.
        </p>
      </div>
    </div>
    <ul
      class="grid grid-cols-1 lg:mt-24 mt-12 gap-6 lg:gap-12 lg:grid-cols-3 lg:text-center list-none"
      role="list">
      <li>
        <div>
          <p class="text-black font-medium lg:text-xl text-lg">
            Built with Astro.js.
          </p>
        </div>
        <div class="text-slate-500 mt-2 text-base">
          Astro is an all-in-one web framework for building fast,
          content-focused websites.
        </div>
      </li>
      <li>
        <div>
          <p class="text-black font-medium lg:text-xl text-lg">
            Styled with Tailwind CSS.
          </p>
        </div>
        <div class="text-slate-500 mt-2 text-base">
          Tailwind CSS scans templates for class names to generate static CSS
          styles.
        </div>
      </li>
      <li>
        <div>
          <p class="text-black font-medium lg:text-xl text-lg">
            Uses Alpine.js
          </p>
        </div>
        <div class="text-slate-500 mt-2 text-base">
          Alpine is a simple tool for composing behavior within markup.
        </div>
      </li>
      <li>
        <div>
          <p class="text-black font-medium lg:text-xl text-lg">
            Keyboard accessible.
          </p>
        </div>
        <div class="text-slate-500 mt-2 text-base">
          I ensure keyboard accessibility and meticulously craft the markup for
          optimal screen reader experience.
        </div>
      </li>
      <li>
        <div>
          <p class="text-black font-medium lg:text-xl text-lg">
            Production-ready
          </p>
        </div>
        <div class="text-slate-500 mt-2 text-base">
          The template has been tested on the latest and most popular browsers
        </div>
      </li>
      <li>
        <div>
          <p class="text-black font-medium lg:text-xl text-lg">
            Simple deploys
          </p>
        </div>
        <div class="text-slate-500 mt-2 text-base">
          The template is deployable on popular static website hosting platforms
          such as Vercel, Netlify, and GitHub Pages.
        </div>
      </li>
    </ul>
    <div class="mx-auto py-12 lg:pt-24 lg:text-center max-w-2xl">
      <div>
        <span
          class="font-semibold text-accent-500 text-sm tracking-widest uppercase"
          >Integrations</span
        >
        <p
          class="text-4xl mt-8 lg:text-6xl font-extrabold tracking-tight text-black font-display">
          Plugins, integrations and stack.
        </p>
        <p class="text-base text-slate-500 max-w-xl mx-auto mt-4 lg:text-xl">
          Lexington templates are thoughtfully crafted with the latest Astro,
          Tailwind and Alpine.js integrations and versions to keep it simple and
          easy to maintain.
        </p>
      </div>
      <dl
        class="mt-12 gap-6 flex flex-wrap grid-cols-1 justify-center lg:space-y-0 text-center">
        <div>
          <dt>
            <p class="text-black font-medium mt-3 text-base">Astro.js</p>
          </dt>
        </div>
        <div>
          <dt>
            <p class="text-black font-medium mt-3 text-base">Tailwind</p>
          </dt>
        </div>
        <div>
          <dt>
            <p class="text-black font-medium mt-3 text-base">@astro/alpinejs</p>
          </dt>
        </div>
        <div>
          <dt>
            <p class="text-black font-medium mt-3 text-base">@astro/Seo</p>
          </dt>
        </div>
        <div>
          <dt>
            <p class="text-black font-medium mt-3 text-base">@astro/image</p>
          </dt>
        </div>
        <div>
          <dt>
            <p class="text-black font-medium mt-3 text-base">@astro/md</p>
          </dt>
        </div>
        <div>
          <dt>
            <p class="text-black font-medium mt-3 text-base">@astro/prism</p>
          </dt>
        </div>
        <div>
          <dt>
            <p class="text-black font-medium mt-3 text-base">@astro/compress</p>
          </dt>
        </div>
        <div>
          <dt>
            <p class="text-black font-medium mt-3 text-base">@astro/sitemap</p>
          </dt>
        </div>
        <div>
          <dt>
            <p class="text-black font-medium mt-3 text-base">
              @tailwindcss/forms
            </p>
          </dt>
        </div>
        <div>
          <dt>
            <p class="text-black font-medium mt-3 text-base">
              @tailwindcss/typography
            </p>
          </dt>
        </div>
      </dl>
    </div>
  </div>
</section>
