<section id="HeaderThree" aria-labelledby="HeaderThree">
    <div class="relative px-8 py-12 mx-auto sm:px-6 md:max-w-2xl md:px-4 lg:max-w-6xl lg:px-20 lg:pt-32">
        <div class="w-full mx-auto text-left">
            <div class="relative flex-col items-center m-auto align-middle">
                <div class="grid grid-cols-1 lg:grid-cols-2 gap-16 lg:gap-24">
                    <div class="relative items-center gap-12 m-auto lg:inline-flex md:order-first">
                        <div class="text-center lg:text-left lg:mt-0 ">
                            <h1 class=" text-3xl font-medium tracking-tight text-black lg:text-5xl"> A simple,
                                clean and well made UI Kit and template for your next project. </h1>
                            <div class="max-w-lg mt-3">
                                <p class="text-xl prose text-slate-500 md:mt-5"> So perfect for any case.. </p>
                                <ul class="list-disc list-inside space-y-3 mt-6" role="list">
                                    <li>xx Demo pages</li>
                                    <li>100+ Components.</li>
                                    <li>3 Demo Landing</li>

                                </ul>
                            </div>
                            <div class="lg:inline-flex lg:items-center justify-center gap-3 mt-6">
                                <div class="mt-3 sm:mt-0">
                                    <a href="#"
                                        class="inline-flex w-full lg:w-auto items-center justify-center  px-12 py-3  text-center text-white transition duration-500 ease-in-out transform bg-blue-500 border-2 border-blue-500 rounded-md hover:bg-white hover:border-blue-500 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-blue-500 hover:bg-transparent hover:text-blue-500">
                                        Buy Semplice for 99 </a>
                                </div>
                                <div class="mt-3 sm:mt-0">
                                    <a href="/demo-pages"
                                        class="inline-flex w-full lg:w-auto items-center justify-center  px-12 py-3  text-center text-slate-900 transition duration-500 ease-in-out transform bg-slate-50 border-2 border-slate-50 rounded-md hover:bg-slate-100 hover:border-slate-100 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-slate-100 hover:bg-transparent ">
                                        <span> See all pages</span>

                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="order-first block w-full mt-12 aspect-square lg:mt-0">
                        <img class="object-cover object-center w-full mx-auto border rounded-md shadow-normal lg:ml-auto"
                            alt="hero" src="/public/assets/screenshots/main.png">
                    </div>
                </div>
            </div>
            <div>
                <div class="pt-12 mx-auto lg:max-w-7xl">
                    <dl class="grid grid-cols-1 gap-6 space-y-0 lg:gap-24 lg:grid-cols-3">
                        <div>
                            <div>
                                <p class=" text-xl text-black"> Developer experience </p>
                            </div>
                            <div class="mt-2 text-sm text-slate-500"> Semplice has been built with Astro and
                                Tailwind, zero integrations so you can choose the one you want. </div>
                        </div>
                        <div>
                            <div>
                                <p class=" text-xl text-black"> Stand out </p>
                            </div>
                            <div class="mt-2 text-sm text-slate-500"> Make any design stand out by using a combination
                                of the 100+ elements.. </div>
                        </div>
                        <div>
                            <div>
                                <p class=" text-xl text-black"> Support </p>
                            </div>
                            <div class="mt-2 text-sm text-slate-500"> For any questions you can send an email to michael
                                @ andreuzza.com. </div>
                        </div>
                    </dl>
                </div>
            </div>
        </div>
    </div>
</section>