<section id="HeaderThree" aria-labelledby="HeaderThree">
  <div
    class="relative px-8 py-12 mx-auto sm:px-6 md:max-w-2xl md:px-4 lg:max-w-6xl lg:px-20"
  >
    <div class="grid grid-cols-1 gap-y-10 gap-x-6 pt-10 lg:grid-cols-3">
      <h2 class="text-xl text-black">Screenshots</h2>
      <div class="grid grid-cols-1 gap-8 sm:grid-cols-2 lg:col-span-2">
        <img
          src="/assets/screenshots/one.png"
          alt="This is a detail image"
          class="aspect-[384/246] rounded-lg bg-slate-200 ring-1 ring-slate-900/10"
        /><img
          src="/assets/screenshots/two.png"
          alt="This is a detail image"
          class="aspect-[384/246] rounded-lg bg-slate-200 ring-1 ring-slate-900/10"
        /><img
          src="/assets/screenshots/three.png"
          alt="This is a detail image"
          class="aspect-[384/246] rounded-lg bg-slate-200 ring-1 ring-slate-900/10"
        /><img
          src="/assets/screenshots/four.png"
          alt="This is a detail image"
          class="aspect-[384/246] rounded-lg bg-slate-200 ring-1 ring-slate-900/10"
        />
      </div>
    </div>
  </div>
</section>
<section>
  <div
    class="relative px-8 py-12 mx-auto sm:px-6 md:max-w-2xl md:px-4 lg:max-w-6xl lg:px-20"
  >
    <div class="grid grid-cols-1 gap-y-10 gap-x-6 pt-10 lg:grid-cols-3">
      <h2 class="text-xl text-black">What you get</h2>
      <div class="grid grid-cols-1 gap-8 lg:col-span-2">
        <div>
          <span class="text-lg font-medium leading-6 text-black">Semplice</span>
          <p class="text-base leading-relaxed text-slate-500 mt-2">
            A simple and clean landing page template for your next SaaS idea,
            built with Tailwind CSS and Astro and designed and built by Michael
            Andreuzza. It’s production-ready and easy to customize, the perfect
            starting point for your own project.
          </p>
        </div>
        <div>
          <span class="text-lg font-medium leading-6 text-black"
            >Structure
          </span>
          <p class="text-base leading-relaxed text-slate-500 mt-2">
            Semplice's structre has been built with 76 swappable section
            components and includes 40 demo pages!
          </p>
        </div>
        <div>
          <span class="text-lg font-medium leading-6 text-black"
            >Publishing
          </span>
          <p class="text-base leading-relaxed text-slate-500 mt-2">
            Semplice's can be perfectly deployed to Vercel, Netlify and much
            more!
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
<section>
  <div
    class="relative px-8 py-12 mx-auto sm:px-6 md:max-w-2xl md:px-4 lg:max-w-6xl lg:px-20"
  >
    <div
      class="grid grid-cols-1 gap-y-10 gap-x-6 pt-10 lg:grid-cols-3 border-t mt-12"
    >
      <h2 class="text-xl text-black">Integrations</h2>
      <div class="grid grid-cols-1 gap-8 lg:col-span-2">
        <div>
          <span class="text-lg font-medium leading-6 text-black"
            >Tailwind CSS
          </span>
          <p class="text-base leading-relaxed text-slate-500 mt-2">
            Tailwind + Astro Integrations
          </p>
        </div>
        <div>
          <span class="text-lg font-medium leading-6 text-black"
            >Astro Compress
          </span>
          <p class="text-base leading-relaxed text-slate-500 mt-2">
            AstroJS compression utilities. Compress HTML, CSS, JavaScript and
            more.
          </p>
        </div>
        <div>
          <span class="text-lg font-medium leading-6 text-black"
            >Party Town
          </span>
          <p class="text-base leading-relaxed text-slate-500 mt-2">
            Astro + Partytown integration
          </p>
        </div>
        <div>
          <span class="text-lg font-medium leading-6 text-black">Sitemap</span>
          <p class="text-base leading-relaxed text-slate-500 mt-2">
            Generate a sitemap for Astro
          </p>
        </div>
        <div>
          <span class="text-lg font-medium leading-6 text-black"
            >Astro image
          </span>
          <p class="text-base leading-relaxed text-slate-500 mt-2">
            Load and transform images in your Astro site.
          </p>
        </div>
        <div>
          <span class="text-lg font-medium leading-6 text-black"
            >Astrolib Seo
          </span>
          <p class="text-base leading-relaxed text-slate-500 mt-2">
            Managing your SEO easier in Astro projects
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
