<section id="HeaderThree" aria-labelledby="HeaderThree">
  <div
    class="relative px-8 py-12 mx-auto sm:px-6 md:max-w-2xl md:px-4 lg:max-w-6xl lg:px-20"
  >
    <div class="grid grid-cols-1 gap-y-10 gap-x-6 pt-10 lg:grid-cols-3">
      <h2 class="text-xl text-black">Screenshots</h2>
      <div class="grid grid-cols-1 gap-8 sm:grid-cols-2 lg:col-span-2">
        <img
          src="/assets/screenshots/one.png"
          alt="This is a detail image"
          class="aspect-[384/246] rounded-lg bg-slate-200 ring-1 ring-slate-900/10"
        /><img
          src="/assets/screenshots/two.png"
          alt="This is a detail image"
          class="aspect-[384/246] rounded-lg bg-slate-200 ring-1 ring-slate-900/10"
        /><img
          src="/assets/screenshots/three.png"
          alt="This is a detail image"
          class="aspect-[384/246] rounded-lg bg-slate-200 ring-1 ring-slate-900/10"
        /><img
          src="/assets/screenshots/four.png"
          alt="This is a detail image"
          class="aspect-[384/246] rounded-lg bg-slate-200 ring-1 ring-slate-900/10"
        />
      </div>
    </div>
  </div>
</section>
<section id="HeaderThree" aria-labelledby="HeaderThree">
  <div
    class="relative px-8 py-12 mx-auto sm:px-6 md:max-w-2xl md:px-4 lg:max-w-6xl lg:px-20"
  >
    <div class="grid grid-cols-1 gap-y-10 gap-x-6 pt-10 lg:grid-cols-3">
      <h2 class="text-xl text-black">What you get</h2>
      <div class="grid grid-cols-1 gap-8 lg:col-span-2">
        <div>
          <span class="text-lg font-medium leading-6 text-black"
            >Semplice Analytics support for Interaction to Next Paint
            (Experimental)
          </span>
          <p class="text-base leading-relaxed text-slate-500 mt-6">
            Semplice Analytics now supports measuring Interaction to Next Paint
            (INP).
          </p>
        </div>
        <div>
          <span class="text-lg font-medium leading-6 text-black"
            >Semplice Analytics support for Interaction to Next Paint
            (Experimental)
          </span>
          <p class="text-base leading-relaxed text-slate-500 mt-6">
            Semplice Analytics now supports measuring Interaction to Next Paint
            (INP).
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
