---
import BaseLayout from "@/layouts/BaseLayout.astro";
const { frontmatter } = Astro.props;
// Fundations
import Text from "@/components/fundations/elements/Text.astro";
import Wrapper from "@/components/fundations/containers/Wrapper.astro";
// Breadcrumbs Data
const breadcrumbs = [
  { label: "Home", href: "/" },
  { label: frontmatter.page, href: "#" },
];
---

<BaseLayout hideBigLogo={true}>
  <section>
    <Wrapper variant="standard" class="py-24 lg:pt-48">
      <div class="max-w-xl mx-auto">
        <Text tag="h1" variant="textBase" class="font-medium text-base-900">
          {frontmatter.page}
        </Text>
        <Text
          tag="p"
          variant="textSM"
          class="mt-4 text-base-600 lg:text-balance lg:ml-auto"
        >
          Last updated on <span>
            <time
              datetime={new Date(frontmatter.pubDate).toLocaleDateString(
                "en-US",
                {
                  year: "numeric",
                  month: "long",
                }
              )}
            >
              {
                new Date(frontmatter.pubDate).toLocaleDateString("en-US", {
                  year: "numeric",
                  month: "long",
                })
              }</time
            ></span
          >
        </Text>
        <Wrapper variant="prose" class="mt-12">
          <slot />
        </Wrapper>
      </div>
    </Wrapper>
  </section>
</BaseLayout>
