<section id="features" aria-labelledby="screencasts-title" class="bg-white">
  <div
    class="relative px-8 py-12 mx-auto sm:px-6 md:max-w-2xl md:px-4 lg:max-w-6xl lg:px-20">
    <div class="max-w-xl pb-12">
      <p class="text-3xl font-medium tracking-tight text-black lg:text-5xl">
        General
      </p>
      <p class="mt-4 text-lg lg:text-2xl text-slate-500">Your account</p>
    </div>
    <div class="py-12 border-t">
      <div class="space-y-12 divide-y-2 divide-slate-100">
        <div
          class="grid grid-cols-1 gap-4 pt-4 lg:grid-cols-4 lg:gap-24 items-start">
          <div class="flex flex-col flex-shrink-0 mb-6 md:mb-0">
            <div class="flex flex-col flex-shrink-0 md:mb-0">
              <nav class="space-y-1" aria-label="Sidebar">
                <a
                  href="/general"
                  class="hover:bg-slate-50 bg-slate-100 text-slate-500 hover:text-blue-500 group flex items-center px-3 py-2 text-sm font-medium rounded-md"
                  aria-current="page">
                  <span class="truncate"> General</span>
                </a>
                <a
                  href="/conexions"
                  class="hover:bg-slate-50 text-slate-500 hover:text-blue-500 group flex items-center px-3 py-2 text-sm font-medium rounded-md">
                  <span class="truncate"> Conexions</span>
                </a>
                <a
                  href="/dashboard-teams"
                  class="hover:bg-slate-50 text-slate-500 hover:text-blue-500 group flex items-center px-3 py-2 text-sm font-medium rounded-md">
                  <span class="truncate"> Teams</span>
                </a>
                <a
                  href="/billing"
                  class="hover:bg-slate-50 text-slate-500 hover:text-blue-500 group flex items-center px-3 py-2 text-sm font-medium rounded-md">
                  <span class="truncate"> Billing</span>
                </a>
                <a
                  href="/invoices"
                  class="hover:bg-slate-50 text-slate-500 hover:text-blue-500 group flex items-center px-3 py-2 text-sm font-medium rounded-md">
                  <span class="truncate"> Invoices</span>
                </a>

                <a
                  href="/tokens"
                  class="hover:bg-slate-50 text-slate-500 hover:text-blue-500 group flex items-center px-3 py-2 text-sm font-medium rounded-md">
                  <span class="truncate"> Tokens</span>
                </a>
              </nav>
            </div>
          </div>
          <div class="lg:col-span-3">
            <div class="lg:col-span-3 space-y-6">
              <div class="border rounded-md shadow-normal">
                <div class="p-4">
                  <span class="text-xl font-medium leading-tight text-black"
                    >Your user name
                  </span>
                  <p class="mt-2 text-sm text-slate-500">
                    This is your URL namespace within Semplice.
                  </p>
                  <div class="mt-2">
                    <label for="username" class="sr-only"> Username</label>
                    <div>
                      <div class="max-w-lg flex rounded-md shadow-sm">
                        <span
                          class="inline-flex items-center px-3 rounded-l-md border border-r-0 border-slate-300 bg-slate-50 text-slate-500 sm:text-sm">
                          lexingtonthemes.com/
                        </span>
                        <input
                          type="text"
                          name="username"
                          id="username"
                          autocomplete="username"
                          class="rounded-none rounded-r-md block w-full px-3 py-2 text-blue-500 border appearance-none placeholder-slate-400 border-slate-200 bg-slate-50 focus:border-blue-500 focus:bg-white focus:outline-none focus:ring-blue-500 sm:text-sm"
                        />
                      </div>
                    </div>
                  </div>
                </div>
                <div
                  class="lg:inline-flex lg:items-end lg:justify-between w-full p-4 border-t">
                  <div>
                    <p class="mt-2 text-xs italic text-slate-500">
                      Please use 48 characters at maximum.
                    </p>
                  </div>
                  <div class="mt-3 sm:mt-0 lg:ml-auto">
                    <button
                      class="inline-flex w-full min-w-0 lg:w-auto items-center justify-center px-8 py-1 text-sm text-center text-white transition duration-500 ease-in-out transform bg-black border-2 border-black rounded-md hover:bg-slate-800 hover:border-slate-800 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-slate-800">
                      Save
                    </button>
                  </div>
                </div>
              </div>
              <div class="border rounded-md shadow-normal">
                <div class="p-4">
                  <span class="text-xl font-medium leading-tight text-black"
                    >Your name
                  </span>
                  <p class="mt-2 text-sm text-slate-500">
                    Please enter your full name, or a display name you are
                    comfortable with.
                  </p>
                  <div class="mt-2 max-w-lg">
                    <label for="username" class="sr-only"> Username</label>
                    <div class="mt-1 sm:mt-0 sm:col-span-2">
                      <input
                        type="text"
                        name="first-name"
                        id="first-name"
                        autocomplete="given-name"
                        placeholder="Your name"
                        class="block w-full px-3 py-2 text-blue-500 border rounded-md appearance-none placeholder-slate-400 border-slate-200 bg-slate-50 focus:border-blue-500 focus:bg-white focus:outline-none focus:ring-blue-500 sm:text-sm"
                      />
                    </div>
                  </div>
                </div>
                <div
                  class="lg:inline-flex lg:items-end lg:justify-between w-full p-4 border-t">
                  <div>
                    <p class="mt-2 text-xs italic text-slate-500">
                      Please use 32 characters at maximum.
                    </p>
                  </div>
                  <div class="mt-3 sm:mt-0 lg:ml-auto">
                    <button
                      class="inline-flex w-full lg:w-auto items-center justify-center px-8 py-1 text-sm text-center text-white transition duration-500 ease-in-out transform bg-black border-2 border-black rounded-md hover:bg-slate-800 hover:border-slate-800 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-slate-800">
                      Save
                    </button>
                  </div>
                </div>
              </div>
              <div class="border rounded-md shadow-normal">
                <div class="p-4">
                  <span class="text-xl font-medium leading-tight text-black"
                    >Your email
                  </span>
                  <p class="mt-2 text-sm text-slate-500">
                    Please enter the email address you want to use to log in
                    with.
                  </p>
                  <div class="mt-2 max-w-lg">
                    <label for="username" class="sr-only"> Username</label>
                    <div class="mt-1 sm:mt-0 sm:col-span-2">
                      <input
                        type="email"
                        name="email"
                        id="email"
                        autocomplete=""
                        placeholder="Your email"
                        class="block w-full px-3 py-2 text-blue-500 border rounded-md appearance-none placeholder-slate-400 border-slate-200 bg-slate-50 focus:border-blue-500 focus:bg-white focus:outline-none focus:ring-blue-500 sm:text-sm"
                      />
                    </div>
                  </div>
                </div>
                <div
                  class="lg:inline-flex lg:items-end lg:justify-between w-full p-4 border-t">
                  <div>
                    <p class="mt-2 text-xs italic text-slate-500">
                      We will email you to verify the change.
                    </p>
                  </div>
                  <div class="mt-3 sm:mt-0 lg:ml-auto">
                    <button
                      class="inline-flex w-full lg:w-auto items-center justify-center px-8 py-1 text-sm text-center text-white transition duration-500 ease-in-out transform bg-black border-2 border-black rounded-md hover:bg-slate-800 hover:border-slate-800 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-slate-800">
                      Save
                    </button>
                  </div>
                </div>
              </div>
              <div class="border rounded-md shadow-normal">
                <div class="p-4">
                  <span class="text-xl font-medium leading-tight text-black"
                    >Your Avatar
                  </span>
                  <p class="mt-2 text-sm text-slate-500">
                    Please enter the email address you want to use to log in
                    with.
                  </p>
                  <div class="mt-2 max-w-lg">
                    <label for="photo" class="sr-only"> Photo</label>
                    <div class="mt-1 sm:mt-0 sm:col-span-2">
                      <div class="flex items-center">
                        <span
                          class="h-12 w-12 rounded-full overflow-hidden bg-gray-100">
                          <svg
                            class="h-full w-full text-gray-300"
                            fill="currentColor"
                            viewBox="0 0 24 24">
                            <path
                              d="M24 20.993V24H0v-2.996A14.977 14.977 0 0112.004 15c4.904 0 9.26 2.354 11.996 5.993zM16.002 8.999a4 4 0 11-8 0 4 4 0 018 0z">
                            </path>
                          </svg>
                        </span>
                        <button
                          type="button"
                          class="ml-5 bg-white py-2 px-3 border border-gray-300 rounded-md shadow-sm text-sm leading-4 font-medium text-gray-700 hover:bg-gray-50 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-blue-500"
                          >Change
                        </button>
                      </div>
                    </div>
                  </div>
                </div>
                <div
                  class="lg:inline-flex lg:items-end lg:justify-between w-full p-4 border-t">
                  <div>
                    <p class="mt-2 text-xs italic text-slate-500">
                      An avatar is optional but strongly recommended.
                    </p>
                  </div>
                  <div class="mt-3 sm:mt-0 lg:ml-auto">
                    <button
                      class="inline-flex w-full lg:w-auto items-center justify-center px-8 py-1 text-sm text-center text-white transition duration-500 ease-in-out transform bg-black border-2 border-black rounded-md hover:bg-slate-800 hover:border-slate-800 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-slate-800">
                      Save
                    </button>
                  </div>
                </div>
              </div>
              <div class="border rounded-md border-red-600 shadow-normal">
                <div class="p-4">
                  <span class="text-xl font-medium leading-tight text-red-600">
                    Delete Personal Account
                  </span>
                  <p class="mt-2 text-sm text-slate-500">
                    Permanently remove your Personal Account and all of its
                    contents from the Semplice platform. This action is not
                    reversible, so please continue with caution.
                  </p>
                </div>
                <div
                  class="lg:inline-flex lg:items-end lg:justify-between w-full p-4 border-t">
                  <div class="mt-3 sm:mt-0 lg:ml-auto">
                    <button
                      class="inline-flex w-full min-w-0 lg:w-auto items-center justify-center px-8 py-1 text-sm text-center text-white transition duration-500 ease-in-out transform bg-red-600 border-2 border-red-600 rounded-md hover:bg-slate-800 hover:border-slate-800 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-slate-800">
                      Delete
                    </button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
