---
import Sidebar from "./Sidebar.astro";
---

<section>
  <div class="px-8 py-12 mx-auto md:px-12 lg:px-32 max-w-7xl lg:py-24">
    <div class="max-w-2xl">
      <span class="text-xs font-bold tracking-wide uppercase text-purple-500">
        Invoices</span
      >
      <p class="mt-8 text-4xl font-semibold tracking-tight text-purple-900">
        Keep track of your invocies right here
      </p>
    </div>

    <div
      class="grid items-start grid-cols-1 gap-4 mt-12 lg:grid-cols-4 lg:gap-24">
      <Sidebar />
      <div class="lg:col-span-3">
        <div class="space-y-6 lg:col-span-3">
          <div class="rounded-md bg-white">
            <div class="p-4 lg:py-20">
              <div class="text-center text-purple-500">
                <h3 class="mt-2 text-sm font-medium text-purple-900">
                  No invocies
                </h3>
                <p class="mt-1 text-sm text-gray-500">
                  Once you’ve paid for something on Semplice, invoices will show
                  up here.
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
