<div class="flex flex-col flex-shrink-0 mb-6 md:mb-0">
  <div class="flex flex-col flex-shrink-0 md:mb-0">
    <nav class="space-y-1" aria-label="Sidebar">
      <a
        title="link to your page"
        aria-label="your label" href="/dashboard/general"
        class="flex items-center py-2 text-sm font-medium text-gray-500 hover:text-purple-500 group"
        aria-current="page">
        <span class="truncate"> General</span>
      </a>
      <a
        title="link to your page"
        aria-label="your label" href="/dashboard/connections"
        class="flex items-center py-2 text-sm font-medium text-gray-500 hover:text-purple-500 group">
        <span class="truncate"> Conexions</span>
      </a>
      <a
        title="link to your page"
        aria-label="your label" href="/dashboard/dashboard-teams"
        class="flex items-center py-2 text-sm font-medium text-gray-500 hover:text-purple-500 group">
        <span class="truncate"> Teams</span>
      </a>
      <a
        title="link to your page"
        aria-label="your label" href="/dashboard/billing"
        class="flex items-center py-2 text-sm font-medium text-gray-500 hover:text-purple-500 group">
        <span class="truncate"> Billing</span>
      </a>
      <a
        title="link to your page"
        aria-label="your label" href="/dashboard/invoices"
        class="flex items-center py-2 text-sm font-medium text-gray-500 hover:text-purple-500 group">
        <span class="truncate"> Invoices</span>
      </a>

      <a
        title="link to your page"
        aria-label="your label" href="/dashboard/tokens"
        class="flex items-center py-2 text-sm font-medium text-gray-500 hover:text-purple-500 group">
        <span class="truncate"> Tokens</span>
      </a>
    </nav>
  </div>
</div>
