<section>
  <div class="relative flex justify-center max-h-full overflow-hidden md:px-12 lg:px-0 ">
    <div class="hidden bg-white sm:contents lg:relative lg:block lg:flex-1">
      <div width="1664" height="1866" decoding="async" data-nimg="future"
        class="absolute inset-0 object-cover w-full h-full bg-white" loading="lazy">
        <video autoplay="" loop="" muted="" class="absolute z-10 w-auto min-w-full min-h-full bg-white max-w-none">
          <source
            src="https://d33wubrfki0l68.cloudfront.net/c906151c5417ee08cea5c68bc4c8823316ba100c/3fe8e/images/desktopgradient.mp4"
            type="video/mp4">
          Your browser does not support the video tag.
        </video>
      </div>
    </div>
    <div
      class="relative z-10 flex flex-col flex-1 h-screen px-4 py-10 bg-white shadow-2xl lg:py-24 sm:justify-center md:flex-none md:px-28 xl:py-36 ">
      <div class="w-full max-w-md mx-auto sm:px-4 md:w-96 md:max-w-sm md:px-0 lg:h-full ">
        <div class="flex flex-col">
          <div>
            <p class="text-sm font-medium leading-tight text-black ">
              Semplice
            </p>
            <h2 class="mt-6 text-xl font-medium leading-tight text-black ">
              Creat an account on Semplice
            </h2>

            <div class="py-3">
              <span class="relative z-0 inline-flex  mt-3 w-full">
                <button type="button"
                  class="relative inline-flex w-full justify-center items-center px-4 py-2 rounded border border-gray-300 bg-white text-sm font-medium text-gray-700 hover:bg-gray-50 focus:z-10 focus:outline-none focus:ring-1 focus:ring-indigo-500 focus:border-indigo-500">
                  <span>Register with</span>
                  <span class="ml-3">
                    <svg width="24" height="24" viewBox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg">
                      <path
                        d="M30.0014 16.3109C30.0014 15.1598 29.9061 14.3198 29.6998 13.4487H16.2871V18.6442H24.1601C24.0014 19.9354 23.1442 21.8798 21.2394 23.1864L21.2127 23.3604L25.4536 26.58L25.7474 26.6087C28.4458 24.1665 30.0014 20.5731 30.0014 16.3109Z"
                        fill="#4285F4" />
                      <path
                        d="M16.2862 30C20.1433 30 23.3814 28.7555 25.7465 26.6089L21.2386 23.1865C20.0322 24.011 18.4132 24.5866 16.2862 24.5866C12.5085 24.5866 9.30219 22.1444 8.15923 18.7688L7.9917 18.7827L3.58202 22.1272L3.52435 22.2843C5.87353 26.8577 10.6989 30 16.2862 30Z"
                        fill="#34A853" />
                      <path
                        d="M8.16007 18.7688C7.85848 17.8977 7.68395 16.9643 7.68395 15.9999C7.68395 15.0354 7.85849 14.1021 8.1442 13.231L8.13621 13.0455L3.67126 9.64734L3.52518 9.71544C2.55696 11.6132 2.0014 13.7444 2.0014 15.9999C2.0014 18.2555 2.55696 20.3865 3.52518 22.2843L8.16007 18.7688Z"
                        fill="#FBBC05" />
                      <path
                        d="M16.2863 7.4133C18.9688 7.4133 20.7783 8.54885 21.8101 9.4978L25.8418 5.64C23.3657 3.38445 20.1434 2 16.2863 2C10.699 2 5.87354 5.1422 3.52435 9.71549L8.14339 13.2311C9.30223 9.85555 12.5086 7.4133 16.2863 7.4133Z"
                        fill="#EB4335" />
                    </svg>
                  </span>
                </button>
              </span>
              <div class="relative py-3">
                <div class="absolute inset-0 flex items-center" aria-hidden="true">
                  <div class="w-full border-t border-gray-300"></div>
                </div>
                <div class="relative flex justify-center">
                  <span class="px-2 bg-white text-sm text-gray-500 ">Or continue with </span>
                </div>
              </div>
            </div>
          </div>
        </div>
        <form action="https://submit-form.com/r4PIGvAB">
          <input autocomplete="false" name="hidden" type="text" style="display:none;">
          <input type="hidden" name="_redirect" value="#">
          <div class=" space-y-6">
            <div>
              <label name="name" class="block mb-3 text-sm font-medium text-slate-600   ">
                User name or email Adress
              </label>
              <input type="text" placeholder="Type here..."
                class="block w-full px-3 py-2 text-blue-500 border rounded-md appearance-none placeholder-slate-400 border-slate-200 bg-slate-50 focus:border-blue-500 focus:bg-white focus:outline-none focus:ring-blue-500 sm:text-sm">
            </div>
            <div class="col-span-full">
              <label name="company" class="block mb-3 text-sm font-medium text-slate-600   ">
                Password
              </label>
              <input type="password"
                class="block w-full px-3 py-2 text-blue-500 border rounded-md appearance-none placeholder-slate-400 border-slate-200 bg-slate-50 focus:border-blue-500 focus:bg-white focus:outline-none focus:ring-blue-500 sm:text-sm"
                placeholder="Type password here...">
            </div>
            <div class="flex items-center justify-between">
              <div class="flex items-center">
                <input id="remember-me" name="remember-me" type="checkbox"
                  class="h-4 w-4 text-blue-500 focus:ring-blue-500 border-blue-500 rounded">
                <label for="remember-me" class="ml-2 block text-sm font-medium leading-tight text-black "> Remember me
                </label>
              </div>
              <div class="text-sm">
                <a href="#" class="font-medium text-blue-500 hover:text-blue-500"> Forgot your password? </a>
              </div>
            </div>
            <div class="col-span-full">
              <button type="submit"
                class="inline-flex items-center justify-center w-full px-12 py-4 text-center text-white transition duration-500 ease-in-out transform bg-blue-500 border-2 border-blue-500 rounded hover:text-blue-500    focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-blue-500 hover:bg-transparent hover:border-blue-500">
                Submit your request
              </button>
            </div>
            <div>
              <p class="text-sm font-medium leading-tight text-black ">Not a member?
                <a class="text-blue-500 hover:text-blue-400 ml-3" href="/signup">
                  Sign up now
                </a>
              </p>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</section>