---
const { title } = Astro.props;
---
<meta charset="utf-8" />
<meta name="viewport" content="width=device-width" />
<link rel="icon" type="image/favicon" href="./favicon.ico" />
<title>{title}</title>