---
// Assets
import BigLogo from "@/components/assets/LogoElio.astro";
// Fundations
import Text from "@/components/fundations/elements/Text.astro";
import Wrapper from "@/components/fundations/containers/Wrapper.astro";
---

<footer>
  <Wrapper variant="standard" class="pb-8 pt-50 lg:pt-100">
    <BigLogo />
    <div class="mt-8 space-y-4 w-full">
      <Text
        tag="p"
        variant="textXL"
        class="max-w-xl mx-auto font-light font-serif uppercase text-center leading-6 text-base-900"
      >
        <span class="block"> fotografia di ritratto </span>
        Dal <time datetime="2025-06-01" class="font-sans">
          </time
        > 1976
        
      </Text>
      <Text
        tag="p"
        variant="textBase"
        class="max-w-xl mx-auto font-serif uppercase text-balance text-center leading-tight text-base-900"
      >
        <span>studio fotografico</span><br />
        Martedì–Venerdì
        <time datetime="13:00">13:00</time>–<time datetime="19:00">19:00</time> /
        Weekends
        <time datetime="12:00">12:00</time>–<time datetime="16:00">16:00</time
        ><br />
        Porta Maggiore 3 — Roma, Italia
      </Text>
      <div
        class="grid grid-cols-1 text-center md:grid-cols-3 mt-8 uppercase text-base-900"
      >
        <Text tag="p" variant="textLG" class="md:text-left"
          >Studio154</Text
        >
        <Text tag="p" variant="textLG" class="md:text-center">ELIO LEONARDO CARCHIDI</Text
        >
        <Text tag="p" variant="textLG" class="md:text-right">servizi fotografici professionali</Text>
      </div>
    </div>
  </Wrapper>
</footer>
